<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, user-scalable=yes, target-densitydpi=device-dpi">
      <title>脸脸网帮助</title>
      <link href="/help/css/help.css" rel="stylesheet"  type="text/css" media="screen"/>
  </head>

  <body>
    <div class="main">
      <div class="con">
        <div class="logo"><div class="version">脸脸&nbsp;<%= params[:ver] %></div></div>
        <div class="captiontop"><a href="/help/question1.html">脸脸是什么？</a></div>
        <div class="captionmiddle"><a href="/help/question2.html">脸脸怎么玩？</a></div>
        <div class="captionmiddle"><a href="/help/question3.html">怎么在脸脸找人？</a></div>
        <div class="captionbottom"><a href="/help/question4.html">我是商户，如何与脸脸合作？</a></div>
      </div>
    </div>
  </body>
</html>