<h1>排行榜</h1>
<table>
  <tr>
    <th>商家</th>
    <th>用户</th>
    <th>签到次数</th>
  </tr>

  <% @banks.each do |bank| %>
    <tr>
      <td><%= session_shop.name %></td>
      <td><%= User.find(bank['uid']).name %></td>
      <td><%= bank["count"] %></td>
    </tr>
  <% end %>
</table>

<br/>
<%= link_to '返回列表',"/shop_checkins" %>

