/* CSS Document */
.contop{background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/pic2.jpg);background-repeat:no-repeat;background-position:center 0;height:398px}
.conbottom{width:100%;overflow:hidden;clear:both;position:relative;height:92px}

.dh{width:1000px;margin:0 auto;padding:25px 0 0}
.conmiddle{background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/conbg.jpg);background-repeat:repeat-x;background-position:0 0;padding:5px 0 0}
.box1{display:block;width:908px;height:150px;margin:0 auto;padding:0 0 15px}
.show{width:570px;float:right;padding:7px 0 0}
.show ul{width:100%;overflow:hidden}
.show li{float:left;width:170px;padding:3px 10px}
.show ul li a{}
.news{float:left;padding:0 0 0 10px;width:279px}
.news .title{text-indent:-999999px;white-space:nowrap;line-height:0;background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/newtitle.png);background-repeat:no-repeat;background-position:0 0;width:287px;height:37px}
.news ul{overflow:hidden;clear:both;display:block;line-height:22px;margin-top:7px}
.news li{background-image:url(http://img1.1dooo.com/img/shop_space/xintuo/sign3.jpg);background-repeat:no-repeat;background-position:4px 8px;display:block;clear:both;padding-left:15px;overflow:hidden;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#CCC}
.news li a{float:left;width:200px;overflow:hidden;height:25px;color:#666}
.news li span{float:right;color:#999}
.news a:hover{color:red!important}

.box2{width:908px;background:#EEE;margin:3px auto;overflow:hidden;}
.box2 .title{background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/titlebg.jpg);background-repeat:repeat-x;height:32px;font-size:14px;line-height:32px;color:#666;padding:0 0 0 20px}
.box2 .title span{font-size:12px;float:right;color:#ccc;padding:0 15px 0 0}
.box2 .title span a{color:#666;font-weight:400;padding:0 5px}
.discount{float:left;padding:15px;}
.discount ul{}
.discount li{float:left;background:#fff;width:165px;height:232px;background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/disbg.jpg);background-repeat:no-repeat;background-position:right 0;margin:0 4px}
.discount .img{width:155px;height:160px}
.name{width:93%;overflow:hidden;height:26px;margin:0px;text-align:center;}
.name a{font-size:14px;color:#000;line-height:26px;}
.price{font-size:14px;color:#666;background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/price.jpg);background-repeat:no-repeat;background-position:15px 1px;padding-left:43px;overflow:hidden;}
.pro{font-size:12px;color:#666;padding:0 8px 0 8px;height:28px;overflow:hidden;}

.case{width:270px;float:right}
.explain{float:left;padding:0 0 10px}
.explain p{width:600px;line-height:22px;float:left;margin:0;padding:0 80px 0 28px}
.explain p h1{font-size: inherit;display: inline;}

/*������*/
.ad{ width:1000px; height: 302px; overflow:hidden; margin:0 auto;padding: 40px 0px 0px 0px; }
#AD .adinner{ width:900px; position: relative; height: 300px; overflow:hidden; margin:0px; padding:0px; zoom:1; border: 1px solid #000;float:left; }
#AD .adinner img{width:900px;height:300px;}
#AD .frames {width: 3600px; position: relative; height: 300px}
#AD .frame-1 {left: 0px; overflow: hidden; width: 900px; position: absolute; height: 300px; top:0px;}
#AD .frame-2 {left: 900px; overflow: hidden; width: 900px; position: absolute; height: 300px; top:0px;}
#AD .frame-3 {left: 1800px; overflow: hidden; width: 900px; position: absolute; height: 300px; top:0px;}
#AD .frame-4 {left: 2700px; overflow: hidden; width: 900px; position: absolute; height: 300px; top:0px;}
#AD .frame-5 {left: 2700px; overflow: hidden; width: 900px; position: absolute; height: 300px; top:0px;}
#AD .controls { BOTTOM: 8px; right:5px; margin:0px; position: absolute; }
#AD .selected { float: left;width: 32px;height: 32px;background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/sign2.png);background-repeat: no-repeat;background-position: left top;
margin-right:10px;line-height:32px;font-size:20px;font-weight:bold;text-align:center;color:#FF670F;cursor:pointer;}
#AD .off { float: left;width: 32px;height: 32px;background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/sign2.png);background-repeat: no-repeat;background-position: left top;
margin-right:10px;line-height:32px;font-size:20px;font-weight:bold;text-align:center;color:#fff;cursor:pointer;}
#AD .arrow1 { float: left;width: 49px;height: 157px;background-image: url(http://img2.1dooo.com/img/shop_space/xintuo/arrow1.png);background-repeat: no-repeat;background-position: left top;cursor: pointer;margin-top:70px; }
#AD .arrow2 { float: right;width: 49px;height: 157px;background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/arrow2.png);background-repeat: no-repeat;background-position: left top;cursor: pointer;margin-top:70px; }
/*������over*/
#Con {background-image: url(http://img1.1dooo.com/img/shop_space/xintuo/bg3.jpg);background-repeat: repeat-x;background-position: left top;}
.contopbg{background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/bg5.png);background-repeat: no-repeat;background-position: center top;width:1000px;height:48px;margin:0px auto;padding:0px;}

