/* CSS Document */
.au{ margin: 25px 20px; }
.au h2 { font-size: 14px; line-height: 30px; display: block; color: #333; }

/** 页码样式 **/
.au .conleftbottom { padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 5px; overflow: hidden; clear: both; zoom:1; margin: 0px; }
.au .link { float:left; background-image: url(http://img2.1dooo.com/img/shop_space/xintuo/sign11.jpg); background-repeat: no-repeat; background-position: left center; display: block; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; color: #555; float: left; }
.au .link:hover{color:#cc180a;}

.pagenumber { float:right;  }
.pagenumber a { margin-right: 5px; margin-left: 5px; color: #555; }
.pagenumber a:hover, .pagenumber a.hover{ font-weight: bold; color: #ca180a; }
/** 页面样式 over **/


.autable {
	color:#999999;
	width: 100%;
}
.autable h2 {
	display: inline;
}
.autable a{
	color:#999999;
	margin-left:5px;
	margin-right:5px;
}
.autable a:hover{
	color:#ca180a;
}
.fanslist {
	padding: 0px;
	clear: both;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}
.fanslist dl {
	display: block;
	margin: 0px;
	width: 100%;
	background-image: url(http://img2.1dooo.com/img/shop_space/xintuo/dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left: 0px;
	color: #888;
	overflow:hidden;
	zoom:1;
	line-height: 20px;
}
.fanslist a { color: #00a0e9; }
.fanslist a:hover { color: #ca180a; }
.fanslist dl dt {
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: left;
	width: 570px;
}
.fanslist .dd_img {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width:54px;
}
.fanslist .dd_img img {
	padding: 1px;
	height: 50px;
	width: 50px;
	border: 1px solid #ccc;
}
.fanslist dd {
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
	width:567px;
}
.fanslist ul {
	display: block;
	overflow: hidden;
	font-weight: bold;
	color: #666;
}
.fanslist ul li {
	display: block;
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}
.fanslist .plane {
	margin: 0px;
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.fanslist .word {
	color: #666;
}
.fanslist .mlr5 {
	margin: 0px 5px;
}

