/* CSS Document */
body { font-family: "宋体"; font-size: 12px; margin: 0px; padding: 0px; background-color: #e2e2e2; }
img { border:none; }
ul,li,p,h1,h2,center{ padding:0px; margin:0px; }
ul { list-style:none; }
a { text-decoration: none; }

.fl {float:left;}
.fr {float:right;}
.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.noneborer{ border: none; }

.r{ text-align: right; }
.c{ text-align: center; }
.block{ display: block; }

.black { color: #000; }
.orange { color: #fc6202; }
.mt10{ margin-top: 10px; }
.mt20{ margin-top: 20px; }
.mt25{ margin-top: 25px; }
.mb5{ margin-bottom: 5px; }
.ml18{ margin-left: 18px; }
.ml20{ margin-left: 20px; }
.ml30{ margin-left: 30px; }
.ml35{ margin-left: 35px; }
.mr60{ margin-right: 60px; }
.mr65{ margin-right: 65px; }
.mtb5{ margin-top: 5px; margin-bottom: 5px; }

.redline{margin-top:15px;height:21px;margin-left:18px;margin-right:18px;background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/line2.gif); background-repeat: repeat-x; background-position: left top;}

.title { background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/title.jpg); background-repeat: no-repeat; background-position: left top; line-height: 32px; height: 32px; padding-left: 32px; }
.title h1 { font-size: 12px; color: #df1a20; }

.title2 { line-height: 32px; height: 32px; padding-left: 32px; background-image: url(http://img1.1dooo.com/img/shop_space/xintuo/arrow3.gif); background-repeat: no-repeat; background-position: 12px 5px; color: #4b4a4a; padding-right: 15px; }
.title2 h1 { font-size: 12px; color: #df1a20; float:left; }
.title2 .title2_sub { margin: 0px; padding: 0px; float: right; }
.title2 .title2_sub a { margin-right: 5px; margin-left: 5px; color: #4b4a4a; }
.title2 .title2_sub a.hover { color: #da1002; }

.title3{ line-height: 32px; height: 32px; padding-left: 20px; background-image: url(http://img1.1dooo.com/img/shop_space/xintuo/arrow3.gif); background-repeat: no-repeat; background-position: 0px 7px; color: #4b4a4a; padding-right: 15px; }
.title3 h1 { font-size: 16px; color: #4b4a4a; float:left; font-family: '微软雅黑','黑体',Hei,'宋体'; text-shadow:1px 1px 1px #DDDDDD;}

.title4{ line-height: 18px; padding-left: 10px; overflow:hidden; }
.title4 h1 { font-size: 16px; color: #fff; float:left; }

.title5 { background-image: url(http://img2.1dooo.com/img/shop_space/xintuo/title4.jpg); background-repeat: no-repeat; background-position: left top; line-height: 32px; height: 32px; padding-left: 50px; padding-right: 10px;}
.title5 h1 { font-size: 14px; color: #df1a20; float: left; }
.title5 .title5right { color: #8c8c8d; float: right; }
.title5 .title5right a { color: #000; }
.title5 .title5right a:hover { color: #db1016; }

.title6 { line-height: 32px; height: 32px; padding-left: 20px; color: #4b4a4a; margin: 10px 0px; clear:both; }
.title6 h1 { font-size: 14px; color: #df1a20; float:left; }

#MB { padding: 0px; width: 940px; margin-top: 10px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }

#Header { margin: 0px; padding: 0px; width: 100%; overflow: hidden; }
#Logo { margin: 0px; padding: 0px; float: left; }
#SubNav { color: #000000; line-height: 23px; text-align: right; padding-top: 15px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-size: 12px; overflow: hidden; margin: 0px; float:right; }
#SubNav li { float: left; overflow: hidden; margin-right: 10px; }
#SubNav a { color: #828282; }

.menu { background-image: url(http://img2.1dooo.com/img/shop_space/xintuo/bg.jpg); background-repeat: repeat-x; background-position: left top; padding: 0px; height: 34px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; clear: both; overflow: hidden; }
.menu ul { font-size: 14px; float:left; overflow: hidden; display: block; }
.menu a { color: #666; font-weight: bold; }
.menu  a:hover { color: #cb181e; }
.menu li { float: left; display: block; background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/line.jpg); background-repeat: no-repeat; background-position: right center; padding-right: 20px; padding-left: 20px; line-height: 34px; height: 34px; }
.menu .contact { float: right; margin-right: 30px; margin-top: 5px; padding: 0px; margin-bottom: 0px; margin-left: 0px; overflow:hidden; zoom:1; }

#Con { margin: 10px 0px 0px 0px; padding: 0px; clear: both; width: 100%; overflow: hidden; 	background-color: #fff; background-image: url(http://img3.1dooo.com/img/shop_space/xintuo/bg5.jpg); background-repeat: repeat-y; background-position: left top; }
#ConLeft { float:left; margin:0px; padding:0px; overflow:hidden; width: 265px; padding-bottom:100px; }
#ConRight { padding: 0px; float: right; width: 675px; overflow: hidden; margin-top: 0px; margin-right: 0px; margin-bottom: 40px; margin-left: 0px; }
#ConRight .crr{ margin: 25px 20px; }

.pagination { padding: 0px; clear: both; width: 100%; text-align: center; color: #666; line-height: 20px; margin-top: 10px; margin-right: 0px;
 margin-bottom: 0px; margin-left: 0px; }
.pagination a { color: #666; padding-top: 0px; padding-right: 4px; padding-bottom: 0px; padding-left: 4px; }
.pagination a:hover { background-color: #db1016; padding-top: 1px; padding-right: 4px; padding-bottom: 1px; padding-left: 4px; color: #fff; }
.pagination .current { background-color: #db1016; padding-top: 1px; padding-right: 4px; padding-bottom: 1px; padding-left: 4px; color: #fff;
 margin: 0px 2px; }


#Footer{clear:both;width:100%;background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/bg2.jpg);background-repeat:repeat-x;background-position:left top;text-align:center;height:83px;color:#717070;line-height:20px;margin:0;padding:25px 0 0}
#Footer a{ color:#717070; }
#Footer a:hover{ color:#db1016; }
#Footer .foot_nav { margin-bottom:8px;}
#Footer .foot_nav a{margin-right:19px;margin-left:19px;color:#717070}
#Footer .foot_nav a:hover { color: #db1016; }

