/* CSS Document */
.weibo{background-image:url(http://img1.1dooo.com/img/shop_space/xintuo/bg3.jpg);background-repeat:repeat-x;background-position:left top;color:#fff;padding:20px 19px 10px}
.weibo .wbimg{border:1px solid #fefefe;float:left}
.weibo .imgs{border:2px solid #fff;float:left;margin-left:5px;overflow:hidden;zoom:1;width:64px;height:64px;}
.weibo .imgs2{margin-bottom:10px}
.weibo .imgs3{display:block;margin-top:5px;text-align:right}
.weibo .weibocon{float:left;zoom:1;width:144px;line-height:20px;margin:0 0 0 10px;padding:0}
.weibo .weibocon h1,.weibo .weibocon h1 a{color:#fff;font-size:12px}
.weibo .weibocon a{ color:#000; }
.weibo .weibocon a:hover{ text-decoration: underline; }
.weibo ul{float:left;margin-left:10px;line-height:25px}
.weibo a{color:#fff}
.weibo .weibodown{line-height:30px;clear:both;background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/bg4.jpg);background-repeat:repeat-x;background-position:left top;height:30px;margin:10px 0 0;padding:0 5px 5px 30px}
.weibo .renren{background-image:url(http://img1.1dooo.com/img/shop_space/xintuo/sign3.png);background-repeat:no-repeat;background-position:left center;padding-left:20px;margin-left:10px;padding-top:5px;padding-bottom:5px}
.weibo .qq{background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/sign4.png);background-repeat:no-repeat;background-position:left center;padding-left:20px;margin-left:10px;padding-top:5px;padding-bottom:5px}

.box{ font-family: '微软雅黑','黑体',Hei,'宋体';margin-top:25px;margin-bottom:25px;padding-right:19px;padding-left:19px;overflow:hidden; }
.box ul{margin-left:30px;display:block;margin-top:10px;}
.box li{font-size:16px;line-height:30px;background:url(http://img2.1dooo.com/img/shop_space/xintuo/dashed.gif) repeat-x left bottom}
.box a{color:#878686;background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/arrow5.gif);background-repeat:no-repeat;background-position:10px center;padding-left:25px;font-weight:700}
.box a:hover{background-image:url(http://img1.1dooo.com/img/shop_space/xintuo/arrow6.gif);color:#ca180a}

.box2{background-color:#c7190e;padding:10px 20px}
.box2 ul{clear:both;display:block;overflow:hidden;color:#fff;line-height:18px}
.box2 ul li{background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/point.gif);background-repeat:no-repeat;background-position:left 9px;overflow:hidden;padding-left:10px;margin-top:10px;zoom:1;clear:both;}
.box2 ul li a{display:block;width:185px;_width:170px; height:18px; overflow:hidden; color:#fff;float:left;}
.box2 ul li a:hover{text-decoration:underline}
.box2 ul li span{float:right;white-space:nowrap;}

