/* CSS Document */
body{font-family: "宋体";font-size: 12px;background-color:#FFF;margin:0;padding:0}
ul,li,h1{margin:0;padding:0}
ul{list-style:none}
img{border:none}
a{text-decoration:none}
.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1}
.fr{float:right;}
.r{float:right;}
.orange{color:#f60}
.w868{width:868px;margin:0 auto}
.ml35{ margin-left: 35px; }
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mr60{ margin-right: 60px; }
.block{display:block;background-color:#fff;}
#Header{overflow:hidden;background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/bg1.jpg);background-repeat:repeat-x;
background-position:0 0;height:74px;margin:0px;padding:0px;}
#SubNav{float:right;color:#ccc;font-size:12px;margin-top:18px;margin-bottom:18px}
#SubNav li{float:left;color:#666;}
#SubNav a{color:#666;}
#SubNav a:hover,#Footer a:hover{color:red}
#Logo{float:left;margin-left:10px;margin-bottom:10px;padding:3px 0 0}

.menu{display:block;background-image:url(http://img2.1dooo.com/img/shop_space/xintuo/menubg.jpg);background-position:0 0;background-repeat:repeat-x;height:31px;line-height:31px;margin:0 auto}
.menu ul{width:950px;overflow:hidden;display:block;margin:0 auto;height:31px;}
.menu li{float:left;width:156px;text-align:center}
.menu li a:hover,.menu .hover{background-image:url(http://img3.1dooo.com/img/shop_space/xintuo/menubg2.jpg);background-position:center 0;background-repeat:no-repeat}
.menu a{color:#F4F4F4;display:block;}
.menu li span.homebg{position:absolute}

.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden; color:#6F5E54;line-height:20px;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .prev_page, .pagination .prev_page{float:left;margin-right:10px;}
.pagination .next_page, .pagination .next_page{float:left;margin-left:10px;}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;margin-right:10px;color:#000;}
.pagination .current, .pagination a:hover{color:#6F5E54;font-weight:bold;float:left;}

#Footer{width:98%;border-top:1px solid #EDEDED;clear:both;margin:18px auto 0;padding:0}
#Footer .footerinner{width:752px;overflow:hidden;color:#8E8E8E;line-height:20px;text-align:center;margin:0 auto;padding:15px 0;font-size:12px !important;}
#Footer a{color:#8E8E8E}

