@charset "utf-8";
*{padding:0;margin:0;}

#about-imax-content{width:924px;margin:17px auto 0 auto;padding:0px;clear:both;overflow:hidden;}
#imax{
	width:920px;
	margin: 19px auto 0 auto;
	height: 288px;
}
#imax-hot{
	width:924px;
	margin: 10px auto 0 auto;
}
#about-imax-c-left{
	width:262px;
	height:211px;
	float:left;
	position:relative;
	background:url(/img/shop_space/cinyo/about-imax-by-bg.png) left top no-repeat;
	padding: 52px 20px 0 20px;
	text-align:justify;text-justify:inter-ideograph;
}
#about-imax-c-left p{
float:left;
font-size:14px;
color:#4b4b4b;
line-height:23px;
}
#about-imax-c-left a{
font-family:"Times New Roman", Times, serif;
margin-left:11px;
color:#333;
}
#about-imax-c-left a span{
color:#0082cd;
text-decoration:underline;
}
#about-imax-c-left a img{
margin-right:5px;
}
#play-video{
width:53px;
height:53px;
position:absolute;
left:125px;
top:72px;
background:url(/img/shop_space/cinyo/play-butt.png) left top no-repeat;
}
#play-video a{
margin:0;
padding:0;
display:block;
width:53px;
height:53px;
}
#play-video-play{
width:53px;
height:53px;
position:absolute;
left:125px;
top:170px;
background:url(/img/shop_space/cinyo/play-butt.png) left top no-repeat;
}
#play-video-play a{
margin:0;
padding:0;
display:block;
width:53px;
height:53px;
}
#play-video-butt{
background:none;
border:none;
width:53px;
height:53px;
cursor:pointer;
background:url(/img/shop_space/cinyo/play-butt.png) left top no-repeat;
}

#about-imax-c-center{
width:262px;
height:211px;
float:left;
position:relative;
margin-left:9px;
padding:52px 20px 0 20px;
text-align:justify;text-justify:inter-ideograph;
background:url(/img/shop_space/cinyo/about-imax-by-bg.png) -310px top no-repeat;
}
#about-imax-c-center p{
float:left;
font-size:14px;
color:#4b4b4b;
line-height:23px;
}
#about-imax-c-center a{
font-family:"Times New Roman", Times, serif;
color:#333;
}
#about-imax-c-center a span{
color:#0082cd;
text-decoration:underline;
}

#about-imax-c-center a img{
margin-right:5px;
}
#about-imax-c-right{
	width:262px;
	height:207px;
	float:right;
	background:url(/img/shop_space/cinyo/about-imax-by-bg.png) -621px 0 no-repeat;
	padding: 56px 20px 0 20px;
}
.main{
 clear:both;
 padding:8px 0 0 0;
}
.main h1{
	display:block;
	font-size:14px;
	color:#4c4c4c;
	height:25px;
	background:url(/img/shop_space/cinyo/blue-star.gif) 0 -2px no-repeat;
	float: left;
	width: 165px;
	padding: 0 0 0 17px;
}

.main p{
	line-height:19px;
	color:#4c4c4c;
	display: block;
	float: left;
	width: 190px;
}
.main ul li{
clear:both;
display:block;
width:262px;
}
#pic-about{
width:64px;
height:64px;
float:left;
margin-right:8px;
}
#tabs1{
 text-align:left;
 width:262px;
}
.menu1box{
	overflow:hidden;
	width:262px;
	text-align:left;
	border-bottom: 1px dashed #b5c6cd;
	background:url(/img/shop_space/cinyo/experience.png) right top no-repeat;
}
.menu1box h1{
	display:block;
	width:262px;
	font-size:12px;
	font-weight:normal;
	line-height:30px;
	float: right;
}
.menu1box h1 a{color:#0098ec;}
.menu1box h1 a:hover{text-decoration:underline;}
#menu1{display: block;width: 160px;height: 60px;float: left;}
#menu1 li{display:block;cursor:pointer;width:80px;height:22px;float: left;font-size:14px;font-weight:bold;margin:0 0px 7px 0;
border-bottom:2px solid #f0f0f0;line-height: 22px;}
#menu1 li a{color:#4c4c4c;}
#menu1 li img{margin:0 2px 0 0;}
#menu1 li.hover{border-bottom:2px solid #009aed;}
#menu1 li a.hover{color:#009aed;}
.main1box{
	clear:both;
	width:262px;
	margin: 10px 0 0 0;
}
#main1 ul{
 display: none;
}
#main1 ul.block{
 display: block;
}
.c-cols-C1 .c-colA {
	FLOAT: left; WIDTH: 150px; MARGIN-RIGHT: 10px
}
.c-cols-C1 .c-colB {
	FLOAT: left;
	WIDTH: 924px;
	margin: 0 auto;
}
.c-cols-C1 .c-colAB {
	FLOAT: left; WIDTH: 650px
}
.c-cols-C1 .c-colC {
	FLOAT: right; WIDTH: 300px
}

#img_slide {
	POSITION: relative; HEIGHT: 281px
}
#img_slide .ctl_bar {
	Z-INDEX: 20; LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 42px
}
#img_slide .imgs {
	ZOOM: 1; POSITION: relative; TOP: 5px
}
#img_slide .imgs LI {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 9px; OVERFLOW: hidden; BORDER-LEFT: #999 1px solid; WIDTH: 49px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 30px
}
#img_slide .imgs LI.cur_box {
	BORDER-TOP-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px; BORDER-LEFT-COLOR: #fff; LEFT: 0px; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #fff; WIDTH: 47px; BORDER-TOP-COLOR: #fff; POSITION: absolute; TOP: 0px; HEIGHT: 28px; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #fff
}
#img_slide .imgs LI.cur_box I {
	BACKGROUND: #fff; FILTER: alpha(opacity=30); WIDTH: 0px; POSITION: absolute; HEIGHT: 100%; opacity: .3
}
#img_slide .btns {
	LEFT: 110px; POSITION: absolute; TOP: 12px
}
#img_slide .btns A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(img/sprite.gif) no-repeat -160px 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 17px; PADDING-TOP: 17px; POSITION: absolute; HEIGHT: 0px; outline: none
}
#img_slide .btns A.play_pause {
	BACKGROUND-POSITION: -160px 0px; LEFT: 339px; WIDTH: 34px
}
#img_slide .btns A.on_pause {
	BACKGROUND-POSITION: -160px -17px
}
#img_slide .btns A.prev {
	BACKGROUND-POSITION: -160px -34px; LEFT: 66px; VISIBILITY: hidden
}
#img_slide .btns A.next {
	BACKGROUND-POSITION: -177px -34px; LEFT: 388px; VISIBILITY: hidden
}
#img_slide .btns A.prev:hover {
	BACKGROUND-POSITION: -160px -51px
}
#img_slide .btns A.next:hover {
	BACKGROUND-POSITION: -177px -51px
}
#img_slide .btns SPAN.index_status {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(img/sprite.gif) no-repeat -160px -68px; LEFT: 295px; PADDING-BOTTOM: 0px; FONT: bold 14px/1.1 Arial; OVERFLOW: hidden; WIDTH: 34px; COLOR: #fff; PADDING-TOP: 1px; POSITION: absolute; HEIGHT: 16px; TEXT-ALIGN: center
}
#img_slide .cons {
 OVERFLOW: hidden; POSITION: relative; HEIGHT: 281px
}
#img_slide .cons .mask {
	RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; /*FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/shop_space/cinyo/slide_mask.png", sizingMethod="scale"); */WIDTH: 238px; POSITION: absolute; TOP: 0px; HEIGHT: 281px
}
#img_slide .cons .desc {Z-INDEX: 10;RIGHT: 0px;WIDTH: 206px;COLOR: #fff;POSITION: absolute;TOP: 0px;height: 261px;background:url(/img/shop_space/cinyo/slide_mask.png) 0 0 no-repeat;
padding: 30px 16px 0 16px;line-height:25px;
/*background-color:#000000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); -moz-opacity:.65; opacity: .75;*/
}

#img_slide .cons .desc A {COLOR:#acc7e1;}
#img_slide .cons .desc H5 {position:relative;FONT-SIZE:16px;line-height:25px;width: 202px;padding:0px;margin:0px;}
#img_slide .cons .desc A.btn_play {PADDING-RIGHT: 0px; MARGIN-TOP: 0.6em; DISPLAY: block; PADDING-LEFT: 0px; 
BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Library/homepage2009/style/img/btn_play1.png", sizingMethod="scale");
PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 70px; PADDING-TOP: 23px; HEIGHT: 0px}
#img_slide .cons .desc A.btn_play:hover {BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/Library/homepage2009/style/img/btn_play2.png", sizingMethod="scale")}
#img_slide .con2 {
	LEFT: 0px;
	WIDTH: 9999px;
	POSITION: absolute;
	TOP: 0px;
	overflow: hidden;
}
#img_slide .img_item {
	FLOAT: left; WIDTH: 924px; POSITION: relative
}