@charset "utf-8";
/* CSS Document */

.cartoon{width: 1022px;height: 286px;margin: 0 auto;position: relative;background-image:url(/img/shop_space/cinyo/flash-bg.png);background-position:left top;background-repeat:no-repeat;}

.dh{padding:0px;margin:0px 0px 0px 52px;position:relative;height:285px;width:920px;overflow:hidden;}
.dh img {width:920px;height:285px;margin:0px;padding:0px;overflow:hidden;position:absolute;}
.dh a{display:block;}
.dh a.nivo-imageLink{width:100%;height:100%;padding:0px;margin:0px;position:absolute;top:0px;left:0px;border:0;z-index:60;display:none;}
.nivo-slice{height:100%;display:block;position:absolute;z-index:50;}
.nivo-box{position:absolute;display:block;z-index:5;}

/**标题栏区域样式**/
.nivo-caption{position:absolute;left: 20px;bottom: 20px;color:#fff;opacity:0.8;z-index:89;padding: 10px 20px;}
.nivo-caption p{font-size: 15px;padding:0px;margin:0px;line-height: 17px;}

/**导航箭头样式**/
.nivo-directionNav{z-index:99;position:absolute;width:920px;height:52px;left:52px;}
a.nivo-prevNav{width:69px;height:52px;padding:0px;margin:0px;overflow:hidden;position:absolute;left:-37px;top:123px;z-index:10;text-indent: -9999em;cursor:pointer;background-image:url(/img/shop_space/cinyo/flash-arrow1.png);background-position:right -4px;background-repeat:no-repeat;}
/**左箭头**/
a.nivo-nextNav{width:69px;height:52px;padding:0px;margin:0px;overflow:hidden;position:absolute;right:-37px;top:123px;z-index:10;text-indent: -9999em;cursor:pointer;background-image:url(/img/shop_space/cinyo/flash-arrow2.png);background-position:-1px -2px;background-repeat:no-repeat;}/**右箭头**/
a.nivo-prevNav:hover{background-image:url(/img/shop_space/cinyo/keyvisual_array_left_ov.png);background-position:right -4px;}
a.nivo-nextNav:hover{background-image:url(/img/shop_space/cinyo/keyvisual_array_right_ov.png);background-position:-1px -2px;}

/**导航栏样式**/
.nivo-controlNav{height:27px;position:absolute;right:25px;top:255px;z-index:10;z-index: 999;font-family:"微软雅黑";}
.nivo-controlNav a{height:27px;margin:0 10px 0 5px;padding:0px;display:block;color:#999;float:left;line-height:27px;_display:inline;text-align:center;font-size:13px;text-shadow: 0px -1px 2px #333;cursor:pointer;}
.nivo-controlNav a.active{color:#fff;}

.conmiddle{width:940px;padding:15px 41px 0 41px;margin:0 auto;background:url(/img/shop_space/cinyo/container-bg.png) 0px 49px repeat-y;overflow:hidden;clear:both;zoom:1;}
.conmiddle2{width:1110px;padding:0px;margin:0px auto;overflow:hidden;background:url(/img/shop_space/cinyo/container-bg.png) 44px 49px repeat-y;}
.conmiddle2 .conmiddle2inner{width:100%;height:173px;margin:0px;padding:0px;overflow:hidden;background-image:url(/img/shop_space/cinyo/bg23.png);background-position:left top;background-repeat:no-repeat;}
.conbottom{width:940px;padding:15px 41px 12px 41px;margin:0 auto;background:url(/img/shop_space/cinyo/container-bg.png) 0px 49px repeat-y;overflow:hidden;clear:both;zoom:1;}

.cmleft, .cmleft2, .cmright{width:300px;height:268px;margin:0px;padding:0px;float:left;background-image:url(/img/shop_space/cinyo/bg4.png);background-position:left top;background-repeat:no-repeat;position:relative;}
.cmleft ul{display:block;overflow:hidden;zoom:1;margin:55px 20px 0px 30px;line-height:28px;height:130px;}
.cmleft li{display:block;overflow:hidden;background-image:url(/img/shop_space/cinyo/sign1.jpg);background-position:left top;background-repeat:no-repeat;padding-left:20px;height:28px;margin-bottom:5px;}
.cmleft a{color:#707070;}
.cmleft a:hover{color:#FF6600;}
.cmleft h2{display:none;}
.cmleft .link{width:234px;height:42px;background-image:url(/img/shop_space/cinyo/btn5.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-99999em;display:block;margin:0px;padding:0px;overflow:hidden;position:absolute;bottom:17px;left:34px;}

.cmleft2{background-image:url(/img/shop_space/cinyo/bg5.png);margin-left:20px;padding-top:50px;height:218px;*position:relative;z-index:999;}

.cmright{background-image:url(/img/shop_space/cinyo/bg6.png);float:right;}

.conmiddle2 h2.tit{background-image:url(/img/shop_space/cinyo/hot-film.png);background-position:left top;background-repeat:no-repeat;width:150px;height:16px;margin:5px 0px 5px 100px;}
.cm2left{width:130px;height:125px;margin-left:122px;margin-top:25px;float:left;overflow:hidden;_display:inline;}
.cm2left ul{display:block;overflow:hidden;zoom:1;line-height: 18px;}
.cm2left li{background-image:url(/img/shop_space/cinyo/sign3.gif);background-position:left 6px; background-repeat:no-repeat;padding-left:15px;overflow:hidden;display:block;}
.cm2left li a{color:#fff;}
.cm2left li a:hover{text-decoration:underline;}

.cm2right{width:727px;overflow:hidden;float:left;margin-left:55px;margin-top:12px;}
.cm2right .la{background-image:url(/img/shop_space/cinyo/pre-left.png);background-position:left top; background-repeat:no-repeat;overflow:hidden;display:block;width:22px;height:44px;float:left;text-indent:-999999em;margin-top:50px;margin-right:15px;}
.cm2right .ra{background-image:url(/img/shop_space/cinyo/pre-right.png);background-position:left top; background-repeat:no-repeat;overflow:hidden;display:block;width:22px;height:44px;float:left;text-indent:-999999em;margin-top:50px;margin-left:15px;}
.cm2right .cm2rinner{float:left;width:625px;height:138px;position:relative;overflow:hidden;}
.cm2right .cm2rinner ul{overflow:hidden;display:block;zoom:1;position:absolute;left:0px;top:0px;}
.cm2right .cm2rinner li{float:left;width:100px;height:138px;margin-right:5px;}
.cm2right .cm2rinner img{width:100px;height:138px;}

.cbleft{float:left;padding:0px;margin:0px;overflow:hidden;width:650px;}
.cbright{width:277px;height:337px;float:right;padding:55px 0px 15px 5px;margin:0px;overflow:hidden;background-image:url(/img/shop_space/cinyo/bottom-right.png);background-position:left top;background-repeat:no-repeat;color:#7D7A7A;line-height:20px;}
.cbright a{color:#2B75E2; text-decoration:underline;}

.reg{width:228px;height:142px;margin:60px auto 0px auto;padding:0px;overflow:hidden;background-image:url(/img/shop_space/cinyo/bg7.png);background-position:left top;background-repeat:no-repeat;position:relative;}
.reg input{outline:none;}
.reg .reg_inputs1, .reg .reg_inputs2{position:absolute;padding:0px;margin:0px;color:#969A83;top:53px;left:75px;width:129px;height:20px;line-height:20px;font-size:11px;border:none;overflow:hidden;background-color:transparent;}
.reg .reg_inputs2{top:79px;height:19px;line-height:19px;}
.reg .reg_sub{position:absolute;border:none;text-indent:-99999em;background-image:url(/img/shop_space/cinyo/btn4.jpg);background-position:left top;background-repeat:no-repeat;width:33px;height:26px;background-color:transparent;top:103px;left:175px;cursor:pointer;}
.reg a.mes{position:absolute;color:#CFCAAD;top:112px;left:20px;letter-spacing:-1px;}
.reg a.mes:hover{color:#eee;}

a.logon{width:228px;height:34px;overflow:hidden;padding:0px;margin:0px;display:block;background-image:url(/img/shop_space/cinyo/btn3.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-99999em;}

.box{width:196px;height:255px;padding:50px 0 0 18px;background:url(/img/shop_space/cinyo/buy-tickets.png) left top no-repeat;float: left;}
.box ul li{float:left;display:block;height:26px;line-height:25px;width:170px;padding-left:8px;background:url(/img/shop_space/cinyo/buy-ticket-li.png) left center no-repeat;}
.box ul li a{display:block;float:left;overflow:hidden;width:120px;line-height:25px;height:18px;color:#44819e;font-weight:bold;}
.box ul li a:hover{color:#000;}
.box ul li input{background:none;border:none;margin:3px 0 0 0;width:36px;height:16px;background:url(/img/shop_space/cinyo/buy-button.png) left top no-repeat;
cursor:pointer;float:left;}
.box h1{font-size:14px;width:178px;display: block;float: left;margin: 28px 0 0 0;text-align: center;}
.box h2{font-size:12px;width:178px;display: block;float: left;margin: 9px 0 0 0;text-align: center;color: #797979;font-weight: normal;}
.box h2 a{color:#797979;}
.box .buy-ticket-on{border:none;width:94px;height:26px;background:url(/img/shop_space/cinyo/buy-ticket-on.png) left top no-repeat;cursor:pointer;}

.box2{float:left;width:400px;height:232px;padding:50px 10px 25px 10px;margin:0px 0px 0px 10px;overflow:hidden;background-image:url(/img/shop_space/cinyo/film-tv-comment.png);background-position:left top;background-repeat:no-repeat;_display:inline;}
.box2 .pic{display:block;overflow:hidden;zoom:1;background-color:#F0F0F0;width:380px;margin:0px auto;text-align:center;padding:2px 0px;}
.box2 .pic li{float:left;background-color:#fff;margin:0px 9px 0px 5px;width:62px;_display:inline;}
.box2 .pic img{width:60px;height:60px;margin:1px;display:block;}
.box2 .con{width:365px;display:block;overflow:hidden;zoom:1;color:#7a7b7b;line-height:25px;margin:10px auto 0px auto;clear:both;_display:inline;}
.box2 .con li{padding-left:15px;background-image:url(/img/shop_space/cinyo/sign6.gif);background-position:left 8px;background-repeat:no-repeat;clear:both;overflow:hidden;zoom:1;margin-bottom:5px;}
.box2 .con a{float:left;color:#000;}
.box2 .con a:hover{color:#0078B6;}
.box2 .con span{float:right;}
