table,td{margin:0px;padding:0px;}
.selectdate{width:300px;height:213px;padding:55px 0px 0px 0px;background:url(/img/shop_space/cinyo/bg5.png) left top no-repeat;position:relative;}
.change_date { font-size:12px; font-weight:bold; color:#bca495; margin:0px 0px 0px 25px; padding:10px 0px; overflow:hidden; zoom:1; display:block; }
.change_date img{ cursor:pointer; }
#Date table{line-height: 18px;}
#Date table.week{ font-size:12px; height:28px; line-height:28px; color:#000; background-color:#f9f9f9; width:296px; margin:0px auto;text-align:center; }
#Date table.days{ width:296px; color:#000; margin:0px auto; text-align:center; line-height: 25px; font-weight:bold; cursor:pointer; }

.calendar { font-size:14px; cursor:pointer; text-align:center; line-height:24px; color:#000; font-weight:bold }
#Date table.days .thisday{color:#f00;}

#DetailsList { font-size:12px; width:250px; line-height:22px; background-color:#fff; position:absolute; filter:alpha(opacity=87); 
opacity:0.87; border:#636363 1px solid; z-index:9999; padding:10px; margin:0px; display:none; left:0px;top:-100px; }