@charset "utf-8";
/* CSS Document */
#Con{width:1002px;clear:both;margin:10px auto 0 auto;overflow:hidden;}

.conleft{width:178px;float:left;margin: 0 5px 0 0;}
.conleft2{width:579px;float:left;}
.conleft2inner{width:579px;background:url(/img/shop_space/cinyo/news-center-bg.png) left top no-repeat;margin:0px;padding:0px;}
.conleft2innerbottom{width:579px;background:url(/img/shop_space/cinyo/movie-city-c-center-bottom.png) left bottom no-repeat;height:14px;overflow:hidden;padding:0px;margin:0px;}
.conright{float:right;width:236px;padding:0px;margin:0px;overflow:hidden;}

.box{width:100%;margin:0px;padding:0px 0px 18px 0px;overflow:hidden;background: url(/img/shop_space/cinyo/movie-city-c-l-bottom.png) left bottom no-repeat;}
.box img.tit{margin:0px;padding:0px;display:block;}
.boxinner, .boxinner2, .boxinner3{width:176px;border-left:1px solid #000;border-right:1px solid #000;background:#FFFFFF;padding: 15px 0 12px 0;border-top: 1px solid #000;overflow:hidden;}
.boxinner2, .boxinner3{margin:0px;padding:15px 0 0 0px;}

.boxinner ul{display:block;overflow:hidden;}
.boxinner ul li{margin:8px 0 0 0;display:block;text-align:center;}
.boxinner ul li a{font-size:14px;font-weight:bold;height:33px;line-height:33px;color:#000;display:block;width:100%;}
.boxinner ul li a.hover{background:url(/img/shop_space/cinyo/dq-bg.gif) 26px 11px no-repeat;}
.boxinner ul li a:hover{background:url(/img/shop_space/cinyo/left-bg.png) left top no-repeat;color:#fff;}

.boxinner2 ul{display:block;overflow:hidden;}
.boxinner2 ul li{display:block;width:130px;line-height:20px;background-image:url(/img/shop_space/cinyo/buy-ticket-li.png);background-position:left 8px;background-repeat:no-repeat;padding-left:15px;margin-bottom:8px;margin-left:20px;}
.boxinner2 ul li a{color:#44819e;font-weight:bold;font-size:12px;}
.boxinner2 ul li a:hover{color:#333;}
.box .link{width:94px;height:26px;overflow:hidden;display:block;text-indent:-99999em;background-image:url(/img/shop_space/cinyo/buy-ticket-on.png);background-position:left top;background-repeat:no-repeat;margin:0px auto;padding:0px;}
.boxinner3 ul{display:block;overflow:hidden;margin-left:20px;}
.boxinner3 li{display:block;width:100px;line-height:22px;font-size:12px;}
.boxinner3 li a{color:#333;}
.boxinner3 li a:hover{text-decoration:underline;}

.box2{width:236px;margin:0px;padding:0px 0px 10px 0px;overflow:hidden;background:url(/img/shop_space/cinyo/movie-city-c-r-bottom.png) left bottom no-repeat;}
.box2inner{width:234px;background-color:#fff;margin:0px;padding:0px;overflow:hidden;border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;zoom:1;}
.box2inner ul{margin-left:16px;overflow:hidden;display:block;zoom:1;}
.box2inner ul li{display:block;color:#000;line-height:20px;}
.box2inner a{color:#0094b7;}




.box3{width:579px;margin:0px;padding:60px 0px 0px 0px;background-image:url(/img/shop_space/cinyo/movie-list-bg.png);background-position:left top;background-repeat:no-repeat;display:block;float:left;}

.box3 .box3inner2{width:576px;margin:0px;padding:0px 0px 10px 0px;overflow:hidden;background-color:#fff;border-left:1px solid #44484C;border-right:1px solid #44484C;}
.box3 .box3top{width:500px; margin:0px auto 10px auto;padding:0px;overflow:hidden;border-bottom:1px dashed #DFAA5D;}

.box3 .box3top h2.tit2{color:#f3131b;font-size:20px;font-family:Arial, Helvetica, sans-serif;margin-bottom:10px;background-image:url(/img/shop_space/cinyo/movie-list-h1-bg.png); background-position:left top;background-repeat:no-repeat;padding-left:45px;padding-top:7px;padding-bottom:7px;}
.box3 .box3top h2.tit2 a{color:#f3131b;}
.box3 .box3top h2.tit2 a:hover{color:#f60;}
.box3 .box3top img.imgs{width:150px;height:200px;padding:2px;border:1px solid #c3c3c3;float:left;}
.box3 .box3top .con1{color:#333;float:right;width:320px;overflow:hidden;margin:0px;padding:0px 0px 20px 0px;line-height:26px;}
.box3 .box3btn{clear:both;width:100%;margin:10px 0px 0px;padding:0px;overflow:hidden;}
.box3 .box3btn .btn1{float:left;display:block;background-image:url(/img/shop_space/cinyo/camera.jpg);background-position:left bottom;background-repeat:no-repeat;color:#000;padding-left:35px;line-height:30px;}
.box3 .box3btn .btn2{float:left;display:block;background-image:url(/img/shop_space/cinyo/book.jpg);background-position:left top;background-repeat:no-repeat;padding-left:30px;line-height:30px;color:#000;}
.box3 .box3btn .btn3{float:left;display:block;background-image:url(/img/shop_space/cinyo/buy-ticket-on.png);background-position:left top;background-repeat:no-repeat;width:94px;height:26px;text-indent:-99999em;}
.box3 .box3btn .btn1:hover, .box3 .box3btn .btn2:hover{color:#f60;}
.box3 .box3bottom{width:579px;background:url(/img/shop_space/cinyo/movie-city-c-center-bottom.png) left bottom no-repeat;height:14px;overflow:hidden;margin:0px;clear:both;padding:0px;}
.box3 .box3con{width:511px;line-height:25px;color:#434344;margin:0 auto;padding:5px 0px 0px 0px;overflow:hidden;clear:both;}
.box3 .box3con h2.tit{width:138px;height:29px;background:url(/img/shop_space/cinyo/film-picture-bg.png) left top no-repeat;text-indent:-9999em;display:block;margin-bottom:10px;}
.box3 .box3con h2.tit2{width:138px;height:29px;background:url(/img/shop_space/cinyo/plot-bg.png) left top no-repeat;text-indent:-9999em;display:block;margin-bottom:10px;}
.box3 .box3con ol.ollist{display:block;width:511px;float:left;overflow:hidden;margin-bottom: 12px;}
.box3 .box3con ol.ollist li{margin-right:18px;float:left;}
.box3 .box3con ol.ollist img{width:75px;height:75px;padding:1px;border:1px solid #999;}

.con{width:577px;background-color:#fff;overflow: hidden;padding: 12px 0px;min-height:500px;border-left:1px solid #000;border-right:1px solid #000;margin:0px;padding:0px;clear:both;}
.con ul.conlist{display:block;width:100%;overflow:hidden;zoom:1;}
.con ul.conlist li{padding:0 0 0 66px;display:block;width:460px;height:26px;font-weight:bold;float:left;color:#666;font-family:Arial, Helvetica, sans-serif;}
.con ul.conlist li a{display:block;width:366px;float:left;font-weight:bold;font-size:14px;color:#000;}
.con ul.conlist li a:hover{color:#0099FF;text-decoration:underline;}
.con ul.conlist li span{font-size:6px;width:8px;font-weight:normal;color:#000;line-height:18px;float:left;}
.con p{display:block;padding:0 50px;text-indent:2em;line-height:22px;color:#000;}

#Footer{width:500px;clear:both;padding:0px;margin:10px auto 0px auto;overflow:hidden;background-image:none;}
#Footer ul{width:500px;display:block;float:none;}
#Footer ul li{float:left;width:auto;color:#ccc;line-height:14px;height:16px;display:inline;margin:0 10px 0 0;font-family:Arial, Helvetica, sans-serif;}

/** 优惠券列表页 **/
.gbb {width: 100%;padding: 0px;margin:0px;clear: both;}
.gbb ul {display: block;margin: 0px 7px;padding: 0px;clear: both;overflow: hidden;list-style:none;}
.gbb ul li{width:310px;height:280px;display: inline;margin: 0px 7px 7px 5px;padding: 0px;overflow:hidden;float:left;background-image:url(/img/shop_space/gbb_bg.gif);
background-repeat: no-repeat;background-position: left top;zoom:1;}
.gbb .gbb_img {float: left;height: 130px;width: 135px;margin-top: 20px;margin-left: 20px;}
.gbb .gbb_img img {padding: 1px;border: 1px solid #acacac;}
.gbb .gbb_img2 {background-image: url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat: no-repeat;background-position: left top;float: right;margin-top: 30px;
margin-right: 32px;font-family: "宋体";font-size: 14px;text-align: center;height: 50px;width: 75px;font-weight: bold;color: #FFFFFF;padding-top: 25px;}
.gbb .gbb_plane {padding-top: 10px;clear: both;font-size: 12px;margin-top: 0px;margin-right: 10px;margin-bottom: 0px;margin-left: 20px;line-height: 22px;
height:80px;}
.gbb .gbb_plane h1 a{font-size: 14px;color: #ff6c00;text-decoration:none;}
.gbb .gbb_plane h1 a:hover{text-decoration:underline;}
.gbb .gbb_plane span {color: #666;}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0;font-size:12px; font-weight:normal;}
.gbb .gbb_download em{font-style:normal;color:#f60;}
.gbb .gbb_sub{width:87px;height:25px;float:right;margin-right:10px;margin-top:0;padding:0;border:none;background-color:transparent;text-indent:-9999em;
background-image:url(http://img1.1dooo.com/img/shop_space/gbb_buy6.gif);background-repeat:no-repeat;background-position:left top;cursor:pointer;}
.gbb .gbb_r{float:right;margin-right:10px;}
.gbb .gbb_r2{float:right;}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0;font-size:12px; font-weight:normal;}
/** 优惠券列表页 css over **/