@charset "utf-8";
/* CSS Document */
#Con{width:920px;margin-left:auto;margin-right:auto;overflow:hidden;}

.conleft{width:220px;overflow:hidden;margin:0px;padding:0px;zoom:1;float:left;}
.conright{width:684px;overflow:hidden;margin:0px;padding:0px;zoom:1;float:right;}

a.link1{width:104px;height:29px;padding:0px;margin:0px;overflow:hidden;display:block;background-image:url(/img/shop_space/cinyo/btn6.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;}

.box1{width:220px;overflow:hidden;margin:0px;padding:0px;zoom:1;}
.box1 .box1title1{width:100%;height:31px;line-height:31px;background-image:url(/img/shop_space/cinyo/bg15.png);background-position:left top;background-repeat:no-repeat;overflow:hidden;}
.box1 .box1title1 h2{color:#333333;font-size:15px;background-image:url(/img/shop_space/cinyo/sign6.png);background-position:60px center;background-repeat:no-repeat;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box1 .box1title2{width:100%;height:31px;line-height:31px;background-image:url(/img/shop_space/cinyo/bg15.png);background-position:left top;background-repeat:no-repeat;overflow:hidden;}
.box1 .box1title2 h2{color:#333333;font-size:15px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box1 .box1inner1{width:100%;text-align:center;margin:0px;padding:15px 0px 0px 0px;background-image:url(/img/shop_space/cinyo/bg20.png);background-position:left top;background-repeat:repeat-y;}
.box1 .box1inner2{width:100%;margin:0px;padding:15px 0px 0px 0px;background-image:url(/img/shop_space/cinyo/bg20.png);background-position:left top;background-repeat:repeat-y;}
.box1 .box1inner1 a{font-size:14px;display:block;height:35px;line-height:35px;color:#666;overflow:hidden;}
.box1 .box1inner1 a:hover, .box1 .box1inner1 a.hover{background-image:url(/img/shop_space/cinyo/bg14.jpg);background-position:left top;background-repeat:repeat-x;color:#fff;}
.box1 .box1inner2 ul{display:block;overflow:hidden;zoom:1;margin-left:30px;font-size:14px;}
.box1 .box1inner2 li{display:block;overflow:hidden;background-image:url(/img/shop_space/cinyo/sign7.gif);background-position:left 4px;background-repeat:no-repeat;padding-left:20px;margin-bottom:12px;zoom:1;}
.box1 .box1inner2 a{color:#008AFF;}
.box1 .box1bottom{width:100%;height:14px;background-image:url(/img/shop_space/cinyo/bg16.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}

.box2{padding:0px;margin:0px;overflow:hidden;width:220px;height:297px;background-image:url(/img/shop_space/cinyo/bg11.png);background-position:left top;background-repeat:no-repeat;}
.box2 .box2inner{width:100%;padding:10px 5px;margin:0px;overflow:hidden;}
.box2 h2.tit{width:85px;height:21px;font-size:13px;font-weight:normal;color:#808080;line-height:21px;margin:5px auto 0px auto;padding-left:35px;background-image:url(/img/shop_space/cinyo/sign5.png);background-position:left top;background-repeat:no-repeat;}

.box3{width:684px;margin:0px;padding:50px 0px 0px 0px;background-image:url(/img/shop_space/cinyo/bg17.png);background-position:left top;background-repeat:no-repeat;display:block;}
.box3 h2.tit{color:#000;font-size:20px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box3 .box3inner1{clear:both;width:100%;margin:0px;padding:0px;background-image:url(/img/shop_space/cinyo/bg21.png);background-position:left top;background-repeat:repeat-y;overflow:hidden;zoom:1;*display:inline;}
.box3 .box3inner2{width:100%;margin:10px 0px 0px 0px;padding:0px;background-image:url(/img/shop_space/cinyo/bg21.png);background-position:left top;background-repeat:repeat-y;overflow:hidden;}
.box3 .box3inner1 .art{font-size:14px;margin:0px auto;padding:0px;overflow:hidden;width:590px;line-height:25px;}
.box3 .box3bottom{width:100%;height:14px;background-image:url(/img/shop_space/cinyo/bg18.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}
.box3 .box3top{width:590px;margin:0px auto;padding:0px 10px;overflow:hidden; background-image:url(/img/shop_space/cinyo/dashed2.jpg); background-position:left bottom;background-repeat:repeat-x;}
.box3 .box3bottom2{width:590px;margin:10px auto 0px auto;padding:0px 10px;overflow:hidden;color:#333;line-height:20px;}
.box3 .box3top h2.tit2, .box3 .box3top h2.tit2 a{color:#FF6600;font-size:20px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;margin-bottom:10px;}
.box3 .box3top img.imgs{width:150px;height:200px;padding:1px;border:1px solid #C3C3C3;float:left;}
.box3 .box3top h2.tit2 a:hover{color:#f30;}
.box3 .box3top .con{color:#333;float:right;width:418px;overflow:hidden;margin:0px;padding:0px 0px 20px 0px;line-height:26px;}
.box3 .box3bottom2 h2.tit3{color:#333;font-size:14px;font-family:"微软雅黑";}

.box3 .box3btn{clear:both;width:100%;margin:10px 0px 0px;padding:0px;overflow:hidden;}
.box3 .box3btn .btn1{float:left;display:block;width:96px;height:29px;background-image:url(/img/shop_space/cinyo/btn7.jpg);background-position:left bottom;background-repeat:no-repeat;text-indent:-9999em;}
.box3 .box3btn .btn2{float:left;display:block;width:104px;height:29px;background-image:url(/img/shop_space/cinyo/btn6.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;}

.box4{width:684px;overflow:hidden;margin:0px;padding:25px 0px 0px 0px;background-image:url(/img/shop_space/cinyo/bg19.png);background-position:left top;background-repeat:no-repeat;}
.box4 .box4inner1{width:100%;margin:0px;padding:0px;background-image:url(/img/shop_space/cinyo/bg21.png);background-position:left top;background-repeat:repeat-y;}
.box4 .box4bottom{width:100%;height:14px;background-image:url(/img/shop_space/cinyo/bg18.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}

/** 文章列表 css over  **/
.conrightlist {width:555px;margin:0px auto;padding:0px;overflow:hidden;line-height: 32px;display: block;font-size:14px;color:#333;}
.conrightlist li {width:530px;padding-left:25px;background-image:url(/img/shop_space/cinyo/sign10.jpg);background-position:left 10px;background-repeat:no-repeat;clear:both;overflow:hidden;margin:8px 0px;_margin:7px 0px;}
.conrightlist li.t {color: #fff;font-weight: bold;text-align: center;width:555px;background-image:none;background-color:#333;padding:0px;margin:0px;line-height:25px;}
.conrightlist .spanbox {width:420px;float:left;overflow:hidden;display:block;}
.conrightlist .spanbox2 {width:110px;display:block;float:left;overflow:hidden;text-align:center;}
.conrightlist .spanbox3 {width:110px;float:right;overflow:hidden;display:block;text-align:right;}
.conrightlist a {color: #333;}
.conrightlist a:hover {font-weight:bold;color:#3C3C3C;}
/** 文章列表 css over **/


/** 评论css **/
.reviews_right {width: 610px;display: block;padding: 0px;margin: 0px auto;overflow: hidden;}
.d_out, .d_over, .d_outa {width: 640px;clear: both;border-top: 1px solid #E5E5E5;overflow: hidden;padding: 16px 10px 10px;}
.reviews_right #comments {margin-top:10px;width:100%;clear:both;overflow:hidden;}
#comment h4.comments_list {color: #505050;font-size: 14px;}
#t_pl_picyure {float: left;line-height: 20px;width: 56px;}
#t_pl_picyure img {width: 50px;height: 50px;padding: 2px;border: 1px solid #C5C5C5;}
#t_pl_picyure h2 {font-size: 12px;color: #CC4D22;font-weight: normal;text-align: center;word-wrap: break-word;}
#t_pl_picyure a {color: #FE972F;}
#pl-content {color: #444;float: left;line-height: 22px;padding-left: 10px;width: 510px;}
#pl-content span {color: #8B8888;float: right;}
#group_fbpl {background-color: #F3F3F3;border: 1px solid #B5B8C8;margin: 15px auto 0;overflow: hidden;position: relative;width: 605px;}
#group-user-name {background: url("/img/shop_space/group-user-name.jpg") repeat-x scroll left top transparent;border-bottom: 1px solid #FFFFFF;
color: #666666;overflow: hidden;padding: 7px 15px;}
#group-user-name span {color: #929292;display: block;float: left;width: 200px;}
#group-user-name a {color: #666666;display: block;float: right;margin: 0 10px 0 0;text-decoration: none;}
#group-user-name a:hover {color: #FF9900;}
.comment_post {margin: 0;padding: 10px;}
.comment_post input.sub {border: 1px solid #C4C4C4;height: 24px;width: 50px;}
.comment_post a {color: #000000;}
.comment_post a:hover {color: #FF9900;}
.floatleft {margin-bottom: 10px;width: 100%;}
#pl_group {color: #333333;font-weight: bold;height: 24px;padding: 0;}
#comment_nic_name {background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;border: 1px solid #B5B8C8;
color: #000000;font-size: 14px;height: 20px;}
#captcha {background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;border: 1px solid #B5B8C8;color: #000000;
font-size: 14px;}
#body_id {background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;border: 1px solid #B5B8C8;color: #000000;
font-size: 14px;height: 140px;width: 367px;}
#pl_biaoqing {border: 1px solid #B5B8C8;height: 140px;margin-top: 33px;padding-left: 2px;position: absolute;right: 10px;top: 38px;width: 200px;}
#pl_biaoqing h3 {font-size: 13px;margin: 0;padding: 10px 0;}
#pl_biaoqing img {margin: 2px;}
#pl_biaoqing {border: 1px solid #B5B8C8;height: 140px;margin-top: 33px;padding-left: 2px;position: absolute;right: 10px;top: 38px;width: 200px;}
/** 评论 css over **/

/** 优惠券列表页 **/
.gbb {padding: 0px;width: 100%;margin-top: 10px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;clear: both;}
.gbb ul {display: block;margin: 0px 7px;padding: 0px;clear: both;overflow: hidden;list-style:none;}
.gbb ul li{width:310px;height:280px;display: inline;margin: 0px 7px 7px 5px;padding: 0px;overflow:hidden;float:left;background-image:url(/img/shop_space/gbb_bg.gif);
background-repeat: no-repeat;background-position: left top;zoom:1;}
.gbb .gbb_img {float: left;height: 130px;width: 135px;margin-top: 20px;margin-left: 20px;}
.gbb .gbb_img img {padding: 1px;border: 1px solid #acacac;}
.gbb .gbb_img2 {background-image: url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat: no-repeat;background-position: left top;float: right;margin-top: 30px;
margin-right: 32px;font-family: "宋体";font-size: 14px;text-align: center;height: 50px;width: 75px;font-weight: bold;color: #FFFFFF;padding-top: 25px;}
.gbb .gbb_plane {padding-top: 10px;clear: both;font-size: 12px;margin-top: 0px;margin-right: 10px;margin-bottom: 0px;margin-left: 20px;line-height: 22px;
height:80px;}
.gbb .gbb_plane h1 a{font-size: 14px;color: #ff6c00;text-decoration:none;}
.gbb .gbb_plane h1 a:hover{text-decoration:underline;}
.gbb .gbb_plane span {color: #666;}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0;font-size:12px; font-weight:normal;}
.gbb .gbb_download em{font-style:normal;color:#f60;}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0;font-size:12px; font-weight:normal;}
.gbb .gbb_sub{height:25px;width:87px;float:right;margin-right:10px;margin-top:0;padding:0;border:none;background-color:transparent;text-indent:-9999em;
background-image:url(http://img1.1dooo.com/img/shop_space/gbb_buy6.gif);background-repeat:no-repeat;background-position:left top;}
.gbb .gbb_r{float:right;margin-right:10px;}
.gbb .gbb_r2{float:right;}
/** 优惠券列表页 css over **/

/** 优惠券券详情页 css **/
.ec{ clear:both;margin:10px 20px 0;padding:0; }
.ec .imgs{ height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;margin-right:10px;padding:2px; }
.ec h1{ font-size:16px;color:#f60;display:block;margin-bottom:30px; }
.ec h1 a{ color:#f60;text-decoration:none; }
.ec h1 a:hover { color:#f90; }
.ec h2{ font-size:12px;color:#666;font-weight:400;margin:10px 10px 0px; }
.ec .ec_div{ background-color:#f6f6f6;overflow:hidden;zoom:1;padding:15px 20px; }
.ec .ec_div p{ float:left;margin:0;padding:0; }
.ec table { line-height:25px; }
.ec .ec_price{ background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:center center;font-size:14px;font-weight:700;color:#FFF;vertical-align:middle;line-height:20px;margin:0;padding:24px 50px; }
.ec .ec_con{ line-height:25px;margin-top:15px;margin-right:10px;margin-left:10px; }
.ec .ec_r{float:right;}
.ec .ec_color {color: #666;}
.ec .ec_color2 {color: #f60;}
.ec_line{border-top:1px solid #aaa; margin-top:10px; width:100%; overflow:hidden;height:0px;line-height:0px;}
/** 优惠券详情页 css over **/

/** 优惠券下载选择手机号码css **/
.download_box{ clear:both;line-height:30px !important; margin-top:10px; margin-left:20px;}
.download_box h1{ color:#f60; font-size:14px; }
.download_box h2{ font-size:12px; color:#f60; font-weight:normal; display:inline !important; }
.download_box .sub{height:25px;width:87px;border:none;background-image:url(http://img1.1dooo.com/img/shop_space/sub6.gif);background-repeat:no-repeat;background-position:left top; color:#fff;cursor:pointer;cursor:hand;}
.download_box .sub:hover{color:#fff;}
.download_box .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;padding:2px;}
.download_box .imgs img{ height:205px;width:215px;margin:0px;padding:0px; display:block;}
/** 优惠券下载选择手机号码css over **/

/** 优惠券发送页css **/
.mes{ margin: 20px 20px 25px 20px;clear: both; overflow: hidden; }
.mes .mes_top { margin: 0px; padding: 0px 0px 0px 50px; }
.mes .mes_top h1 { font-size: 24px; color: #f60; background-image: url(http://img1.1dooo.com/img/shop_space/sign10.gif); background-repeat: no-repeat; background-position: left 5px; padding-left: 40px; line-height: 40px; }
.mes .mes_top .mes_con { line-height: 20px; padding-left: 42px; }
.mes_con a { font-weight: bold; color: #444; text-decoration: none; }
.mes_con a:hover { color: #f00; text-decoration: underline; }
.mes .mes_return { text-align:right; line-height:32px; padding-right:10px; margin-top:10px; }
.mes_return a { color: #000; text-decoration: none; background-image: url(http://img2.1dooo.com/img/shop_space/sign11.gif); background-repeat: no-repeat; background-position: 500px center; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; display: block; }
.mes_return a:hover { color: #f00; text-decoration: underline; }
.mes .mes_img { margin: 0px; padding: 0px; }
/** 优惠券发送页css over **/

/** 团购券的团购列表css **/
.gb{width:660px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#c5c4c4;margin:10px auto 0px auto;overflow:hidden;zoom:1;padding:0px 0px 8px 0px;}
.gb_word{font-size:24px;font-weight:700;zoom:1;clear:both;overflow:hidden;margin:0;padding:0 0 10px}
.gb_word a,.gb_word h1{font-size:24px;font-weight:700;text-decoration:none;color:#333}
.gb_word a:hover{color:#666;}
.gb_word h1{line-height:30px;}
.gb_word h2{font-size:24px;display:inline;color:#333}
.gb_left{float:left;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_right{text-align:center;float:right;overflow:hidden;zoom:1;margin:0;padding:0;color:#666;}
.gb_buy{background-image:url(/img/shop_space/pic02.gif);background-repeat:no-repeat;background-position:left top;height:84px;width:234px;text-align:left;clear:both;overflow:hidden;margin:0;padding:0;}
.gb_buy b{font-weight:400;display:block;float:left;font-size:35px;color:#FFF;margin:25px 0 0 25px;padding:0;display:inline;}
.gb_buy form img{height:51px;width:104px;float:right;margin-right:10px;margin-top:17px;border:none;padding:0}
input.sub{border:1px solid #c4c4c4;background:#e9e9e9;background-image:url(/img/shop_space/topdownbg.jpg);background-repeat:repeat-x;background-position:left top;width:50px;height:24px}
.gb_right ul{display:block;width:250px;overflow:hidden;margin:10px 0;padding:0;}
.gb_right ul li{display:block;float:left;width:83px;margin:0;padding:0}
.gb_word_style1{color:#ca0000;}
.gb_word_style2{font-weight:700;text-decoration:line-through}
.gb_word_style4{font-weight:700;color:#ca0000}
.gb_right span{font-weight:700;text-align:left;display:block;font-size:14px;clear:both;width:222px;margin:0 0 0 28px;padding:0;}
.gb_time{background-image:url(/img/shop_space/pic03.gif);height:41px;width:195px;background-repeat:no-repeat;background-position:left top;display:block;margin:10px auto 0;padding:0}
.gb_time ul{display:block;clear:both;width:100%;overflow:hidden;margin:0;padding:0;}
.gb_time ul li{display:block;font-weight:700;margin:15px 0 0;padding:0}
.gb_time .gb_timeleft{margin-left:9px;width:33px}
.gb_time .gb_timemiddle{width:38px;margin-left:34px}
.gb_time .gb_timeright{width:35px;margin-left:23px}
/** 团购券的团购列表css over **/