@charset "utf-8";
/* CSS Document */

body{font-size:12px;font-family:"宋体";margin:0px;padding:0px;background-color:#000;}
a{text-decoration:none;}
img{border:none;}
ul,ol{ list-style:none; }
h1, h2, ul, li, form, iframe, ol{ padding:0px; margin:0px; }

.clear{width:100%;height:0px;line-height:0px;padding:0px; margin:0px;overflow:hidden;zoom:1;}
.clear1{width:100%;height:0px;padding:0px; margin:0px;overflow:hidden;zoom:1;}
.block{display:block;}
.dashed{width:100%;height:1px !important;background-image:url(/img/shop_space/cinyo/dashed.gif);background-position:left top;background-repeat:repeat-x;overflow:hidden;zoom:1;}

.title{width:577px;color:#000;text-align:center;margin:0px;padding:0px;}
.title h2{font-size:16px;line-height:60px;padding-top: 37px;}

.pt97{padding-top:97px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.ml30{margin-left:30px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.m_auto{margin-left:auto !important; margin-right:auto !important;}
.mb10{margin-bottom:10px !important;}
.m0{margin:0px;}
.bordrcolor{border-left:1px solid #44484C;border-right:1px solid #44484C;}

.w175{width:175px !important;}
.w185{width:185px !important;}
.w234{width:234px !important;}
.w555{width:555px !important;}

.title1{width:100%;margin:0px;padding:0px;clear:both;overflow:hidden;}
.title1 h2{font-size:#343434;font-size:14px;}

#MB{margin:0px;padding:0px;background-position:center top;background-repeat:no-repeat;background-image:url(/img/shop_space/cinyo/nbg.jpg)}
#Header{width:100%;margin:0px;padding:0px;overflow:hidden;}
#Header .headertop{width:100%;height:39px;background-image:url(/img/shop_space/cinyo/bg22.jpg);background-position:left top;background-repeat:repeat-x;overflow:hidden;}
#Header .headertop .tit{float:left;}
#Header .headertop ul{float:right;overflow:hidden;zoom:1;margin-right:55px;margin-top:12px;}
#Header .headertop li{float:left;overflow:hidden;zoom:1;margin-right:30px;}
#Header .headerbottom{width:1002px;height:243px;margin: 0px auto;padding:0px;overflow:hidden;}
#Header .headerbottom .destineticket{
width:233px;height:120px;margin:90px 0px 0px 520px;padding:0px;background-image:url(/img/shop_space/cinyo/buy_tickets_ol.png);background-position:left top;background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-999999em;float:left;_display:inline;}
#Header .headerbottom .todayfilm{width:233px;height:120px;margin:90px 3px 0 11px;padding:0px;background-image:url(/img/shop_space/cinyo/ask_ol.png);background-position:left top;background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-999999em;float:right;}

/** 导航css **/
.menu{width:1002px;height:66px;margin:0 auto;padding:0x;text-align:center;clear:both;}
.menu #Menu_nav{display:block;}
.menu #Menu_nav li{float: left;width:auto;position:relative;z-index:999999;}
.menu #Menu_nav li ul{ position:absolute;display: none;top:60px;left:0px;}
.menu #Menu_nav li:hover ul, .menu #Menu_nav li.hover ul{display: block;}
.menu #Menu_nav ul li a{display:block;color: #333;}
.menu #Menu_nav .nav-touyng{float:left;width:1001px;height:6px;overflow:hidden;display:inline;background:url(/img/shop_space/cinyo/nav_touying.png) left top no-repeat;}
.menu #Menu_nav .home{width:136px;height:60px;display:block;}
.menu #Menu_nav #home{width:117px;padding:6px 0;border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-bottom:2px solid #f3f3f3;background-color:#fff;margin-left:17px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:0.80; opacity:0.80;}
.menu #Menu_nav #home li{width:117px;line-height:25px;position:relative;display:block;}
.menu #Menu_nav #home li a:hover{font-weight:bold;background-color:#1a94c7;color:#fff;}
.menu #Menu_nav .news{width:148px;height:60px;background:url(/img/shop_space/cinyo/news.jpg) left top no-repeat;display:block;}
.menu #Menu_nav .news:hover{background:url(/img/shop_space/cinyo/news.jpg) 0px -60px no-repeat;}
.menu #Menu_nav #news li{width:147px;line-height:25px;display:block;}
.menu #Menu_nav #news{width:147px;border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-bottom:2px solid #f3f3f3;padding:6px 0px;background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;}
.menu #Menu_nav #news li a:hover{font-weight:bold;color:#fff;background-color:#1a94c7;}
.menu #Menu_nav .movie-city{width:145px;height:60px;background:url(/img/shop_space/cinyo/movie-city.jpg) left top no-repeat;display:block;}
.menu #Menu_nav .movie-city:hover{background:url(/img/shop_space/cinyo/movie-city.jpg) 0px -60px no-repeat;}
.menu #Menu_nav #movie-city{width:143px;padding:6px 0px;border-left:1px solid #f3f3f3;border-bottom:2px solid #f3f3f3;border-right:1px solid #f3f3f3;
background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;}
.menu #Menu_nav #movie-city li{width:143px;line-height:25px;display:block;}
.menu #Menu_nav #movie-city li a:hover{font-weight:bold;color:#fff;background-color:#1a94c7;}
.menu #Menu_nav .movie-mess{width:142px;height:60px;display:block;background:url(/img/shop_space/cinyo/movie-mess.jpg) left top no-repeat;}
.menu #Menu_nav .movie-mess:hover{background:url(/img/shop_space/cinyo/movie-mess.jpg) 0px -60px no-repeat;}
.menu #Menu_nav #movie-mess{width:140px;padding:6px 0px;border-bottom:2px solid #f3f3f3;border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;}
.menu #Menu_nav #movie-mess li{display:block;width:139px;line-height:25px;}
.menu #Menu_nav #movie-mess li a:hover{background-color:#1a94c7;color:#fff;font-weight:bold;}
.menu #Menu_nav .movie-active{display:block;width:142px;height:60px;background:url(/img/shop_space/cinyo/movie-active.jpg) left top no-repeat;}
.menu #Menu_nav .movie-active:hover{background:url(/img/shop_space/cinyo/movie-active.jpg) 0px -60px no-repeat;}
.menu #Menu_nav .movie-active img{margin:15px 0 0 89px;}
.menu #Menu_nav #movie-active{width:140px;padding:6px 0;border-bottom:2px solid #f3f3f3;border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;}
.menu #Menu_nav #movie-active li{display:block;width:140px;line-height:25px;}
.menu #Menu_nav #movie-active li a:hover{background-color:#1a94c7;color:#fff;font-weight:bold;}
.menu #Menu_nav .movie-about{display:block;width:145px;height:60px;background:url(/img/shop_space/cinyo/movie-about.jpg) left top no-repeat;}
.menu #Menu_nav .movie-about:hover{background:url(/img/shop_space/cinyo/movie-about.jpg) 0px -60px no-repeat;}
.menu #Menu_nav #movie-about{width:143px;padding:6px 0;border-bottom:2px solid #f3f3f3;border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;}
.menu #Menu_nav #movie-about li{display:block;width:143px;line-height:25px;}
.menu #Menu_nav #movie-about li a:hover{background-color:#1a94c7;color:#fff;font-weight:bold;}
.menu #Menu_nav .members{display:block;width:144px;height:60px;}
/** 导航css over **/

#Con{width:100%;padding:0px;margin:17px 0px 0px 0px;clear:both;}
#Con .contop{width:1022px;height:46px;margin: 0 auto;background: url(/img/shop_space/cinyo/container-top-bg.png) 0 -2px no-repeat;}

/** 页码 **/
.pages {margin:0px;text-align:center;color:#ff6600;clear:both;overflow:hidden;background-color:#fff;}
.pages .pagination {margin:0px;padding:0px;overflow:hidden;}
.pages .pagination .prev_page, .pagination a.prev_page {}
.pages .pagination .current, .pagination a {color:#666;padding:0 5px 0 5px;}
.pages .pagination .current, .pages .pagination a:hover {background-color:#ff6600;border:1px solid #ffc000;color:#fff;}
.pages .pagination .next_page, .pagination a.next_page {}


#Footer{width:972px;height:90px;margin:0px auto;padding:0px 50px 0px 0px;background:url(/img/shop_space/cinyo/container-bottom-bg.png) left top no-repeat;}
#Footer ul{width:530px;float: right;font-family: Arial, Helvetica, sans-serif;margin: 8px 0px 0px 0px;display:block;}
#Footer ul li{float:left;margin:0px 2px 0px 10px;color:#fff;line-height:18px;}
#Footer ul li a{color:#fff;}
#Footer ul li a:hover{color:#333;}
