@charset "utf-8";
/* CSS Document */
html{background-color:#fff;}
body{font-size:12px;font-family:"宋体";margin:0px;padding:0px;background-image:url(/img/shop_space/cinyo/footerbg2.jpg);background-position:center bottom;background-repeat:no-repeat;}
a{text-decoration:none;}
img{border:none;}
ul,ol{ list-style:none; }
h1, h2, ul, li, form, iframe{ padding:0px; margin:0px; }

.clear{width:100%;height:0px;line-height:0px;padding:0px; margin:0px;overflow:hidden;zoom:1;}
.clear1{width:100%;height:0px;padding:0px; margin:0px;overflow:hidden;zoom:1;}
.block{display:block;}
.dashed{width:100%;height:1px !important;background-image:url(/img/shop_space/cinyo/dashed.gif);background-position:left top;background-repeat:repeat-x;overflow:hidden;zoom:1;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.ml30{margin-left:30px !important;}
.mr2{margin-right:2px !important;}
.mr5{margin-right:5px !important;}
.m_auto{margin-left:auto !important; margin-right:auto !important;}
.mb10{margin-bottom:10px !important;}

.w175{width:175px !important;}
.w185{width:185px !important;}
.w555{width:555px !important;}

.title1{width:100%;margin:0px;padding:0px;clear:both;overflow:hidden;}
.title1 h2{font-size:#343434;font-size:14px;}

#MB{width:1330px;margin:0px auto;padding:0px;background-image:url("");background-position:left top;background-repeat:no-repeat;}
#Header{width:100%;height:160px;margin:0px;padding:0px;position:relative;}
#Header .destineticket{width:123px;height:53px;margin:0px;padding:0px;background-image:url(/img/shop_space/cinyo/btn1_1.png);background-position:left top;background-repeat:no-repeat;display:block;overflow:hidden;position:absolute;text-indent:-999999em;left:845px;top:80px;}
#Header .todayfilm{width:123px;height:53px;margin:0px;padding:0px;background-image:url(/img/shop_space/cinyo/btn2.png);background-position:left top;background-repeat:no-repeat;display:block;overflow:hidden;position:absolute;text-indent:-999999em;left:1000px;top:80px;}
#Header h1{display:none;}
#Logo{position:absolute; left:205px; top:60px;background:url(/img/shop_space/cinyo/logo.png) left top no-repeat;width:372px;height:61px;}
#SubNav{font-family:"微软雅黑";float:right;color:#ccc;margin-top:20px;overflow:hidden;zoom:1;_display:inline;}
#SubNav li{float:left;}
#SubNav a{color:#000;}
#SubNav a:hover{color:#666;}

.menu{width:924px;height:53px;margin:0px auto;padding:0px;background-image:url(/img/shop_space/cinyo/menubg_1.png);background-position:left top;background-repeat:no-repeat;font-size:14px;font-family:"微软雅黑";}
.menu #Menu_nav { width:100%;position:relative;z-index:100;  }
.menu #Menu_nav li.index{padding:0px;margin:0px;background-image:none !important;}
.menu #Menu_nav li.index a{padding:11px 14px 0px 14px !important;height:27px;line-height:27px;}
.menu #Menu_nav li.index a:hover{background-image:none !important;}
.menu #Menu_nav li {float: left;padding:0px;margin:0px;display:block;background-image:url(/img/shop_space/cinyo/linebg.jpg);background-position:left top;background-repeat:no-repeat;}
.menu #Menu_nav a {color:#444;display: block;text-align:center; padding:0px 41px;height:43px;line-height:43px;overflow:hidden;zoom:1;float:left;}
.menu #Menu_nav a:hover,.menu #Menu_nav li:hover, .menu #Menu_nav li.hover { color:#54811A;background-image:url(/img/shop_space/cinyo/menubg2.jpg);background-position:left top;background-repeat:repeat-x;_display:block;}
.menu #Menu_nav li ul {width:140px;position:absolute;display:none;background-color:#fff;opacity:0.7;filter: Alpha(Opacity=70);clear:both;top:43px;z-index:120;}
.menu #Menu_nav li ul li{width:100%;display:block;float:none;overflow:hidden;background-image:none;}
.menu #Menu_nav li ul a{font-size:12px;display:block;padding:0px;height:25px;line-height:25px;float:none;}
.menu #Menu_nav li ul a:hover {color:#F3F3F3;background:#1a94c7;}
.menu #Menu_nav li.hover ul, .menu #Menu_nav li:hover ul { display:block;overflow:hidden;zoom:1; }
.menu .navimg{display:block;float:left;margin-top:15px;}

#Con{width:100%;padding:0px;margin:17px 0px 0px 0px;clear:both;}

/** 页码 **/
.pages {clear:both;margin:20px 0px 0px;overflow:hidden;padding:0px;zoom:1;}
.pages .pagination {float: right;overflow: hidden;}
.pages .pagination .point{float:left;margin-right:10px;}
.pages .pagination .prev_page, .pagination a.prev_page {background-image: url("/img/shop_space/cinyo/sign8.jpg");background-position: left top;background-repeat: no-repeat;border: medium none;cursor: pointer;float: left;width:25px;height:20px;margin-right:10px;text-indent: -9999em;}
.pages .pagination .current, .pagination a {border: 1px solid #4B4B4B;color: #ABB1BD;display: block;float: left;height: 18px;line-height: 18px;margin: 0 10px 0 0;padding: 0;text-align: center;width: 20px;color:#4B4B4B;}
.pages .pagination .current, .pages .pagination a:hover {color: #fff;float: left;font-weight: bold;background-color:#008BFF;}
.pages .pagination .next_page, .pagination a.next_page {background-image: url("/img/shop_space/cinyo/sign9.jpg");background-position: left top;background-repeat: no-repeat;border:medium none;cursor:pointer;float:left;width:25px;height:20px;text-indent:-9999em;}

#Footer{width:100%;height:102px;margin:30px auto 0px auto;padding:0px;background-image:url(""); background-position:right top; background-repeat:no-repeat;clear:both;color:#666;text-align:center;line-height:25px;}
#Footer a{color:#666;}
#Footer a:hover{color:#000;}