/* CSS Document */
.contop{width:100%;margin:0px;padding:0px;overflow:hidden;background-image:url(/img/shop_space/dtsy/dhbg4.png);background-repeat:no-repeat;background-position:center 210px;}
.conbottom{width:100%;overflow:hidden;margin:0px;padding:30px 0px 0px 0px;clear:both;zoom:1;background-image:url(/img/shop_space/dtsy/dhbg2.jpg);background-repeat:repeat-x;background-position:left top;}
.cbinner{width:980px;overflow:hidden;margin:0px auto;padding:0px;clear:both;zoom:1;}

.ctinner{width:870px;height:298px;background-image:url(/img/shop_space/dtsy/dhbg3.jpg);background-repeat:no-repeat;background-position:center top;margin:33px auto 0px auto;padding:0px;overflow:hidden;}

.dh{width:870px;height:298px;overflow:hidden;zoom:1;margin:0px;padding:0px;position:relative;background-image: url(/img/shop_space/dtsy/abg.jpg);background-repeat: no-repeat;background-position: left top;}
.dh img{ width:803px; height:258px; position:absolute; top:20px; left:33px; }
.prevbtn{background-image:url(/img/shop_space/dtsy/arrow1.png);background-repeat:no-repeat;background-position:left top;height:60px;width:45px;text-indent:-999999px;;margin:0px;padding:0px; position:absolute; z-index:10; top:152px; left:0px;cursor:pointer;}
.nextbtn{background-image:url(/img/shop_space/dtsy/arrow2.png);background-repeat:no-repeat;background-position:left top;height:60px;width:45px;text-indent:-999999px;margin:0px; padding:0px; position:absolute; z-index:10; top:152px; right:0px;cursor:pointer;}
.dhnum{position:absolute;width:125px;bottom:30px;height:21px;right:20px;z-index:2;}
.def{background-image:url(/img/shop_space/dtsy/abg2.png);background-repeat:no-repeat;background-position:left top;width:16px;height:16px;line-height:16px;float:left;margin:0 7px 0 0;padding:0;font-weight:bold;text-align:center;color:#583821;font-size:14px;}
.selected{background-image:url(/img/shop_space/dtsy/abg1.png)!important;color:#fff;}

.qn{width:100%;height:113px;margin:0px;padding:22px 0px 0px 0px;overflow:hidden;background-image:url(/img/shop_space/dtsy/dhbg.jpg);background-repeat:repeat-x;background-position:left 35px;}
.qn ul{display:block;overflow:hidden;width:978px;height:117px;margin:0px auto;background-image:url(/img/shop_space/dtsy/bg.jpg);background-repeat:no-repeat;background-position:left 12px;}
.qn li{float:left;overflow:hidden;padding-left:1px;}
.qn li img{display:none;}
.qn li.hover img{display:block;}

.box2{overflow:hidden;clear:both;margin:0px 0px 10px 0px;padding:0px;}

.template_content{padding:0px 20px;overflow:hidden;}
.template_content li{height:190px;width:300px;float:left}
.template_content ul{padding:10px;overflow:hidden;display:block;}
.template_content h2{font-size:14px;line-height:22px;position:relative;text-align:center;margin:155px 20px 0;color:#C3A583;}
.template_content .template_bg{background-image:url(/img/shop_space/dtsy/picbg.jpg);background-repeat:no-repeat;background-position:center 50px;height:160px;position:absolute;width:300px;text-align:center}
.template_content .template_bg img{border:1px solid #fff;width:265px;height:131px;}
.template_content a:hover img{border:1px solid #45C419;}
.template_content h2 a{color:#77AD00;text-decoration:none}
.template_content h2 a:hover img{border:none;}

.template_content1{padding:0px 20px;overflow:hidden;}
.template_content1 li{height:190px;width:300px;float:left}
.template_content1 ul{padding:10px;overflow:hidden;display:block;}
.template_content1 h2{font-size:14px;line-height:22px;position:relative;text-align:center;margin:155px 20px 0;color:#C3A583;}
.template_content1 .template_bg{background-image:url(/img/shop_space/dtsy/picbg.jpg);background-repeat:no-repeat;background-position:center 50px;height:160px;position:absolute;width:300px;text-align:center}
.template_content1 .template_bg img{border:1px solid #fff;width:265px;height:131px;}
.template_content1 a:hover img{border:1px solid #09C;}
.template_content1 h2 a{color:#09C;text-decoration:none}
.template_content1 h2 a:hover img{border:none;}