/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px;background-image:url(/img/shop_space/dtsy/topbg.jpg); background-position:center top; background-repeat:no-repeat;}
ul,li,h1,h2{padding:0px;margin:0px;}
ul{list-style:none;}
img{border:none;}
a{text-decoration:none;}

.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.mt15{margin-top:15px !important;}

.linebg2{background-image:url(/img/shop_space/dtsy/linebg2.jpg) !important;}
.linebg3{background-image:url(/img/shop_space/dtsy/linebg3.jpg) !important;background-position:left 36px !important;}

.title{overflow:hidden;margin:0px;padding:0px 0px 0px 0px;height:52px;color:#171717; font-family:"微软雅黑";padding-bottom:12px;line-height:22px;padding-left:14px;background-image:url(/img/shop_space/dtsy/linebg.jpg); background-position:center 38px; background-repeat:no-repeat;}
.title h2{float:left; font-size:20px; font-weight:normal;background-image:url(/img/shop_space/dtsy/titlebg.gif); background-position:left top; background-repeat:no-repeat;
padding-left:46px;width:265px;text-shadow: #999 2px 2px 2px; letter-spacing:2px;}
.title h2 a{color:#171717;}
.title span{float:right;color:#666;margin-right:10px;}
.title a{color:#666;}

.title2{overflow:hidden;margin:0px;padding:0px;color:#171717; font-family:"微软雅黑";padding-bottom:12px;line-height:22px;padding-left:14px;
border-bottom:1px solid #aaa;zoom:1;}
.title2 h2{float:left; font-size:14px; font-weight:normal;background-image:url(/img/shop_space/dtsy/sign9.gif); background-position:left center; background-repeat:no-repeat;
padding-left:20px;text-shadow: #999 2px 2px 2px; letter-spacing:2px;color:#171717;}

.title3 {overflow:hidden;font-family:"微软雅黑"; color:#fff;font-size:13px; font-weight:normal;}
.title3 h2{float:left;font-size:14px;}
.title3 span{margin-left:10px;}

.title4 {overflow:hidden;font-family:"微软雅黑"; color:#000;font-size:13px; font-weight:normal;}
.title4 h2{float:left;font-size:14px;}
.title4 span{margin-left:10px;}

#MB{width:100%;margin:0px;padding:0px;overflow:hidden;}
.headerright{float:right;text-align:right;margin-top:30px;width:300px;}
#Header{width:995px;overflow:hidden;padding:0px;margin:0px auto;}
#SubNav{display:block;color:#66391B;font-size:12px;font-family: "微软雅黑";width:256px;overflow: hidden;float:right;}
#SubNav li{float:left;display:block;line-height:15px;text-align:right;}
#SubNav a{color:#66391B;padding:0px 5px;display:block;overflow:hidden;}
#SubNav a:hover{}
#Logo{ float:left; margin-left:18px;margin-top:30px;}

#Con{width:100%;overflow:hidden;padding:0px;margin:0px;}
.cileft{float:left;width:270px;overflow:hidden;margin:0px;padding:0px;}
.ciright{float:right;overflow:hidden;margin:0px 0px 0px 55px;padding:0px;width:655px;}
.ciright2{float:right;overflow:hidden;margin:0px;padding:0px;width:680px;}

.menu{clear:both;width:1080px;font-size:14px;font-family: "微软雅黑";line-height:30px;background-image:url(/img/shop_space/dtsy/menubg.png); background-position:-10px -10px; background-repeat:no-repeat;padding:0px;margin:35px auto 0px auto;overflow:hidden;zoom:1;height:70px;}
.menu ul{margin-left:84px;margin-top:10px;}
.menu li{float:left;overflow:hidden;display:block;zoom:1;_width:135px;}
.menu a{color:#6E6E6E;display:block;padding:0px 25px;margin:0px 14px;}
.menu a:hover, .menu li.hover a{background-image:url(/img/shop_space/dtsy/sign.png); background-position:0px 0px; background-repeat:no-repeat;line-height:30px;}

/** 页码css **/
.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden; color:#6F5E54;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .prev_page {float:left;cursor:pointer;margin-top:5px;background-image:url(/img/shop_space/dtsy/arrow1.gif); background-position:left top; background-repeat:no-repeat;display:block;width:23px!important;height:11px;text-indent:-9999em;margin-right:5px;}
.pagination .next_page{float:left;cursor:pointer;margin-top:5px;background-image:url(/img/shop_space/dtsy/arrow2.gif); background-position:left top; background-repeat:no-repeat;display:block;width:23px!important;height:11px;text-indent:-9999em;margin-left:5px;}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;line-height:20px;color:#7F7F7F;width:5px;}
.pagination .current, .pagination a:hover{color:#000;font-weight:bold;float:left;font-size:14px;}
/** 页码css over **/

#Footer{width:980px;height:60px;margin:0px auto;padding:20px 0px;background-image:url(/img/shop_space/dtsy/footerbg.gif); background-position:0px 0px; background-repeat:no-repeat;text-indent:-9999em;text-align:center;color:#BDA181;font-size:14px;font-weight:bold; font-family:"微软雅黑";}
#Footer a{color:#666;}
#Footer a:hover{color:#000;}