		<div class="con">
			<div class="title1 mb30"><h2 class="f18">签到管理</h2></div>
			<div class="submenu">
				<ul>
					<li><a href="newest">最新签到</a></li>
					<li><a href="rank?flag=week">周排行</a></li>
					<li><a href="rank?flag=month">月排行</a></li>
					<li class="hover"><a href="rank_list">总排行</a></li>
				</ul>
			</div>
			<form method="post" action=""/>
				<table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40">
					<tr>
						<th width="991">用户名</th>
						<th width="199" class="textcenter" style="padding-left:0px;">签到次数</th>
						<th width="182" class="textcenter" style="padding-left:0px;">No.</th>
					</tr> 
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁
				  </td>
				  <td align="center">34次</td>
				  <td width="182" align="center"><span class="red2 f13">第一名</span></td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center"><span class="green1 f13">第二名</span></td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center"><span class="blue1 f13">第三名</span></td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第四名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第五名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第六名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第七名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第八名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第九名</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html" class="f14">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  <span class="pr10">星座：双鱼座</span> 年龄：23岁</td>
				  <td align="center">34次</td>
				  <td width="182" align="center">第十名</td>
				</tr>
	  	  </table>
			<div class="pagination">
				<ul>
					<li class="disabled"><a href="#" class="pre">&lt;&lt;</a></li>
					<li class="hover"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" class="next">&gt;&gt;</a></li>
				</ul>
		   </div>
		</form>
	  </div>