.dash-wrapper.margin-bottom
  .container-fluid
    .row
      .col-lg-3.col-md-3
        .side-menu
          = render 'dashboard/side_menu'
      .col-lg-9.col-md-9.main-menu
        = render 'members/welcome_page'
