%section#static-main
  %article.shadow.margin-bottom
    %h1 FAQ

    %h2 What is the idea behind Prodygia?

    %p Western companies and individuals have an interest in learning about Chinese business practices, the entrepreneurial and technology eco-systems in China, as well as about Chinese culture.

    %p It is difficult to even know where to start, though. Current resources only give you bits and pieces of knowledge about China and unless you're in the country, it's hard to fit them together to get an understanding of what's happening on the ground. Plus things move so fast in this market that it is challenging for anyone to keep up to date. 

    %p Here, our aim is to build an online marketplace which matches demand (you) and supply (pre-qualified Experts) for expertise on China.

    %h1 Who's behind Prodygia?

    %p Two long-time friends who've spent many years in China and decided there should be a better way to help the world understand the 'real China'. 

    %p 
      Take a look at the 
      = link_to "About Us", about_us_path
      to learn more. 

    %h1 Is this a MOOC (Massive Open Online Course)?

    %p Our model is quite different than the traditional MOOCs. Prodygia is not in the education space, either.  

    %h1 If not a MOOC, what is your model then?

    %p Our business model is anchored in the belief that the more you interact with Experts, the more personalized and impactful is the learning. This is expertise worth paying for, hence the ambition to develop an online marketplace where experts are also incentivized to be active and keep their content up to date. 

    %h1 What topics do you cover?

    %p Our focus is on hands-on expertise within business, entrepreneurship, technology and culture in China. Specific topics are also proposed by our Member community, and this is how we grow our topic portfolio. The Experts on our platform are pre-qualified; they must have solid experience in China and a distinct expertise.  

    %h1 What languages will be used on the site?

    %p 
      For now, the entire site is geared toward delivering expertise in English. Our current Chinese Experts are also English-speakers. That said, a lot of expertise resides with Chinese Experts who don't speak English, so over time we'll introduce mechanisms for you to learn from them despite the language barrier. If there's a specific demand to tailor content to a segment or organization where English isn't the primary language, then please let us know on 
      %a{href: "mailto:support@prodygia.com"}support@prodygia.com
      and we'll implement a dedicated solution.

    %h1 What can I do on the site at the moment?

    %p Prodygia experts are posting articles and recorded video interviews on topics which they feel are important for you to know about China. You may browse and view these for free, even share with friends using the social media sharing options (if you like the content and expert, yes, please do!). You can also become better acquainted with the experts by checking their profiles.  You can also purchase a pre-recorded video course among those currently available.  Of course, more will be added to the site on a regular basis as we continue to work with our Experts to produce insightful content.

    %h1 What's coming next?

    %p We'll gradually introduce more functionality to the site in early 2014, including the ability to run live online sessions and manage communities of users.  Do register as a Member to create your own profile and receive updates from the Prodygia Team.

    %h1 Why should I sign up?

    %p You can browse the site without signing up, but if you register as a Member - leaving your name and email address - you'll be entrusted with our own dashboard and receive regular updates from Prodygia. We don't like to be spammed, so rest assured we won't spam you. 

    %h1 How much does it cost?

    %p It's free for Members to view content which experts have posted on the public section of the site. Access to a video-on-demand is paying, and since the Expert sets the price, these will vary. 

    %h1 How do I pay for accessing the video courses on demand?

    %p When you find a course you're interested in, click on 'enroll' and complete the Paypal form with your payment details. You can pay using your credit card and receive an automatic pay
