%section#static-main
  %article.shadow.margin-bottom.latobold-header
    %h1 Privacy Policy
    %p Prodygia, Inc.
    %p 
      Prodygia has created this privacy policy to inform you about our how we treat various pieces of information you provide. The following discloses our information gathering and dissemination practices for the 
      %a{href: "http://www.prodygia.com"}www.prodygia.com 
      website.

    %p Your privacy is very important to us. Accordingly, we have developed this Privacy Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.

    %h2 Collection of Data/Contact Information/Financial Information

    %h2 IP Address, Diagnostics and Cookies

    %p We use your internet protocol address and diagnostic information to help diagnose problems with our server and to administer our website. We also use your internet protocol address to help identify you.
    %p Our website places “cookies” on your computer’s web browsers to keep track of your identity for the purposes of saving your logged-in state so that you do not have to log in each time you visit our website. “Cookies” allow our website to recognize your computer when you access the website. If you would like to prevent the placement of cookies on your computer, or remove cookies from your computer, please access the “Help” portion of your browser or contact your browser provider. Please be advised that if you block or remove cookies from your computer, the website will not recognize your computer and you may not have access to all portions of the website. 

    %h2 Contact Information/Financial Information
    %p Our website’s registration and order forms require users to provide us with contact information to establish membership accounts and purchase services and products. Prodygia collects each user’s name, user ID, IP address and e-mail address. New users must opt in to receive commercial communications and may opt out of receiving future commercial communications at any time (see “Anti-Spam Policy/Opt-out Choice” below). Prodygia gathers only user information that is needed to administer its business and enhance and improve its services and products.
    %p Prodygia also collects and stores information and content you provide to us for your user profile. 
    %p Prodygia does not rent, sell or exchange user information, and generally restricts access to user information to qualified Prodygia employees and agents.
    %p Prodygia may store the financial information entered by users, such as credit card numbers and related financial account information. The financial information is only used to bill the user for products and services.
    %p Prodygia may disclose a user’s contact or financial information if required to do so by law or in the good-faith belief that such disclosure is necessary to comply with an order of a court or government authority, or a subpoena. Prodygia may also disclose a user’s contact or financial information in the good-faith belief that such disclosure is necessary to protect Prodygia or the website, or enforce the applicable Terms and Conditions, in conjunction with an investigation or legal, equitable or administrative action or proceeding. 
    %p Prodygia may collect information on the services viewed by you on the website. Prodygia may use this information to customize your experience and suggest and offer you products according to your preferences. Prodygia may use this information to identify patterns and trends of use, but will only release or publish any such information in a manner that preserves your anonymity.

    %h2 Links to Other Websites
    %p The Prodygia website may contain links to other websites. Prodygia is not responsible for the privacy practices, security practices or the content of such websites.

    %h2 Site Intended for Use by Adults
    %p This website is intended for use by adults. Prodygia does not knowingly collect or publish any information personally identifying any child under age 18. Children under age 18 should not access this website and should not post any information personally identifying themselves anywhere on the website. 

    %h2 Security
    %p The security of this website and your information is of great importance to Prodygia. This website has commercially reasonable security measures in place to protect the loss, misuse and alteration of your information under our control, but we make no assurances about our ability to prevent any such loss, misuse or alteration, and we shall have no liability to you or any third party from any loss, misuse or alteration. We do not and cannot represent or warrant that your access to the website is completely secure.
    %p You should promptly notify Prodygia if your account, user name or password have been lost or stolen. Prodygia will never ask you for your password. If you need a new user name and/or password, Prodygia will generate a new user name through its computers and send the means to set or change your password to your e-mail.

    %h2 Anti-Spam Policy/Opt-out Choice
    %p 
      We are committed to providing users of this website with the choice to receive or not receive e-mails and/or other communications from Prodygia. We only send commercial e-mails to new users who have affirmatively requested or consented to receive e-mails about our services and products. We do not send unsolicited commercial e-mails, buy or sell e-mail lists, or use purchased or harvested e-mail lists. We offer commercial e-mail recipients the opportunity to opt-out of further communications in every e-mail. If you would like to opt-out of receiving further communications, you may opt-out at any time though the membership settings in your Membership Profile, or contact us at 
      %a{href: "mailto:support@prodygia.com"} support@prodygia.com.
    %p Once we receive your opt-out request, please allow 48 hours for us to comply with it.
    %p 
      Please note that we may not include opt-out information in non-commercial e-mails (i.e., e-mails concerning your order, the website’s terms and conditions of use, etc.). If you have questions or concerns regarding a non-commercial e-mail, please contact us at 
      %a{href: "mailto:support@prodygia.com"} support@prodygia.com
      or the physical postal address below. Please allow two business days for us to respond to your e-mail.
    %h2 Changes to the Privacy Policy
    %p Prodygia may change this privacy policy from time to time in its sole and absolute discretion. Please check this website regularly for changes. Substantive revisions to this privacy policy shall apply only prospectively.
    %h2 Contacting
    %p 
      If you have any questions about this Privacy Policy, the practices of Prodygia or your dealings with this website, please contact our customer service department using one of the following modes:
    %p 
      E-mail: 
      %a{href: "mailto:support@prodygia.com"} support@prodygia.com

    %h2.text-center EFFECTIVE DATE: 20 December, 2013

