.static-pages-container
  .static-pages-info
    .static-pages-title
      = @static_pages.title
    .static-pages-content
      = @static_pages.content
  .static-pages-image
    = @static_pages.image.url
