@charset "utf-8";
/* CSS Document */

#Con{background-image:url(/img/shop_space/xinyuan/bg3.png) !important;background-position:15px top;background-repeat:no-repeat;margin-top:0px;}
.contop{width:100%;padding:0px;margin:0px;overflow:hidden;}
.conmiddle{width:920px;padding:0px;margin:0px auto;overflow:hidden;clear:both;zoom:1;}
.conmiddle2{width:1095px;height:161px;padding:0px;margin:0px auto;overflow:hidden;background-image:url(/img/shop_space/xinyuan/bg8.jpg);background-position:left top;background-repeat:no-repeat;}
.conmiddle3{width:920px;height:25px;padding:0px;margin:0px auto;overflow:hidden;background-image:url(/img/shop_space/xinyuan/bg10.png);background-position:left center;background-repeat:no-repeat;position:relative;}
.conbottom{width:920px;padding:0px;margin:0px auto;overflow:hidden;}

.cmleft, .cmleft2, .cmright{width:300px;height:268px;margin:0px;padding:0px;float:left;background-image:url(/img/shop_space/xinyuan/bg4.png);background-position:left top;background-repeat:no-repeat;position:relative;}
.cmleft ul{display:block;overflow:hidden;zoom:1;margin:55px 20px 0px 30px;line-height:28px;height:130px;}
.cmleft li{display:block;overflow:hidden;background-image:url(/img/shop_space/xinyuan/sign1.jpg);background-position:left top;background-repeat:no-repeat;padding-left:20px;height:28px;margin-bottom:5px;}
.cmleft a{color:#707070;}
.cmleft a:hover{color:#FF6600;}
.cmleft h2{display:none;}
.cmleft .link{width:234px;height:42px;background-image:url(/img/shop_space/xinyuan/btn5.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-99999em;display:block;margin:0px;padding:0px;overflow:hidden;position:absolute;bottom:17px;left:34px;}

.cmleft2{background-image:url(/img/shop_space/xinyuan/bg5.png);margin-left:10px;position:static;padding-top:60px;height:208px;}

.cmright{background-image:url(/img/shop_space/xinyuan/bg6.png);float:right;}

.cm2left{width:130px;height:125px;margin-left:112px;margin-top:20px;float:left;overflow:hidden;_display:inline;}
.cm2left ul{display:block;overflow:hidden;zoom:1;line-height: 18px;}
.cm2left li{background-image:url(/img/shop_space/xinyuan/sign3.gif);background-position:left 6px; background-repeat:no-repeat;padding-left:15px;overflow:hidden;display:block;}
.cm2left li a{color:#777;}
.cm2left li a:hover{color:#555;}

.cm2right{width:727px;overflow:hidden;float:left;margin-left:23px;margin-top:12px;}
.cm2right .la{background-image:url(/img/shop_space/xinyuan/arrow5.png);background-position:left top; background-repeat:no-repeat;overflow:hidden;display:block;width:31px;height:28px;float:left;text-indent:-999999em;margin-top:55px;margin-right:20px;}
.cm2right .ra{background-image:url(/img/shop_space/xinyuan/arrow6.png);background-position:left top; background-repeat:no-repeat;overflow:hidden;display:block;width:31px;height:28px;float:left;text-indent:-999999em;margin-top:55px;margin-left:20px;}
.cm2right .cm2rinner{float:left;width:625px;height:138px;position:relative;overflow:hidden;}
.cm2right .cm2rinner ul{overflow:hidden;display:block;zoom:1;position:absolute;left:0px;top:0px;}
.cm2right .cm2rinner li{float:left;width:100px;height:138px;margin-right:5px;}
.cm2right .cm2rinner img{width:100px;height:138px;}

.cm3box{background-image:url(/img/shop_space/xinyuan/sign4.png);background-position:left top; background-repeat:no-repeat;width:64px;height:25px;position:absolute;cursor:pointer;left:0px;top:0px;overflow:hidden;padding:0px;margin:0px;visibility:visible;zoom:1;}

.cbleft{float:left;padding:0px;margin:0px;overflow:hidden;width:650px;}
.cbright{width:270px;height:392px;float:right;padding:0px;margin:0px;overflow:hidden;background-image:url(/img/shop_space/xinyuan/bg12.jpg);background-position:left top;background-repeat:no-repeat;}

.cbright .cbrinner{padding:15px 0px;margin:5px 0px 0px 0px;overflow:hidden;color:#7D7A7A;line-height:20px;}
.cbright h2.tit{font-size:13px;font-weight:normal;color:#808080;height:21px;line-height:21px;text-align:center;margin-top:5px;}
.cbright a{color:#2B75E2; text-decoration:underline;}

.reg{width:228px;height:142px;margin:60px auto 0px auto;padding:0px;overflow:hidden;background-image:url(/img/shop_space/xinyuan/bg7.png);background-position:left top;background-repeat:no-repeat;position:relative;}
.reg input{outline:none;}
.reg .reg_inputs1, .reg .reg_inputs2{position:absolute;padding:0px;margin:0px;color:#969A83;top:53px;left:75px;width:129px;height:20px;line-height:20px;font-size:11px;border:none;overflow:hidden;background-color:transparent;}
.reg .reg_inputs2{top:79px;height:19px;line-height:19px;}
.reg .reg_sub{position:absolute;border:none;text-indent:-99999em;background-image:url(/img/shop_space/xinyuan/btn4.jpg);background-position:left top;background-repeat:no-repeat;width:33px;height:26px;background-color:transparent;top:103px;left:175px;cursor:pointer;}
.reg a.mes{position:absolute;color:#CFCAAD;top:112px;left:20px;letter-spacing:-1px;}
.reg a.mes:hover{color:#eee;}

a.logon{width:228px;height:34px;overflow:hidden;padding:0px;margin:0px;display:block;background-image:url(/img/shop_space/xinyuan/btn3.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-99999em;}

.box{float:left;padding:0px;margin:0px;overflow:hidden;width:220px;height:297px;background-image:url(/img/shop_space/xinyuan/bg11.jpg);background-position:left top;background-repeat:no-repeat;}
.box .boxinner{width:100%;padding:10px 5px;margin:0px;overflow:hidden;}
.box h2.tit{width:85px;height:21px;font-size:13px;font-weight:normal;color:#808080;line-height:21px;margin:5px auto 0px auto;padding-left:35px;background-image:url(/img/shop_space/xinyuan/sign5.png);background-position:left top;background-repeat:no-repeat;}

.box2{float:left;padding:0px;margin:0px 0px 0px 10px;overflow:hidden;width:406px;height:297px;background-image:url(/img/shop_space/xinyuan/bg13.jpg);background-position:left top;background-repeat:no-repeat;_display:inline;}
.box2 .box2inner{padding:15px 10px;margin:5px 0px 0px 0px;overflow:hidden;}
.box2 h2.tit{font-size:13px;font-weight:normal;color:#808080;height:21px;line-height:21px;text-align:center;margin-top:5px;}
.box2 .pic{display:block;overflow:hidden;zoom:1;background-color:#F0F0F0;width:360px;margin:0px auto;text-align:center;padding:2px 0px;}
.box2 .pic li{float:left;background-color:#fff;margin:0px 5px;width:62px;_display:inline;}
.box2 .pic img{width:60px;height:60px;margin:1px;display:block;}
.box2 .con{width:360px;display:block;overflow:hidden;zoom:1;color:#7a7b7b;line-height:25px;margin:10px auto 0px auto;clear:both;_display:inline;}
.box2 .con li{padding-left:15px;background-image:url(/img/shop_space/xinyuan/sign6.gif);background-position:left 8px;background-repeat:no-repeat;clear:both;overflow:hidden;zoom:1;margin-bottom:5px;}
.box2 .con a{float:left;color:#7a7b7b;}
.box2 .con a:hover{color:#0078B6;}
.box2 .con span{float:right;}

.dh{padding:0px;margin:15px auto 0px auto;position:relative;height:285px;width:920px;margin-bottom:55px;}
.dh img {width:920px;height:285px;margin:0px;padding:0px;overflow:hidden;position:absolute;}
.dh a{display:block;}
.dh a.nivo-imageLink{width:100%;height:100%;padding:0px;margin:0px;position:absolute;top:0px;left:0px;border:0;z-index:60;display:none;}
.nivo-slice{height:100%;display:block;position:absolute;z-index:50;}
.nivo-box{position:absolute;display:block;z-index:5;}

/**标题栏区域样式**/
.nivo-caption{background:#ffba00;position:absolute;left: 20px;bottom: 20px;color:#fff;opacity:0.8;z-index:89;padding: 10px 20px;}
.nivo-caption p{font-size: 15px;padding:0px;margin:0px;line-height: 17px;}

/**导航箭头样式**/
.nivo-directionNav{z-index:99;position:absolute;width:920px;height:52px;}
a.nivo-prevNav{width:52px;height:52px;background-image:url(/img/shop_space/xinyuan/arrow3.png);background-position:center top;background-repeat:no-repeat;padding:0px;margin:0px;overflow:hidden;position:absolute;left:-37px;top:140px;z-index:10;text-indent: -9999em;cursor:pointer;}/**左箭头**/
a.nivo-nextNav{width:52px;height:52px;background-image:url(/img/shop_space/xinyuan/arrow4.png);background-position:center top;background-repeat:no-repeat;padding:0px;margin:0px;overflow:hidden;position:absolute;right:-37px;top:140px;z-index:10;text-indent: -9999em;cursor:pointer;}/**右箭头**/

/**导航栏样式**/
.nivo-controlNav{height:27px;position:absolute;right:25px;top:255px;z-index:10;z-index: 999;}
.nivo-controlNav a{width:26px;height:27px;margin:0 5px 0 0;padding:0px;display:block;color:#FEFFFA;float:left;line-height:27px;_display:inline;text-align:center;font-size:13px;text-shadow: 0px -1px 2px #333;cursor:pointer;}
.nivo-controlNav a.active{background-image:url(/img/shop_space/xinyuan/sign1.png);background-position:center center;background-repeat:no-repeat;}
