@charset "utf-8";
/* CSS Document */
body{background-color:#fff;}
#Con{width:920px;margin-left:auto;margin-right:auto;overflow:hidden;}

.conleft{width:220px;overflow:hidden;margin:0px;padding:0px;zoom:1;float:left;}
.conright{width:684px;overflow:hidden;margin:0px;padding:0px;zoom:1;float:right;}

a.link1{width:104px;height:29px;padding:0px;margin:0px;overflow:hidden;display:block;background-image:url(/img/shop_space/xinyuan/btn6.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;}

.box1{width:220px;overflow:hidden;margin:0px;padding:0px;zoom:1;}
.box1 .box1title1{width:100%;height:31px;line-height:31px;background-image:url(/img/shop_space/xinyuan/bg15.png);background-position:left top;background-repeat:no-repeat;overflow:hidden;}
.box1 .box1title1 h2{color:#333333;font-size:15px;background-image:url(/img/shop_space/xinyuan/sign6.png);background-position:60px center;background-repeat:no-repeat;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box1 .box1title2{width:100%;height:31px;line-height:31px;background-image:url(/img/shop_space/xinyuan/bg15.png);background-position:left top;background-repeat:no-repeat;overflow:hidden;}
.box1 .box1title2 h2{color:#333333;font-size:15px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box1 .box1inner1{width:100%;text-align:center;margin:0px;padding:15px 0px 0px 0px;background-image:url(/img/shop_space/xinyuan/bg20.png);background-position:left top;background-repeat:repeat-y;}
.box1 .box1inner2{width:100%;margin:0px;padding:15px 0px 0px 0px;background-image:url(/img/shop_space/xinyuan/bg20.png);background-position:left top;background-repeat:repeat-y;}
.box1 .box1inner1 a{font-size:14px;display:block;height:35px;line-height:35px;color:#666;overflow:hidden;}
.box1 .box1inner1 a:hover, .box1 .box1inner1 a.hover{background-image:url(/img/shop_space/xinyuan/bg14.jpg);background-position:left top;background-repeat:repeat-x;color:#fff;}
.box1 .box1inner2 ul{display:block;overflow:hidden;zoom:1;margin-left:30px;font-size:14px;}
.box1 .box1inner2 li{display:block;overflow:hidden;background-image:url(/img/shop_space/xinyuan/sign7.gif);background-position:left 4px;background-repeat:no-repeat;padding-left:20px;margin-bottom:12px;zoom:1;}
.box1 .box1inner2 a{color:#008AFF;}
.box1 .box1bottom{width:100%;height:14px;background-image:url(/img/shop_space/xinyuan/bg16.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}

.box2{padding:0px;margin:0px;overflow:hidden;width:220px;height:297px;background-image:url(/img/shop_space/xinyuan/bg11.jpg);background-position:left top;background-repeat:no-repeat;}
.box2 .box2inner{width:100%;padding:10px 5px;margin:0px;overflow:hidden;}
.box2 h2.tit{width:85px;height:21px;font-size:13px;font-weight:normal;color:#808080;line-height:21px;margin:5px auto 0px auto;padding-left:35px;background-image:url(/img/shop_space/xinyuan/sign5.png);background-position:left top;background-repeat:no-repeat;}

.box3{width:684px;margin:0px;padding:50px 0px 0px 0px;background-image:url(/img/shop_space/xinyuan/bg17.png);background-position:left top;background-repeat:no-repeat;display:block;}
.box3 h2.tit{color:#000;font-size:20px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;text-align:center;}
.box3 .box3inner1{clear:both;width:100%;margin:0px;padding:0px;background-image:url(/img/shop_space/xinyuan/bg21.png);background-position:left top;background-repeat:repeat-y;overflow:hidden;zoom:1;}
.box3 .box3inner2{width:100%;margin:10px 0px 0px 0px;padding:0px;background-image:url(/img/shop_space/xinyuan/bg21.png);background-position:left top;background-repeat:repeat-y;}
.box3 .box3inner1 .art{font-size:14px;margin:0px auto;padding:0px;overflow:hidden;width:590px;line-height:25px;}
.box3 .box3bottom{width:100%;height:14px;background-image:url(/img/shop_space/xinyuan/bg18.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}
.box3 .box3top{width:590px;margin:0px auto;padding:0px 10px;overflow:hidden; background-image:url(/img/shop_space/xinyuan/dashed2.jpg); background-position:left bottom;background-repeat:repeat-x;}
.box3 .box3bottom2{width:590px;margin:10px auto 0px auto;padding:0px 10px;overflow:hidden;color:#333;line-height:20px;}
.box3 .box3top h2.tit2{color:#FF6600;font-size:20px;font-family:"微软雅黑";text-shadow:1px 1px 1px #dddddd;margin-bottom:10px;}
.box3 .box3top img.imgs{width:150px;height:200px;padding:1px;border:1px solid #C3C3C3;float:left;}
.box3 .box3top .con{color:#333;float:right;width:418px;overflow:hidden;margin:0px;padding:0px 0px 20px 0px;line-height:26px;}
.box3 .box3bottom2 h2.tit3{color:#333;font-size:14px;font-family:"微软雅黑";}

.box3 .box3btn{clear:both;width:100%;margin:10px 0px 0px;padding:0px;overflow:hidden;}
.box3 .box3btn .btn1{float:left;display:block;width:96px;height:29px;background-image:url(/img/shop_space/xinyuan/btn7.jpg);background-position:left bottom;background-repeat:no-repeat;text-indent:-9999em;}
.box3 .box3btn .btn2{float:left;display:block;width:104px;height:29px;background-image:url(/img/shop_space/xinyuan/btn6.jpg);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;}

.box4{width:684px;overflow:hidden;margin:0px;padding:25px 0px 0px 0px;background-image:url(/img/shop_space/xinyuan/bg19.png);background-position:left top;background-repeat:no-repeat;}
.box4 .box4inner1{width:100%;margin:0px;padding:0px;background-image:url(/img/shop_space/xinyuan/bg21.png);background-position:left top;background-repeat:repeat-y;}
.box4 .box4bottom{width:100%;height:14px;background-image:url(/img/shop_space/xinyuan/bg18.png);background-position:left bottom;background-repeat:no-repeat;overflow:hidden;}

/** 文章列表页 **/
.conrightlist {width:555px;margin:0px auto;padding:0px;overflow:hidden;line-height: 32px;display: block;font-size:14px;color:#333;}
.conrightlist li {width:530px;padding-left:25px;background-image:url(/img/shop_space/xinyuan/sign10.jpg);background-position:left 10px;background-repeat:no-repeat;clear:both;overflow:hidden;margin:8px 0px;_margin:7px 0px;}
.conrightlist li.t {color: #fff;font-weight: bold;text-align: center;width:555px;background-image:none;background-color:#333;padding:0px;margin:0px;line-height:25px;}
.conrightlist .spanbox {width:420px;float:left;overflow:hidden;display:block;}
.conrightlist .spanbox2 {width:110px;display:block;float:left;overflow:hidden;text-align:center;}
.conrightlist .spanbox3 {width:110px;float:right;overflow:hidden;display:block;text-align:right;}
.conrightlist a {color: #333;}
.conrightlist a:hover {font-weight:bold;color:#3C3C3C;}




.reviews_right {width: 610px;display: block;padding: 0px;margin: 0px auto;overflow: hidden;}
.d_out, .d_over, .d_outa {
    border-top: 1px solid #E5E5E5;
    clear: both;
    overflow: hidden;
    padding: 16px 10px 10px;
    width: 640px;
}
.reviews_right #comments {margin-top:10px;width:100%;clear:both;overflow:hidden;}
#comment h4.comments_list {
    color: #505050;
    font-size: 14px;
}
#t_pl_picyure {
    float: left;
    line-height: 20px;
    width: 56px;
}
#t_pl_picyure img {
    border: 1px solid #C5C5C5;
    height: 50px;
    padding: 2px;
    width: 50px;
}
#t_pl_picyure h2 {
    color: #CC4D22;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    word-wrap: break-word;
}
#t_pl_picyure a {
    color: #FE972F;
}
#pl-content {
    color: #444;
    float: left;
    line-height: 22px;
    padding-left: 10px;
    width: 510px;
}
#pl-content span {
    color: #8B8888;
    float: right;
}
#group_fbpl {
    background-color: #F3F3F3;
    border: 1px solid #B5B8C8;
    margin: 15px auto 0;
    overflow: hidden;
    position: relative;
    width: 605px;
}
#group-user-name {
    background: url("/img/shop_space/group-user-name.jpg") repeat-x scroll left top transparent;
    border-bottom: 1px solid #FFFFFF;
    color: #666666;
    overflow: hidden;
    padding: 7px 15px;
}
#group-user-name span {
    color: #929292;
    display: block;
    float: left;
    width: 200px;
}
#group-user-name a {
    color: #666666;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    text-decoration: none;
}
#group-user-name a:hover {
    color: #FF9900;
}
.comment_post {
    margin: 0;
    padding: 10px;
}
.comment_post input.sub {
    border: 1px solid #C4C4C4;
    height: 24px;
    width: 50px;
}
.comment_post a {
    color: #000000;
}
.comment_post a:hover {
    color: #FF9900;
}
.floatleft {
    margin-bottom: 10px;
    width: 100%;
}
#pl_group {
    color: #333333;
    font-weight: bold;
    height: 24px;
    padding: 0;
}
#comment_nic_name {
    background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;
    border: 1px solid #B5B8C8;
    color: #000000;
    font-size: 14px;
    height: 20px;
}
#captcha {
    background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;
    border: 1px solid #B5B8C8;
    color: #000000;
    font-size: 14px;
}
#body_id {
    background: url("/img/shop_space/comment_body_bg.jpg") repeat-x scroll left top #FFFFFF;
    border: 1px solid #B5B8C8;
    color: #000000;
    font-size: 14px;
    height: 140px;
    width: 367px;
}
#pl_biaoqing {
    border: 1px solid #B5B8C8;
    height: 140px;
    margin-top: 33px;
    padding-left: 2px;
    position: absolute;
    right: 10px;
    top: 38px;
    width: 200px;
}
#pl_biaoqing h3 {
    font-size: 13px;
    margin: 0;
    padding: 10px 0;
}
#pl_biaoqing img {
    margin: 2px;
}
#pl_biaoqing {
    border: 1px solid #B5B8C8;
    height: 140px;
    margin-top: 33px;
    padding-left: 2px;
    position: absolute;
    right: 10px;
    top: 38px;
    width: 200px;
}