<div id="allImg">
  <div class="coupon">
    <input type="hidden" name="coupon[t]" value="2"/>
    <input type="hidden" value="t" name="flag" />
    <div class="adiv">
      <input size="30" name="coupon[img2]" type="file" class="inputImg" style="margin-left:37px">
    </div>
  </div>
  <ul class="formlist" style="margin-top: 0px;">

    <li>
      <input type="submit" value="下一步" class="btn"/>
    </li>
  </ul>
</div>