<ul class="formlist" style="margin-top: 0px;">
  <%= render :partial => 'ratio', :locals => {:f => f}  %>
  <li>
    <label>使用规则:</label>
    <%= f.select :rule, [['只能下载一次', 0],['只能一张未使用',1],['无限制', 2]], :class => "txt" %>
  </li>
  <li>
    <input type="submit" value="发 布" class="btn"/>
  </li>
</ul>