<div id="imgText">
  <div class="coupon">
    <input type="hidden" name="coupon[t]" value="1"/>
    <input type="button" class="btns" id="Btns" />
      <input size="12" name="coupon[img2]" type="file" class="none"  id="Files"/>
    <div class="rdiv" >
      <%= f.text_field :name, :value => @coupon.name || '点此输入名称', :class => 'txt', :maxlength=>"14" %>
      <%= f.text_area :desc, :value => @coupon.desc || '点此输入描述', :class => 'atxt'%>
    </div>
  </div>
  <%= render :partial => 'form1', :locals => {:f => f, :s => false}  %>
</div>
<script>
$(document).ready(function(){
	$("#Btns").click(function(){
		$("#Files").click();
	});
	$("#coupon_name").click(function(){
		if($(this).val()=="点此输入名称"){
			$(this).val("");
		}
	});
	$("#coupon_desc").click(function(){
		if($(this).val()=="点此输入描述"){
			$(this).val("");
		}
	});
});
LeftMenu(6);
</script>