<div id="imgText">
  <div class="coupon">
    <input type="hidden" name="coupon[t]" value="1"/>
    <div class ='ldiv'>
      <input size="12" name="coupon[img2]" type="file" class="inputImg"  >
    </div>
    <div class="rdiv" >
      <%= f.text_field :name, :value => '点此输入名称', :class => 'stxt txt' %>
      <%= f.text_area :desc, :value => '点此输入描述', :class => 'stxt atxt',:wrap => "off"%>
    </div>
  </div>
  <%= render :partial => 'form1', :locals => {:f => f}  %>
</div>