= render "sessions/page_header", item: @announcement
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    -unless @announcement.sd_url.eql? "/videos/original/missing.png"
      .announcement-cover.pull-right
        = render "shared/sublime_video", item_resource: @announcement, poster_url: @announcement.cover.url
    %p= @announcement.description.html_safe
    .clear-fix
