= render "sessions/page_header", content: @announcement
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    -unless @announcement.sd_url.eql? "/videos/original/missing.png"
      .announcement-cover
        %video.sublime{data:{autoresize: 'fit'}, poster: @announcement.cover.url, preload: 'none'}
          %source{src: @announcement.sd_url}
          %source{src: @announcement.hd_url, data:{quality: 'hd'}}
    %p= @announcement.description.html_safe
    .clear-fix
