- content_for(:title){ @video_interview.title }
= render "sessions/page_header", item: @video_interview, link_path: subscribe_path(@video_interview, type: @video_interview.class.name)
= render "welcome/box_content_modal"

.detail.shadow.margin-bottom.clearfix
  .video-cover
    -# todo: if video_interview.has_video?
    = render "shared/sublime_video", item_resource: @video_interview, poster_url: @video_interview.cover.url
  %article
    = @video_interview.description.try :html_safe
