= render "sessions/page_header", content: @video_interview, link_path: subscribe_video_interview_path(@video_interview)
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    -unless @video_interview.sd_url.eql?"/videos/original/missing.png"
      .announcement-cover
        %video.sublime#sublime-video{data:{autoresize: 'fit'}, poster: item.cover.url, preload: 'none'}
          %source{src: item.sd_url}
            %source{src: item.hd_url, data:{quality: 'hd'}}
    %p= @video_interview.description.html_safe
    .clear-fix

