= render "page_header", session: @session
.text-page-article-box.shadow
  .text-page-main-content
    -unless @session.cover.url.eql?"missing.png"
      .text-page-image
        = image_tag(@session.cover.url)
    %p= @session.description.html_safe
  .clear-fix
.range


