- content_for(:title) { @session.title }
= render "page_header", item: @session, link_path: subscribe_path(@session, type: @session.class.name)
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    -unless @session.cover.url.eql? "missing.png"
      .text-page-image
        = image_tag(@session.cover.url)
    %p= @session.description.html_safe if @session.description
    .clear-fix
