		<div class="con">
			<div class="box14">
				<div class="title1"><h2 class="f18 l">微信管理</h2></div>
				<div class="submenu w500">
					<ul>
						<li class="hover"><a>微信接口设置</a></li>
					</ul>
				</div>
				<div class="clear1"></div>
				<form method="post" action="">
					<div class="mt40 mb40 gray2"><a href="https://mp.weixin.qq.com/" class="gray2"><b>请登陆微信公众平台</b></a>，&nbsp;进入高级功能 -> 开发模式 -> 复制下列的Token和URL，填写到相应配置项中，进行验证。</div>
					<div class="pass3 w700">
						<table cellpadding="0" cellspacing="0" class="tab3">
							<tr>
								<td colspan="3">微信接口配置信息：</td>
								<td width="200" align="center"><a href="/mobile_weixin/check" class="red">未验证</a></td>
							</tr>
							<tr>
								<td width="67" align="right" valign="middle">URL</td>
								<td width="477" valign="middle"><input type="text" class="inputs8 w475" value=<%= "http://shop.dface.cn/weixin/index?sid=#{session_shop.id}" %> /></td>
								<td width="26">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td align="right" valign="middle">Token</td>
								<td valign="middle"><input type="text" class="inputs8 w130" value=<%= "#{@token}" %>></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</div>
					<div class="mt40 gray">
						微信接口配置帮助：<br/>
						
						1、登陆微信公众平台（https://mp.weixin.qq.com）;<br/>
						
						2、进入"高级功能"；<br/>
						
						3、先关闭“编辑模式”，再开启“开发模式”，然后进入开发模式；<br/>
						
						4、复制上列的Token和URL，填写到微信开发模式管理页面的相应配置项中，并提交；<br/>
						
						5、当提示"你已成为开发者"字样，表明配置已成功；<br/><br/><br/>
						<a id="OpenHelpBox" class="pointer blue">更详细的图文帮助-&gt;</a>
						<br/>
						<br/>
					</div>
					
					<div class="helpbox">
						1、登陆微信公众平台（<a target="_blank" class="blue" href="https://mp.weixin.qq.com">https://mp.weixin.qq.com</a>）
						<img width="780" height="392" border="0" alt="" src="images/help01.jpg"/>
					</div>
					
					<div class="helpbox">
						2、进入"高级功能"，先关闭“编辑模式”；
						<img width="780" height="534" border="0" alt="" src="images/help02.jpg">
						<img width="780" height="159" border="0" alt="" src="images/help03.jpg">
					</div>
					
					<div class="helpbox">
						3、再开启“开发模式”，然后进入开发模式；
						<img width="780" height="159" border="0" alt="" src="images/help04.jpg">
						<img width="780" height="534" border="0" alt="" src="images/help05.jpg">
					</div>
					
					<div class="helpbox">
						4、复制上列的Token和URL，填写到相应配置项中，并提交；
						<img width="780" height="374" border="0" alt="" src="images/help06.jpg">
					</div>
					
					<div class="helpbox">
						5、当提示"你已成为开发者"字样，表明配置已成功；
						<img width="780" height="220" border="0" alt="" src="images/help07.jpg">
						6、你就可以在企博网上管理与微信的互通信息了。
						<br><br>
						<a id="CloseHelpBox" class="blue pointer">收起</a>
					</div>
				</form>
			</div>
		</div>