<% content_for :ahead  do %>
  <link href="/stylesheets/form.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/My97DatePicker/WdatePicker.js"></script>
<% end %>
<div class="title2"><h2>编辑旅行团</h2></div>
<%= form_for @group, :url => "/shop_groups/update" do |f| %>
  <%= hidden_field_tag :id, @group.id %>
  <%= render :partial => "form", :locals => {:f => f}  %>
<% end %>

<script type="text/javascript">
  LeftMenu(27);
</script>
