<% content_for :ahead  do %>
  <link href="/stylesheets/form.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/My97DatePicker/WdatePicker.js"></script>
<% end %>
<div class="title2"><h2>新建旅行团</h2></div>
<%= form_for @group, :url => "/shop_groups/create" do |f|  %>
  <%= render :partial => "form", :locals => {:f => f}  %>
<% end %>


<script type="text/javascript">
  LeftMenu(27);
    $(document).ready(function(){
    $("#group_line_id").change(function(){
      line = $(this).find("option:selected").text()
      code = $("#group_code").val()
      if(code!='')
        $("#group_name").val(line+code)
    })

    $("#group_code").change(function(){
      line =   $("#group_line_id").find("option:selected").text()
      code =$(this).val()
      $("#group_name").val(line+code)
    })
  })
</script>
