



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, user-scalable=yes, target-densitydpi=device-dpi">
      <title><%= @group.name %>简介</title>
  </head>
  <body>
    <%=  image_tag("http://qr.liantu.com/api.php?text=http://dface.cn/shop_groups/intro?id=#{params[:id]}") %>
  </body>
</html>