/* CSS Document */
.picimgs {background-image: url(http://img1.1dooo.com/img/shop_space/ychh/pic.jpg);background-repeat: no-repeat;background-position: left top;margin: 0px;padding: 0px;
height: 140px;width: 275px;}
.picimgs ul {display: block;padding-top: 80px;padding-left: 70px;margin:0px;_padding:0px;
 _margin-left:70px;_margin-top:80px;}
.picimgs li{float:left;display:block;padding:0px 10px 0px 0px; zoom:1;overflow: hidden;
height:25px;}
.picimgs a{color:#CD0917;font-weight:bold;line-height:25px;font-size:13px;}
.picimgs a:hover{color:#FC7F1F;}

.contop{width:930px;margin:0px auto;padding:0px;overflow:hidden;}
.contopleft{float:left; width:275px;}
.contopmiddle{float:left;width:340px; margin:0px 20px;}
.contopright{float:right;width:244px;overflow:hidden;}
.conbottom{width:930px;margin:10px auto 0px auto;padding:0px;overflow:hidden;}

.box{width:100%;margin:0px;padding:15px 0px 0px 0px;overflow:hidden;color:#757575;clear:both;}
.box .imgs{float:left;padding:3px;border:1px solid #D8D3D7;width:115px;height:85px;}
.box .boxinner{float:right;width:185px;}
.box .boxinner h2{font-size:12px;color:#333;}
.box a{color:#c00000;}
.box a:hover{color:#c60d09;}
.box a.link{display:block;text-align:right;margin:0px;padding:0px;}
.box p{margin:5px 0px;padding:0px;text-indent:2em;line-height:20px;}

.contopmiddle ul{display:block;overflow:hidden;line-height:25px;clear:both;height:70px;}
.contopmiddle li{float:left;width:150px;display:block;background-image:url(http://img3.1dooo.com/img/shop_space/ychh/point.gif);background-position:left center;
background-repeat:no-repeat;padding-left:10px;height:25px;}
.contopmiddle ul a{color:#333;}

.product{paddding:0px;margin:0px;display:block;overflow:hidden;zoom:1;clear:both;}
.product li{float:left;width:167px;line-height:14px;margin-right:32px;margin-left:32px;padding-bottom:35px;overflow:hidden;*display:inline;}
.product a{cursor:pointer;}
.product a .pimg{width:165px;height:105px;border:1px solid #F3F3F3;margin:0px auto 10px auto;padding:0px;display:block;}
.product a .mes{color:#666;display:block;margin:0px auto;padding:0px;display:block;width:145px;height:29px;overflow:hidden;}
.product a .mes2{display:block;margin:0px auto;padding:0px;display:block;width:145px;overflow:hidden;color:#B21C1E;}
.product a:hover .pimg{border:1px solid #B11B1D;}
.product a:hover .mes{color:#B11B1D;}
*html .product a:hover{color:#B11B1D; }
*html .product a:hover img{border:1px solid #B11B1D;}


.dh{ width:930px; height:295px; margin:0px; padding:10px 0px; position:relative; overflow:hidden;}
.dh img{ width:930px; height:295px; position:absolute; top:10px; left:0px; }
.dh .prevbtn, .dh .nextbtn{display:none;}
.dh .dhnum{position:absolute;width:125px;bottom:30px;height:18px;right:20px;z-index:2;}
.def{background-image:url(http://img1.1dooo.com/img/shop_space/ychh/bg6.gif);background-repeat:no-repeat;background-position:center center;height:18px;width:18px;float:left;margin:0 7px 0 0;padding:0;text-align:center;display:block;color:#fff;line-height:18px;}
.selected{background-image:url(http://img2.1dooo.com/img/shop_space/ychh/bg7.gif)!important}

