/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px;}
a{ text-decoration:none;}
img{border:none;}
ul,li,center,h1{margin:0px;padding:0px;}
ul{list-style:none;}

.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.r{float:right;}
.r a{color:black;}
a.curr{color:#C60D09; padding:0; margin:0;}

.title{background-image:url(http://img3.1dooo.com/img/shop_space/ychh/bg8.gif);background-position:left center; background-repeat:no-repeat;color:#3C3C3C;overflow:hidden;padding-left:10px;zoom:1;}
.title h1{float:left;font-weight:normal;font-size:15px;line-height:15px;}

.title2{height:44px;line-height:44px;background-image:url(http://img2.1dooo.com/img/shop_space/ychh/titlebg.gif);background-position:2px top; background-repeat:no-repeat;width:100%;}
.title2 h2{float:left;font-weight:normal;color:#fff;font-size:14px;margin-left:20px;}

.title3{margin:0px;padding:0px;border-top:1px solid #F5F5F5;border-left:1px solid #F5F5F5; border-bottom:1px solid #D0D0D0; border-right:1px solid #D0D0D0;
background:url(http://img3.1dooo.com/img/shop_space/ychh/bg8.gif);background-position:10px center;background-repeat:no-repeat;font-size:12px;overflow:hidden;height:35px;padding-left:30px;
line-height:34px;}
.title3 h1{color:#B91619;font-size:12px;float:left;}
.title3 h2{color:#B91619;font-size:12px;float:left;padding: 0; margin: 0;}

.title4{background-image:url(http://img3.1dooo.com/img/shop_space/ychh/bg8.gif);background-position:left center; background-repeat:no-repeat;line-height:34px;
color:#3C3C3C;overflow:hidden;padding-left:10px;zoom:1;border-bottom:1px solid #D0D0D0;}
.title4 h1{float:left;font-weight:normal;font-size:15px;}
.title4 h2{margin:0px;padding:0px;font-size:13px;}

.red{color:#C60D09;}
.red2{color:#B21C1E;}

.pt10{padding-top:10px;}
.pt15{padding-top:15px !important;}
.plr10{padding-left:10px !important;padding-right:10px !important;}
.m0{margin:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px !important;}
.mr10{margin-right:10px;}


#MB{margin:0px;padding:0x;overflow:hidden;width:100%;background-image:url(http://img2.1dooo.com/img/shop_space/ychh/bg.jpg);background-position:left top; background-repeat:repeat-x;}
#Header{width:970px;padding:0px;margin:0px auto;overflow:hidden;position:relative;}
#Header .welcome{float:left;line-height:30px;}
#SubNav{line-height:30px;color:#666;display:block;overflow:hidden;float:right;}
#SubNav li{float:left;display:block;}
#SubNav a{color:#666;}
#SubNav a:hover{color:#c60d09;}
.banner{width:100%;clear:both;margin-top:4px;}
#Logo{position:absolute;left:20px;top:30px;}
.menu{width:100%;overflow:hidden;clear:both;background-image:url(http://img1.1dooo.com/img/shop_space/ychh/bg3.jpg);background-position:left top; background-repeat:repeat-x;}
.menu ul{font-size:14px;width:1036px;overflow:hidden;display:block;margin:0px auto;}
.menu li{float:left;line-height:38px;height:38px;padding:0px 35px;background-image:url(http://img3.1dooo.com/img/shop_space/ychh/bg5.gif);background-position:right top; background-repeat:no-repeat;}
.menu a{width:78px;text-align:center;color:#fff;margin:0px;padding:0px;display:block;}
.menu a:hover , .menu .hover{font-weight:bold;color:#CC0000;background-image:url(http://img2.1dooo.com/img/shop_space/ychh/bg4.gif);background-position:center center; background-repeat:no-repeat;}

#Con{width:970px;margin:0px auto;padding:0px 0px 10px 0px;background-image:url(http://img3.1dooo.com/img/shop_space/ychh/bg2.jpg);background-position:left top; background-repeat:repeat-y;overflow:hidden;}
.conleft{float:left;width:220px;margin:30px 0px 0px 20px;padding:0px;overflow:hidden;zoom:1;_display:inline;}
.conright{float:left;width:690px;margin:20px 0px 0px 15px;padding:0px;overflow:hidden;zoom:1;}

.pages {clear: both;padding: 0px;margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;overflow: hidden;}
.pages .pagination{overflow:hidden;float:right;}
.pages .pagination .prev_page, .pages .pagination a.prev_page{background-image: url(http://img1.1dooo.com/img/shop_space/ychh/arrow3.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;
width: 10px;float:left;text-indent:-9999em;margin-right:10px;border:none;margin-top:5px;cursor:pointer;	}
.pages .pagination .current, .pages  .pagination a{float:left;display:block;padding:0px;margin:0px;width:20px;text-align:center;height:20px;line-height:20px;margin-right:10px;color:#ABB1BD;}
.pages .pagination .current, .pages  .pagination a:hover{color:#44180F;border:1px solid #CC0001;font-weight:bold;float:left;width:18px;}
.pages .pagination .next_page, .pages  .pagination a.next_page{background-image: url(http://img2.1dooo.com/img/shop_space/ychh/arrow4.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;width: 10px;float:left;text-indent:-9999em;border:none;margin-top:5px;cursor:pointer;}


#Footer{width:100%;background:#9A0C02;padding:20px;overflow:hidden;margin:0px;zoom:1;}
#Footer .footerinner{margin:0px auto 0px auto;width:950px;color:#fff;line-height:25px;}
#Footer a{color:#fff;}
#Footer a:hover{text-decoration:underline;}

