<div class="title2"><h2>问答系统</h2></div>

<div class="box2">
	<h2 class="tit">企业标题名称</h2>
	<div class="headers1">
		<div>04</div>
	</div>
	<div class="headers2">
		<image src="../images/bg6.jpg" class="imgs"/>
		<div><image src="../images/pic10.jpg" class="imgs2"/></div>
	</div>
	<div class="headers3">
		<image src="../images/bg6.jpg" class="imgs"/>
		<div>本店的WIFI密码：321123</div>
	</div>
	<div class="submit01"></div>
</div>
<div class="plane3 pl100 pt20">
	<a href="#" class="l ">重新编辑</a><span class="l plr20">|</span><a href="#" class="btn6 pl0 mt0">返回列表</a>
</div>
<script>
	LeftMenu("15");
</script>