<div class="title2"><h2>脸脸首页</h2>欢迎进入脸脸商家后台</div>
<div class="notice" id="Notice"><%= notice %></div>

<div class="box bg1">
	<h2 class="tit">签到类优惠券&gt&gt</h2>
	<div class="boxinner">简单设置小小优惠，增加用户流量。例如：脸脸用户到店签到并消费，即刻获赠一罐可口可乐！</div>
	<a href="/shop_coupons/new" class="btn3 mt30 r mr15 mb20">发布优惠券</a>
</div>

<div class="box bg3 mr5 r">
	<h2 class="tit">分享类优惠券&gt&gt</h2>
	<div class="boxinner">简单设置小小优惠，增加用户流量。例如：脸脸用户到店签到并消费，即刻获赠一罐可口可乐！</div>
	<a href="/shop_share_coupons/new" class="btn3 mt30 r mr15 mb20">发布优惠券</a>
</div>

<!-- <div class="box bg2 mr5 r">
	<%= render :partial => "piecharts" %>
</div> -->

<div class="box bg2">
	<h2 class="tit">机器人问答设置&gt&gt</h2>
	<div class="boxinner">设置常见问题,降低沟通成本，提升服务效率。例如：回复1 即可查看本店最新菜单！</div>
	<a href="/shop_faqs/new" class="btn3 mt30 r mr15 mb20">添加常见问题</a>
</div>

<!-- <div class="chart"><%= render :partial => "linecharts" %></div> -->

<script>
	LeftMenu(0)
</script>