/* CSS Document */
.contop{width:975px;height:222px;margin:0px auto;padding:0px;overflow:hidden;}
.conbottom{width:935px;overflow:hidden;margin:0px auto;padding:0px;clear:both;zoom:1;}
.cbleft{width:205px;float:left;overflow:hidden;margin:0px;padding:0px;}
.cbright{width:718px;float:right;overflow:hidden;margin:0px;padding:0px;}

.box1{overflow:hidden;margin:0px;padding:0px;border:1px solid #E4E4E4;font-size:14px;zoom:1;}
.box1 .contact{padding:11px;margin:0px;clear:both;line-height:22px;font-size:12px;}
.box1 .con{width:238px;float:left;margin:12px 0px 0px 0px;padding:0px;overflow:hidden;background-image:url(/img/shop_space/gwtt/line1.gif);
background-repeat:repeat-y;background-position:right top;font-size:12px;}
.box1 .con ul{display:block;overflow:hidden;zoom:1;margin:0px 22px;}
.box1 .con li{display:block;overflow:hidden;padding-top:12px;padding-bottom:20px;}
.box1 .con a .pic{width:184px;position:relative;margin:0px;padding:0px 0px 10px 0px;background-image:url(/img/shop_space/gwtt/line2.gif);
background-repeat:repeat-x;background-position:left bottom;}
.box1 .con a .pic img{padding:1px;border:1px solid #ddd;width:180px;height:75px;}
.box1 .con a .word{width:184px;margin:10px 0px 0px 0px;padding:0px;line-height:16px;}
.box1 .con a .word .bold{font-weight:bold;color:#000;}
.box1 .con a .word .gray2{color:#666;}
.box1 .con a:hover .pic img{border:1px solid #f90;}
.box1 .con a:hover .word .bold{color:#f80 !important;}
.box1 .con a:hover .word .gray2{color:#f90 !important;}
.box1 .con a:hover .link2{color:#f90 !important;}
.box1 .con a:hover{cursor:pointer;}
.box1 .con .pic .sign1{width:38px;height:26px;display:block;margin:0px;padding:0px;background-image:url(/img/shop_space/gwtt/sign1.png);background-repeat:no-repeat;background-position:left top; position:absolute;left:148px;top:-10px;}
.box1 .con .pic .sign2{width:38px;height:26px;display:block;margin:0px;padding:0px;background-image:url(/img/shop_space/gwtt/sign2.png);background-repeat:no-repeat;background-position:left top; position:absolute;left:148px;top:-10px;}
.box1 .con .pic .sign3{width:38px;height:26px;display:block;margin:0px;padding:0px;background-image:url(/img/shop_space/gwtt/sign3.png);background-repeat:no-repeat;background-position:-2px top; position:absolute;left:148px;top:-10px;}
.box1 .imgs{width:665px;height:90px;margin:15px auto; display:block;}
