/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px;background-image:url(/img/shop_space/gwtt/bg1.jpg); background-position:left top; background-repeat:repeat-x;}
ul,li,h1,h2,h3{padding:0px;margin:0px;}
ul{list-style:none;}
img{border:none;}
a{text-decoration:none;}

.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.clear1{ clear:both; overflow:hidden; width:100%; height:0px; zoom:1; }

.red{color:#F00;}
.orange{color:#F8611A;}
.gray{color:#333;}
.gray2{color:#666;}
.del{ text-decoration:line-through;}
.nonebg{background-image:none !important;}
.c{text-align:center;}
.r{float:right;}
.bold{font-weight:bold;}
.block{display:block;}
.w300{width:300px!important;}
.w616{width:616px;margin:10px auto 0px auto;padding:0px;}
.lh33{line-height: 33px;}

.link1{width:87px;height:24px;display:block;margin:0px;padding:0px;background-image:url(/img/shop_space/gwtt/button.gif); background-position:left top; background-repeat:no-repeat;text-indent:-99999em;}
.link2{width:132px;height:25px;display:block;margin:0px;padding:0px 0px 0px 50px;background-image:url(/img/shop_space/gwtt/button2.jpg); background-position:left top; background-repeat:no-repeat;line-height:25px;color:#000;}
.link2:hover{color:#f90;}

.pt0{padding-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mlr_auto{margin-left:auto !important;margin-right:auto !important;}
.mtb10{margin-top:10px !important;margin-bottom:10px !important;}
.mb10{margin-bottom:10px !important;}

.bg1{background-image:url(/img/shop_space/gwtt/pic15.jpg) !important;}
.bg2{background-image:url(/img/shop_space/gwtt/pic16.jpg) !important;}
.bg3{background-image:url(/img/shop_space/gwtt/pic17.jpg) !important;}

.title1{color:#4D4948;font-family:"微软雅黑";line-height:33px;margin:0px;padding:0px 0px 0px 12px;background-image:url(/img/shop_space/gwtt/bg4.jpg); background-position:left top; background-repeat:repeat-x;border-bottom:1px solid #E4E4E4;overflow:hidden;zoom:1;}
.title1 h2{float:left; font-size:14px;}
.title1 .newsign1{margin-left:5px;margin-top:10px;}

.title2{margin:0px;padding:0px;overflow:hidden;}
.title2 a{float:right;color:#333;}
.title2 a:hover{color:#e00;}
.title2 h2{float:left;font-size:12px;color:#333;display:none;}
.title2 h2 a{float:none;}


#MB{width:1400px;margin:0px auto;padding:0px;overflow:hidden;background-image:url(/img/shop_space/gwtt/bg2.jpg); background-position:center top; background-repeat:no-repeat;}
.mbinner{width:100%;position:relative;margin:0px;padding:0px;}
#Header{width:1005px;overflow:hidden;padding:65px 0px 0px 0px;margin:0px auto;height:125px;}
#SubNav{float:right;color:#66391B;_display:inline;font-size:12px;font-family: "微软雅黑";width:250px;overflow: hidden;}
#SubNav li{float:left;display:block;line-height:15px;text-align:right;}
#SubNav a{color:#66391B;padding:0px 5px;display:block;overflow:hidden;}
#SubNav a:hover{}
#Logo{}

.menu{width:1125px;height:108px;font-size:14px;line-height:30px;background-image:url(/img/shop_space/gwtt/menubg1.png); background-position:left 4px; background-repeat:no-repeat;padding:0px;
margin:0px auto;overflow:hidden;color:#EDEAD7;text-shadow: #333 1px 1px 0px;position:relative;}
.menu .menusign{position:absolute;right: 115px;top: 28px;}
.menu ul{margin-left:120px;margin-top:32px;text-align:center;}
.menu li{float:left;overflow:hidden;display:block;width:80px;margin:0px 55px 0px 0px;}
.menu a{color:#EDEAD7;display:block;padding:0px;margin:0px;width:80px;text-shadow: #333 1px 1px 0px;_padding-top:2px;}
.menu a:hover, .menu li.hover a{background-image:url(/img/shop_space/gwtt/menubg2.jpg); background-position:center center; background-repeat:no-repeat;_padding-top:2px;}
.menu .org{width:190px;_padding-top:2px;}
.menu  a.menulink{background-image:url(/img/shop_space/gwtt/pic20.png) !important;background-position:left top; background-repeat:no-repeat;width:155px;height:21px;float:right;display:block;
margin:0px 100px 0px 0px;padding:0px;_display:inline;}
.menu  a.menulink:hover{padding:0px;margin:0px 100px 0px 0px;}

#Con{width:1034px;overflow:hidden;padding:0px;margin:0px auto;}

#DH{margin: 0px auto; padding: 0px; height: 198px; width: 934px;position: relative;}
#DHinner {margin: 0px; padding: 0px; height: 198px; width: 934px;overflow: hidden;}
.nivoSlider {position: relative; height:198px; width:934px;padding:0px;margin:0px;}
.nivoSlider img{ width: 934px; height: 198px; position: absolute; top: 0px; left: 0px; display:block; }
.nivoSlider a.nivo-imageLink{ z-index: 60; position: absolute; padding: 0px; margin: 0px; width: 100%; display: none; height: 100%; top: 0px; left: 0px; }
.nivo-slice{ z-index: 50; position: absolute; display: block; height: 100%;overflow:hidden;zoom:1; }
.nivo-caption{ z-index: 89; position: absolute; width: 100%; bottom: 0px; background: #000; COLOR: #fff; left: 0px; opacity: 0.8; display:none; }
.nivo-caption p{ padding-bottom: 20px; margin: 0px; padding-left: 20px; padding-right: 20px; font-size: 22px; padding-top: 20px; }
.nivo-directionNav a{ z-index: 99; position: absolute; top: 35%; cursor: pointer; }
.nivo-prevNav{background-image:url(/img/shop_space/gwtt/arrow1.png);background-repeat:no-repeat;background-position:left top;height:29px;width:32px;
text-indent:-999999px;;margin:0px;padding:0px; position:absolute; z-index:10; top:81px; left:-20px;cursor:pointer;}
.nivo-nextNav{background-image:url(/img/shop_space/gwtt/arrow2.png);background-repeat:no-repeat;background-position:right top;
height:29px;width:32px;text-indent:-999999px;margin:0px; padding:0px; position:absolute; z-index:10; top:81px; right:-15px;cursor:pointer;}
.nivo-controlNav{position:absolute;width:150px;height:20px;bottom:10px;right:10px;z-index:100;}
.nivo-controlNav .nivo-control{background-color:#0489D2;font-weight:bold;width:18px;height:14px;line-height:14px;margin-right:8px;border:1px solid #fff;
display:block;color:#fff;float:left;_display:inline;text-align:center;cursor:pointer;}
.nivo-controlNav .active{background-color:#DBD2B8;color:#666;}

.pages {clear: both;padding: 0px;margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;overflow: hidden;font-size:14px;}
.pages .pagination{overflow:hidden;text-align:center;}
.pages .pagination .prev_page, .pagination a.prev_page{background-image: url(/img/shop_space/gwtt/arrow3.gif);background-repeat: no-repeat;
background-position: left bottom;padding-left:23px;margin-right:5px;cursor:pointer;font-size:0px;padding-top:11px;overflow:hidden;zoom:1;color:#fff;}
.pages .pagination .current, .pagination a{padding:0px;margin:0px 10px 0px 0px;color:#717171;}
.pages .pagination .current, .pagination a:hover{color:#000;font-weight:bold;font-size:16px;}
.pages .pagination .next_page, .pagination a.next_page{background-image: url(/img/shop_space/gwtt/arrow4.gif);background-repeat: no-repeat;
background-position: left bottom;cursor:pointer;padding-left:23px;margin-left:5px;font-size:0px;padding-top:11px;overflow:hidden;zoom:1;color:#fff;}

.pages2{margin:10px 0px 0px 0px;padding:0px;overflow:hidden;clear:both;}
.pages2 a{background-image:url(/img/shop_space/gwtt/bg8.gif);background-repeat:no-repeat;background-position:left top;height:33px;width:78px;
color:#666;display:block;float:right;text-align: center;line-height:25px;}
.pages2 a:hover{color:#000;}

#Footer{width:1056px;height:102px;margin:6px auto 0px auto;padding:0px;background-image:url(/img/shop_space/gwtt/bg3.png);
background-position:0px 0px; background-repeat:no-repeat;clear:both;line-height:18px;color:#545454;}
#Footer .footerinner{text-align:center;}
#Footer a{color:#545454;}
#Footer a:hover{color:#f90;}