body,div,p,h1,h2,h3,h4,h5,h6,em,span,a,td,form,input,select,textarea,ul,li {list-style: none; line-height: 1.5em; font-style: normal; margin: 0; padding: 0;font-weight:normal;text-align:left; }	
input, select, textarea {vertical-align: middle;}
input {font-size: medium;}
img {vertical-align: middle;text-align: left;}
.btn {padding: 0 5px;background: #F3F3F3;border: 1px #6E6E6E solid;border-radius: 3px;}
a {color: #0081c8;text-decoration: none;}
a img {border: 0px}
#logo {vertical-align: -22%; margin:5px 0;width:186px;height:21px; border: 0px;}
.red {color: red}
.gray{color:gray}
.w-t-b {border-bottom: 1px #CCC solid;padding: 5px 0;}
.w-mod {padding: 0 5px;}	
.item{padding: 5px 0 0 0}
.w-sec {margin-top: 3px;}	
.w-list {padding: 5px}	
.w-menu {border-bottom: 1px solid #E3E3E3;background: #0081c8;}
.w-menu, .w-menu a {color: white;}
.w-ft, .head {text-align: center;}
.tit {background-color: #eee;border-top: 1px #ccc solid}
.f-tit {background-color:#F1F1F1}
