
%div{class: "favorite",id: dom_id(item)}
  = link_to image_tag(favorite_star item), favorite_path(item.class.table_name, item.id), title: favorite_tooltip(item), class: "tooltips", data: {placement: "bottom"}, remote: true
