- comments = commentable.comments.visible

.comments.margin-bottom
  %h4 
    = comment_counting(comments)
  = render partial: "comments/comment", collection: comments, as: :comment
  = render partial: "comments/form", locals: {parent: commentable}

:javascript
  bind_sign_in_modal($(".comment-btn"));
  check_empty_comment();

