/* CSS Document */
#conbottom {background-image: url(/img/tuangou/pal3.jpg);background-repeat: no-repeat;background-position: 0px top;margin: 0px;padding: 0px;height: 47px;clear: both;overflow: hidden;}
.ligray {
	background-color: #ebebeb;
	margin-bottom: 10px;
}
#con .conleft {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 669px;
	background-image: url(/img/tuangou/pal.jpg);
	background-repeat: no-repeat;
	background-position: 0px top;
}
.conpal {
	position: relative;
	padding-top: 22px;
	overflow:hidden;
	zoom:1;
	padding-bottom: 10px;
	padding-right: 18px;
	padding-left: 58px;
}
.orangeline {
	padding: 0px;
	width: 565px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
	height: 2px;
	clear: both;
	overflow: hidden;
	background-color: #ffae00;
	zoom:1;
}
.grayline{
	border-top:1px solid #c7c2b6;
	height:1px;
	line-height:1px;
	width: 250px;
	margin: 0px auto;
}
.conpal h3 {
	color: #000;
	font-size: 24px;
	font-family: '微软雅黑','黑体',Hei,'宋体';
	text-shadow:1px 1px 1px #DDDDDD;
	line-height: 32px;
	margin-left:10px;
	margin-right:10px;
}
.conpal h3 a{
	color: #000;
}
.conpal h3 a:hover{ color:#f40; }
.conpal  h2 {
	font-size: 24px;
	font-family: "黑体", "新宋体";
	color: #2a2a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}
.conpal .conimg {
	position: absolute;
	left: 3px;
	top: 40px;
	visibility: visible;
	z-index: 20;
	overflow: visible;
	display:block;
}
.conpal .conpalleft {
	margin: 0px;
	float: left;
	background-image: url(/img/tuangou/picimg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 372px;
	text-align: center;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.conpal .colword {
	font-size: 30px;
	color: #fc0101;
}
.conpal .imgsize {
	height: 210px;
	width: 336px;
}
.conpal .conbtn {
	font-size: 18px;
	line-height: 52px;
	font-weight: bold;
	color: #979696;
	background-image: url(/img/tuangou/button.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	height: 52px;
	width: 352px;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: auto;
}
.conpal .conpalright {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	overflow:hidden;
	zoom:1;
	width: 190px;
}
.conpal .conpic {
	display: block;
	overflow: hidden;
}
.conpal .conpic li {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	float: left;
	display: block;
	width: 62px;
	overflow: hidden;
	text-align: center;
	line-height: 25px;
	zoom:1;
}
.liml{
	text-align:left !important;
	width:54px !important;
	padding-left:10px;
}
.limr{
	text-align:right !important;
	width:54px !important;
	padding-right:10px ;
}
.conpal .conbuy {
	background-image: url(/img/tuangou/button2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 52px;
	width: 191px;
	display: block;
	text-indent: -999999em;
}
#con .conright {
	background-image: url(/img/tuangou/pal.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	width: 291px;
	float: left;
	color: #3d3d3c;
	font-size: 14px;
	line-height: 25px;
}
.conright .conrightimg {
	margin-top: 55px;
	padding-left: 40px;
}
.conright .conrightpal {
	padding-left: 40px;
	background-image: url(/img/tuangou/pal3.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 30px;
}
.conright .conrightpal ul {
	text-align: left;
	margin-left: 10px;
}
.conright .conrightpal li {
	background-image: url(/img/tuangou/sign201104061.jpg);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 15px;
}
.conright .conrightpal2 , .conright .conrightpal3 , .conright .conrightpal4 {
	padding-left: 40px;
	margin-top: 20px;
	margin-bottom:20px;
}
.conright .conrightpal3{
	background-image: url(/img/tuangou/sign201104062.jpg);
	background-repeat: no-repeat;
	background-position: 23px top;
	padding-left:60px;
	margin-left:20px;
}
.conright .conrightpal4{
	background-image: url(/img/tuangou/sign201104063.jpg);
	background-repeat: no-repeat;
	background-position: 23px top;
	padding-left:60px;
	margin-left:20px;
}

