/* CSS Document */
body{ position:relative; }
.ml20{ margin-left:20px; }
.none {display:none;}
.title,.title2 {
	line-height: 30px;
	background-image: url(http://img2.1dooo.com/img/tuangou/bg201104074.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	font-weight: bold;
	color: #fd7b04;
	width: 220px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: left;
}
.title2{
	color:#343434;
}
.newtitle{overflow:hidden;clear:both;width:100%;}
.newtitle h1{float:left;}
.newtitle .r{float:right;}
#con1 {width:960px;margin:10px auto 0px auto;padding:0px;overflow:hidden;}
#con1left {
	width:710px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	float: left;
}
.pal {
	background-image: url(http://img2.1dooo.com/img/tuangou/bg201104071.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.pal .ads{margin-left:5px;}
.palinner {
	background-image: url(http://img3.1dooo.com/img/tuangou/bg201104072.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin: 0px;
	overflow: hidden;
	zoom:1;
}
.palinner h1 {
	line-height: 35px;
	font-size: 29px;
	font-family: '微软雅黑','黑体',Hei,'宋体';
	text-shadow:4px 4px 4px #DDDDDD;
	margin:0px 10px;
	display: block;
}
.palinner .imgs {
	float:left;
}
.pal2 {
	text-align: center;
	float: left;
	border: 1px solid #e3e3e3;
	background-color: #fbfbfb;
	width: 187px;
	padding-top: 59px;
	padding-right: 11px;
	padding-bottom: 9px;
	padding-left: 14px;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	overflow:hidden;
	zoom:1;
	position:relative;
}
.pal2 h2 {
	font-size: 24px;
	position:absolute;
	overflow:hidden;
	top:19px;
	left:0px;
	right:0px;
	width:214px;
	_width: 218px;
}
.pal2 h3 {
	font-size: 24px;
}
.pri {
	display: block;
	overflow: hidden;
	zoom:1;
	margin:15px 0;
}
.pri li {
	float: left;
}
.pri .prileft{
	width:100px;
}
.pri .priright{
	width:87px;
}
.pal2 .pal2_in {
	background-image: url(http://img3.1dooo.com/img/tuangou/sign201104072.jpg);
	background-repeat: no-repeat;
	background-position: 35px top;
	padding-left: 80px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
	line-height: 42px;
	margin:15px 0px;
	text-align:left;
}
.pal2 .pal2_in2 {
	text-align: center;
	font-size: 12px;
	color: #fa7c03;
	line-height: 42px;
	margin:15px 0px;
}
.pal2 .pal2_in3 {
	background-image: url(http://img2.1dooo.com/img/tuangou/sign201104131.jpg);
	background-repeat: no-repeat;
	background-position: 35px top;
	padding-left: 80px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
	line-height: 42px;
	margin:15px 0px;
	text-align:left;
}
.pal2 .pal2word {
	font-size: 12px;
	text-align: left;
	display: block;
	margin: 0px;
	padding: 0px;
}
.pal3 {
	float: right;
	width: 465px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.pal3 .ad {
	background-image: url(http://img1.1dooo.com/img/tuangou/bg201104073.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	width: 454px;
	_width: 450px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 14px;
	overflow:hidden;
}
.pal3 .ad img{
	margin-left:10px;
}
.pal3 .say {
	background-image: url(http://img1.1dooo.com/img/tuangou/bg2011040710.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 355px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 40px;
	font-size: 14px;
	color: #666;
	height:80px;
	min-height:80px;
}
#coninfo {
	background-image: url(http://img2.1dooo.com/img/tuangou/bg201104077.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
	width: 710px;
	overflow: hidden;
	zoom:1;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#coninfo .pal4top {
	background-image: url(http://img1.1dooo.com/img/tuangou/bg201104076.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 10px;
	width: 100%;
}
#coninfo .pal4middle {
	background-image: url(http://img3.1dooo.com/img/tuangou/bg201104078.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 18px;
	padding-bottom: 0px;
	padding-left: 18px;
	overflow: hidden;
	zoom:1;
}
#coninfo h1 {
	font-size: 14px;
}
#coninfo .newtitle h2 {
	font-size: 14px;
        display: inline;
        padding: 0px;
        margin: 0px;
}

#coninfo .pal4info2 {
	width: 198px;
	margin: 0px;
	padding: 0px;
	float: right;
	border: 1px solid #c3c3c3;
	position:relative;
}
#coninfo .pal4info2 a #sign_layer{
	display:none;
}
#coninfo .pal4info2 a:hover #sign_layer{
	width:198px;
	height:200px;
	position:absolute;
	background-image:url(http://img2.1dooo.com/img/tuangou/map.png);
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
	top:0px;
	left:0px;
	visibility:visible;
	opacity:0.8;
	filter: Alpha(Opacity=80);
	cursor:pointer;
	display:block;
	
}
.pal4info2 a:hover{
	text-decoration:none;
}
#coninfo .pal4info2 .lookmap {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c3c3c3;
	border-bottom-color: #c3c3c3;
	background-image: url(http://img1.1dooo.com/img/tuangou/bg201104079.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	line-height: 30px;
	text-align: center;
}
#coninfo .pal4info2 .lookmap a {
	color: #333;
}
#coninfo .pal4info2 .lookmap a:hover {
	text-decoration: underline;
}
#coninfo .pal4info2 .pal4info2_pal {
	padding-top: 18px;
	padding-right: 10px;
	padding-bottom: 18px;
	padding-left: 10px;
	color: #333;
}
#coninfo .pal4info {
	padding: 0px;
	float: left;
	width: 450px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow:hidden;
	font-size:14px;
}
#coninfo .pal4info p{
margin: 5px 0px;
}
#con1right {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 230px;
	overflow: hidden;
}
#con1right a{ text-decoration:none; }
.pal4 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.pal4 ul {
	background-image: url(http://img3.1dooo.com/img/tuangou/bg201104075.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 230px;
	padding-bottom: 15px;
	display: block;
}
.pal4 li {
	margin: 0px;
	clear: both;
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d6c9bd;
	background-image: url(http://img3.1dooo.com/img/tuangou/bg201104075.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.pal4 .spanpal {
	background-image: url(http://img2.1dooo.com/img/tuangou/sign201104074.jpg);
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 10px;
	display: block;
}
.pal4 .imgs {
	padding: 0px;
	height: 115px;
	width: 200px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.pal4 .imgs2 {
	float: right;
}
.pal4 .pal4_in {
	margin: 0px;
	padding: 0px;
	width: 100%;
	clear: both;
	overflow: hidden;
	color: #333;
}
.pal4 .pal4_in .pal4_inleft {
	margin: 0px;
	padding: 0px;
	float: left;
}
.noneborder {
	border: none !important;
}
.pal5, .pal6 {
	background-image: url(http://img3.1dooo.com/img/tuangou/bg201104075.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: left;
	margin-bottom: 10px;
	width: 100%;
}
.pal5{
	text-align: center;	
}
.pal5 .pal5_in {
	padding: 10px;
	line-height: 25px;
	color: #3d3d3c;
}
.pal5_ul {
	display: block;
	text-align: left;
}
.pal5_ul li{
	display: block;
	padding-left:30px;
	margin-bottom:5px;
	background-color:#f4f4f4;
}
.pal5_ul .kaixin {
	background-image: url(http://img2.1dooo.com/img/tuangou/kaixin1.jpg);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}
.pal5_ul .douban {
	background-image: url(http://img2.1dooo.com/img/tuangou/douban1.jpg);
	background-repeat: no-repeat;
	background-position: 8px 4px;
}
.pal5_ul .tencent {
	background-image: url(http://img2.1dooo.com/img/tuangou/tencent1.jpg);
	background-repeat: no-repeat;
	background-position: 8px 4px;
}
.pal5_ul a{
	color:#676767;
}
.pal5_ul a:hover ,.pal5_ul span.hover{
	color:#fd7b00;
}
.pal5 .pal5_in p {
	text-align: left;
	display: block;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}
.pal6 .pal6_in, .pal6 .pal6_in2{
	line-height: 20px;
	color: #3d3d3c;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	background-image: url(http://img3.1dooo.com/img/tuangou/sign201104062.jpg);
	background-repeat: no-repeat;
	background-position: 20px 16px;
}
.pal6 .pal6_in2{
	background-image: url(http://img1.1dooo.com/img/tuangou/sign201104063.jpg);
	line-height: 22px;
}
#time {
	background-image: url(http://img3.1dooo.com/img/tuangou/time.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	height: 38px;
	width: 193px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
}
#day1, #hour1, #hour2, #min1, #min2, #sec1, #sec2{
	margin: 0px;
	padding: 0px;
	display: block;
	font-size: 26px;
	float:left;
	font-weight:bold;
	color: #292929;
	line-height:1.4;
	overflow:hidden;
	zoom:1;
}
#day1 {
	width: 20px;
	text-align: center;
	color: #FFFFFF;
	overflow:hidden;
	zoom:1;
}
#hour1 {
	width: 15px;
	float: left;
	margin-left: 37px;
	_margin-left: 28px;
	overflow:hidden;
	zoom:1;
}
#hour2 {
	width: 15px;
	margin-left: 4px;
	overflow:hidden;
	zoom:1;
}
#min1 {
	margin-left: 15px;
	overflow:hidden;
	zoom:1;
}
#min2 {
	width: 15px;
	margin-left: 7px;
	overflow:hidden;
	zoom:1;
}
#sec1 {
	width: 15px;
	margin-left: 15px;
	overflow:hidden;
	zoom:1;
}
#sec2 {
	margin-left: 5px;
}

.black_bg{ position:absolute;background-color:#000000; opacity:0.5; filter:Alpha(Opacity:50); width:100%; height:100%; z-index:3;}
#blackbg{ display:none;}
#bigmap{
	z-index: 4;
	position: absolute;
	width: 750px;
	display: none;
	top: 729px;
	left: 254px;
	background-image: url(http://img2.1dooo.com/img/tuangou/titlebg201104151.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#bigmap h1 {
	font-size: 14px;
	color: #333;
}
#bigmap h2 {
	font-size: 12px;
	color: #333333;
	overflow:hidden;
	zoom:1;
}

#bigmap h1 span {
	float: left;
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	overflow:hidden;
	zoom:1;
}
#bigmap .imgright {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	overflow:hidden;
	zoom:1;
}
#bigmap_div {
	padding: 0px;
	width: 730px;
	height:400px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	zoom:1;
}
#bigmapinner {
	background-color: #fff;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
	zoom:1;
	border-top:1px solid #999;
	position: relative;
}
#bigmapinner .tab {
	line-height: 22px;
	margin-left: 10px;
	margin-right: 10px;
	width: 730px;
}

.bigmapbottom {
	background-image: url(http://img3.1dooo.com/img/tuangou/titlebg201104152.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height:35px;
}

.imglinkbg{	
	color: #333;
	padding:0px;
	margin:0px;
	display:block;
	text-align: center;
	background-image: url(http://img1.1dooo.com/img/tuangou/sign201104073.jpg);
	background-repeat: no-repeat;
	background-position: 40px center;
}
