/* CSS Document */
.mar10{ margin-right:10px;}
.clear{ line-height:normal;}

.left_pan{width:740px;float:left; display:inline-block; overflow:hidden; zoom:1;}
.right_pan{ float:right;height:700px;width:219px; }

.shadow{margin-bottom:10px;background-color:#fff;}
.shadow h1 { font-size: 14px;font-weight: bold;color: #333333;padding: 10px 0 0 15px; }


.gray_border .hot { padding-left:15px;padding-top:14px; }
.gray_border{border-bottom-width: 3px;border-bottom-style: solid;border-bottom-color: #c5e200;padding:7px 0 6px;
height:100px; }

.float_l{ float:left}

.classify_list {display:inline-block;width:600px;}
.classify_list li, .tg_list dd {float:left;height:20px;line-height:20px;padding-left:10px;white-space:nowrap;}
.classify_list2 li, .tg_list dd {float:left;height:20px;line-height:20px;padding-left:20px;white-space:nowrap;}
.classify_list2 .active a {background-color:#DA4901;color:#FFFFFF;padding:0 5px;}
.classify_list li a:hover, .classify_list dd a:hover {text-decoration:underline;}

.tg_tools{
	position:relative;
	font-size:12px;
	padding: 0 10px 0 0;
	height:40px;
}
.tg_tools .search {float:right;width:190px;margin:8px 0 10px;display: inline;}
.tg_tools .search input.search-text {background:url("http://img2.1dooo.com/img/tuangou/navi_search.jpg") repeat-x scroll 0 -387px transparent;font-size:12px;height:27px;line-height:25px;padding-left:5px;vertical-align:middle;width:163px;}
.tg_tools .search input.search-tip {color:#AEAEAE;}
.tg_tools .search input.search-button {background:url("http://img2.1dooo.com/img/tuangou/navi_search.jpg") repeat-x scroll 0 -308px transparent;cursor:pointer;height:27px;vertical-align:middle;width:67px;}

.tg_tools .classify{  overflow:visible; height:45px; line-height:40px; position:absolute; left:0; top:0;}
.tg_tools .classify .lis{ text-align:center; }
.tg_tools .classify { display:inline-block;}
.tg_tools  .classify .num{ color:#999; }
.tg_tools .array,.tg_tools .seniority{ float:left;margin:10px 0 10px 14px;display:inline;zoom:1;overflow:hidden;}
.tg_tools  .seniority{  overflow:visible; width:265px;}
.tg_tools a{ }
.tg_tools a:hover{ text-decoration:underline}

.clearfix { display:block; }
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden; }
* html .clearfix { height:1%;}

.seniority,.array{ height:20px; border-left:1px solid #cbcbcb}
.seniority a,.array a{
	height:20px;
	padding:0 8px 0 25px;
	border:1px solid #cbcbcb;
	margin-left:-1px;
	float:left;
	display:block;
	white-space:nowrap;
	rd-break:keep-all;
	background-color: #fcfcfc;
	background-image: url(http://img3.1dooo.com/img/tuangou/repeat.png);
	background-repeat: no-repeat;
	background-position: 3px 0px;
}
.seniority a:hover,.seniority a:visited{color:#585858; text-decoration:none}
.seniority a.snrt1{background-position:3px -100px}
.seniority a:hover.snrt1{background-position:3px -117px}

.seniority a.snrt1_active{ background-position:3px -134px; }

.seniority a.snrtup{background-position:3px -202px; display:block;}
.seniority a:hover.snrtup{background-position:3px -219px; display:block;}
.seniority a.snrtup_active{background-position:3px -236px; display:block;}

.seniority a.snrtdown{background-position:3px -150px; display:block;}
.seniority a:hover.snrtdown{background-position:3px -167px; display:block;}
.seniority a.snrtdown_active{background-position:3px -184px; display:block;}

.seniority { line-height:20px;}

#sy-but {background:url("http://img1.1dooo.com/img/tuangou/sy_03.jpg") no-repeat scroll 0 0 transparent;border:medium none;cursor:pointer;
float:left;height:23px;margin-bottom:9px;width:45px; }
#sy-input {background:url("http://img1.1dooo.com/img/tuangou/dy_06.jpg") repeat-x scroll 0 0 transparent;border:1px solid #AAAEAF;float:left;font-size:12px;height:17px;margin-bottom:7px;padding:4px 0 0 8px;width:130px;}

.pagination{height:40px;font-size:14px;color:#4C9403;margin:30px 0 5px}
.pagination a{color:#4C9403;padding:0 5px}
.pagination .current{color:#000;padding:0 0 0 5px}
.pagination a:hover{text-decoration:underline}

.right_pan .boxsid-server { margin:10px 0 0;}

.list_wangge{ zoom:1;}
.list_wangge li .tuan-price{ float:right; font-size:20px; color:#F54E00; }
.list_wangge li  .already-sold{ color:#adadad; font:14px/150% "宋体",Arial; font-size:12px; clear:both; display:block; width:100%;} 
.list_wangge li{ background-color:#ffffff;width:210px;padding:12px 10px 0 10px; float:left; display:inline; border:1px solid #dcdcdc; margin-right:9px;_margin-right:5px;  margin-top:10px;}
.list_wangge li h2{ font-size:14px;overflow:hidden; height:55px; margin-bottom:5px;}
.list_wangge h2 span{ color:#ff6600; }
.list_wangge a:hover{ color:#ff6600; text-decoration:none; }
.list_wangge .img{width:210px; height:135px;border:1px solid #cbcbcb; overflow:hidden;}
.list_wangge li.showtime .time{display:block}
.list_wangge .img img{width:210px; height:135px; padding:0; margin:0; display:inline-block }
.list_wangge .detail{display:none}

.time{height:24px; margin-top:-25px!important;margin-top:-27px ;border:0px line-height:24px; position:relative; display:none}
.time_bg,.time_text{ height:24px; width:216px;}
.time_bg{ position:absolute; top:0; background-color:#333333;opacity:0.5;filter:alpha(opacity=50);}
.time_text{ line-height:24px; text-align:center; color:#FFFFFF; position:absolute; top:0; font-size:12px}

.intro{ font-size:12px; padding:5px 0 12px;}
.intro .tuan-money{color: #F66622;float: left;padding-RIGHT: 10px;font-size: 20px;}
.intro .orgin-price{ color:#3b3b3b;float: left; font:14px/150% "宋体",Arial; font-size:12px; margin:0px;padding:5px 0px 0px 10px;text-decoration: line-through; line-height:normal;}
.intro .discount{ color:#3b3b3b;float: left; font:14px/150% "宋体",Arial; font-size:12px; margin:0px;padding:5px 0px 0px 10px;text-decoration: line-through; line-height:normal;}

.list_danhang{ zoom:1; padding-right:10px;}
.list_danhang h2{ font-size:12px;}

.list_danhang li{ display:inline-block;  height:auto; padding:18px 0 10px 0; width:100%; border-bottom:1px dotted #cbcbcb}
.list_danhang li .intro_title{ display:none}
.list_danhang .detail{ width:570px; float:left; display:inline; padding-left:12px; color:#333;}
.list_danhang .intro{ display:none}
.list_danhang .detail h2{ overflow:hidden; height:60px; margin-bottom:5px;}
.list_danhang .already-sold{ color:#adadad; padding:0 38px;padding-right:230px}
.list_danhang  .remaining-time{ color:#666;}
.list_danhang h2 span{ color:#ff6600; }
.list_danhang .img{width:145px; height:91px;border:1px solid #cbcbcb;float:left; position:relative}
.list_danhang .img img{width:145px; height:91px; padding:0; margin:0; display:inline-block }
.list_danhang .time{ display:block; position:absolute;top:116px;*top:113px;_top:115px;left:383px}
.list_danhang .time .time_text{color:#666}
.list_danhang .time .time_bg{display:none;background-color:#fff;}
.list_danhang .detail .into_btn{ position: relative; bottom:0; right:0;}
.list_danhang .detail .into_btn_fav{ position: relative; bottom:0; right:0;}
.list_danhang .detail_text{ font-size:12px; line-height:24px;}

.time{height:24px; margin-top:-25px!important;margin-top:-27px ;border:0px line-height:24px; position:relative}
.time_bg,.time_text{ height:24px; width:216px;}
.time_bg{ position:absolute; top:0; background-color:#333333;opacity:0.5;filter:alpha(opacity=50);}
.time_text{ line-height:24px; text-align:center; color:#FFFFFF; position:absolute; top:0; font-size:12px}
.intro_name {
	font-size: 14px;
	font-weight: normal;
	line-height:18px;
}

.into{ height:26px;margin-top:5px; text-align:center}
.into span{ font-size:12px;height:26px;padding:0 10px 0 0;position:relative;top:-6px; text-align:center}
.into_btn{ display:inline-block; width:96px; height:26px; background:url(http://img3.1dooo.com/img/tuangou/icon.png) no-repeat -857px -156px}
.into_btn_fav{ display:inline-block; width:45px; height:23px; background:url(http://img1.1dooo.com/img/tuangou/dy_03.jpg) }

.cf{ overflow:visible;margin-left: 10px; }
.pagination{ margin-left:10px; }
.list_wangge{ display:block;zoom:1;margin:0px;padding:0px;overflow:hidden;width:100%;}


/**.facebox弹出框**/
.facebox {
	padding:5px 0;
	position:absolute;
	width:355px;
	z-index:100;
	height: 160px;
	background-color: #FFFFFF;
	border: 4px solid #666666;
	font-size:14px;
	left:500px;
}
.facebox .facebox_title span {
	float: right;
}
.facebox .facebox_title {
	text-align: left;
	margin: 0 5px 20px 5px;
	padding:5px 10px 8px 15px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	color:#000000;
}
.facebox .facebox_boby .facebox_boby_right a {
}
.facebox .facebox_boby .facebox_boby_right {
	float: left;
}
.facebox .facebox_boby .facebox_boby_img {
	float: left;
	margin: 0 10px;
	display: inline;
}
.facebox .facebox_boby .facebox_boby_right a {
color: #FF6600;
	padding: 0 5px;
}
.facebox .facebox_boby .facebox_boby_right p {
height:30px;
line-height:22px;
padding:15px 0 8px;
text-align:center;
width:220px;
}
