/* CSS Document */
body { background: #f3f3f3;margin: 0px;font-size: 12px;line-height: 1.5;padding: 0px; }
h1, h2, h3, h4, h5, h6, h7, ul, ol, li, P, form { margin: 0px; padding: 0px; }
ul { list-style: none; }
a { color: #444; text-decoration: none; }
a:hover { color: #f40; text-decoration: underline; }
img{border:none;}
.red{color:#f00;}
.red2{ color:#dc0005;}
.red3{ color:#ff0a0b; }
.orange{ color:#FD7B04; }
.gray{color:#999;}
.gray2{color:#333;}
.mt5{margin-top:5px !important;}
.mt10{ margin-top:10px; }
.mt20{ margin-top:20px !important; }
.ml8{margin-left:8px !important;}
.ml30 { margin-left: 30px; }
.ml20 { margin-left: 40px; }
.mb10{ margin-bottom:10px !important; }
.block{ display:block; }
.f12 { font-size:12px; }
.f20 { font-size: 20px; }
.clear { line-height: 0px;margin: 0px;padding: 0px;clear: both;height: 0px;width: 100%;border: none;overflow: hidden;zoom:1; }
.wh {width: 430px;height: 270px;}
.bold { font-weight: bold; }
.through {text-decoration: line-through;}

.dashed {background-image: url(http://img2.1dooo.com/img/tuangou/dashed201104071.gif);background-repeat: repeat-x;background-position: left top;margin: 0px;padding: 0px;height: 1px;width: 100%;clear: both;overflow: hidden; }
.dashed2 {margin-top: 12px;margin-bottom: 22px;line-height: 1px;height: 1px;width: 100%;border-top-width: 1px;border-top-style: dashed;border-top-color: #d6c9bd; }

.topbar_box { margin: 0px auto; width: 960px; clear: both; }

#header { margin: 0px auto; width: 960px; clear: both; }

#subnav { margin: 0px auto; width: 960px; clear: both; }

#topbar {line-height: 30px; background: url(http://img1.1dooo.com/img/bg_all.png) repeat-x left top; height: 30px;}
#topbar .welcome {padding-left: 10px; float: left;}

.loginstate {padding-bottom: 0px; padding-left: 0px; padding-right: 10px; float: right; padding-top: 0px;}
.loginstate li {padding-bottom: 0px; line-height: 30px; padding-left: 8px; padding-right: 8px; float: left; padding-top: 0px;}

#header {position: relative; text-align: right; padding-bottom: 0px; background-color: #f3f3f3; padding-left: 0px; padding-right: 0px; padding-top: 0px;}
#header img {VERTICaL-align: bottom;}
#header a {float: left;}

#nav {margin: 0px auto; width: 960px; clear: both;padding-bottom: 0px; padding-left: 0px; padding-right: 0px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat 0px -51px; height: 40px; padding-top: 4px;}
#nav ul{width:666px;margin:0 auto;padding:0px;display:block;overflow:hidden;zoom:1;}
#nav li{float:left;width:120px;text-align:center;margin:0px;padding:4px 0px;overflow:hidden;}
#nav li a{padding:0px;overflow:hidden;display:block;color:#fff;width:90px;font-size:14px;font-weight:700;line-height:25px;text-decoration:none;margin:0px auto;}
#nav li a:hover {background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -45px -149px;}
#nav li.ha{padding:0px;}
#nav li.ha a {line-height: 40px; margin: 0px auto; width: 118px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -576px -150px; color: #e50;}
#nav li.ha a:hover { line-height: 40px; margin: 0px auto; width: 118px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -576px -150px; color: #e50;}

#tag2, #tag200 { position: relative; }
#tag2 img, #tag200 img { position: absolute; top: 0px; left: 80px; }

#subnav { background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat 0px -96px; height: 35px; }

.hotsearch {text-align: center; line-height: 22px; margin: 3px 0px 0px 20px; width: 75px; display: inline; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -141px -149px; float: left; height: 22px; color: #fff;}
.hotsearch_key {padding-bottom: 0px; padding-left: 50px; width: 450px; padding-right: 0px; float: left; height: 20px; overflow: hidden; padding-top: 7px;}
.hotsearch_key a {
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	WHITE-SPaCE: nowrap;
	float: left;
	color: #8a8a8a;
	padding-top: 0px;
	text-decoration: none;
}
.hotsearch_key a.cur ,.hotsearch_key a:hover{
	color:#fd7b04;
	font-weight: bold;
	background-image: url(http://img2.1dooo.com/img/tuangou/sign201104071.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}

.hotsearch_key a h1 {font-weight: normal; padding: 0;margin: 0;font-size: 12px;}


.searchform {padding-bottom: 0px; padding-left: 0px; width: 260px; padding-right: 20px; float: right; padding-top: 2px}
.searchform INPUT#name2 {border-bottom: transparent; border-left: transparent; padding-left: 25px; width: 155px; display: block; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -228px -149px; float: left; height: 19px; border-top: transparent; border-right: transparent; padding-top: 6px; border:none;}
.searchform INPUT[type='submit'] {border-bottom: medium none; border-left: medium none; text-INDENT: -9999px; width: 52px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -513px -150px; height: 26px; margin-left: 5px; border-top: medium none; CURSOR: pointer; border-right: medium none;}

.nav_serchbt {border-bottom-style: none; border-right-style: none; width: 52px; border-top-style: none; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -512px -150px; height: 26px; border-left-style: none; CURSOR: pointer;}

#con { background-image: url(http://img3.1dooo.com/img/tuangou/pal2.jpg);background-repeat: repeat-y;background-position: 0px top;clear: both;width: 969px;overflow: hidden;margin-top: 10px;padding: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto; }

#container{width:960px;margin:10px auto 0px auto;background-image: url(http://img2.1dooo.com/img/tuangou/bg201104061.jpg);background-repeat: no-repeat;background-position: left top;padding-top:27px;background-color:#fff;}
#content-contain{background:url(http://img1.1dooo.com/img/tuangou/content-contain-bg.jpg) left bottom repeat-x;border-bottom:1px solid #ccc;overflow:visible;margin:0 auto;padding:0 0 12px 0;zoom:1;}

.banklogo { margin-bottom: 10px; }
.banklogo img{ margin-right:5px;margin-bottom:5px;}
.sm{color:#777; margin-left:10px;}

#main{
    width:960px;
    clear:both;
    background-image: url(http://img2.1dooo.com/img/tuangou/bg201104061.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-color:#fff;
    zoom:1;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.main{
    position:relative;
    clear:both;
    background-image: url(http://img1.1dooo.com/img/tuangou/content-contain-bg.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    zoom:1;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#footer {margin: 0px auto; width: 960px; clear: both;text-align: center; padding-bottom: 10px; line-height: 180%; margin-top: 30px; padding-left: 0px; padding-right: 0px; clear: both; border-top: #ddd 1px solid; padding-top: 10px;margin-top: 0px;border-top-style: none;}
.footer_nav { padding-bottom: 5px; padding-left: 0px; padding-right: 0px; color: #aaa; padding-top: 5px; }
.footer_nav a { padding-bottom: 0px; padding-left: 5px; padding-right: 5px; padding-top: 0px; }
