/* wztg.html css */
#wztg-page{ height:65px;background-image: url(/img/tuangou/wztg_01a.jpg);background-repeat: no-repeat;background-position: center; }
.h1title {font-size: 14px;color: #ff691b;background-image: url(/img/tuangou/sign201104111.jpg);background-repeat: no-repeat;background-position: left 9px;padding-left: 15px;line-height: 35px;margin:0px  40px;}
.h2title , .h2title2{font-size: 14px;color: #ff691b;margin-left: 15px;line-height: 35px;margin:0px  40px;}
.h2title2{ color:#3d3d3c;}

.div-pal{ color:#3d3d3c; margin-left:15px; line-height:25px;margin:0px  40px; }
.div-pal2{ width:905px; margin:0 auto;}
.line {line-height: 1px;background-image: url(/img/tuangou/line201104111.jpg);background-repeat: repeat-x;background-position: left bottom;clear: both;height: 1px;width: 100%;margin-top: 20px;margin-bottom: 10px;overflow: hidden; }

.b-11{border-left:1px solid #dcdcdc;}

#paly_content{width:940px;position:relative}
#paly_content h1{display:block;height:45px;margin:50px 0 0 89px}

#paly_content h3{font-size:14px;font-weight:400;line-height:23px;background:url(/img/tuangou/paly_03.jpg) left 7px no-repeat;margin:20px 0 0 94px;padding:0 0 0 15px}
#paly_content h2 {display:block;height:45px;margin:50px 0 0 89px}
.paly_buy_now{border:none;width:202px;height:67px;cursor:pointer;background:url(/img/tuangou/pic201104141.jpg) no-repeat;margin:25px 0 0 95px}
#paly_notgo{width:250px;height:180px;background:url(/img/tuangou/paly_06.jpg) no-repeat;position:absolute;left:654px;top:181px}
#paly_notgo ul{line-height:25px;margin:20px 0 0 16px}
#phone_pic{width:250px;height:284px;background:url(/img/tuangou/paly_08.jpg) no-repeat;margin:20px 0 0 114px}

/* whelp.html css */
#help-top{ height:75px;background-image: url(/img/tuangou/help_topa.jpg);background-repeat: no-repeat;background-position: center top;margin-bottom:20px; }
#help-content{overflow:hidden; padding-bottom:10px;}
#help-left{width:657px;float:left;background:url(/img/tuangou/help_xuxian.jpg) right top repeat-y}
#help-left h1{font-size:14px;line-height:14px;padding:0 0 0 60px}
#help-left h2{font-size:14px;line-height:14px;padding:0 0 0 60px}
#help-p1{display:block;line-height:20px;font-size:14px;background:url(/img/tuangou/help_cir.jpg) 18px 16px no-repeat;text-align:justify;text-justify:inter-ideograph;margin:0 48px 0 45px;padding:10px 18px 20px 36px}
#help-p1 img{margin:14px 10px 0 0}
#help-p2{display:block;line-height:20px;font-size:14px;background-color:#f6f6f6;margin:4px 48px 20px 45px;padding:16px 20px 16px 16px}
#help-p2 h2{font-size:14px;line-height:14px;padding:0}
#help-p3{display:block;line-height:20px;font-size:14px;background:url(/img/tuangou/help_cir.jpg) 0 15px no-repeat;background-color:#f6f6f6;text-align:justify;text-justify:inter-ideograph;margin:0 0 0 2px;padding:10px 0 0 20px}
#help-p3 a:hover{text-decoration:none;font-weight:700}
#help-right{float:right;font-size:14px}
#help-right ul{text-align:center;display:block;width:283px}
#help-right ul li{display:block}
.help-text{text-align:left;margin:8px 0 16px 50px}

/* success.html css */
#rgoyp_succ_inf{width:800px;line-height:18px;margin:0 auto;padding:25px 0}
#information_succsed_top{width:814px;height:20px;background:url(/img/tuangou/info_01.jpg) left 0 no-repeat;display:block;margin:0 auto;padding:0}
#information_succsed_cen{width:814px;height:130px;background:url(/img/tuangou/info_02.jpg) repeat-y;margin:0 auto}
#information_succsed_cen h1{font-size:14px;line-height:25px;font-weight:400;background:url(/img/tuangou/info_07.jpg) 270px 40px no-repeat;padding:31px 0 0 320px}
#information_succsed_cen h1 span{font-size:18px;font-weight:700;color:#f60}
#information_succsed_bot{width:814px;height:19px;background:url(/img/tuangou/info_03.jpg) no-repeat;position:relative;margin:0 auto}
#information_succsed_fot{width:814px;overflow:hidden;margin:0 auto 40px}
#information_succsed_fot_l{width:425px;height:319px;float:left;background:url(/img/tuangou/info_04.jpg) no-repeat}
#information_succsed_fot_r{width:389px;height:319px;float:left;background:url(/img/tuangou/info_05.jpg) no-repeat}
#information_succsed_fot_r h1{font-size:12px;font-weight:400;line-height:14px;_line-height:14px;padding:29px 0 0 70px}
#information_bot{width:140px;height:140px;background:url(/img/tuangou/info_06.jpg) no-repeat;position:absolute;left:-38px;top:-42px;display:block;float:left}

#group-reg {width:900px;font-size:14px;margin:0 auto;padding:0px 0 12px}
#group-reg-top-return{
    width:100%;
    height:90px;
    background-image: url(/img/tuangou/pic201104131.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0px;
    margin-bottom:10px;
}
#group-reg-cen{width:810px;min-height:250px; margin:0 auto;}
#group-return-l{float:left;width:380px;margin:0 0 0 45px; _margin-left:30px; }
#group-return-r{float:left;font-size:14px;background-image:url(/img/tuangou/group_return_01.jpg);background-repeat:no-repeat;width:250px;height:230px;margin:0 30px;padding:0 20px 0 30px;}
#group-return-r p{line-height:24px;font-size:14px;color:#FFF;text-indent:24px;text-align:justify;padding:10px 0 0 20px;}
#group-return-l p{font-size:14px;line-height:24px;text-decoration:none;text-indent:24px;padding:30px 0 0;}
#group-return-r h1{font-weight:700;color:#FFF;font-size:14px;line-height:24px;margin:30px 0 5px 20px;}
#group-return-r a{color:#fff8a0;}
#group-reg-bot{width:810px;background:url(/img/tuangou/group_5_07.jpg) no-repeat;height:87px;}
.share-list{clear:left;}
.share-list table{width:95%;border:0;color:#000;margin:0 auto;}
.share-list table th{font-size:13px;background:#fff;border-bottom:1px #ddd solid;border-right:1px solid #dcdcdc;border-top:1px solid #dcdcdc;line-height:30px;}
.share-list img{width:100px;margin:0 10px;}
.share-list table td{border-bottom:1px #ccc dashed;padding:10px 0;}

