							<tr>
								<td>脸脸帮助2</td>
								<td valign="middle" class="textcenter">
									<a href=<%= "/mobile_articles/edit?id=#{@welcome.id}" %> class="edit" title="编辑"></a>
									<a href="javascript:void(0)" class="del" onclick="ajaxDel('<%= @welcome.id%>')" title="删除"></a>
								</td>
							</tr>