/* CSS Document */
body{font-family: "宋体";font-size: 12px;margin:0px;padding:0px;}
ul,li,h1,h2{margin:0px;padding:0px;}
ul{list-style:none}
img{border:none}
a{text-decoration:none}

.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1}
.clear1{clear:both;overflow:hidden;width:100%;height:0;zoom:1;}
.block{display:block;}

.pt20{padding-top:20px !important;}
.pb15{padding-bottom:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mb{margin-bottom:15px !important;}
.m_a{margin:0px auto;}

.cardbox{width:100%;overflow:hidden;position:relative;}
.cardbox .contact{width:170px;height:16px;display:block;text-indent:-9999999em;top:148px;left:40px;_display:inline;position:absolute;}
.cardbox .tbd{width:125px;height:25px;display:block;text-indent:-9999999em;top:195px;left:68px;_display:inline;position:absolute;
}

.title1{margin:0px;padding:0px 0px 0px 20px;font-size:14px; color:#A0D225; overflow:hidden;zoom:1;line-height:20px;background-image:url(http://img2.1dooo.com/img/shop_space/hltg/sign1.gif);background-position:left 5px;background-repeat:no-repeat;}
.title1 h2{float:left;font-size:14px;font-family: "微软雅黑";}
.title1 a{float:right !important;display:block;margin:0px;padding:0x;background-image:url(http://img2.1dooo.com/img/shop_space/hltg/more1.gif);
background-position:left top;background-repeat:no-repeat;width:43px;height:8px;text-indent:-999999em;}

.title2{margin:0px auto;padding:0px 0px 0px 20px;font-size:12px; color:#A0D225; overflow:hidden;zoom:1;line-height:20px;
background-image:url(http://img2.1dooo.com/img/shop_space/hltg/sign1.gif);background-position:left 5px;background-repeat:no-repeat;width:943px;}
.title2 h2{float:left;font-size:14px;font-family: "微软雅黑";}
.title2 .title2right{float:right;line-height:17px;}
.title2 .title2right a{float:left;text-align:center;cursor:pointer;}
.title2 .title2right #A1{width:105px;line-height:17px;background-image:url(http://img2.1dooo.com/img/shop_space/hltg/sign4.jpg);background-position:left top;
background-repeat:no-repeat;display:block;color:#fff;}
.title2 .title2right #A2{padding:0px;background-color:#fff;width:95px;color:#a0d225;}
.title2 .title2right #A3{padding:0px;background-color:#A0D225;color:#fff;width:80px;}
.title2 .title2right a:hover, .title2 .title2right a.hover{font-weight:bold;}

.title3{margin:0px;padding:0px 0px 5px 0px;font-size:14px; color:#A0D225; overflow:hidden;zoom:1;line-height:20px;background-image:url(http://img3.1dooo.com/img/shop_space/hltg/line2.gif);background-position:left bottom;background-repeat:repeat-x;}
.title3 h2{float:left;font-size:14px;font-family: "微软雅黑";}
.title3 a{color:#A0D225;}
.title3 a:hover{color:#999;}
.title3 .title3right{font-size:12px;float:right;background-image:url(http://img3.1dooo.com/img/shop_space/hltg/sign5.png);background-position:left 3px;background-repeat:no-repeat;padding-left:20px;}

#MB{width:100%;margin:0px;padding:0px;}

#Header{margin:0px auto;padding:0px;width:955px;position:relative;line-height:25px;}
#Header .imgs{float:right;margin-top:5px;display:block;clear:both;}
#SubNav{float:right;color:#999;overflow:hidden;zoom:1;}
#SubNav li{float:left}
#SubNav a{color:#999;}
#SubNav a:hover{color:#99CC33;}
#Logo{float:left;margin:0px;padding:0px;position:absolute;top:36px;}

.menu{margin:0px;padding:0px;font-family:"微软雅黑";font-size:14px;overflow:hidden;background-image:url(http://img2.1dooo.com/img/shop_space/hltg/menubg.jpg);background-position:left top;background-repeat:repeat-x;width:100%;height:34px;clear:both;line-height:25px;}
.menu ul{overflow:hidden;display:block;width:780px;margin:0px auto;padding-left:270px;font-weight:bold;}
.menu li{float:left;}
.menu li a:hover,.menu .hover{background-image:url(http://img3.1dooo.com/img/shop_space/hltg/sign5.jpg);background-position:10px center;background-repeat:no-repeat;}
.menu a{color:#fff;display:block;text-align:center;padding-left:30px;padding-right:70px;}

/** 页码 css **/
.pages {clear: both;padding: 0px;margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;overflow: hidden;}
.pages .pagination{overflow:hidden;float:right;}
.pages .pagination .prev_page, .pagination a.prev_page{background-image: url(http://img1.1dooo.com/img/shop_space/yst/arrow3.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;
width: 10px;float:left;text-indent:-9999em;margin-right:10px;border:none;margin-top:5px;cursor:pointer;	}
.pages .pagination .current, .pagination a{float:left;display:block;padding:0px;margin:0px;width:20px;text-align:center;height:20px;line-height:20px;margin-right:10px;color:#ABB1BD;}
.pages .pagination .current, .num a:hover{color:#44180F;border:1px solid #84A317;font-weight:bold;float:left;width:18px;}
.pages .pagination .next_page, .pagination a.next_page{background-image: url(http://img2.1dooo.com/img/shop_space/yst/arrow4.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;width: 10px;float:left;text-indent:-9999em;border:none;margin-top:5px;cursor:pointer;}
/** 页码 css over **/

#Con{width:100%;margin:0px;padding:10px 0px 0px 0px;overflow:hidden;clear:both;zoom:1;background-image: url(http://img2.1dooo.com/img/shop_space/hltg/bg1.jpg);background-repeat: repeat-x;background-position: left top;}

/* 主动画css */
.dh{width:100%;height:350px;overflow:hidden;zoom:1;margin:0px 0px 0px 4px;padding:0px;position:relative;}
.dh img{ width:950px; height:350px; position:absolute; top:0px; left:0px; }
.prevbtn{background-image:url(http://img2.1dooo.com/img/shop_space/space/hltg/arrow4.png);background-repeat:no-repeat;background-position:-54px top;height:51px;width:27px;text-indent:-999999px;;margin:0px;padding:0px; position:absolute; z-index:10; top:140px; left:10px;cursor:pointer;display:none;}
.prevbtn:hover{background-position:left top;}
.nextbtn{background-image:url(http://img2.1dooo.com/img/shop_space/space/hltg/arrow4.png);background-repeat:no-repeat;background-position:-81px top;height:51px;width:27px;text-indent:-999999px;margin:0px; padding:0px; position:absolute; z-index:10; top:140px; right:15px;cursor:pointer;display:none;}
.nextbtn:hover{background-position:-27px; top;}
.dhnum{position:absolute;width:125px;bottom:20px;height:20px;left:420px;z-index:2;}
.def{background-image:url(http://img3.1dooo.com/img/shop_space/space/hltg/sign2.png);background-repeat:no-repeat;background-position:-10px top;width:11px;height:10px;float:left;margin:0 7px 0 0;padding:0px;text-indent:-999999em;cursor:pointer;}
.selected{background-position:0px top!important;}
/* 主动画css over */

#Footer{clear:both;margin:10px 0px 0px 0px;padding:15px 0px;text-align:center;color:#fff;line-height:20px;width:100%;background-color:#CCC;}
#Footer a{color:#fff}
#Footer a:hover{color:#405313;}

