@import "globals/variables";


//------ Override Bootstrap Collapse
.panel{
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.panel li{ 
  list-style-type: none; 
  font-size: 15px;
  color: #888;
  padding-left: 3rem;
  margin-bottom: 0.4rem;
  width: 200px;
}

.panel .panel-heading{
  padding: 0;
  background: white;
}

.side-menu{
  margin-left: 10%;
  a{
    color: #888;

    &:hover{
      text-decoration: none;
      color: #575757;
    }
  }
}


.nav.dropdown-menu {
  width: 100px;
  %ul.dropdown-menu {
    width: 350px;
  }
}
.side-menu .user-info{
  .avatar{
    padding: 15px;
    float: left;
    img{
      width: 100px;
      height: 100px;
      border-radius: 52px;
    }
  }
  .profile{
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 1em;
    @media(max-width: 940px){
      text-align: center;
    }

    font-size: 14px;
    color: #777;
    font-family: Latoreg;
    margin: 0;
    line-height: 1;
    padding-bottom: 1px;

    .name{
      font-family: Oswaldreg;
      font-size: 19px;
      color: #333333;
      padding-bottom:5px;
    }
    .title{
    }

    .edit{
      p{
        font-size: 12px;
        line-height: 1.2em;
        a{
          font-size: 13px;
          color: #AAA;
        }
      }
    }
  }
}




.side-menu .block-title{
  text-align: center;
  background-color: #dddddd;
  height: 2px;
  color: #dddddd;
  font-size: 18px;
  span{
    background-color: white;
    position: relative;
    top: -0.5em;
    padding-left: 15px;
    padding-right: 15px;
  }
}




.side-menu .toolkit{
  padding-left: 15px;
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  .item{
    margin-bottom: 10px;
    font-weight: bold;
    width: 200px;
    .item-icon{
      vertical-align: middle;
      display: inline-block;
      width: 25px;
      vertical-align: top;
    }
    .item-icon-selected{
      vertical-align: middle;
      display: inline-block;
      display: none;
      width: 25px;
      vertical-align: top;
    }

    .item-text{
      padding-left: 10px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      @media (min-width: 979px){
        max-width: 80%;
        a{
          font-size: 16px;
        }
      }
      @media (max-width: 979px) and (min-width: 480px){
        max-width: 70%;
        a{
          font-size: 13px;
        }
      }
    }
  }
}

.clear-fix{
  clear: both;
}
