@import "globals/variables";
.guideline-sentence {
  color: #880848;

  a {
  	font-weight: bold;
  }
}
#guideline-modal {
  .guideline-sentence {
    a {
      color: $prodygia-purple;
    }
    a:hover {
      color: #FFF;
      background-color: $prodygia-light-purple;
    }
  }
  .modal-dialog {
    width: 800px;
  }
}
