$shadow_param: 0 3px 8px rgba(170, 180, 190, 1);

$prodygia-purple: #880848;
$prodygia-light-purple: #a3384e;
$prodygia-dark-purple: #880731;


/* bootstrap overrides */

$navbar-default-bg: #fff;


@import "bootstrap";
