- content_for(:title) { @article.title }

= render "sessions/page_header", item: @article, link_path: subscribe_path(@article, type: @article.class.name)
= render "welcome/box_content_modal"
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    .text-page-image
      = image_tag(@article.cover.url)
    %p= @article.description.try :html_safe
    .clear-fix
