- content_for(:title) { @article.title }

= render "sessions/page_header", item: @article, link_path: subscribe_path(@article, type: @article.class.name)
.text-page-article-box.shadow.margin-bottom
  .text-page-main-content
    -unless @article.cover.url.eql? "missing.png"
      .text-page-image
        = image_tag(@article.cover.url)
    %p= @article.description.try :html_safe
    .clear-fix
