- content_for(:title) { @article.title }

= render "sessions/page_header", item: @article, link_path: subscribe_path(@article, type: @article.class.name)

.detail.shadow.margin-bottom.clearfix
  .video-cover
    = image_tag @article.cover.url
  %article
    = @article.description.try :html_safe

-# hidden modals
= render "shared/sign_in_modal"
