@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;outline:none;}
body{background-color:#FFFFFF;font:12px/1.5em "宋体";}
ul{list-style:none;}
img{border:none;}
a{text-decoration:none;color:#FF00A7;}
a:hover{color:#f60;}

.l{float:left !important;}
.r{float:right !important;}
.block{display:block !important;}
.none{display:none !important;}
.clear1{width:100%;height:0px;clear:both;overflow:hidden;zoom:1;}
.blue{color:#b0ddff;}
.blue2{color:#93d0d1;}
.orange{color:#fc6e51}
.red{color:#f25475;}
.red2{color:#bf2d26;}
.black{color:#000;}

.title1{width:100%;overflow:hidden;font-size:18px;font-family:黑体;color:#4B4B4B;background:url(../images/dashed.jpg) left bottom repeat-x;padding-bottom:10px;margin-bottom:10px;line-height:20px;}

.pink{color:#FF00A7;}

.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.pt20{padding-top:20px !important;}
.pl20{padding-left:20px !important;}
.pr10{padding-right:10px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mb30{margin-bottom:30px !important;}
.ml5{margin-left:8px !important;}
.ml20{margin-left:20px !important;}
.mr5{margin-right:5px !important;}
.mr30{margin-right:30px !important;}
.mr50{margin-right:50px !important;}
.mlr5{margin-left:5px !important;margin-right:5px !important;}

.pointer{cursor:pointer;}

.btn{width:73px;height:30px;background:url(../images/btn.jpg) left top no-repeat;cursor:pointer;border:none;}
.btn2{background: url("../images/ad1.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);border: medium none;color: #fff;cursor: pointer;display: block;font-family: "微软雅黑";font-size: 15px;height: 48px;
letter-spacing: 1px;line-height: 48px;padding-right: 120px;text-align: right;width: 200px;}
.btn2:hover{color:#fff;text-shadow:1px 1px 2px #fff;}

#BG{display:block;background:rgba(0,0,0,0.5);color:#fff;position:absolute;z-index:20;width:225px;height:80px;line-height:80px;border:2px solid #ccc;
font-size:15px;font-family:黑体;text-align:center;display:none;cursor:pointer;}

.main{width:320px;margin:0px auto;overflow:hidden;zoom:1;}
.con{position:relative;display:block;overflow:hidden;}
.imgsbox{width:100%;position:absolute;height:402px;z-index:1;left:0px;top:0px;}
.imgsbox img.imgs{display:block;position:absolute;z-index:2;top:89px;left:10px;width:143px;}
.imgsbox div.imgs2{width:320px;display:block;position:absolute;z-index:3;left:0px;top:0px;margin-left:5px;}
.imgsbox img.imgs3{display:block;position:absolute;z-index:4;right:3px;top:3px;}

.plane{width:320px;float:left;padding-top:402px;color:#686868;background:url(../images/bg.png) 0px top no-repeat;position:relative;z-index:5;}
.plane  .content{padding:0px 10px 15px 10px;background:url(../images/linebg.png) 0px bottom no-repeat;position:relative;}
.plane  .content .tit{width:100%;height:40px;position:relative;top:0px;left:0px;z-index:20;}
.plane  .content .tit img{width:55px;position:absolute;top:-28px;left:15px;border:1px solid #fff;box-shadow:0px 0px 10px rgba(255,255,255,0.5);}
.plane  .content .tit h2{font-size:15px;font-family:微软雅黑;letter-spacing:1px;margin-left:80px;color:#666;text-shadow 0px 0px 1px #fff;line-height:35px;}
.plane  .content .tit h2 a{color:#FF00A7;}
.plane .content p{font-family:"微软雅黑";text-indent:1em;padding:0px 5px;font-size:14px;color:#666;line-height:20px;}
.plane .op{padding:20px 5px 10px 5px;;clear:both;display:block;overflow:hidden;zoom:1;}

/*#LinkBG1, #LinkBG2, #LinkBG3{float:right;margin-right:20px;background-color:#4C99CA;width:50px;height:20px;display:block;cursor:pointer;opacity:0.5;filter: Alpha(Opacity=50);}
#LinkBG2{background-color:#FC6E51;}
#LinkBG3{background-color:#F25475;}
#LinkBG1.hover, #LinkBG2.hover, #LinkBG3.hover{opacity:1;filter: Alpha(Opacity=100);}
#LinkBG1.hover{box-shadow:0px 0px 15px #4C99CA;}
#LinkBG2.hover{box-shadow:0px 0px 15px #FC6E51;}
#LinkBG3.hover{box-shadow:0px 0px 15px #F25475;}*/

.plane2{font-family:"黑体";font-size:15px;padding:10px 0px 0px 10px;display:block;line-height:25px;overflow:hidden;position:relative;color:#666;}

.plane3{font-family:"微软雅黑";font-size:15px;padding:10px 0px 0px 10px;display:block;line-height:25px;overflow:hidden;position:relative;color:#666;}
.plane4{font-family:"微软雅黑";font-size:13px;display:block;line-height:20px;padding:10px 0px 10px 10px;}
.plane4 ul{display:block;overflow:hidden;zoom:1;}
.plane4 ul li{background:url(../images/sign.jpg) left 5px no-repeat;padding-left:25px;display:block;margin-bottom:10px;}
.plane4 a{color:#666;}
.plane4 a:hover{color:#f60;}
.plane4 ul li a:hover{color:#666;}

.plane5{margin:10px auto;line-height:18px;width:320px;overflow:hidden;}
.plane6{padding:15px 0px;width:100%;overflow:hidden;text-align:center;}
.plane7{width:100%;position:relative;text-align:center;margin-top:15px;overflow:hidden;}
.plane7 div{margin:0px 2px;cursor:pointer;position:relative;z-index:2;float:left;line-height:30px;font-size:13px;font-family:微软雅黑;}
.plane7 div img{display:block;}

.inputbox1{width:300px;height:43px;background:url(../images/bg4.jpg) left top no-repeat;margin:15px 0px 0px 10px;}
.inputbox1 input{background-color:transparent;margin-left:40px;height:43px;border:none;padding-left:10px;width:250px;color:#B5B0AA;font-family:黑体;font-size:14px;}
.inputbox2{width:300px;height:67px;background:url(../images/bg5.jpg) left top no-repeat;margin:15px 0px 10px 10px;}
.inputbox2 textarea{background-color:transparent;margin-left:35px;height:58px;margin-top:7px;border:none;padding-left:10px;width:260px;color:#B5B0AA;font-family:黑体;font-size:14px;line-height:20px;
width:240px\9;*width:240px;}

#snowbox{z-index:999;}