/* CSS Document */
body {font-family: "宋体";font-size: 12px;background-color: #F0EADC;margin: 0px;padding: 0px;background-image: url(http://img2.1dooo.com/img/shop_space/mcjh/bg.jpg);background-repeat: repeat-x;background-position: left top;}
img{border:none;}
h1,h2,ul,li,p,form{padding:0px;margin:0px;}
ul{list-style:none;}
a{text-decoration:none;}
.clear{margin:0px;padding:0px;width:100%;height:0px;line-height:0px;overflow:hidden;}
.dotted{width:100%;overflow:hidden;height:0px;line-height:0px;border-bottom:1px dotted #b2aa9f;zoom:1;margin:15px 0px;padding:0px;}
.nonebg{background-image:none !important;}

.pt40{padding-top:40px !important;}
.mt15{margin-top:15px !important;}
.ml10{margin-left:10px !important;}
.ml12{margin-left:12px !important;}
.mr41{margin-right:41px !important;}
.ml20{margin-left:20px !important;}
.ml334{margin-left:334px !important;}
.mr26{margin-right:26px;}
.w115{width:115px !important;}

.title {margin: 0px;padding: 0px 0px 10px 25px;border-bottom: 1px dotted #B2AA9F;overflow:hidden;clear:both;zoom:1;}
.title h1{font-family: "微软雅黑";background-image: url(http://img3.1dooo.com/img/shop_space/mcjh/sign.jpg);background-repeat: no-repeat;background-position: left 4px;padding-left:28px;color:#5D3E1F;
font-size:18px;float:left;}

.title2 {margin: 0px;padding: 10px 0px 10px 25px;border-top: 1px dotted #B2AA9F;overflow:hidden;clear:both;zoom:1;}
.title2 h1{font-family: "微软雅黑";background-image: url(http://img3.1dooo.com/img/shop_space/mcjh/sign.jpg);background-repeat: no-repeat;background-position: left 4px;
padding-left:28px;color:#5D3E1F;font-size:14px;float:left;line-height:25px;}

#MB {margin: 0px;padding: 0px;width: 100%;overflow: hidden;background-image:url(http://img1.1dooo.com/img/shop_space/mcjh/logo.jpg); background-position:center top; background-repeat:no-repeat;}
#Header{color:#fff;width:960px;margin:0px auto;padding:0px;overflow:hidden;clear:both;zoom:1;}
#SubNav{line-height:25px;color:#705A4C;display:block;overflow:hidden;float:right;margin-top:10px;_margin-left:675px;}
#SubNav li{float:left;display:block;margin-right: 2px;margin-left: 2px;overflow: hidden;}
#SubNav a{color:#705A4C;}
#SubNav a:hover{color:#4A463D;}

.res{background-image: url(http://img3.1dooo.com/img/shop_space/mcjh/textbg2.jpg);background-repeat: no-repeat;background-position: left top;height: 28px;padding-left:25px;border:none;
background-color:transparent;overflow: hidden;}
.res2{background-image: url(http://img2.1dooo.com/img/shop_space/mcjh/textbg.jpg);padding-left:10px;}
.res .input1{border:none;width:100px;height:20px;line-height:20px;margin-top:2px;background-color:transparent;color:#705A4C;}
.res .input2{border:none;width:130px;height:20px;line-height:20px;margin-top:2px;background-color:transparent;color:#705A4C;}
.res .sub{border:none;width:55px;height:25px;line-height:20px;background-color:transparent;color:#fff; margin-left:10px;padding:0px;background-image: url(http://img3.1dooo.com/img/shop_space/mcjh/button.jpg);background-repeat: no-repeat;background-position: left top;font-size:12px;cursor:pointer;}

.menu{font-size:14px;color:#fff;font-weight:bold;width:1040px;height:100px;margin:0px auto;padding:0px;overflow:hidden;clear:both;}
.menu ul{display:block;overflow:hidden;margin-top:40px;}
.menu li{float:left;margin:0px 35px;display:inline;}
.menu a{color:#fff;}
.menu a:hover{color:#FBE8BE;}

.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .prev_page, .pagination .prev_page{float:left;margin-right:10px;cursor:pointer;margin-top:5px;}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;line-height:20px;margin-right:10px;color:#6F5E54;}
.pagination .current, .pagination a:hover{color:#44180F;font-weight:bold;float:left;}

#Footer{margin: 50px 0px 0px 0px;padding: 0px;width: 100%;overflow: hidden;clear:both;background-image: url(http://img3.1dooo.com/img/shop_space/mcjh/fbg.jpg);background-repeat: repeat-x;
background-position: left top;height:100px;line-height:20px;}
#Footer a{color:#fff;}
#Footer a:hover{color:#FBE8BE;}
#Footer .footerinner{width:1040px;text-align:center;color:#fff;padding:0px;margin:35px auto 0px auto;}
#Footer .footerinner h3{font-size: 12px !important;font-weight: normal;margin: 0; padding: 0;display: inline}
#Footer .footerinner h1{font-size: 12px;font-weight: normal;margin: 0; padding: 0;display: inline}

