/* CSS Document */
body{position:relative;}
.box1{width:100%;overflow:hidden;clear:both;}
.box1 ul{display:block;overflow:hidden;}
.box1 ul li{float:left; margin-right:10px;display:block;overflow:hidden;width:327px;}
.box1 li .pic{background:url(/img/shop_space/xfzy/bg4.png) no-repeat left top;width:170px;height:116px;float:left;}
.box1 li .pic img{width:150px;height:95px;margin-top:11px;margin-left:10px;}
.box1 li .con{color:#fff;float:left;width:135px;line-height:24px;}
.box1 li .con h2{color:#DFD688;font-size:12px;font-weight:normal;}
.box1 li .con p{padding:0px;margin:0px;}

.box2{width:100%;overflow:hidden;clear:both;}
.box2 ul{display:block;overflow:hidden;}
.box2 ul li{float:left; margin-right:10px;display:block;overflow:hidden;width:207px;height:155px;background:url(/img/shop_space/xfzy/bg5.png) no-repeat left top;margin-top:9px;margin-bottom:11px;}
.box2 li img{width:187px;height:135px;margin-left:10px;margin-top:10px;}

.box3{width:210px;height:200px;background:url(/img/shop_space/xfzy/bg2.png) no-repeat left top;margin:0px;padding:0px;overflow:hidden;clear:both;}
.box3 ul{display:block;overflow:hidden;margin-top:45px;margin-left:15px;}
.box3 ul li{margin-bottom:5px;display:block;overflow:hidden;}

.box4{width:210px;margin:0px;padding:0px;overflow:hidden;clear:both;}
.box4 .imgs1{width:210px;height:125px;}

.box5{background-image: url(/img/shop_space/xfzy/pic4.png);background-repeat:no-repeat;background-position: left top;width:210px;height:131px;margin:0px;padding:0px;overflow:hidden;clear:both;}
.box5 .sina{width:32px;height:28px;display:block;text-indent:-9999999em;float:left;margin-left:85px;margin-top:5px;margin-right:2px;background-image: url(/img/shop_space/xfzy/sign1.png);background-repeat:no-repeat;background-position: left top;_display:inline;}
.box5 .qq{width:25px;height:29px;display:block;text-indent:-9999999em;float:left;margin-top:5px;background-image: url(/img/shop_space/xfzy/sign2.png);background-repeat:no-repeat;background-position: left top;_display:inline;}

/**首页动画 css **/
.dh {width:100%;height:327px;margin:0px;padding:0px;overflow:hidden;background:url(/img/shop_space/xfzy/loading.gif) no-repeat 50% 50%;position:relative;}
.dhinner{margin:0px;padding:0px;overflow:hidden;width:888px;height:327px;left:0px;top:0px;position:relative;}
.dh .dhinner .dhs{position:absolute;width:888px;height:327px;margin:0px;padding:0px;overflow:hidden;zoom:1;}
.dh .dhinner .dhs a{ display:block;position:absolute;top:0px;left:0px;width:888px;height:327px; }
.dh .dhinner .dhs a img{ width:888px; height:327px;}
.dh .dhnum{position: absolute;bottom: 15px;right: 30px;text-align: center;z-index: 999;}
.dh .dhnum a{ width:10px; height:10px;float: left;margin: 0 0 0 5px;display: block;cursor:pointer;z-index:999;background: url(/img/shop_space/xfzy/sign3.png) no-repeat -20px 0;text-indent: -9999em; }
.dh .dhnum a.selected{background: url(/img/shop_space/xfzy/sign3.png) no-repeat left top;}
.dh .dhnum .tit{display:none;}
.dh .dhnum .nums{float:right;overflow:hidden;}
.dh .dhnum .prevbtn{background: url(/img/shop_space/xfzy/arrow1.png) no-repeat;display:none;}
.dh .dhnum .nextbtn{background: url(/img/shop_space/xfzy/arrow2.png) no-repeat;display:none;}
/**首页动画 css over **/
