/* CSS Document */
body{font-family: "宋体";font-size: 12px;background-image: url(/img/shop_space/xfzy/bg7.png);background-repeat: repeat;background-position: center top;margin:0px;padding:0px;background-color:#000;}
ul,li,h1,h2{margin:0px;padding:0px;}
ul{list-style:none}
img{border:none}
a{text-decoration:none}
.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1}
.clear1{clear:both;overflow:hidden;width:100%;height:0;zoom:1;}
.r{float:right;}
.ad2{width:210px;height:125px;}
.more{display:block;background-image:url(/img/shop_space/xfzy/more.png);background-position:left top;background-repeat:no-repeat;overflow:hidden;width:40px;height:10px;}

.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.ml7{margin-left:7px !important;}
.mr6{margin-right:6px !important;}
.m_auto{margin:0px auto;}

.links{width:132px;height:30px;line-height:30px;text-align:center;background-image:url(/img/shop_space/xfzy/button2.png);background-position:left top;background-repeat:no-repeat;color:#FFFCCC;font-weight:bold;display:block;float:left;overflow:hidden;_display:inline;cursor:pointer;}
.links:hover{color:#fff;}

.borderstyle{border:1px solid #ffffcc;}

.title{margin:0px;padding:0px 0px 5px 0px; overflow:hidden;zoom:1;}
.title h2{float:left;}

.title2 {overflow:hidden;margin:0px;padding:0px 0px 8px 0px;background-image:url(/img/shop_space/xfzy/line2.jpg);background-position:left bottom;
background-repeat:repeat-x;color:#FFFCCC;zoom:1;}
.title2 h2{float:left; padding-left:50px;background-image:url(/img/shop_space/xfzy/sign4.png);background-position:10px 2px;background-repeat:no-repeat;display:block;color:#0059B3;font-family:"微软雅黑";font-size:18px;color:#DED587;font-weight:normal;}
.title2 .title2right{float:right;font-size:12px;line-height:22px;background-image:url(/img/shop_space/xfzy/sign5.png);background-position:left center;background-repeat:no-repeat;padding-left:20px;}
.title2 .title2right a{color:#FFFCCC}
.title2 .title2right a:hover{color:#fff;}

.title3{overflow:hidden;margin:0px;padding:0px 0px 8px 0px;color:#FFFFC9;background-image:url(/img/shop_space/xfzy/line2.png);background-position:left bottom;
background-repeat:repeat-x;zoom:1;}
.title3 h2{float:left; padding:0px;display:block;color:#FFFFC9;font-size:14px;font-weight:normal;}
.title3 .ws{color:#B1D51B;font-size:12px;}

#MB{margin:0px;padding:0px;overflow:hidden;width:100%;background-image: url(/img/shop_space/xfzy/bg6.png);}
#Header{overflow:hidden;margin:0px auto;padding:0px;width:890px;background-image: url(/img/shop_space/xfzy/pic3.png);background-repeat:no-repeat;background-position: 470px 55px;}
#SubNav{float:right;color:#EFEA9E;font-size:12px;margin-top:10px;zoom:1;overflow:hidden;}
#SubNav li{float:left}
#SubNav a{color:#EFEA9E;}
#SubNav a:hover{color:#fff;}
#Logo{float:left;margin-bottom:5px;padding:0px;margin-top:30px;}

.menu{display:block;height:32px;line-height:32px;width:100%;margin:0px auto;padding:0px 1px 0px 0px;font-size:12px;background-image: url(/img/shop_space/xfzy/menubg2.jpg);background-repeat:no-repeat;background-position: center top; letter-spacing:1px;}
.menu ul{width:900px;overflow:hidden;display:block;margin:0px auto;padding:8px 0px 0px 0px;background-image: url(/img/shop_space/xfzy/menubg2.jpg);background-repeat:no-repeat;background-position: -420px top;}
.menu li{float:left;width:72px;text-align:center;margin-left:15px;margin-right:25px;_display:inline;}
.menu li a:hover, .menu .hover a{color:#B09954;background-image:url(/img/shop_space/xfzy/menubg1.png);background-position:left top;background-repeat:no-repeat;}
.menu a{color:#FFF;display:block;heihgt:22px;line-height:22px;}

#Con{overflow:hidden;margin:6px auto 0px auto;padding:0px;width:888px;}
#Con .contop{overflow:hidden;margin:0px;padding:0px 13px 0px 0px;width:888px;background-image:url(/img/shop_space/xfzy/bg3.png);background-position:left top;background-repeat:no-repeat;height:340px;}
#Con .conbottom{overflow:hidden;margin:0px;padding:0px;width:100%;}
#Con .cbleft{float:left;width:675px;overflow:hidden;}
#Con .cbright{float:right;width:210px;overflow:hidden;}

#Con2{overflow:hidden;margin:6px auto 0px auto;padding:0px;}

.contact{width:71px;height:181px;position:absolute;top: 132px;z-index:200;left:1170px; display:block;line-height:18px;
background-image:url(/img/shop_space/xfzy/contact.jpg);background-position:center top;background-repeat:no-repeat;padding-left:10px;}
.contact img{width:35px;height:35px;display:block;margin:40px auto 10px 10px;}
.contact, .contact a{color:#DFD688;}

.link{background-image:url(/img/shop_space/xfzy/sign5.gif);background-position:left center;background-repeat:no-repeat;color:#999;display:block;line-height:25px;padding-left:15px; cursor:pointer;}
.link:hover{color:#fff;}

#Footer{width:100%;clear:both;text-align:center;color:#CCC;background-image:url(/img/shop_space/xfzy/footerbg.png);background-position:left top;background-repeat:repeat-x;padding:0px;margin:10px 0px 0px 0px;}
#Footer .footerinner{width:890px;height:70px;margin:0px auto;padding:20px 0px 0px 0px;line-height:18px;}
#Footer a{color:#CCC}
#Footer a:hover{color:#fff;}
