*{margin:0px;padding:0px;}
body {font-family: Arial;font-size: 12px; background-color:#F2F2F2;color:#4e5151; }
img{border:none;}
a{text-decoration:none;color:#333;}
.l{float:left;}
.r{float:right;}
.mr10{margin-right:10px;}
.mb20{margin-bottom:20px;}
.w200{width:200px;}
.red{color:#FF5152;}

.clear1{width:100%;overflow:hidden;height:0px;clear:both;zoom:1;}
#wrapper{width: 320px;background: url("../images/bg1.jpg") left 380px no-repeat;margin-left: auto;margin-right: auto;}
.container{width:100%;background: url("../images/pic1.jpg") no-repeat;padding: 360px 0px 15px 0px;overflow:hidden;}

a.box{margin:7px 17px 5px 17px;overflow:hidden;display:block;color:#3DB3E7;line-height:18px;text-shadow:1px 1px 1px #fff;border-bottom:1px dashed #FF5152;padding-bottom:5px;}
a.box .arrow{width:24px;height:20px;background: url("../images/arrow.png") no-repeat;float:right;margin-top:10px;}

