<h1>用户头像</h1><br>
<div class="content-box">
  <div class="content-box-header"><h3>上传用户头像</h3></div>
  <div class="content-box-content">	
    <table>
      <%= form_for(:user_logo, :url => { :action => "create" } ,:html => { :multipart => true }) do |f| -%>

        <tr class="bgcolor">
          <td class="td_300">
            <label for="uploaded_data">请选择一张图片</label><br />
             <%= f.file_field :img %>
          </td>
        </tr>
        <tr class="bgcolor">
          <td class="td_padding_0">
            <%= submit_tag ' 上 传 ' ,:class=>"button"%>
          <% end -%>
        </td>
      </tr>
    </table>
  </div>
</div>
