@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;outline:none;}
body{background-color:#FFFFFF;font:12px/1.5em "宋体";}
ul{list-style:none;}
img{border:none;}
a{text-decoration:none;color:#95048F;}
a:hover{color:#f60;}

#BigPic{position:absolute;z-index:22;width:200%;display:none;left:-100%;margin-left:100%;}
#BG{display:block;background:rgba(0,0,0,0.5);color:#fff;position:absolute;z-index:20;width:450px;height:160px;line-height:160px;border:5px solid #ccc;
font-size:30px;font-family:黑体;text-align:center;display:none;cursor:pointer;}
.l{float:left !important;}
.r{float:right !important;}

.links{position:absolute;right:40px;top:10px;font-size:20px;}

.clear1{width:100%;height:0px;clear:both;overflow:hidden;zoom:1;}

.mt10{margin-top:10px !important;}
.mb30{margin-bottom:30px !important;}
.mb60{margin-bottom:60px !important;}
.ml5{margin-left:8px !important;}
.ml20{margin-left:20px !important;}
.mr30{margin-right:30px !important;}
.mr50{margin-right:50px !important;}
.pt20{padding-top:20px !important;}
.mlr5{margin-left:5px !important;margin-right:5px !important;}
.mr5{margin-right:5px !important;}
.red{color:#FC0505;}
.word{color:#666;font-size:14px;letter-spacing:1px;}
.pointer{cursor:pointer;}

.btn{width:146px;height:59px;background:url(/w/1/images/btn.jpg) left top no-repeat;cursor:pointer;border:none;}

#Main{}
.con2{width:640px;margin:0px auto;zoom:1;background:url(/w/1/images/bg2.jpg) left top no-repeat;}
.con{width:100%;overflow:hidden;zoom:1;}

.header{width:100%;overflow:hidden;overflow:hidden;height:280px;border-bottom:1px solid #999;text-align:center;}
.header2{width:100%;overflow:hidden;overflow:hidden;}

.title{width:100%;overflow:hidden;display:block;margin:20px 0px;text-align:center;}
.title1{width:100%;overflow:hidden;font-size:29.5px;font-family:黑体;color:#4B4B4B;background:url(/w/1/images/dashed.jpg) left bottom repeat-x;padding-bottom:20px;margin-bottom:20px;line-height:30px;}

/**图片框架 begin**/
.box{width:100%;overflow:hidden;zoom:1;position: relative;margin:0px auto;}
.box .plane{width:275px;float:left;position:absolute;border:1px solid #E2E1DC;color:#686868;margin-left:10px;padding:6px 5px 0 7px;
background:url(/w/1/images/bg.jpg) left top no-repeat;
-moz-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容火狐浏览器*/
-webkit-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容谷歌浏览器*/
-o-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容Opera浏览器*/
-ms-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容IE10浏览器*/
box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容火狐，Opera浏览器*/
}
.box .plane .imgsbox{width:100%;position:relative;}
.box .plane .imgsbox img.imgs{width:100%;display:block;opacity: 1;filter: Alpha(Opacity=100);
-ms-transform: scale(1, 1);
-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);/*等比缩放为1*/

-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0.5s;
-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s;
transition:transform 0.5s ease-in-out, opacity 0.5s;
}
.box .plane .imgsbox img.imgs:hover{filter: Alpha(Opacity=80);opacity:0.9;
-ms-transform:scale(0.93, 0.93);
-moz-transform:scale(0.93, 0.93);
-webkit-transform:scale(0.93, 0.93);
-o-transform:scale(0.93, 0.93);
transform:scale(0.93, 0.93);/*等比缩放为0.93*/
}
.box .plane .imgsbox img.imgs2{position:absolute;right:5px;bottom:-30px;width:25%;z-index:2;}
.box .plane .content{padding:0px 5px 10px 5px;background:url(/w/1/images/linebg.jpg) left bottom no-repeat;position:relative;line-height:20px;}
.box .plane .content .tit{width:100%;height:35px;position:relative;top:0px;left:0px;z-index:20;}
.box .plane .content .tit img{width:40px;border-radius:5px;position:absolute;top:-20px;left:0px;border:1px solid #fff;box-shadow:0px 0px 10px rgba(255,255,255,0.5);}
.box .plane .content .tit h2{font-size:12px;font-family:"微软雅黑";margin-left:50px;color:#666;line-height: 30px;}
.box .plane .content .tit h2 a{color:#95048F;}
.box .plane .content p{text-indent:1em;padding:0px 5px;}
.box .plane .op{padding:10px 5px;clear:both;display:block;overflow:hidden;zoom:1;}

.plane2{width:561px;border:1px solid #E2E1DC;color:#686868;padding:13px 16px 0 16px;margin:0px auto;
background:url(/w/1/images/bg3.jpg) 0px top no-repeat;
-moz-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容火狐浏览器*/
-webkit-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容谷歌浏览器*/
-o-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容Opera浏览器*/
-ms-box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容IE10浏览器*/
box-shadow:0 2px 3px rgba(204,204,204,1);/*兼容火狐，Opera浏览器*/
}
.plane2 .imgsbox{width:100%;position:relative;}
.plane2 .imgsbox img.imgs{width:100%;min-height: 120px;display:block;opacity: 1;filter: Alpha(Opacity=100);
-ms-transform: scale(1, 1);
-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);/*等比缩放为1*/

-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0.5s;
-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s;
transition:transform 0.5s ease-in-out, opacity 0.5s;
}
.plane2 .imgsbox img.imgs:hover{}
.plane2 .imgsbox img.imgs2{position:absolute;right:20px;bottom:-75px;width:30%;z-index:2;
-moz-transform:rotate(30deg);
-wekit-transform:rotate(30deg);
-ms-transform:rotate(30deg);
-o-transform:rotate(30deg);
transform:rotate(30deg);
}
.plane2 .content{font-size:25px;padding:0px 5px 10px 5px;background:url(/w/1/images/lingbg2.jpg) center bottom no-repeat;position:relative;line-height:30px;}
.plane2 .content .tit{width:100%;height:85px;position:relative;top:0px;left:0px;z-index:20;}
.plane2 .content .tit img{width:90px;border-radius:8px;position:absolute;top:-45px;left:10px;border:1px solid #fff;box-shadow:0px 0px 10px rgba(255,255,255,0.5);}
.plane2 .content .tit h2{font-size:30px;font-family:"黑体";margin-left:115px;color:#666;line-height:50px;}
.plane2 .content .tit h2 a{color:#95048F;}
.plane2 .content p{text-indent:1em;padding:0px 10px;}
.plane2 .op{padding:20px 10px 30px 10px;clear:both;display:block;overflow:hidden;zoom:1;}

.plane3{font-family:"黑体";font-size:25px;padding:20px 0px 20px 60px;display:block;line-height:40px;overflow:hidden;position:relative;}
.plane4{font-family:"微软雅黑";font-size:24px;display:block;line-height:35px;padding:20px 0px 20px 20px;}
.plane4 ul{display:block;overflow:hidden;zoom:1;}
.plane4 ul li{background:url(/w/1/images/sign.jpg) left 5px no-repeat;padding-left:50px;display:block;margin-bottom:10px;}
.plane4 a{color:#666;}
.plane4 a:hover{}

.plane5{margin:20px auto;sline-height:35px;width:533px;}

.inputbox1{width:532px;height:71px;background:url(/w/1/images/bg4.jpg) left top no-repeat;margin:30px auto 0px auto;}
.inputbox1 input{background-color:transparent;margin-left:65px;height:50px;margin-top:7px;border:none;padding-left:10px;width:450px;color:#B5B0AA;font-family:黑体;font-size:24px;}
.inputbox2{width:532px;height:119px;background:url(/w/1/images/bg5.jpg) left top no-repeat;margin:30px auto 30px auto;}
.inputbox2 textarea{background-color:transparent;margin-left:65px;height:80px;margin-top:7px;border:none;padding-left:10px;width:460px;color:#B5B0AA;font-family:黑体;font-size:24px;line-height:30px;margin-top:20px;}
