@import "globals/variables";
@import "globals/shared_mixin";

.course-info{
  @include detail_page_box;
  position: relative;
  padding-top: 2em;
  background: white;
  box-shadow: $shadow_param;
}


//------------ course cover ------------
.course-info .cover-wrapper{
  float: left;
  margin: 0 0 3rem 2rem;

  .cover{
    width: 320px;
    height: 176px;
    overflow: hidden;
  }

  .button{
    width: 320px;
    margin-top: 1em;
  }
}


//------------ course description ------------
.course-info .description{
  float: left;
  width: 65%;
  vertical-align: top;
  padding-left: 10px;
  margin-bottom: 1em;

  .title{
    font-family: Oswaldreg;
    font-size: 1.5em;
  }

  .producers, .video-duration, .category{
    display: inline-block;
    font-family: Latoitalic;
    font-size: 0.8em;
    @include separator;
  }

  article{
    text-indent: 1em;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


//------------ course social share------------
.course-info .social-box{
  position: absolute;
  top: 2em;
  right: 0.5em;

  img{
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}

/***********************************************************************
                                                                       *
    on screen smaller than 1024px (iPad and smaller)                   *
                                                                       *
***********************************************************************/

@media (max-width: 1024px){
  .course-info .cover-wrapper{
    float: none;
    width: 75%;
    margin: 0 auto;
  }

  .course-info .description{
    float: none;
    width: 75%;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 2rem;
  }
}
