


#new_course,
.course{
  textarea{
    width: 580px;
    height: 50px;
  }

  .remove-fields{
    display: inline-block;
  }

  // override bootstrap style
  .checkbox input[type='checkbox']{
    float: none;
  }

}

// shared by courses#new, courses#edit
.chapter-fields{
  background-color: #ADB2BD;
  margin-top: 0.3em;
  padding: 0 1em;
  padding-bottom: 1em;
}
.section-fields{
  background-color: #DEDFE7;
  margin-top: 0.3em;
  padding: 0 1em;
  padding-bottom: 1em;
}



