@import "globals/variables";
@import "detail_page/detail_page_mixin";

.course-info{
  @include detail_page_box;
  position: relative;
  padding-top: 2em;
  background: white;
  box-shadow: $shadow_param;
}


.course-info .cover{
    float: left;
    margin-left: 2rem;
    width: 288px;
    height: 162px;
    overflow: hidden;
    margin-bottom: 1em;
}

.subscribe, .subscribed{
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.course-info .description{
  float: left;
  vertical-align: top;
  padding-left: 10px;
  margin-bottom: 1em;

  .title{
    font-family: Oswaldreg;
    font-size: 1.5em;
  }

  .producers, .video-duration, .category{
    display: inline-block;
    font-family: Latoitalic;
    font-size: 0.8em;
    @include separator;
  }

  article{
    text-indent: 1em;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.course-info .social-box{
  position: absolute;
  top: 2em;
  right: 0.5em;

  img{
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}


