<style>
	*{margin:0px;padding:0px;}
	body{font-size:12px;font-family:'Arial';line-height:20px;}
	h2.tit{font-size:14px;margin-top:8px;}
	.time{color:#aaa;margin:3px 0;}
	.main{margin-left:10px;width:228px;width:233px\9;height:270px;padding-right:8px;overflow-y:scroll;}
	.con{clear:both;}
</style>
<div class="main" title="滑动鼠标滑轮翻页">
	<h2 class="tit"><%= @shop_faq.head %></h2>
	<div class="time"><%= @shop_faq.cat.strftime("%Y-%m-%d") %></div>
	<div class="con">
		<%= @shop_faq.content.html_safe  %>
	</div>
</div>