<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<style type="text/css">
body{
  margin:40px 40px;
}
p{
 margin:0px;
 padding:0px;
 line-height:1.8;
 font-size:16px;

}
h1{
  margin:0px;
  padding:0px;
  font-size:70px;
}
h3{
  margin:0px;
  margin-bottom:60px;
  padding:0px;
  font-size:50px;
  color:#BEBEBE;
}
.frontimg{
  margin-bottom:70px;
}
#content img{
  max-width:100%;
}

</style>
</head>

<body>
  <h1><%= @shop_faq.head %></h1><br>
  <h3><%= @shop_faq.cat.strftime("%Y-%m-%d") %></h3><br>

   <%= image_tag @shop_faq.img.url,:style => "width:100%", :class => "frontimg"%><br>

<div id="content">
<%= @shop_faq.content.html_safe %>
</div>
</body>
</html>



