<style type="text/css">
p{
 margin:0px;
 padidng:0px;
 font-size:40px;

}
h1{
  margin:0px;
  padidng:0px;
  font-size:60px;
}
</style>


  <h1><%= @shop_faq.head %></h1>
  <h3><%= @shop_faq.cat.strftime("%Y-%m-%d") %></h3>

   <%= image_tag @shop_faq.img.url,:style => "width:100%"%>


<%= @shop_faq.content.html_safe %>


