<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<style type="text/css">
body{
  margin:20px 15px;
}
p{
 margin:0px;
 padding:0px;
 line-height:1.8;
 font-size:16px;

}
h1{
  margin:0px;
  padding:0px;
  font-size:20px;
}
h3{
  margin:0px;
  margin:5px 0 20px 0;
  padding:0px;
  font-size:14px;
  color:#BEBEBE;
}
.frontimg{
  margin-bottom:20px;
}
#content img{
  max-width:100%;
  display: block;
  margin: 5px auto;
}


</style>
</head>

<body>
  <h1><%= @shop_faq.head %></h1>
  <h3><%= @shop_faq.cat.strftime("%Y-%m-%d") %></h3>

   <%= image_tag @shop_faq.img.url,:style => "width:100%", :class => "frontimg"%>

<div id="content">
<%= @shop_faq.content.html_safe %>
</div>
</body>
</html>



