$("#alert-message").html("<div>Your request has been submitted. We'll get back to you soon!</div>")
$("#send-consultation").attr("disabled", true)
$("#consultation_description").attr("disabled", true)
