/* CSS Document */
.contop{ width:100%;clear:both;overflow:hidden;margin:0px;padding:0px; }
.conbottom{ width:100%;clear:both;overflow:hidden;margin:0px;padding:0px; }
.cbleft{float:left;width:206px;overflow:hidden;margin:0px;padding:0px;display:inline;zoom:1;}
.cbright{float:right;width:705px;margin:0 0 0 13px;padding:0;overflow:hidden;}
.img1{border:1px solid #906546;width:204px;height:105px;}

.product{background-image:url(http://img1.1dooo.com/img/shop_space/latuo/pic6.png);background-repeat:no-repeat;background-position:left 10px;color:#ffd991;line-height:24px;margin:5px 0px 0px 0px;padding:0px 0 0 20px;zoom:1;height:350px;overflow:hidden;}
.product a{ color:#ffd991; cursor:pointer; }
.product a:hover{ color:#fff;}
.product .pimg{float:left;border:1px solid #966c46;padding:1px;width:83px;height:112px;}
.product .pimg2{ _padding-top:10px; display:block; }
.product .pcon{float:left;margin-left:9px;width:125px;}
.product ul{display:block;overflow:hidden;margin-top:15px}
.product li{display:block;overflow:hidden;float:left;width:228px;margin-bottom:29px;zoom:1;}
.product h2{font-size:14px;font-weight:400;display:block;width:100%;overflow:hidden;height:50px;}
.product span{display:block}

/**主动画**/
.dh{position:relative;width:908px;height:285px;margin:0px atuo;background-image: url(http://img2.1dooo.com/img/shop_space/latuo/201111074.jpg);background-repeat: no-repeat;background-position: left top;
padding: 0px;overflow:hidden;}
.dh img{width:880px;height:260px;position:absolute; top:15px; left:13px;}
.prevbtn{background-image:url(http://img1.1dooo.com/img/shop_space/latuo/arrow3.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0}
.nextbtn{background-image:url(http://img2.1dooo.com/img/shop_space/latuo/arrow4.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0;padding:0}
.dhnum{position:absolute;width:155px;bottom:20px;height:21px;right:10px;z-index:5;}
.def{background-image:url(http://img1.1dooo.com/img/shop_space/latuo/sign6.png);background-repeat:no-repeat;background-position:left top;height:10px;width:10px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0}
.selected{background-image:url(http://img3.1dooo.com/img/shop_space/latuo/sign5.png)!important}
/**主动画over**/

