/* CSS Document */
.conrightlist {width: 660px;padding: 0px 0px 10px 0px;margin: 0px auto;display:block;overflow:hidden;border-top: 1px solid #D6B66B;
border-bottom: 1px solid #D6B66B;color:#fff;line-height: 30px; }
.conrightlist li { width: 650px; padding-left: 20px; float:left; border-bottom:1px dashed #9A7062;}
.conrightlist li.t { color: #FBDC89; font-weight:bold;border-bottom:1px solid #86592F;text-align:center;height:30px;margin-bottom:10px; }
.conrightlist .spanbox{ float:left; width:445px; display:block; overflow:hidden;}
.conrightlist .spanbox2 { text-align:center; float:left; width: 110px; display:block; overflow:hidden; }
.conrightlist .spanbox3 { text-align:center; float:left; width: 95px; display:block; overflow:hidden; }
.conrightlist .linebg { background-image: url(http://img3.1dooo.com/img/shop_space/latuo/pic15.jpg); background-repeat: no-repeat;
 background-position: right center; }
.conrightlist a { color: #FBDC89; }
.conrightlist a:hover { color: #fff; }

/** 页码样式css **/
.pages { width:100%; margin-top: 25px; color: #FBDC89;overflow:hidden;zoom:1; }
.pages .pagination{float:right;}
.pages .pagination a, .pages .pagination .current { padding: 0px 5px;margin:0px;display:block;width:10px; color: #FBDC89;float:left; }
.pages .pagination .prev_page{background-image: url(http://img2.1dooo.com/img/shop_space/latuo/sign7.gif);background-repeat: no-repeat;background-position: left top;text-indent:-9999em;
display: block;margin: 0px;padding: 0px;height: 13px;width: 18px;float:left;}
.pages .pagination .next_page{background-image: url(http://img3.1dooo.com/img/shop_space/latuo/sign8.gif);background-repeat: no-repeat;background-position: left top;text-indent:-9999em;
display: block;margin: 0px;padding: 0px;height: 13px;width: 18px;float:left;}
.pages .pagination a:hover, .pages .pagination a.hover{ font-weight: bold; color: #fff; }
.pages .pagination .current{color:#fff;}
/** 页码样式css over **/

/** 图片滚动 css **/
.photoAlbum{width:683px;height:85px;overflow:hidden;zoom:1;margin:20px auto 20px auto;padding:0}
.photoAlbum .pcont{width:628px;float:left;overflow:hidden;margin:0;padding:0}
.photoAlbum .ScrCont{width:10000%;zoom:1}
.photoAlbum .LeftBotton{float:left;display:inline;zoom:1;margin:35px 0px 0px 10px;padding:0;width:16px;height:16px;background-image: url(http://img3.1dooo.com/img/shop_space/latuo/sign.png);background-repeat: no-repeat;background-position: left top;}
.photoAlbum .LeftBotton:hover{ background-image: url(http://img3.1dooo.com/img/shop_space/latuo/sign.png); }
.photoAlbum .RightBotton{float:right;display:inline;zoom:1;margin:35px 10px 0px 0px;padding:0;width:16px;height:16px; background-image: url(http://img3.1dooo.com/img/shop_space/latuo/sign2.png);background-repeat: no-repeat;background-position: right top; }
.photoAlbum .RightBotton:hover{ background-image: url(http://img3.1dooo.com/img/shop_space/latuo/sign2.png); }
.photoAlbum a.pl{float:left;border:1px solid #B29D9A;margin-right:10px;margin-left:10px;overflow:hidden;display:inline;zoom:1;text-align:center;padding:0}
.photoAlbum .pl img{width:80px;height:80px;padding:1px}
.photoAlbum a.pl:hover, .photoAlbum a.pl.hover{border:2px solid #AF8553;}
.photoAlbum .pl span{display:block;margin:0;padding:0}
#List1_1, #List2_1 { float: left; }
/** 图片滚动 css over **/

/** art/art2 css **/
.art {padding: 0px;margin-top: 10px;margin-right: 35px;margin-bottom: 0px;margin-left: 35px;line-height: 23px;color:#E8E6E9;}
.art p{ text-indent:2em;margin:20px 0px; }
.art h1 , .art2 h1, .art2 h2{text-align:center !important;font-size:18px;}
.art2 h1{color:#F7DB8D;}
.art2 {padding: 0px;margin: 10px auto 0px auto;line-height: 23px;color:#E8E6E9;clear:both;width:608px;color:#E8E6E9;font-size:12px;overflow:hidden;}
.art2 .art2left{float:left;margin:0px;padding:0px;text-align:center;width:244px;overflow:hidden;}
.art2 .art2left img{padding:1px;border:1px solid #DAAF61;max-width:240px !important;max-height:480px !important; _width:240px; _height:330px;}
.art2 .art2right{float:left; margin-left:30px; padding: 0px; overflow:hidden;width:334px;}
.art2 .art2right h1{color:#C9A875;font-size:22px;margin-bottom:10px;font-family: ΢���ź�;}
.art2 .art2right2{float:right; padding: 0px;margin:0px;zoom:1; overflow:hidden;width:390px;}
/** art/art2 over **/

/** 评论 css **/
.reviews_right {width: 635px;padding: 0px;margin: 0px auto;display: block;zoom:1;overflow:hidden;background-image:url(http://img1.1dooo.com/img/shop_space/latuo/pic16.png);background-repeat:no-repeat;background-position:left top;}

.d_out{ width: 615px; overflow:hidden;padding: 16px 10px 10px 10px; border-top: 1px dashed #8b8888; }
.d_over{ width: 615px; overflow:hidden;padding: 16px 10px 10px 10px; border-top: 1px dashed #8b8888; }
.d_outa{ width: 615px; overflow:hidden;padding: 16px 10px 10px 10px; border-top: 1px dashed #8b8888; }

.reviews_right #comments { }
#comments h4.comments_list { font-size: 14px; color:#505050; }

#t_pl_picyure{ width:56px; float:left; line-height:20px; }
#t_pl_picyure img{ width:50px; height:50px; padding:2px; border: 1px solid #af8553; }
#t_pl_picyure h2{ font-size:12px; font-weight:normal; text-align:center; color:#DABD79; word-wrap:break-word; }
#t_pl_picyure a{ color:#DABD79; }

#pl-content{ width:544px; float:left; padding-left: 10px; line-height: 22px; color: #ccc; }
#pl-content span { float: right; color: #8b8888; }

#group_fbpl{ width:605px;margin: 15px auto 0px auto;background-image:url(http://img1.1dooo.com/img/shop_space/latuo/bg3.png);overflow:hidden;zoom:1;position:relative;background-repeat: repeat; }

#group-user-name{ background-color:#ccc;color:#666; padding:7px 15px; border:1px solid #999; overflow: hidden; zoom: 1; }
#group-user-name span{ float:left; width:200px; color:#333; display:block; }
#group-user-name a{ float:right; color:#666; text-decoration:none; margin:0 10px 0 0; display:block; }
#group-user-name a:hover { color:#f90; }

.comment_post { margin: 0px; padding: 10px; }
.comment_post input.sub { width: 50px; height: 24px; border: 1px solid #c4c4c4; }
.comment_post a { color: #000; }
.comment_post a:hover { color: #f90; }

.floatleft { width: 100%; margin-bottom: 10px; }

#pl_group{ padding:0px; height:24px; color:#333; font-weight:bold; }

#comment_nic_name{ font-size:14px; color:#000; background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; height:20px; }
#captcha{ font-size:14px; color:#000; background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; }
#body_id{ width:367px; height:140px; font-size:14px;color:#000;background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;}

#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; margin-top:33px; *top:60px; }
#pl_biaoqing h3{ font-size:13px; padding: 10px 0px; margin: 0px; }
#pl_biaoqing img{ margin:2px; }
/** 评论 css over **/

/** 图片列表页 css **/
.list{display:block;overflow:hidden;margin-top:20px;}
.list li{height:142px;width:142px;display:block;float:left;overflow:hidden;text-align:center;padding-top:8px;padding-left:7px;padding-right:7px;margin:0px 10px 8px 10px;}
.list .list_box{height:110px;width:140px;overflow:hidden;border:1px solid #fbdc89;padding:1px;}
.list .list_box img{width:140px;height:110px;}
.list a{font-size:14px;color:#EDEDED}
.list a:hover{color:#EDD48D}
.list .link_box{height:17px;width:100%;overflow:hidden; margin-top:10px;}

.product{color:#ffd991;line-height:24px;margin:20px 0px 0px 0px; padding:0px 0px 0px 20px;zoom:1;overflow:hidden;}
.product a{ color:#ffd991; cursor:pointer; }
.product a:hover{ color:#fff;}
.product .pimg{float:left;border:1px solid #966c46;padding:1px;width:83px;height:112px;}
.product .pimg2{ _padding-top:10px; display:block; }
.product .pcon{float:left;margin-left:9px;width:125px;}
.product ul{display:block;overflow:hidden;margin-top:15px}
.product li{display:block;overflow:hidden;float:left;width:228px;margin-bottom:29px;zoom:1;}
.product h2{font-size:14px;font-weight:400;display:block;width:100%;overflow:hidden;height:50px;}
.product span{display:block}
/** 图片列表页 css over **/

/**  优惠券列表 css **/
.gbb{width:100%;clear:both;margin:20px 0 0;padding:0}
.gbb ul{display:block;clear:both;overflow:hidden;list-style:none;margin:0px;padding:0px;}
.gbb ul li{width:310px;height:280px;display:inline;overflow:hidden;float:left;background-image:url(http://img2.1dooo.com/img/shop_space/latuo/gbb_bg.gif);background-repeat:no-repeat;background-position:left top;zoom:1;margin:0px 0px 20px 30px;padding:0}
.gbb .gbb_img{float:left;height:130px;width:135px;margin-top:20px;margin-left:20px;border:1px solid #acacac;overflow:hidden;zoom:1;*margin-left:10px;}
.gbb .gbb_img img{padding:1px;display:block;zoom:1;}
.gbb .gbb_img2{background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m1.gif);background-repeat:no-repeat;background-position:left top;float:right;margin-top:30px;margin-right:32px;*margin-right:16px;font-size:14px;text-align:center;height:50px;width:75px;font-weight:700;color:#FFF;padding-top:25px}
.gbb .gbb_plane{padding-top:10px;clear:both;font-size:12px;line-height:22px;height:80px;margin:0 10px 0 20px;color:#E7C462;}
.gbb .gbb_plane h1 a{font-size:14px;color:#f7db8d;text-decoration:none}
.gbb .gbb_plane h1 a:hover{color:#fff;}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0;color:#E7C462;}
.gbb .gbb_download em{font-style:normal;color:#f7db8d;}
.gbb .gbb_sub{height:25px;width:87px;float:right;margin-right:10px;margin-top:0;padding:0;border:none;background-color:transparent;text-indent:-9999em;
background-image:url(http://img3.1dooo.com/img/shop_space/gbb_buy2.gif);background-repeat:no-repeat;background-position:left top;overflow:hidden;zoom:1;cursor:pointer;}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0}
.gbb .gbb_r{float:right;margin-right:10px;}
.gbb .gbb_r2{float:right;}
/**  优惠券列表 css over **/

/** 优惠券发送页 css **/
.download_box{ clear:both;line-height:30px !important; margin-top:10px; margin-left:20px;color:#f7db8d;}
.download_box h1{ color:#f7db8d; font-size:14px; }
.download_box h2{ font-size:12px; color:#fff; font-weight:normal; font-weight:bold;display:inline !important; }
.download_box .sub{height:25px;width:87px;border:none;background-image:url(http://img3.1dooo.com/img/shop_space/sub.gif);background-repeat:no-repeat;background-position:left top;
color:#fff;cursor:pointer;cursor:hand;background-color:transparent;}
.download_box .sub:hover{color:#fff;}
.download_box .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;padding:2px;}
.download_box .imgs img{ height:205px;width:215px;margin:0px;padding:0px; display:block;}
/** 优惠券发送页 css over **/

/** 优惠券下载成功页 css **/
.mes{ margin: 20px 20px 25px 20px;clear: both; overflow: hidden;color:#f7db8d; }
.mes .mes_top { margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 5px; padding-left: 50px; }
.mes .mes_top h1 { font-size: 24px; color: #f7db8d; background-image: url(http://img1.1dooo.com/img/shop_space/sign10.gif); background-repeat: no-repeat; background-position: left 5px; padding-left: 40px; line-height: 40px; }
.mes .mes_top .mes_con { line-height: 20px; padding-left: 42px; }
.mes_con a { font-weight: bold; color: #f7db8d; text-decoration: none; }
.mes_con a:hover { color: #fff; text-decoration: underline; }
.mes .mes_return { text-align: right; line-height: 32px; padding-right:25px;margin-top:10px;}
.mes_return a { color: #f7db8d; text-decoration: none; background-image: url(http://img2.1dooo.com/img/shop_space/sign11.gif); background-repeat: no-repeat; background-position: 520px center;
margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; display: block; }
.mes_return a:hover { color: #ff; text-decoration: underline; }
.mes .mes_img { margin: 0px; padding: 0px; }
/** 优惠券下载成功页 css over **/

/** 优惠券详情页 css **/
.ec{ clear:both;margin:10px 20px 0;padding:0;color:#fff; }
.ec .imgs{ height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;margin-right:10px;padding:2px; }
.ec h1{ font-size:16px;color:#f7db8d;display:block;margin-bottom:30px; }
.ec h1 a{ color:#f7db8d;text-decoration:none; }
.ec h1 a:hover { color:#fff }
.ec h2{ font-size:12px;color:#fff;font-weight:400;margin:30px 10px 0; }
.ec .ec_div{ color:#fff;overflow:hidden;zoom:1;padding:15px 20px;background-color:#7d1303;border:1px solid #aaa; }
.ec .ec_div p{ float:left;margin:0;padding:0; }
.ec table { line-height:25px; }
.ec .ec_price{ background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m1.gif);background-repeat:no-repeat;background-position:center center;font-size:14px;font-weight:700;color:#FFF;vertical-align:middle;line-height:20px;margin:0;padding:24px 50px; }
.ec .ec_con{ line-height:25px;margin-top:15px;margin-right:10px;margin-left:10px; }
.ec .ec_r{float:right;}
.ec .ec_color{}
.ec .ec_color2{}
.ec .ec_color3{}
.ec_line{display:none;}
/** 优惠券详情页 css over **/

/** 团购券列表页 css **/
.gb{width:690px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#c5c4c4;margin:10px auto 0px auto;overflow:hidden;zoom:1;padding:0 0 8px}
.gb_word{font-size:24px;font-weight:700;zoom:1;clear:both;overflow:hidden;margin:0;padding:0 0 10px}
.gb_word a,.gb_word h1{font-size:24px;font-weight:700;text-decoration:none;color:#f7db8d}
.gb_word h1{line-height:30px;}
.gb_word h2{font-size:24px;display:inline;color:#c25f70}
.gb_left{float:left;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_right{text-align:center;float:right;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_buy{background-image:url(http://img3.1dooo.com/img/shop_space/pic02.gif);background-repeat:no-repeat;background-position:left top;height:84px;width:234px;text-align:left;clear:both;overflow:hidden;margin:0;padding:0}
.gb_buy b{font-weight:400;display:block;float:left;font-size:35px;color:#FFF;margin:25px 0 0 25px;padding:0;display:inline;}
.gb_buy form img{height:51px;width:104px;float:right;margin-right:10px;margin-top:17px;border:none;padding:0}
input.sub{border:1px solid #c4c4c4;background:#e9e9e9;background-image:url(http://img2.1dooo.com/img/shop_space/topdownbg.jpg);background-repeat:repeat-x;background-position:left top;width:50px;height:24px}
.gb_right ul{display:block;width:250px;overflow:hidden;margin:10px 0;padding:0;color:#fff;}
.gb_right ul li{display:block;float:left;width:83px;margin:0;padding:0}
.gb_word_style1{color:#f7db8d}
.gb_word_style2{font-weight:700;text-decoration:line-through}
.gb_word_style4{font-weight:700;color:#f7db8d}
.gb_right span{font-weight:700;text-align:left;display:block;font-size:14px;clear:both;width:222px;margin:0 0 0 28px;padding:0;color:#fff;}
.gb_time{background-image:url(http://img1.1dooo.com/img/shop_space/pic03.gif);height:41px;width:195px;background-repeat:no-repeat;background-position:left top;display:block;margin:10px auto 0;padding:0}
.gb_time ul{display:block;clear:both;width:100%;overflow:hidden;margin:0;padding:0;color:#000;}
.gb_time ul li{display:block;font-weight:700;margin:15px 0 0;padding:0}
.gb_time .gb_timeleft{margin-left:9px;width:33px}
.gb_time .gb_timemiddle{width:38px;margin-left:34px}
.gb_time .gb_timeright{width:35px;margin-left:23px}
/** 团购券列表页 css over **/

.crosshair{cursor: crosshair};
.pointer{cursor: pointer;}
.spb{width:205px;height:280px;text-align:center;overflow:hidden;float:left;}
.spb img{padding:1px;border:1px solid #DAAF61;width:201px;height:276px;}
.bpb{width: 390px; height: 278px; top:0px;left:0px;overflow: hidden; border: #DAAF61 1px solid; display:block; position: absolute; left:215px;filter: Alpha(Opacity=0); opacity:0; }
.mpb{width: 40px; height: 40px; overflow: hidden; background-color:#000; display: block; position: absolute; filter: Alpha(Opacity=0);opacity:0;}
.block{width:20px;height:20px;background-image:url(http://img2.1dooo.com/img/shop_space/blockbg.png);cursor: crosshair}

