/* CSS Document */
.weibo{background-image:url(http://img3.1dooo.com/img/shop_space/latuo/bg2.jpg);background-repeat:no-repeat;background-position:left top;color:#633b06;
margin:0px;padding:20px 0px 0px 18px;overflow:hidden;display:block; zoom:1;height:265px;}
.weibo .wbimg{border:1px solid #fefefe;float:left}
.weibo .imgs{border:1px solid #fff;float:left;margin-left:5px;overflow:hidden;zoom:1; width:64px; height:64px;}
.weibo .imgs2{margin-bottom:10px;}
.weibo .imgs3{display:block;margin-top:5px;text-align:right}
.weibo .weibocon{float:left;width:88px;margin:0 0 0 5px;padding:0;overflow:hidden;zoom:1;_display:inline;line-height:18px;}
.weibo .weibocon h1,.weibo .weibocon h1 a, .weibo .weibocon h2 a{color:#000;font-size:13px}
.weibo ul{float:left;margin-left:10px;line-height:25px}
.weibo a{color:#835252}
.weibo a:hover{color:#333}
.weibo .weibodown{line-height:30px;clear:both;background-image:url(http://img1.1dooo.com/img/shop_space/latuo/bg10.jpg);background-repeat:repeat-y;background-position:left top;height:30px;margin:0px;padding:0 0 5px 10px}
.weibo .renren{background-image:url(http://img1.1dooo.com/img/shop_space/latuo/sign3.png);background-repeat:no-repeat;background-position:left center;padding-left:18px;margin-left:5px;padding-top:5px;padding-bottom:5px}
.weibo .qq{background-image:url(http://img2.1dooo.com/img/shop_space/latuo/sign4.png);background-repeat:no-repeat;background-position:left center;padding-left:22px;margin-left:5px;padding-top:5px;padding-bottom:5px}
.imglink{padding:0px;margin:0px; display:block; overflow:hidden;}


/*��ֱ��������*/
#GoTop,#GoBottom {display:block; background-image: url(http://img3.1dooo.com/img/shop_space/latuo/arrow.jpg); background-repeat: no-repeat; background-position: left top; padding: 0px; height: 11px; margin-top: 5px;_margin-top:0px !important; margin-right: 6px; margin-bottom: 0px; margin-left: 6px; overflow:hidden; text-indent:-999999em;}
#GoTop:hover {  }
#GoBottom { margin:0px 6px;clear:both; background-image: url(http://img3.1dooo.com/img/shop_space/latuo/arrow2.jpg); }
#GoBottom:hover {  }
#ShowArea { height:140px; overflow:hidden; display:block; list-style:none; margin-top: 0px; margin-right: 22px; margin-bottom: 0px; margin-left: 6px; }
#ShowArea li { cursor:pointer; display:block; margin:0px; padding-top: 8px; padding-right: 0px; padding-bottom: 8px;
 padding-left: 0px; border-bottom: 1px dashed #000; color: #000; }
#ShowArea li .mes { line-height: 18px; }
#ShowArea .mes a { color: #000; margin-right: 2px; margin-left: 2px; }
/*��ֱ��������over*/

