body{font-family:宋体;font-size:12px;background-image:url(http://img3.1dooo.com/img/shop_space/latuo/201111075.jpg);background-repeat:no-repeat;background-position:center top;background-color:#340100;margin:0px;padding:0px;}

ul,li,p,h1,h2{margin:0;padding:0}
ul{list-style:none}
a{text-decoration:none}
img{border:none}
.noneborer{border:none !important;}
.fl{float:left}
.fr{float:right}
.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1;}
.nonebg{background-image:none!important}
.r{text-align:right}
.c{text-align:center}
.block{display:block}
.f13{font-size:13px;}

.gray{color:#999;}
.color{color:#0f0;}
.color:hover{color:#f7db8d;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px!important;}
.mt12{margin-top:12px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mtb12{margin-top:12px;margin-bottom:12px;}
.mb2{margin-bottom:2px}
.mb7{margin-bottom:7px}
.mb12{margin-bottom:12px}
.mb15{margin-bottom:15px!important;}

.title {
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	display:block;
	color:#fff;
	font-size:14px;
	background-image: url(http://img3.1dooo.com/img/shop_space/latuo/title.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: 微软雅黑;
}
.title h1,.title h2 {font-size: 14px;font-weight: normal}
.title6{
	margin:0px;
	overflow:hidden;
	background-image: url(http://img1.1dooo.com/img/shop_space/latuo/sign9.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px;
}
.title6 h1, .title6 h2{
	font-size: 12px; color: #DABD79; line-height:25px;
}

#MB{width:935px;margin:0px auto;padding:0px;overflow:hidden; position:relative;}
#Header{width:100%;margin:0px;padding:0px;overflow:hidden;zoom:1;display:block;height:175px;_height:172px;}

#Logo{ margin:18px 0px 0px 35px; padding:0px; float:left;zoom:1; overflow:hidden; _display:inline;}

#SubNav{float:right;display:block;overflow:hidden;color:#f7db8d;margin-right:30px; padding:0px;margin-top:15px;_display:inline;}
#SubNav li{float:left;overflow:hidden}
#SubNav a{color:#f7db8d;}
#SubNav a:hover{color:#fff;}

.menu{margin:0px;padding:0;position:absolute;left:220px;top:135px;_top:135px;line-height:35px;zoom:1;z-index:100;}
.menu #Menu_nav{width:100%;color:#f7db8d;font-size:14px;font-family:微软雅黑;position:relative;z-index:100;display:block;}
.menu #Menu_nav li{float:left;margin-left:40px;display:inline;position:relative;}
.menu #Menu_nav  a{color:#f7db8d;text-align:center;}
.menu #Menu_nav a:hover,.menu #Menu_nav li:hover, .menu #Menu_nav li.hover{color:#fff}
.menu #Menu_nav li ul {width:100px;margin-left:-22px;position:absolute;display:none; background-color:#3D0101;
clear:both;z-index:120;left:0px;top:35px;}
.menu #Menu_nav li ul li{width:100%;display:block;float:none;overflow:hidden;margin-left:0px;}
.menu #Menu_nav li ul a{font-size:12px;display:block;padding:0px;height:25px;line-height:25px;float:none;color:#f7db8d;}
.menu #Menu_nav li ul a:hover {color:#fff;}
.menu #Menu_nav li.hover ul, .menu #Menu_nav li:hover ul { display:block;overflow:hidden;zoom:1; }
.menu .navimg{display:block;float:left;margin-top:15px;}

#Con{ width:100%;clear:both;overflow:hidden;margin:0px;padding:8px 0px 0px 0px; }
#ConLeft{float:left;width:206px;overflow:hidden;margin:0px;padding:0px;display:inline;zoom:1;}
#ConRight{float:right;width:705px;margin:0 0 0 13px;padding:0;overflow:hidden;}

#Footer{ color:#f7db8d; width:100%; margin:20px 0px 0px 0px; padding:30px 0px 0px 0px; height:60px; background-image: url(http://img3.1dooo.com/img/shop_space/latuo/line2.png); background-position:center top; background-repeat:no-repeat;line-height:20px; }
#Footer .footleft{float:left;margin-left:10px; }
#Footer .footright{float:right;margin-right:10px;text-align:right;}
.footleft h1{padding: 0;margin:0;font-size:14px;font-weight: normal;display: inline;}
.footleft h2{padding: 0;margin:0;font-size:14px;font-weight: normal;display: inline;}
#Footer a{color:#f7db8d;}
#Footer a:hover{color:#fff;}

