<div class="box17right none" id="Box17Con5">
	<div class="title5">
		<h2>设置动作</h2>
		<a class="btn23 r mt5" id='mwebbtn' onClick="EditWeb()"/>编辑</a>
	</div>
	<div class="box17con">
	  <div class="blue3 f15 mt20 mb20 ml20">用户点击该子菜单会跳到以下手机网站页面</div>
	  <div class="box17coninner1">
		<div class="mt60"></div>
		<div class="box18"></div>
	  </div>
	</div>
</div>

<div class="box17right none" id="Box17Con6">
	<div class="title5"><h2>设置动作</h2></div>
	
	<iframe src="<%= Host::Mweb+"/api_menu?id=#{session[:shop_id]}" %>" id="PW" frameBorder=0 width="100%" height="450px"></iframe>
</div>