<div class="subtitle">商家logo</div>
<center class="gray2"><%= notice %></center>
<ul class="formlist2">
  <li>
    <span></span>
    <span class="right"><%=image_tag(@shop_logo.img)  if @shop_logo%></span>
  </li>
</ul>

<%= link_to '上传logo', {:action => :new} %>