<div class="subtitle">商家logo</div>
<center class="gray2"><%= notice %></center>
<ul class="formlist2">
  <li>
    <span></span>
    <span class="right"><%=image_tag(@shop_logo.img)  if @shop_logo%></span>
  </li>
</ul>
<%= "还没有logo,现在就来" if !@shop_logo  %>
<%= link_to '上传', {:action => :new} %>