<div class="subtitle">商家上传logo</div>




<%= form_for(:shop_logo, :url => { :action => "create" } ,:html => { :multipart => true }) do |f| -%>
  <ul class="formlist">
    <li>
      <label style ="width: 100px;">请选择一张图片：</label>
      <%= f.file_field :img, :class => "txt" %>
    </li>
    <li>* 图片格式为640*640</li>
    <li><input type="submit" value="上 传" class="btn"/></li>
  </ul>
<% end -%>

