#coupon,.coupon-use-ways{width:960px;margin:0 auto;}
#main{clear:both;margin:10px auto 0 auto}

/*优惠券分类*/
.coupon_category{float:left;width:196px;}
.coupon_category .top{background:url(/img/bg_all.png) no-repeat 0 -205px;height:8px;line-height:0;content:"";overflow:hidden;}
.coupon_category .box{background:#EDEDED;border-right:1px #D2D2D2 solid;border-left:1px #D2D2D2 solid;padding:0 3px;}
.coupon_category .box1{background:#fff;padding:1px 6px 0px 6px;min-height:0;_height:0}
.coupon_category .box1 h4{background:url(/img/bg_all.png) no-repeat -197px -205px;font-size:12px;color:#FF8063;width:56px;line-height:18px;height:17px;font-weight:normal;text-align:center;margin:3px 0 3px 0;}
.coupon_category .box1 dl{padding:5px;border-bottom:1px #ddd dotted;margin:0 0 2px 0}
.coupon_category .box1 dt a{clear:both;display:block;background:#676767;color:#fff;width:60px;text-align:center;margin:0 0 3px 0;line-height:15px;padding:2px 0 1px 0}
.coupon_category .box1 dd{min-height:0;_height:0}
.coupon_category .box1 dd a{display:block;float:left;margin-right:7px;white-space:nowrap;}
.coupon_category .bottom{background:url(/img/bg_all.png) no-repeat 0px -213px;height:8px;line-height:0;font-size:0;}
.coupon_category .box1 h4.region{margin:8px 0 5px 0; color:#70b0ce;}
.coupon_category .box1 dl.region{padding:3px 5px;border-bottom:none;margin:0}

/*焦点图片广告*/
.banner{float:left;width:518px; height:257px;margin:0 0 0 7px;padding:5px 7px;background:transparent url(/img/cash_ad_bg.jpg) left top no-repeat;position:relative;}
.container, .container *{margin:0; padding:0;}
.container{width:518px; height:257px;overflow:hidden;position:relative;}
.container .slider{position:absolute;}
.container .slider li{ list-style:none;display:inline;}
.container .slider img{ width:518px; height:252px; display:block;border:0}
.container .slider2{width:3000px;}
.container .slider2 li{float:left;}
.container .num{position:absolute; right:5px; bottom:5px;}
.container .num li{float: left;color:#fff;text-align:center;line-height:16px;width:45px;height: 16px;font-family:Arial;font-size:10px;cursor:pointer;overflow:hidden;margin:3px 1px 3px 0;background:url(/img/huadong-bg.jpg) no-repeat; opacity:0.4; -moz-opacity:0.4; filter:alpha(opacity=40);}
.container .num li.on{color:#fff;border:0;background:url(/img/huadong-bg-hover.jpg) no-repeat;opacity:0.8; -moz-opacity:0.86; filter:alpha(opacity=80); font-weight: bold;}
.banner .pre{position:absolute;left:0;top:110px;z-index:1000;}
.banner .pre input,.banner .next input{display:block;border:medium none;text-indent:-9999px;background:transparent url(/img/bg_home_ad.gif) 0 -366px;width:8px;height:44px;cursor:pointer;}
.banner .next{position:absolute;right:-3px;#right:0;_right:0;top:110px;z-index:1100}
.banner .next input{background-position:-20px -366px;}
.banner .stop{position:absolute;left:15px;bottom:10px;z-index:1200}
.banner .stop input,.banner .start input{display:none;border:medium none;text-indent:-9999px;background:transparent url(/img/bg_home_ad.gif) -42px -369px;width:16px;height:16px;cursor:pointer;}
.banner .start{position:absolute;left:35px;bottom:10px;z-index:1300}
.banner .start input{background-position:-73px -369px;}

/*下载排行*/
.hotlist{float:right;width:218px}
.hotlist .title{background:url(/img/bg_all.png) no-repeat -257px -205px;height:16px;padding:12px 0 0 37px;color:#FF8063}
.hotlist .list{height:191px;_height:189px;background:#fff;border-left:1px #868686 solid;border-right:1px #868686 solid;padding:6px 0 6px 12px;}
.hotlist .list li{clear:both;height:21px;vertical-align:middle}
.hotlist .list li .no123{float:left;background:url(/img/bg_all.png) no-repeat -477px -202px;color:#fff;width:13px;font-size:10px;font-weight:bold;text-align:center;padding-top:1px}
.hotlist .list li .coupon_title{float:left;padding:1px 0 0 5px;width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.hotlist .list li .up{float:left;display:block;background:url(/img/bg_all.png) no-repeat -518px -202px;width:10px;}
.hotlist .list li .down{float:left;background:url(/img/bg_all.png) no-repeat -534px -202px;width:10px;}
.hotlist .list li .mid{float:left;background:url(/img/bg_all.png) no-repeat -550px -202px;width:10px;}
.hotlist .list li .count{float:left;width:25px;font-size:10px;text-align:right}
.hotlist .bottom{background:url(/img/bg_all.png) no-repeat -257px -235px;height:10px;font-size:0;line-height:0;}

/*优惠券*/
#coupon{clear:both}
#coupon h4{clear:both;position:relative;background:url(/img/bg_all.png) no-repeat 0 -276px;height:45px;}
#coupon h4 .l{width:200px;text-indent:-9999px}
#coupon h4 .l a {display:block;height:45px;text-decoration:none;width:200px;}
#coupon h4 .r{padding:0 35px 0 0;line-height:45px;font-weight:normal;font-size:12px;}

#coupon .coupon_ent h4{background-position: 0 -330px;} /*休闲娱乐*/
#coupon .coupon_shop h4{background-position: 0 -384px;}/*生活购物*/

#coupon .c_new{float:left;width:300px;background:url(/img/bg_couponline.gif) repeat-y left top;height:370px;overflow:hidden;}
#coupon .c_rec,#coupon .c_hot{float:left;width:300px;background:url(/img/bg_couponline.gif) repeat-y -300px 0;padding-left:30px}
#coupon .box{border:1px #D5D5D5 solid;width:298px;background:#fff url(/img/bg_couponbox.gif) repeat-y right top;min-height:0;_height:0;position:relative;margin:10px 0 10px 0;float:left;}
#coupon .box .new{position:absolute;width:35px;background:url(/img/bg_couponbox.gif) no-repeat -5px -5px;height:35px;z-index:1000;margin:0;left:263px;top:0} 
#coupon .box a.price,#coupon .box a.price:hover{position:absolute;width:102px;height:30px;line-height:30px;z-index:1001;margin:0;left:2px;top:33px;color:#f60;font-size:18px;font-family:微软雅黑;font-weight:bold;text-align:center;background:transparent url(/img/bg_tran.png) repeat right top;text-decoration:none}
#coupon .box .photo{float:left;border-right:1px #D5D5D5 solid;padding:2px;}
#coupon .box .photobox{text-align:center;width:102px;overflow:hidden;}
#coupon .box .photobox img{height:97px;border:0;}
#coupon .box dl{float:left;margin:5px 0 0 5px;color:#666;width:185px;}
#coupon .box dl dt a{color:#f60;font-weight:bold;width:180px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#coupon .box dl dd input.download{width:73px;height:16px;display:block;float:right;background:#fff url(/img/bg_couponbox.gif) no-repeat -48px 0;border:0;text-indent:-9999px;margin:2px 10px 0 0;display:inline;cursor:pointer;}
#coupon .box dl dd input.print{width:75px;height:18px;display:block;float:right;background:#fff url(/img/bg_couponbox.gif) no-repeat -124px 0;border:0;text-indent:-9999px;margin:2px 10px 0 0;display:inline;cursor:pointer;}

#coupon .coupon_ent .box dl dt a{color:#5FA521}
#coupon .coupon_ent .box .new{background-position: -5px -53px;}
#coupon .c_rec .box .new,#coupon .c_hot .box .new{display:none}
#coupon .coupon_ent .box dl dd input.download{background-position: -48px -48px;}

#coupon .coupon_shop .box dl dt a{color:#20689D}
#coupon .coupon_shop .box .new{background-position: -5px -101px;}
#coupon .coupon_shop .box dl dd input.download{background-position: -48px -96px;}

#footer{border-top:none;margin-top:0}

.hotlist .list ul:after,.coupon_category .box1 dd:after,#coupon .box:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}


/*------------------------------cash----------2010.03.17---------------*/
#cash-liucheng{
width:532px;
height:92px;
margin-top:8px;
position:absolute;
float:left;
left:0px;
background:url(/img/cash_liucheng_bg.gif) no-repeat;
}
#cash_coupon_food{
width:957px;
height:247px;
padding:0 0 0 0px;
margin:8px 0 8px 2px;
background:url(/img/cash_coupon_food_bg.gif) no-repeat;
}
#cash_coupon_food_ol{
list-style:none;
}
#cash_coupon_food_ol li{
display:inline;
width:227px;
height:100px;
margin:0 0 0 12px;
float:left;
}
#cash_coupon_food_ol li h1{
padding:8px 0 3px 0;
font-size:18px;
font-family:'微软雅黑',simhei;
text-align:center;
}
#cash_coupon_food_ol li h1 a{
color:#db0202;
}
#cash_coupon_food_ol li h1 span{
color:#db0202;
}
#cash_coupon_food_show{
width:214px;
height:189px;
padding:12px 0 0 0;
padding-right:11px;
background:url(/img/cash_coupon_food_ol_li_bg.gif) no-repeat;
}
#cash_piture{
width:179px;
height:74px;
margin:0 auto;
background:url(/img/cash_piture_bg.gif) no-repeat;
padding:2px;
margin-bottom:10px;
_margin-bottom:6px;
}
#cash_piture img{
border:1px solid #ddd;
}
#cash_coupon_food_show h2{
display:block;
font-size:12px;
font-weight:normal;
margin-left:16px;
line-height:16px;
color:#000;
width:178px;
background:url(/img/cash_show_xuxian.gif) no-repeat left top;
padding:10px 0 0 0;
}
#cash_coupon_food_show h3{
display:block;
font-size:12px;
line-height:16px;
font-weight:normal;
padding-left:16px;
color:#000;
text-decoration:line-through;
}
#cash_coupon_food_show h5{
display:block;
font-size:12px;
line-height:16px;
font-weight:normal;
padding-left:16px;
color:#f96219;
}
#buy_to_pho{
width:182px;
height:25px;
margin-left:14px;
padding-top:8px;
}
#buy_to_pho img{
border:none;
}