.yhq{margin:0 auto;width:630px;background:#fff url(/img/bg_yhq.gif) no-repeat left bottom;min-height:210px;_height:210px;font-size:12px;}
.yhq table{height:180px;overflow:hidden;}
.yhq th{width:280px;text-align:center;margin:0;overflow:hidden;}
.yhq th h1{font:bold 36px 微软雅黑,黑体,arial;color:#f50;margin:0;padding:0}
.yhq th h2{margin:5px 0;padding:0;font:bold 16px 微软雅黑,黑体,arial;}
.yhq td{padding:0 10px;font-size:12px;font-family:arial;line-height:1.5}
.yhq td h3{background:url(/img/bg_yhq.gif) no-repeat -648px 4px;margin:0;padding:0 0 0 20px;font:bold 14px 微软雅黑,黑体,arial;color:#f50;}
.yhq td .addtel{padding:0}
.yhq td .desc{padding:10px 0 0 0;}
.yhq .date{text-align:right;color:#fff;padding:0 20px 0 0;line-height:30px;font-family:arial;}

.yhq1{margin:0 auto;width:630px;background:#FFFEDF;min-height:240px;_height:240px;font-size:12px;border:1px #636210 solid;font-family:arial;line-height:1.5}
.yhq1 .yhq1_left{float:left;width:378px;}
.yhq1 .yhq1_content{padding:0 10px;height:210px;overflow:hidden;}
.yhq1 .yhq1_content h1{font:bold 36px 微软雅黑,黑体,arial;color:#f50;margin:0;padding:0}
.yhq1 .yhq1_content h2{margin:0 0 5px 0;padding:0;font:bold 16px 微软雅黑,黑体,arial;}
.yhq1 .yhq1_content h3{background:url(/img/bg_yhq.gif) no-repeat -648px 4px;margin:0;padding:0 0 0 20px;font:bold 14px 微软雅黑,黑体,arial;color:#f50;}
.yhq1 .yhq1_content .addtel{padding:0}
.yhq1 .yhq1_content .desc{padding:10px 0 0 0;}
.yhq1 .date{height:30px;background:#636210;text-align:center;line-height:30px;color:#fff}
.yhq1 .yhq1_photo{float:right;width:252px;height:240px;overflow:hidden;}
.yhq1 .yhq1_photo img{height:240px;}

.yhq:after,.yhq1:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}


