@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
img{
border:0;
}
body{
background-color:#f3f3f3;
}
a{
text-decoration:none;
}
#err{
width:1000px;
margin:0 auto;
}
#er-yj-top{
width:1000px;
height:58px;
background:url(/img/err_img/err-bg1.jpg) no-repeat;
}
#err-logo-l{
width:321px;
height:36px;
float:left;
background:url(/img/err_img/err-bg2.jpg) no-repeat;
}
#err-logo-c{
width:288px;
position:relative;
height:36px;
float:left;

}
#logo-err{
width:160px;
height:80px;
position:absolute;
left:32%;
top:0;
}
#err-logo-r{
width:391px;
height:36px;
float:left;
background:url(/img/err_img/err-bg3.jpg) no-repeat;
}
.err-bg1{
width:250px;
height:160px;
float:left;
background:url(/img/err_img/err-bg4.jpg) no-repeat;
}
.err-bg2{
width:250px;
height:160px;
float:left;
background:url(/img/err_img/err-bg5.jpg) no-repeat;
}
.err-bg3{
width:250px;
height:160px;
float:left;
background:url(/img/err_img/err-bg6.jpg) no-repeat;
}
.err-bg4{
width:250px;
height:160px;
float:left;
background:url(/img/err_img/err-bg7.jpg) no-repeat;
}
#err-out{
width:1000px;
height:60px;
float:left;
background:url(/img/err_img/err-out.jpg) no-repeat;
}
#err-bg-8{
width:464px;
height:209px;
float:left;
background:url(/img/err_img/err-bg8.jpg) no-repeat;
}
#err-bg-9{
	width:1000px;
	height:169px;
	float:left;
	background:url(/img/err_img/err-bg9.jpg) no-repeat;
	padding: 40px 0 0;
	text-align:center;
}
#err-bg-9 a{
display:block;
width:101px;
height:51px;
float:right;
margin:15px 300px 0 20px;
background:url(/img/err_img/shouye-fh.jpg) no-repeat;
}
#err-bg-9 a:hover{
background:url(/img/err_img/shouye-fh-hover.jpg) 1px 1px no-repeat;
}
#err-shouye{
width:1000px;
background:url(/img/err_img/err-shouye-bg.jpg) no-repeat center top;
height:43px;
}
#er-yj-bottom{
width:1000px;
height:6px;
font-size:0;
}
