*{
margin:0;
padding:0;
}
#content{
background-color:#fff;
}
#content p{
height:30px;
color:#ff6600;
padding:15px 0 3px 389px;
font-size:14px;
font-weight:bold;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
}
.title{
height:25px;
padding:5px 0 3px 0;
background:url(/img/bg_shop.png) no-repeat;
}
.title h2{
float:left;
font-size:12px;
color:#d35100;
padding:0px 20px 0 8px;
overflow:hidden;
}
.title a{
display:block;
width:100px;
float:left;
}
.fm-label{
font-weight:bold;
}
.fm-explain{
color:#ccc;
padding:0px 0 15px 75px;
}
.fm-input{
padding:0 0 0 322px;
color:#555;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
}
.required{
color:#ff6600;
font-family:"新宋体";
font-weight:normal;
}
.i-text{
background:url(/img/user_name_bg.jpg) left top repeat-x;
border:1px solid #b5bbc8;
height:18px;
width:200px;
font-family:Arial, Helvetica, sans-serif;
padding:2px 0 0 2px;
font-weight:bold;
}
#img{
vertical-align:bottom;
}
.btn input{
background:none;
border:none;
width:50px;
height:25px;
background-color:#ff6600;
color:#fff;
margin:0 0 0 75px;
font-family:Arial, Helvetica;
border-left:1px solid #ccc;
border-top:1px solid #ccc;
border-right:1px solid #666;
border-bottom:1px solid #666;
cursor:pointer;
}
.pass-username{
font-weight:bold;
}

.notice {color:#c50;font-size:14px;font-weight:bold; padding: 0 0 0 130px}


#pass-bottom{
width:960px;
background-color:#ff0000;
height:16px;
background:url(/img/bg_shop.png) left -77px no-repeat;
}
#find-yzm{
width:75px;
_width:72px;
float:left;
font-weight:bold;
}
#yzm-dt{
width:450px;
_width:204px;
}