/* form 表单样式重写 黄*/
form p {margin: 5px 0;}
form p .inputs{background-color: #F6F6F6;border: 1px solid #D7DADF;border-radius: 3px 3px 3px 3px;
               box-shadow: 0 1px 0 #666666 inset;color: #666666;font-size: 14px;padding: 7px; width: 150px;}

form p span{display: inline-block;  margin: 0px; padding: 0px; color: #5C6C7C; }
form p .sodd{padding-top:  10px;vertical-align: top; width: 70px; text-align: right;font-size: 14px;padding-right: 10px;}
form p .sven{ text-align: left;font-size: 12px; width: 170px; overflow: hidden;}

form p .lsven{ text-align: left;font-size: 12px; width: 600px; overflow: hidden;}
form p .stex{width: 50px;vertical-align: top;font-weight: bold; }
form .link1{background: url("../images/sign17.png") no-repeat scroll right center transparent;color: #5C6C7C; float: left;
            font-size: 14px;margin-top: 10px;padding-left: 40px; padding-right: 25px;}
form p .textareas{ background-color: #F6F6F6;border: 1px solid #D7DADF; border-radius: 3px 3px 3px 3px;
                   box-shadow: 0 1px 0 #666666 inset;color: #666666;font-size: 14px;height: 120px; padding: 7px;  width: 250px;}
form p .fw{font-weight: bolder; width: 200px;}

form p .lsven input{ width: 220px;}
form p .lsven textarea{height: 300px; width: 550px;}
form a{font-weight: bold;color: #0B99D7; }
form p select{padding: 2px;}
.partner {width: 500px; min-height: 50px; position: relative; left: 140px; margin: 5px 0;}
.divNTemplet {display: none;}
