body { background: #f3f3f3; margin: 0px; padding: 0px; font-family: "宋体"; font-size: 12px; line-height: 1.5; }

h1, h2, ul, li, form { padding:0px; margin:0px;}
ul{ list-style: none; }
img { border: none; }
a{ color:#444; text-decoration:none; }
a:hover{ color:#f00; }

.red{ color:#e40; }
.red2{ color:#f00; }
.orange{ color:#ff6600; }
.orange2{ color:#ff8b03; }
.orange3{ color:#fe7574; }
.blue{ color:#1581ed; }

.through{ text-decoration: line-through; }
.clear{ margin:0px; padding:0px; overflow:hidden; width:100%; height:0px; clear:both; line-height:0px; }
.r{float:right;}

.f14{ font-size: 14px; }

.lh24{ line-height:24px !important; }

.mt5{ margin-top: 5px !important; }
.mt9{ margin-top: 9px; }
.mt8{ margin-top:8px !important; }
.mt12{ margin-top:12px !important; }
.mt14{ margin-top:14px !important; }
.mt15 { margin-top:15px !important; }
.mt24{ margin-top:24px !important; }
.mt20 { margin-top:20px !important; }
.ml10{ margin-left: 10px !important; }
.mr5 { margin-right:5px; }
.mr10{ margin-right: 10px !important; }
.mb5 { margin-bottom:5px !important; }
.mb20 { margin-bottom:20px !important; }
.mtb12{margin:12px 0px !important;}

#topbar { line-height: 30px; background: url(http://img1.1dooo.com/img/bg_all.png) repeat-x left top; height: 30px; }
#topbar .topbar_box { margin: 0px auto; width: 960px; clear: both; }
#topbar .welcome { padding-left: 10px; float: left; }
#topbar .loginstate { float: right; padding: 0px 10px 0px 0px; }
#topbar .loginstate li { padding: 0px 8px; line-height: 30px; float: left; }

#header { margin: 0px auto; padding: 0px; width: 960px; clear: both; position: relative; text-align: right; }
#header a { float: left; }


#nav { width: 960px; height: 40px; clear: both; padding: 4px 0px 0px 0px; margin: 0px auto; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat 0px -51px; }

#nav ul { width: 666px; display: block; overflow: hidden; zoom: 1; margin:0px auto; }
#nav li { width: 120px; float: left; text-align: center; overflow: hidden; padding-top: 4px; padding-bottom: 4px; }
#nav li a { line-height: 25px; display: block; color: #fff; font-size: 14px; font-weight: 700; text-decoration:none; }
#nav li.ha { padding:0px; }
#nav li.ha a { padding: 0px !important; line-height: 40px; margin: 0px auto;  width: 118px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -576px -150px; color: #e50; }
#nav li.ha a:hover { background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -576px -150px; }
#nav #tag2 { position: relative; }
#nav #tag200 { position: relative; }
#nav #tag2 img { position: absolute; top: 0px; left: 80px; }
#nav #tag200 img { position: absolute; top: 0px; left: 80px; }

#subnav { margin: 0px auto; width: 960px; height: 35px; clear: both; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat 0px -96px; }
#subnav .hotsearch { text-align: center; line-height: 22px; margin: 3px 0px 0px 20px; width: 75px; display: inline; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -141px -149px; float: left; height: 22px; color: #fff; }
#subnav .hotsearch_key { padding-bottom: 0px; padding-left: 10px; width: 450px; padding-right: 0px; float: left; height: 20px; overflow: hidden; padding-top: 7px; }
#subnav .hotsearch_key a { padding-bottom: 0px; padding-left: 10px; padding-right: 0px; WHITE-SPACE: nowrap; float: left; color: #36c; padding-top: 0px; }
#subnav .hotsearch_key .highlight { color: red }

.searchform { float: right; width: 260px; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 2px; }
.searchform input#s { padding-left: 25px; width: 155px; display: block; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -228px -149px; float: left; height: 19px; padding-top: 6px; border:none; }
.searchform input[type=submit] { text-indent: -9999px; width: 52px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -513px -150px; height: 26px; margin-left: 5px; cursor: pointer; border: none; }
.searchform input.nav_serchbt { background:transparent;  text-indent: -99999px; width: 52px; background: url(http://img1.1dooo.com/img/bg_all.png) no-repeat -513px -150px; height: 26px; margin-left: 5px; cursor: pointer; border: none; display:block; }

.step-nav { width:945px; padding:0px 0px 0px 15px; margin: 5px auto 0px auto; background-image: none; height:auto; line-height: 22px; background-image:none !important; }
.step-nav a{ color:#3366CC; }
.step-nav a:hover{ color: #f00; }

#main { margin: 10px auto 0px; width: 960px; clear: both; background-image:none !important ;}

#footer { margin: 0px auto; width: 960px; clear: both;text-align: center;  clear: both; padding: 10px 0px; }
#footer .footer_nav { color: #aaa; padding: 5px 0px; }
#footer .footer_nav a { padding: 0px 5px; }

/*以下代码新页面不需要只为兼容旧页面*/
#pl-content { width:480px!important;}
#pl_content{ width:588px !important;margin-top: 0px !important;}
#pl_biaoqing{top:45px !important;}
.comment_post{background-color:#F3F3F3 !important;}
#help-left{ overflow:hidden; padding:0px; margin:0px; display:block; zoom:1; }
.validate_notice{ background-color:#F3F3F3 !important;}
