body{background:#fff}

body,p,ol,ul,td,pre,dl,label,form{font:12px/1.5 Arial,verdana,Helvetica,sans-serif;margin:0;padding:0;line-height:180%}
ul{list-style:none}

a{color: #444;text-decoration:none}
a:hover{color:#f40;text-decoration:underline}

.f14{font-size:14px}
.f12{font-size:12px}
.st{font-weight:bold;}
.uline{text-decoration:underline;}
.gray{color:#888}
.blue{color:#2178B4;}
.red{color:#e40;}

#header,#menu,#main,#user_main,#about_main,#shop_main,#footer,#shop_admin_main{width:900px;margin:0 auto;clear:both;}

#header{padding:5px 0}
#header .logo{float:left;margin:0;padding:0;}
#header ul{float:right;text-align:right;margin-top:25px;}
#header ul li{float:left;padding:0 8px;}

#menu,#menu ul,#menu .search,#menu ul li a:hover,#menu .ha,.hc,#menu .search input{background:url("/img/bg_menu.png") no-repeat;}

#menu{background-position:0px 0px;background-repeat:repeat-x;height:45px}
#menu ul{float:left;background-position:0px -45px;height:45px}
#menu ul li{float:left;display:block;}
#menu ul li a{float:left;padding:10px 15px 0;height:28px;border-right:1px #F8F0CB solid;zoom:1;color:#414447;text-decoration:none;font-weight:bold}
#menu ul li a:hover{background-position:-6px -135px;}
#menu ul li span a:hover{background-position:0px -135px;}
#menu .ha{background-position:-6px -180px;}
#menu .ha a{color:#fff;}
#menu .ha a:hover{color:#414447;}
.hc{background-position:0px -180px;}

#menu .search{float:right;background-position:right -90px;height:40px;padding:5px 15px 0 0}
#menu .search input#s {float:left;width:211px;height:26px;background-position:0px -255px;border:medium none transparent;line-height:26px;padding-left:8px;}
#menu .search input[type="submit"] { width:48px;height:28px;background-position:0px -290px;border:medium none;text-indent:-9999px;}

#home_banner{background:#fff url("/img/bg_home_banner.png") no-repeat;height:230px;border-bottom:0px #ddd solid;margin:2px auto 0 auto;padding:20px 0 0 430px;}
#home_banner dl{padding:0}
#home_banner dl dd{padding:8px 4px;margin:0;color:#888}
#home_banner dl dd.notice{padding:2px 5px;}

#main{}

.home_tuijian{margin:8px 0;padding:0 10px 0 20px;background:#f5f5f5 url("/img/bg_box.png") no-repeat;}
.home_tuijian table{height:104px}

#home_left{float:left;width:420px;}
#home_right{float:right;width:470px;}

.home_categories{background: url("/img/bg_box.png") 0px -250px no-repeat;padding:10px 0 10px 10px;height:150px;}
.home_categories h2{font-size:14px;margin:0;padding:0 0 3px 8px;}
#categories{min-height:20px;_height:20px;padding-left:8px}
#categories li{clear:both;padding:4px 0}
#categories a{float:left;padding-right:17px}

.home_process{background: url("/img/bg_box.png") 0px -430px no-repeat;padding:10px 0 10px 15px;height:153px;}
.home_process h2{font-size:14px;margin:0;padding:0 0 5px 3px;}

.home_discounts{}
.home_discounts h2{font-size:14px;margin:0;padding:0 10px;background: url("/img/bg_box.png") 0px -150px no-repeat;line-height:32px;}
.home_discounts h2 a{float:right;font-size:12px;font-weight:normal;color:#888}
.home_discounts .home_discounts_bottom{background: url("/img/bg_box.png") 0px -210px no-repeat;height:7px;line-height:0;font-size:0;}

#discounts{min-height:20px;_height:20px;border-left:1px #ddd solid;border-right:1px #ddd solid;padding:9px 0 0 10px ;}
#discounts li{height:56px;*height:53px;}
#discounts table{width:100%;}
#discounts table th{width:74px;background: url("/img/bg_icon.png") 0px -360px no-repeat;line-height:140%;color:#796200;margin:0;padding:0}
#discounts table th strong{display:block;font-size:14px;color:#f30}
#discounts table td{padding:0 0 0 8px;color:#666}
#discounts table h3{margin:0;padding:0;}
#discounts table h3 a{font-size:14px;color:#2178B4;text-decoration:underline;padding-right:5px;}
#discounts table h3 a:hover{color:#f50}

#home_shop{}
.home_shop_banner{float:left;width:174px;}
.home_shop_tuijian{float:left;background: url("/img/bg_box.png") 0px -620px no-repeat;width:296px;height:152px}
.home_shop_tuijian h2{font-size:14px;margin:0;padding:0 10px;line-height:30px;}
.home_shop_tuijian img{margin:12px 0 0 12px;}

#search{background:#f5f5f5;padding:4px 10px}
#search input#name{width:100px;}
#search input#shop{width:100px;}

.step-nav{padding:0 0 5px 0}
.step-nav a{text-decoration:underline}
.nav_cat_s{min-height:20px;_height:20px;border-top:1px #eee solid;border-bottom:1px #eee solid;padding:10px 0}

.flash_notice {color:#c50;font-size:14px;font-weight:bold}

#content{float:left;width:700px;}
#side_a{float:right;width:180px;}

#order{padding:8px;background: url("/img/bg_icon.png") 0px -35px no-repeat}
#order a{margin:5px 8px;width:98px;height:22px;line-height:24px;text-align:center}

table.discount_dt{clear:both;width:100%;background:#f5f5f5;border-bottom:1px #ddd solid;border-top:1px #EBD16E solid;color:#888;}
table.discount_dt a{color:#888;text-decoration:underline;} 
.discount_dd{border-bottom:1px #ccc dotted;padding:15px 0 15px 8px;}
.discount_dd table{width:100%;}

.dl_name{color:#888;width:335px;}
.dl_name h2{margin:0;padding:0}
.dl_name h2 a{font-size:14px;color:#2178B4;text-decoration:underline;padding-right:5px;}
.dl_name h2 a:hover{color:#f50}
.dl_name h2 span{font-size:12px;font-weight:normal;}

.dl_dsct{width:74px;text-align:center}
td.dl_dsct{color:#f40;font-size:14px;font-weight:bold;background: url("/img/bg_icon.png") 0px -360px no-repeat;line-height:16px;}

.dl_download{width:16%;text-align:center;color:#888;}
.dl_download input{background: url("/img/bg_icon.png") left top no-repeat;display:block;width:92px;height:25px;border:medium none;text-indent:-6999px;cursor:pointer;margin:0 auto;padding:0}
.dl_download input[type="hidden"]{display:none}
.dl_data{width:25%;text-align:center}
.dl_data span{color:#888;}
.dl_desc{}

.shop_home_brief{background:#FFFFF9;border:1px #F6F4D9 solid;padding:5px 10px;}
.shop_home_brief h3{padding:2px 0 0 0;margin:0}

.pagination{padding:10px 5px;min-height:20px;_height:20px;}
.pagination a,.pagination span{float:left;border:1px #ddd solid;padding:0 5px;margin:0 3px;font-family:verdana}
.pagination a{color:#2178B4;}
.pagination a:hover{background:#f5f5f5}
.pagination .disabled{display:none}
.pagination .current{background:#FBEF94;border:1px #EFC249 solid}

h2.comments{background:#f8f8f8;font-size:12px;margin:30px 0 0 0;padding:2px 10px;border-top:1px #eee solid}
.comment{padding:10px;border-bottom:1px #eee solid}
.comment strong{color:#999;display:block}
.comment_post{padding:20px 10px;}
.comment_post label{display:block;font-weight:bold}
.comment_post textarea{float:left;display:block;width:500px;height:100px;}
.comment_post input{float:left;display:block;margin:80px 0 0 10px;font-size:12px;line-height:18px;}


.process h2{background: url("/img/bg_icon.png") 0px -90px no-repeat;color:#555;font-size:12px;padding-left:8px;line-height:28px;margin:0;}
.process ul{border:1px #e5e5e5 solid;margin-top:1px}
.process ul li{border-bottom:1px #e5e5e5 solid;padding:10px 10px 10px 50px;clear:both;color:#777}
.process ul li span{position:absolute;z-index:11000;color:#F5EBD1;font-size:40px;padding-left:22px;line-height:32px;margin:-5px 0 0 -58px;}
.process ul li.end{border-bottom:0;}
.process ul li.select{background:#f5f5f5;color:#0093D1;}
.process ul li.select span{background: url("/img/bg_icon.png") 0px -160px no-repeat;color:#E8D298;}
.process ul li.three span,.process ul li.end span{margin:3px 0 0 -58px;}

.download_box{padding:20px 0 0 10px}
.download_box h2{padding:0;margin:0;color:#f50}

.main_reg{margin:10px auto 30px auto;padding:10px 30px 30px 30px;border:1px #bbb solid;width:600px;}
.main_reg h2{border-bottom:1px #ddd solid;font-size:18px;line-height:180%;}
.main_reg table{width:500px;}
.main_reg table th{text-align:right;padding:0 10px 10px 10px;vertical-align:top;}
.main_reg table td{padding:0 0 10px 0;color:#666}
.main_reg table th label{font-size:14px;}
.main_reg table td input[type="text"],.main_reg table td input[type="password"]{font-size:14px;width:244px;border-color:#7C7C7C #CCCCCC #DDDDDD;border-style:solid;border-width:1px;padding:4px 5px;background:#f8f8f8}
.main_reg table td.act{padding:15px 0}
.main_reg table td.act input{background:#2782D6;border-color:#DDDDDD #264F6E #264F6E #DDDDDD;border-style:solid;border-width:1px;color:#FFFFFF;height:24px;line-height:20px;
padding:1px 10px;text-align:center;margin-right:10px;font-size:14px}
.main_reg table td.act a{color:#2178B4;text-decoration:underline;}
.main_reg table td.act .reged a{font-size:14px;font-weight:bold;}

.main_reg p{clear:both;margin:0;padding:10px 0 0 0;font-size:14px;}
.main_reg p label{float:left;margin-right:10px;text-align:right;width:150px;font-size:14px;}
.main_reg p input[type="text"],.main_reg p input[type="password"]{font-size:14px;width:244px;border-color:#7C7C7C #CCCCCC #DDDDDD;border-style:solid;border-width:1px;padding:4px 5px;background:#f8f8f8}
.main_reg p.act,.main_reg p.agreement {margin-left:160px;font-size:12px;}
.main_reg p.act .reged{font-size:12px;}
.main_reg p.act .reged a{font-size:14px;color:#2178B4;font-weight:bold;}
.main_reg p input[type="submit"]{background:#2782D6;border-color:#DDDDDD #264F6E #264F6E #DDDDDD;border-style:solid;border-width:1px;color:#FFFFFF;height:24px;line-height:20px;
padding:1px 10px;text-align:center;margin-right:10px;}
.main_reg p.agreement a{color:#2178B4;}

.main_reg h2.loginh2{border-bottom:0;}
.login_nav{margin:-20px 0 40px 0;border-bottom:1px #aaa solid;padding:0 0 0 160px;position:relative;min-height:20px;_height:20px;}
.login_nav li{border:1px solid #999;display:inline;float:left;margin-right:8px;position:relative;top:1px;}
.login_nav li.login_nav_select{border-bottom:1px solid #FFFFFF;}
.login_nav li a{float:left;background:#aaa;border-top:1px solid #ccc;color:#fff;line-height:180%;padding:2px 15px;}
.login_nav li.login_nav_select a{background:#fff;border-top:1px solid #eee;color:#333;padding:2px 15px;}

.errorExplanation{background:#FFFBCC;border:1px #FFEC19 solid;padding:5px 10px;}
.errorExplanation h2{font-size:14px;border-bottom:0;margin:0;padding:0;}
.errorExplanation p{display:none;}
#errorExplanation ul{margin-left:24px;}
#errorExplanation ul li {font-size: 12px;list-style: circle;}

.fieldWithErrors {margin:0;padding:0}
.fieldWithErrors label{font-size:14px;color:#b00}
.main_reg table td .fieldWithErrors input{background:#f96}


#user_main{background:#F9F7E7;}
.user_nav{float:left;width:150px;}
.user_content{float:right;width:698px;background:#fff;min-height:500px;_height:500px;border:1px #DBD4A1 solid;padding:20px 20px 20px 30px}

.user_nav ul{border-bottom:1px #fff solid;border-top:1px #E6E0B4 solid;}
.user_nav li{display:block;position:relative;height:32px;}
.user_nav li.star{height:0;line-height:0;content:"";padding:0;margin:0;display:none}
.user_nav li a{display:block;padding-left:15px;line-height:30px;height:30px;font-size:14px;border-top:1px #fff solid;border-bottom:1px #E6E0B4 solid}
.user_nav li a:hover{background:#F6F3D7;}
.user_nav .ha{}
.user_nav .ha a,.user_nav .ha a:hover{position:absolute;background:url("/img/bg_user.gif") 0px 0px no-repeat;;border:0px #aaa solid;height:36px;line-height:36px;margin:-1px -10px 0 0;z-index:1;width:141px;font-weight:bold;color:#6F5414}


#about_main{background:#f5f5f5;}
.about_nav{float:left;width:150px;}
.about_content{float:right;width:698px;background:#fff;min-height:500px;_height:500px;border:1px #ddd solid;padding:20px 20px 20px 30px}

.about_nav ul{border-bottom:1px #fff solid;border-top:1px #ddd solid;}
.about_nav li{display:block;position:relative;height:32px;}
.about_nav li.star{height:0;line-height:0;content:"";padding:0;margin:0;display:none}
.about_nav li a{display:block;padding-left:15px;line-height:30px;height:30px;font-size:14px;border-top:1px #fff solid;border-bottom:1px #ddd solid}
.about_nav li a:hover{background:#eee;}
.about_nav .ha{}
.about_nav .ha a,.about_nav .ha a:hover{position:absolute;background:url("/img/bg_about.gif") 0px 0px no-repeat;;border:0px #aaa solid;height:36px;line-height:36px;margin:-1px -10px 0 0;z-index:1;width:141px;font-weight:bold;color:#6F5414}

#shop_admin_main{background:#E4F0F5;}
.shop_admin_nav{float:left;width:150px;}
.shop_admin_content{float:right;width:698px;background:#fff;min-height:500px;_height:500px;border:1px #A9CCDB solid;padding:20px 20px 20px 30px}

.shop_admin_nav ul{border-bottom:1px #fff solid;border-top:1px #C1DAE5 solid;}
.shop_admin_nav li{display:block;position:relative;height:32px;}
.shop_admin_nav li.star{height:0;line-height:0;content:"";padding:0;margin:0;display:none}
.shop_admin_nav li a{display:block;padding-left:15px;line-height:30px;height:30px;font-size:14px;border-top:1px #fff solid;border-bottom:1px #C1DAE5 solid}
.shop_admin_nav li a:hover{background:#DBECF3;}
.shop_admin_nav .ha{}
.shop_admin_nav .ha a,.shop_admin_nav .ha a:hover{position:absolute;background:url("/img/bg_user.gif") 0px -88px no-repeat;;border:0px #aaa solid;height:36px;line-height:36px;margin:-1px -10px 0 0;z-index:1;width:141px;font-weight:bold;color:#14546F}

.user_content h1,.about_content h1,.shop_admin_content h1{font-size:14px;margin:10px 0;padding:0;}
.user_content table,.shop_admin_content table{width:100%;border:0;}
.user_content table th,.shop_admin_content table th{background:#eee;border-bottom:1px #ddd solid}
.user_content table td,.shop_admin_content table td{border-bottom:1px #ddd solid;padding:4px 0}

.user_content a,.about_content a,.shop_admin_content a{text-decoration:underline}

.shop_admin_content h1 a{float:right;background:#2782D6;border-color:#DDDDDD #264F6E #264F6E #DDDDDD;border-style:solid;border-width:1px;color:#FFFFFF;height:24px;line-height:24px;
padding:1px 10px;text-align:center;font-size:12px;text-decoration:none}


#shop_content{float:left;width:630px;}
#shop_side{float:right;width:250px;}

.shop_title{background:#f8f8f8;min-height:50px;_height:50px;padding:0 20px;position:relative;border-bottom:1px #aaa solid;margin:0 0 20px 0}
.shop_title h1{color:#3F1500;font-family:'微软雅黑',simhei;font-size:25px;margin:0;padding:20px 0}

.shop_nav{margin:0;padding:0;position:relative;min-height:20px;_height:20px;}
.shop_nav li{border:1px solid #999;display:inline;float:left;margin-right:8px;position:relative;top:1px;}
.shop_nav li.shop_nav_select{border-bottom:1px solid #FFFFFF;}
.shop_nav li a{float:left;background:#aaa;border-top:1px solid #ccc;color:#fff;line-height:180%;padding:2px 15px;}
.shop_nav li.shop_nav_select a{background:#fff;border-top:1px solid #eee;color:#333;padding:2px 15px;}

.shop_brief{width:100%;margin-top:10px;}
.shop_brief img{margin:10px 0 0 0;}
.shop_brief_text{padding-left:15px;}
.shop_brief_text h3{padding:2px 0;margin:5px 0;font-size:14px;border-bottom:1px #eee solid}

.shop_right{}
.shop_right h2{background: url("/img/bg_icon.png") 0px -300px no-repeat;color:#555;font-size:12px;padding:0 10px;line-height:28px;margin:0;}
.shop_right h2 .r{float:right;font-weight:normal}
.shop_right dl{border:1px #DFC666 solid;margin-bottom:10px}
.shop_right dl dt{background:#f5f5f5;border-bottom:1px #eee solid;padding:5px 10px;font-weight:bold}
.shop_right dl dd{margin:0;padding:5px 10px;}
.shop_right dl dd li{background: url("/img/bg_icon.png") 0px -528px no-repeat;padding-left:10px}

#footer{border-top:1px #ddd solid;text-align:center;padding:15px 0;line-height:180%;margin-top:30px;}
.footer_nav{color:#aaa}
.footer_nav a{padding:0 5px}

#header:after,#menu:after,#main:after,#footer:after,#menu ul:after,#categories:after,#discounts:after,#home_main:after,.nav_cat_s:after,.pagination:after,#user_main:after,#about_main:after,#shop_main:after,.login_nav:after,#shop_admin_main:after,.shop_nav:after,#categories li:after,#discounts li:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}
