/* CSS Document */
body{ background-image: url(http://img3.1dooo.com/img/bg201106228.jpg); background-position: left top; background-repeat:repeat-x; }
#footer{ background-image: url(http://img1.1dooo.com/img/bg201106229.jpg); background-position: left top; background-repeat:repeat-x; }
.mtop { margin: 0px; padding: 0px; width: 100%; overflow: hidden; }
.mbottom{ overflow:hidden; margin:0px; padding:0px 0px 30px 0px; zoom:1;}
.mbottomleft{ width:730px; float:left; margin:0px; padding:0px; overflow:hidden; zoom:1; }
.mbottomright{ width:220px; float:left; margin:0px; overflow:hidden; zoom:1; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }

.title { font-size: 14px; font-weight: bold; color: #fff; background-image: url(http://img2.1dooo.com/img/titlebg20110622.jpg); text-align: center; margin: 0px; padding: 0px; height: 29px; width: 186px; line-height: 29px; letter-spacing: 1px; }
.title h2 {font-size: 14px;font-weight: bold}

.title2 { background-image: url(http://img3.1dooo.com/img/titlebg201106225.jpg); background-repeat: no-repeat; background-position: left top; margin: 0px; height: 52px; width: 697px; overflow: hidden; line-height: 52px; color: #f4940a; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 18px; }
.title2 h1 { font-family:"微软雅黑","宋体"; font-size:20px; float:left; }
.title2 .title2_sub { margin: 0px; padding: 0px; float: right; color: #666; }
.title2 .title2_sub a { margin-right: 5px; margin-left: 5px; color: #666; }
.title2 .title2_sub a:hover , .title2 .title2_sub a.hover { color: #f00; }

.title3 { background-image: url(http://img3.1dooo.com/img/titlebg201106225.jpg); background-repeat: no-repeat; background-position: left top; margin: 0px; height: 52px; width: 697px; overflow: hidden; line-height: 52px; color: #f4940a; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 18px; }
.title3 h1 { font-family:"微软雅黑","宋体"; font-size:20px; float:left; }
.title3 .title3_sub { margin: 0px; padding: 0px; float: right; color: #666; }
.title3 .title3_sub a { margin-right: 5px; margin-left: 5px; color: #666; }
.title3 .title3_sub a:hover , .title2 .title2_sub a.hover { color: #f00; }

.title4 { color: #767683; background-image: url(http://img3.1dooo.com/img/titlebg201106222.jpg); background-repeat: no-repeat; background-position: left top; padding: 0px; height: 30px; width: 216px; margin: 0px auto; text-align:center; line-height: 30px; }
.title4 h1{ font-size:14px; background-image: url(http://img1.1dooo.com/img/sign200106223.png); background-repeat: no-repeat; background-position: 30px 4px; font-weight:normal; }

.title5 { background-image: url(http://img1.1dooo.com/img/titlebg201106226.jpg); background-repeat: no-repeat; background-position: left top; margin: 0px; height: 52px; width: 697px; overflow: hidden; line-height: 52px; color: #f4940a; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 18px; }
.title5 h1 { font-family:"微软雅黑","宋体"; font-size:20px; float:left; }
.title5 .title3_sub { margin: 0px; padding: 0px; float: right; color: #666; }
.title5 .title3_sub a { margin-right: 5px; margin-left: 5px; color: #666; }
.title5 .title3_sub a:hover , .title2 .title2_sub a.hover { color: #f00; }

.banner { position: relative; margin: 0px 0px 0px 7px; width: 518px; background: url(http://img2.1dooo.com/img/bg_home_ad.gif) left top; float: left; height: 350px; padding: 5px 7px; }
.banner .pre { z-index: 1000; position: absolute; top: 150px; left: 0px; }
.banner .pre input { text-indent: -9999px; width: 8px; display: block; background: url(http://img2.1dooo.com/img/bg_home_ad.gif) 0px -366px; height: 44px; border: none; cursor: pointer; }
.banner .next { z-index: 1100; position: absolute; top: 150px; right:-1px; }
.banner .next input { text-indent: -9999px; width: 8px; display: block; background: url(http://img2.1dooo.com/img/bg_home_ad.gif) -20px -366px; height: 44px; border: none; cursor: pointer; }
.banner .stop { z-index: 1200; position: absolute; bottom: 10px; left: 15px }
.banner .stop input { text-indent: -9999px; width: 16px; display: none; background: url(http://img2.1dooo.com/img/bg_home_ad.gif) -42px -369px; height: 16px; border: none; cursor: pointer; }
.banner .start { z-index: 1300; position: absolute; bottom: 10px; left: 35px; }
.banner .start input { text-indent: -9999px; width: 16px; display: none; background: url(http://img2.1dooo.com/img/bg_home_ad.gif) -73px -369px; height: 16px; cursor: pointer; border: none; }

.container { position: relative; width: 518px; height: 350px; overflow: hidden; padding: 0px; margin: 0px; }
.container * { padding: 0px; margin: 0px; }
.container .slider { position: absolute; }
.container .slider li { list-style: none; display: inline; }
.container .slider img { width: 518px; height: 350px;  display: block;  border: 0px; }
.container .slider2 { width: 3108px; }
.container .slider2 li { float: left; }
.container .num { position: absolute; bottom: 5px; right: 5px; }
.container .num li { text-align: center; filter: alpha(opacity=40); line-height: 16px; margin: 3px 1px 3px 0px; width: 45px; font-family: Arial; background: url(http://img2.1dooo.com/img/huadong-bg.jpg) no-repeat; float: left; height: 16px; color: #fff; font-size: 10px; overflow: hidden; cursor: pointer; opacity: 0.4; -moz-opacity: 0.4; }
.container .num LI.on { filter: alpha(opacity=80); border-right-width: 0px; background: url(http://img1.1dooo.com/img/huadong-bg-hover.jpg) no-repeat; border-top-width: 0px; border-bottom-width: 0px; color: #fff; border-left-width: 0px; font-weight: 700; opacity: 0.8; -moz-opacity: 0.86;
}

.box { background-image: url(http://img1.1dooo.com/img/bg201106226.jpg); background-repeat: no-repeat; background-position: left top; float: left; height: 348px; width: 186px; color: #666; padding: 6px 5px; }
.box .boxcon { padding: 0px; width: 168px; margin-top: 10px; margin-right: auto; margin-bottom: 0px; margin-left: auto; line-height: 17px; height: 87px; overflow: hidden; }
.box .boximgs { background-image: url(http://img3.1dooo.com/img/bg201106227.jpg); background-repeat: no-repeat; text-align: center; background-position: left top; padding-top: 12px; padding-bottom: 13px; }
.box .boximgs img{ width:165px; height:105px; }
.box .boximgs2 { margin: 8px auto; display: block; width: 139px; background-image:url(http://img2.1dooo.com/img/button20110622.jpg); background-position:left top; background-repeat:no-repeat; width:139px; height:38px; text-indent:-9999px; }
.box .boximgs2:hover { background-image:url(http://img1.1dooo.com/img/button201106223.jpg); }

.box2 { background-image: url(http://img1.1dooo.com/img/bg201106223.jpg); background-repeat: no-repeat; background-position: left top; float: left; width: 220px; margin: 0px 0px 0px 5px; padding: 2px 0px 0px 0px; }
.box2 .box2meun { font-size:14px; background-image: url(http://img1.1dooo.com/img/titlebg201106223.gif); background-repeat: no-repeat; background-position: left top; display: block; width: 200px; height: 29px; line-height:29px; overflow: hidden;  margin-right: auto; margin-left: auto; padding-left:16px; }
.box2 .box2meun li{ float:left; width:65px; }
.box2 .box2meun a{ display:block; margin:0px; padding:0px; overflow:hidden; color:#767683; }
.box2 .box2meun a.sign{ padding-left:20px; background-image: url(http://img2.1dooo.com/img/sign20110622.jpg); background-repeat: no-repeat; background-position: left center; }
.box2 .box2meun a.sign h3{ padding: 0;margin: 0;font-size: 14px;font-weight: normal; }
.box2 .box2meun a.sign2{ padding-left: 22px; background-image: url(http://img2.1dooo.com/img/sign201106222.jpg); background-repeat: no-repeat; background-position: left center; }
.box2 .box2meun a.sign2 h3{ padding: 0;margin: 0;font-size: 14px;font-weight: normal; }
.box2 .box2meun a.sign3{ padding-left:18px; background-image: url(http://img1.1dooo.com/img/sign201106223.jpg); background-repeat: no-repeat; background-position: left center; }
.box2 .box2meun a.sign3 h3{ padding: 0;margin: 0;font-size: 14px;font-weight: normal; }
.box2 .box2line { background-image: url(http://img2.1dooo.com/img/titlebg201106224.jpg); background-repeat: no-repeat; background-position: -95px 0px; padding: 0px; height: 11px; width: 216px; margin: 0px auto; }
.box2 .box2inner { background-image: url(http://img2.1dooo.com/img/bg201106224.jpg); background-repeat: repeat-y; background-position: left top; margin: 0px; padding: 0px; overflow: hidden; height:180px; }
.box2 .box2con { margin: 0px; padding: 0px; width: 100%; overflow: hidden; }
.box2 .box2con .box2imgs {padding: 0px; margin-top: 10px; margin-right: auto; margin-bottom: 14px; margin-left: auto; display: block; }
/*.box2 .box2con .box2imgs { border: 1px solid #e0e2e2; padding: 0px; height: 60px; width: 190px; margin-top: 15px; margin-right: auto; margin-bottom: 19px; margin-left: auto; display: block; }*/
.box2 .box2con ul { display: block; margin-right: 10px; margin-left: 15px; overflow: hidden; line-height:20px; }
.box2 .box2con li { background-image: url(http://img3.1dooo.com/img/point20110622.jpg); background-repeat: no-repeat; background-position: 0px 9px; display: block; padding-left:12px; height:20px; overflow:hidden; }
.box2 .box2down { background-image: url(http://img3.1dooo.com/img/bg201106225.jpg); background-repeat: no-repeat; background-position: left bottom; height: 12px; width: 100%; overflow: hidden; }


.box3{ width:100%; margin:0px; line-height:18px; clear:both; padding: 0px; }
.box3 .box3inner { margin: 0px; padding: 0px; clear: both; overflow: hidden; }
.box3inner .left { padding: 0px; float: left; width: 225px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; overflow: hidden; display: inline; zoom:1; }
.box3inner .left .leftimg{ width:225px; height:245px; }
.box3inner .left2 { padding: 0px; float: left; width: 330px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 15px; overflow: hidden; display: inline; zoom:1; }
.box3inner .right { padding: 0px; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; width: 485px; overflow: hidden; zoom:1; display:inline; }
.box3inner .right2 { padding: 0px; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; width: 375px; overflow: hidden; zoom:1; display:inline; }
.box3inner .list{ color:#999; display:block; overflow:hidden; }
.box3inner .list li{ float:left;display:block;_display:inline;overflow:hidden;width:228px; margin-bottom:5px; margin-right:10px; }
.box3inner .list .listimg{ width:228px; height:80px; }
 
.box3inner .box3link { float:left; width:70px; height:70px; }
.box3inner .box3link img{ width:70px; height:70px; }
.box3inner .list .listcon{ float:left; display:inline; margin-left:6px; width:134px; }
.box3inner .list .listcon span{ display:block; overflow:hidden; height:16px; }
.box3inner .list2{ color:#999; display:block; overflow:hidden; line-height:22px; }
.box3inner .list2 li{ float:left; display:block; _display:inline; overflow:hidden; width:213px; margin-right:18px; }
.box3inner .list4 { display: block; overflow: hidden; text-align:center; }
.box3inner .list4 li { display: block; float: left; overflow: hidden; margin-right: 15px; zoom:1; }
.box3inner .list4 img{ padding:1px; border: 1px solid #e4e4e4; display:block; widht: 145px; height: 95px; }
.box3inner .list4  a{ color:#1581ed; }
.box3inner .list4  a:hover{ color:#FF0000; }
.box3inner .list5 { display: block; overflow: hidden; color: #bebebe; }
.box3inner .list5 li{ display: block; overflow: hidden; background-image: url(http://img3.1dooo.com/img/point201106222.gif); background-repeat: no-repeat; background-position: left 8px; padding-left: 15px; }
.box3inner .list5 a{ float:left; overflow:hidden; height:24px; }/**width:280px;**/

.box4 { margin: 0px; padding: 0px; width: 100%; clear: both; overflow: hidden; zoom:1; }
.box4 a{ background-image: url(http://img3.1dooo.com/img/button201106222.jpg); background-repeat: no-repeat; background-position: left top; width: 220px; font-size: 14px; line-height: 39px; height: 39px; color: #e47d04; display: block; overflow: hidden; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; }

.weibo { background-image: url(http://img1.1dooo.com/img/bg201106223.jpg); background-repeat: no-repeat; background-position: left top; margin: 0px; padding: 2px 0px 0px 0px; overflow: hidden; } 
.weiboinner { background-image: url(http://img2.1dooo.com/img/bg201106224.jpg); background-repeat: repeat-y; background-position: left top; margin: 0px; padding: 0px 2px; overflow: hidden;  zoom:1; }
.weibodown { background-image: url(http://img3.1dooo.com/img/bg201106225.jpg); background-repeat: no-repeat; background-position: left bottom; margin: 0px; padding: 0px; height: 12px; width: 100%; overflow: hidden; }

.ishop{margin: 10px auto 0px; width: 960px; clear: both; height:80px;background-image:url(http://img2.1dooo.com/img/bg20110907.gif);background-repeat:no-repeat;background-position:left top;
}
.ishop ul{display:block;overflow:hidden;zoom:1;padding-top:10px;}
.ishop a{margin: 0px; padding:4px 1px 1px 0px; display:block;width:83px;height:58px;text-align:center;background-image:url(http://img2.1dooo.com/img/pic201109071.jpg);background-repeat:no-repeat;
background-position: left top;}
.ishop a:hover{background-image:url(http://img1.1dooo.com/img/pic201109073.jpg);}
.ishop li{float:left;margin-left:10px;_display:inline;}
.ishop img{width:75px;height:50px;}
