*{margin:0px;padding:0px;}
body { font-family: Arial;font-size: 12px; background-color:#F2F2F2;color:#4e5151; }
img{border:none;}
a{text-decoration:none;color:#333;}
li{list-style:none;}

.l{float:left;}
.r{float:right;}

.clear1{width:100%;overflow:hidden;height:0px;clear:both;zoom:1;}
#wrapper{width: 320px;height:562px; background: url("../images/bg8.jpg") repeat-y;margin-left: auto;margin-right: auto;}
.bg1{background: url("../images/background.png") repeat scroll 0 0 transparent;}
textarea.ta{padding:8px;width:238px;height:72px;color:#666;background-color:#fff;border-radius:3px;border: 1px solid #ccc;box-shadow: 1px 1px 3px #ccc inset;font-size:12px;}

.btn1{width: 126px;height: 46px;display: inline-block;text-align:center;background: url("../images/btn5.png") left top no-repeat;
color:#ffffff;font-size:14px;font-weight:bold;line-height:46px;letter-spacing:-0.5px;}

.btn2{width: 60px;padding:5px 0px; text-align:center;background-color:#666;color:#fff;font-size:12px;font-weight:bold;border:none;cursor:pointer;}

.btn3{width: 208px;height: 72px;display: block;text-indent: -999em;background: url("http://oss.aliyuncs.com/dface/images_btn3.png") no-repeat;margin:0 auto}
.btn4{width: 208px;height: 72px;display: block;text-indent: -999em;background: url("http://oss.aliyuncs.com/dface/images_btn4.png") no-repeat;margin:6px auto}
.btn5{background:url('../images/btn/pic1.png') no-repeat scroll left top transparent;border: medium none;cursor: pointer;
float: left;height: 84px;width: 240px;font-size: 30px;text-indent:-9999px;}
.btn6{background:url('../images/btn/pic2.png') no-repeat scroll left top transparent;border: medium none;cursor: pointer;
float: right;height: 84px;width: 240px;font-size: 30px;text-indent:-9999px;}

.page{height:100px;width:180px;margin:0px auto; padding:10px 0 0;line-height:20px;text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);}
.container{height:296px;background: url("http://oss.aliyuncs.com/dface/images_bg9.jpg") no-repeat;padding: 260px 0 0 0;}

.radios{background: url("../images/sign19.jpg") left top no-repeat;width:25px;height:25px;display:inline-block;margin-right:10px;cursor:pointer;}
.radios2{background: url("../images/sign20.jpg") left top no-repeat !important;width:25px;height:25px;display:inline-block;margin-right:10px;cursor:pointer;}
.coming{width:180px;margin:0px auto;padding: 70px 0 0 0;font-size:25px;color:#6e7171;font-weight:bold;font-family:"arial";text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);}
.tex{border-radius:5px;border: 2px solid #aaa;float: left;font-size: 30px;margin: 20px 0px;width:100%;color:#ccc;
height: 70px;line-height: 70px;padding: 0 7px;box-shadow: 2px 2px 2px #333333 inset;}
.hidden{overflow:hidden;}
.lh18{line-height:18px !important;}
.yellow{color:#EDBD50;}
.yellow2{color:#F59D36;}
.orange{color:#FF894A;}
.orange2{color:#FE6835;}
.red{color:#f00;}
.gay1{color:#949494 !important}

.title1{width:100%;background-color:#66CC00;color:#fff;text-align:center;border-radius:5px 5px 0px 0px;padding:10px 0px;}
.title1 h2{font-size:16px;}

.title2{font-family: 微软雅黑;font-size: 16px;width:100%;letter-spacing: 1px;text-align:center;padding:10px 0px;text-shadow: 1px 2px 1px #999999;}

.word{color: #5E5E5E;font-size: 14px;}
.ml20{margin-left:20px;}
.ml90{margin-left:90px;}
.ml2p{margin-left:2%;}
.mb20{margin-bottom:20px;}

.set {background-color: #fff;border: 1px solid #C7C7C7;border-radius: 20px;margin: 40px auto;overflow: hidden;width:90%;}
.line{width:100%;border-top: 2px solid #a7a7a7;border-bottom: 1px solid #e4e4e4;margin:20px 0}

.main{width:100%;overflow:hidden;}
#Main2{min-width:640px;background: url("../images/background.png") repeat scroll 0 0 transparent;color: #5F4536;font-size: 14px;
overflow: hidden;margin:0px auto;}

.header{width:100%;margin:20px 0px 10px 0px;overflow:hidden;}
.header .headerleft{width:49%;float:left;text-align:right;margin-right:1%;}
.header .headerright{width:49%;float:right;text-align:left;padding-top: 20px;margin-left:1%;}
.footer{width:100%;margin:20px 0px 10px 0px;overflow:hidden;}
.footer .footerleft{width:49%;float:left;text-align:right;margin-right:1%;}
.footer .footerright{width:49%;float:right;text-align:left;padding-top: 20px;margin-left:1%;}

.con{width:85%;margin:0px auto;}
.con2{width: 100%;overflow: auto;}

.box1{width:100%;margin:0px auto;background-color:#fff;}
.box1 ul{display:block;border-left:2px solid #66CC00;border-right:1px solid #66CC00;border-bottom:1px solid #66CC00;font-size:14px;padding:15px 0px;}
.box1 ul li{background: url("../images/sign18.png") left 5px no-repeat;color:#949494;padding:10px 5px 10px 30px;margin-left:-10px;}
.box1 ul li span{margin-left:10px;color:#363636;}

.box2{width:330px;height:214px;margin:0px auto;line-height:41px;}
.box2 .box2left{float:left;width:50px;padding-right:10px;text-align:right;}
.box2 .box2right{float:left;width:265px;overflow:hidden;}
.box2 .starbox{background-color: #FFFCEB; border: 1px solid #F0C36D; float: left;margin-right: 10px;padding: 8px;border-radius:3px;}
.box2 .star{width:130px;height:25px;background: url("../images/star.png") left -150px no-repeat;}
.box2 .star a{width:26px;height:25px;display:block;float:left;cursor:pointer;text-indent: -999em;font-size: 1px;line-height:100px;}
.box2 .pj{float:left;font-size:12px;color:#666;}
.box2 .box2clear{clear:both;height:20px;width:100%;overflow:hidden;}

.plane1{width:100%;margin-bottom:30px;overflow:hidden;text-align:center;}
.plane2{border-left:2px solid #66CC00;border-right:1px solid #66CC00;overflow:hidden;text-align:center;color:#868686;
background-color:#F2F2F2;line-height:30px;}

.shop{border-bottom: 1px solid #ABABAB;color: #000;display: block;font-size: 34px;margin: 0 4px;overflow: hidden;
padding: 20px 60px 20px 20px;}
.shop .shopName{width:400px;float:left;padding-right:20px;}
.shop  .ff {float: right;font-size:28px;color:#67a8ff}

#dig{position:absolute;width: 100%; height:100%;font-size: 30px;background: url(../images/btn/dig.png);display: none;}
#boxss{position:absolute;background-color:#c9c9c9;border: 2px solid #181818;left:20%;margin-left:-15.5%;width:80%;
border-radius:20px;height:450px;padding:0px 35px;}

ul.list{display:block;overflow:hidden;zoom:1;padding:20px;line-height:60px;margin-top:10px;}
ul.list li{float:left;width:50%;}
