#main{background:#eee;padding-top:10px}
.content{float:right;width:687px;background-color:#fff;padding:5px 20px 20px 0; min-height:400px; _height:400px; }
.side{float:left;width:250px;display:block;overflow:hidden;margin:20px 0 0}
.side ul{display:block;width:150px;margin:3px 0 0 46px}
.side li{display:block;position:relative;width:156px;height:34px;background:url(/img/user-center-ul-bg.jpg) left top no-repeat;padding:10px 0 0}
.side li.star{height:0;line-height:0;content:"";display:none;margin:0;padding:0}
.side li a{display:block;text-align:center;line-height:30px;height:30px;font-size:14px;font-weight:700;color:#7a7a7a}
.side li a:hover{text-decoration:none;color:#e50}
.tagg{background:url(/img/user-center-hover-bg.jpg) 134px 10px no-repeat}
#sjxx_center{text-align:right;width:100px;padding:0 20px 0 0}
.side .ha a,.side .ha a:hover{font-weight:700;background:url(/img/user-center-hover-bg.jpg) 134px 12px no-repeat}
.side .hc{color:#e50}
.ha a:hover{font-weight:700;color:#e50;background:url(/img/user-center-hover-bg.jpg) 134px 10px no-repeat}
.content .flash_notice{font-size:14px;color:#5CC400;font-weight:700;padding:2px 0}
.content h1{font:18px/1.8 微软雅黑,黑体 normal;margin:5px 0}
.content h1 a{float:right;background:#f50;color:#FFF;height:24px;line-height:24px;text-align:center;font-size:12px;text-decoration:none;font-family:arial;border-color:#FFCCAF #B04424 #B04424 #FFCCAF;border-style:solid;border-width:1px;padding:1px 10px}
.content h5{font:14px/1.8 微软雅黑,黑体 normal;text-align:center;color:#666;margin:10px 0}
.content p,.content pre{font-size:14px;line-height:1.8;padding:10px 0}

.content h3{font-size:14px;line-height:1.8;}
.content h6{font-size:12px;font-weight:400;color:#999;margin:0;padding:0 0 0 36px}
.content h6 a{color:#36c}
.content table{width:100%;color:#000;margin:10px 0 0}
.content table th{border:1px solid #dcdcdc;line-height:30px}
.content table img{border:0;margin:0 10px}
.b-11{border-left:1px solid #dcdcdc;font-weight:700}
.content table td{border-bottom:1px #ccc dashed;padding:10px 0}
.content table.tab1 td{font-size:14px;border-bottom:none;vertical-align:top;padding:8px 20px 8px 0}
.content table.tab1 .gree{color:#666;font-size:14px}
.content table.tab2 td{font-size:14px;color:#666;border-bottom:none;vertical-align:top;padding:8px 0}
.content .button {cursor:pointer;background:#f60;text-align:center;font-size:14px;border-top:1px solid #FFC4A2;border-left:1px solid #FFC4A2;border-bottom:1px solid #863A0D;border-right:1px solid #863A0D;
margin:0px 20px 0px 0px;padding:5px 10px;color:#fff;}
.content .button:hover{ color:#fff; text-decoration:none; }
#main_user_center{width:958px;border:1px solid #c3ccce;border-top:none;background-image:url(/img/sub-body.png);background-repeat:repeat-y;position:relative;overflow:hidden}
#usen_center_now{height:25px;font-size:12px;font-weight:400;line-height:12px;color:#000;font-family:宋体;background:url(/img/bg_shop.png) left top no-repeat;padding:8px 0 0 21px}
#usen_center_now span{color:#7a7a7a}
#user_bd_phone{width:120px;height:46px;border:none;cursor:pointer;background:url(/img/user_bdsj.jpg) left top no-repeat;margin:10px 0 0 15px}
#myindex_right{float:left;width:381px;height:300px;background:url(/img/ksf-mf.jpg) left 65px no-repeat}
#myindex_right h1{line-height:14px;font-size:12px;font-family:宋体;padding:10px 0 0}
.now_ksf{background:none;border:none;cursor:pointer;background-color:#F60;border-left:1px solid #666;border-top:1px solid #666;padding-top:2px;height:21px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#fff}
#shop_password{border:1px solid #b5b8c8;color:#333;font-family:宋体;height:17px;width:216px;background:url(/img/user_name_bg.jpg) repeat-x;padding:4px 0 0}
#shop_password_confirmation{border:1px solid #b5b8c8;color:#333;font-family:宋体;height:17px;width:216px;background:url(/img/user_name_bg.jpg) repeat-x;padding:4px 0 0}
#user_phone_yz{display:block;color:#999;padding:5px 0 0}
.my1dooo_yzm{border:1px solid #b5b8c8;color:#333;font-family:宋体;height:17px;background:url(/img/user_name_bg.jpg) repeat-x;display:inline;margin:0 0 0 36px;padding:4px 0 0}
#last_login{font-size:14px;height:30px;color:#999;padding-left:49px}
input.inputcss{border:1px solid #b5b8c8;color:#333;height:17px;width:180px;background:url(/img/user_name_bg.jpg) repeat-x;padding:4px 0 0 5px;}
#shop_desc{border:1px solid #b5b8c8}
#sjxx_center11{padding-left:35px;background:url(/img/arrow_a.gif) 25px 15px no-repeat}
#user_pass_g{font-size:14px;line-height:36px;width:330px;position:relative;margin:30px auto;padding:0}
#user_main_t{font-size:14px;line-height:30px;position:relative;margin:25px 0 20px 110px;padding:0 0 0 20px}
#user_xyzm{width:500px;font-size:14px;padding:16px 0 16px 36px}
#user_xyzm img{border:none;vertical-align:middle}
#numb_color{color:red;font-weight:700}
#radio996{clear:both;border:1px solid #ececec;background:url(/img/kill_succ.jpg) 14px 24px no-repeat;background-color:#f9f9f9;margin:0 50px 16px 40px;padding:0 14px 14px 61px}
#radio996 h3{clear:both;font-size:14px;font-weight:400;color:#0b132e}
#radio996 h3 a{clear:both;color:#36c}
#radio996 h3 span{clear:both;color:#7a7a7a}
#radio996 h4{clear:both;line-height:15px;font-size:12px;font-weight:400;font-family:Arial, Helvetica, sans-serif}
#radio996 h4 a{clear:both;color:#36c;text-decoration:none}
#radio996 h4 a:hover{clear:both;text-decoration:underline}
#user_pass_g label{font-size:14px;line-height:24px}
.myhard{background-image:url(/img/head_bg.png);background-repeat:no-repeat;height:105px;width:105px;position:absolute;left:-105px;background-position:-538px -85px;padding:5px 0 0 5px}
.myhard img{height:96px;width:96px}
.r_scomenu{float:right;margin:0 0 10px}
.r_scomenu .currend{background:none repeat scroll 0 0 #f60;color:#FFF;padding:3px 8px}
#user_main_t .main_tp{background-image:url(/img/head_bg.png);background-repeat:no-repeat;font-size:12px;line-height:30px;background-position:-120px -81px;width:320px;margin:10px 0 0!important;padding:0 0 0 35px}
#cols_comments{border:1px solid #ffeab2;background-color:#ffffef;font-size:12px;line-height:35px;margin:10px 0;padding:10px 20px}
#cols_comments a{text-decoration:none;font-weight:700;color:red}
#cols_comments2{border:1px solid #ffeab2;background-color:#ffffef;font-size:12px;line-height:35px;height:76px;margin:10px 0;padding:10px 20px}
#cols_comments2 li{float:left;width:260px;background-image:url(/img/comments2_p.png);background-repeat:no-repeat;background-position:0 center;padding:0 0 0 20px}
.b-20{margin:0 0 20px}
.b-21{line-height:30px;font-size:12px;margin:20px 0 10px}
.b-21 .color-r{color:red;importanttext-decoration:none;font-weight:700;text-decoration:none}
#myindex_left .gray2{background-image:url(/img/gary.png);background-repeat:repeat-x;background-position:0 center}
.cols_page span{float:left;padding:0 7px 0 10px}
#user_main_b ul{float:left;width:648px;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#CCC;border-left-color:#CCC;background-color:#FFF;display:inline;margin:0 0 0 2px;padding:30px 0}
#user_main_b li{float:left;width:250px;display:inline;margin:0 30px}
.check_icon1{background-image:url(/img/head_bg.png);width:73px;background-repeat:no-repeat;height:60px;background-position:-14px -190px}
.check_icon2{background-image:url(/img/head_bg.png);width:73px;background-repeat:no-repeat;height:60px;background-position:-23px -123px}
.check_btn{width:97px;height:26px;line-height:26px;text-align:center;font-size:12px;background-image:url(/img/head_bg.png);background-repeat:no-repeat;background-position:-6px -85px;color:#1e50a2;float:right;margin:5px 0 0}
#user_main_b{background:url(/img/head_bg.png) no-repeat -1px 0;width:100%;margin:15px 0}
#user_main_b h4{font-size:14px;line-height:28px;font-weight:700;margin:0;padding:2px 0 0 13px}
#user_main_b .main_b_bottom{background:url(/img/head_bg.png) no-repeat -1px -67px;width:652px;float:left;height:10px}
body{background:#f3f3f3}
body,p{font-family:Tahoma, Helvetica, Arial, 微软雅黑, sans-serif;font-size:12px;line-height:22px;margin:0;padding:0}
ul{list-style-position:outside;list-style-type:none}
h1,h2,h3,h4,h5,form,ol,ul{margin:0;padding:0}
a{color:#000;text-decoration:none}
a:hover{color:#f40;text-decoration:underline}
.f14{font-size:14px}
.f11{font-size:11px}
.st{font-weight:700}
.uline{text-decoration:underline}
.gray{color:#888}
.blue{color:#2178B4}
.red{color:#e40}
.orange{color:#f40;}
.bold{ font-weight:bold;}
.r{float:right}
.m120{ margin-left:120px !important; }
.w100{ width:100px; }
.right{ text-align:right; }
.td_center{ text-align:center; }
.td_top{ vertical-align: top; }
.topbar_box,#header,#user_nav,#shop_nav,#main,#footer{width:960px;clear:both;margin:0 auto}
#topbar{background:url(/img/bg_all.png) repeat-x left top;height:30px;line-height:30px}
#topbar .welcome{float:left;padding-left:10px}
.loginstate{float:right;padding:0 10px 0 0}
.loginstate li{float:left;line-height:30px;padding:0 8px}
#header{background-color:#f3f3f3;text-align:right;padding:0}
#header img{vertical-align:bottom}
#user_nav li.ha a,#nav li.ha a:hover{width:118px;line-height:40px;background:url(/img/bg_all.png) no-repeat scroll -712px -149px transparent;color:#e50;margin:0 auto}
#shop_nav li.ha a,#nav li.ha a:hover{width:118px;line-height:40px;background:url(/img/bg_all.png) no-repeat -576px -150px;color:#e50;margin:0 auto}
#tag200{position:relative;}
#tag200 img{position:absolute;top:-12px;left:90px}
#subnav{background:url(/img/bg_all.png) no-repeat 0 -96px;height:35px}
.hotsearch{float:left;display:inline;background:url(/img/bg_all.png) no-repeat -141px -149px;width:75px;height:22px;color:#fff;text-align:center;line-height:22px;margin:3px 0 0 20px}
.hotsearch_key{float:left;width:450px;height:20px;overflow:hidden;padding:7px 0 0 10px}
.hotsearch_key a{float:left;white-space:nowrap;color:#36c;padding:0 0 0 10px}
.searchform{float:right;width:260px;padding:2px 20px 0 0}
.searchform input#s{float:left;display:block;width:155px;height:19px;background:url(/img/bg_all.png) no-repeat -228px -149px;border:medium none transparent;padding-top:6px;padding-left:25px}
.tgsearchform{float:right;width:260px;padding:25px 0 0}
.tgsearchform input#s{float:left;display:block;width:155px;height:21px;background:url(/img/bg_all.png) no-repeat -228px -149px;border:medium none transparent;padding-top:6px;padding-left:25px}
.submit{cursor:pointer}
#shop_yzm{width:380px;_width:230px}
.nav_serchbt{border:none;width:52px;height:26px;cursor:pointer;background:url(/img/bg_all.png) -512px -150px no-repeat}
#footer{clear:both;border-top:1px #ddd solid;text-align:center;line-height:180%;margin-top:30px;padding:10px 0}
.footer_nav{color:#aaa;padding:5px 0}
.footer_nav a{padding:0 5px}
#wait_seconds_div{width:922px;font-size:14px;color:#f60;background:url(/img/kill_hot.gif) no-repeat 15px top;margin:0 auto;padding:0 0 0 38px}
#zjaic img{width:46px;height:50px}
#cols-top{height:5px;background-image:url(/img/sub-body-top.png);background-repeat:no-repeat;background-position:0 0;margin:0;padding:0; overflow:hidden; zoom:1;}
#cols{background:url(/img/sub-body-bg.png) repeat-y 2px 0;overflow:hidden;width:960px;font-size:14px;margin:0 auto}
#cols-bottom{height:12px;background:url(/img/sub-body-bottom.png) 2px 0 no-repeat}

#cols-left{width:245px;float:left;position:absolute;left:-4px;padding:0px;margin:0px;}
#cols-right{width:675px;float:right;margin-right:10px;padding:15px 0}
#ver-nav{margin-top:10px}
#ver-nav li{background-image:url(/img/tab-border.png);background-repeat:no-repeat;background-position:left bottom;line-height:44px}
#ver-nav li a{font-size:14px;overflow:hidden;position:relative;z-index:10;color:#001628;text-decoration:none;padding:0 60px}
#ver-nav li.backLava{display:block;background:url(/img/tab-on.png) no-repeat;color:#fff;z-index:8;position:absolute;line-height:44px}
#ver-nav .selectedLava{background-image:url(/img/tab-on.png);background-repeat:no-repeat;display:block;background-position:0 0}
#ver-nav li.backLava a{color:#fff}
.content a,.content h6 a:hover{text-decoration:none}
.content textarea,.f12{font-size:12px}
#main:after,#topbar:after;#header:after,#nav:after,#subnav:after,#main:after,#footer:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both}
#oldpass,#user_password,#user_password_confirmation{border:1px solid #b5b8c8;color:#333;font-family:宋体;height:17px;background:url(/img/user_name_bg.jpg) repeat-x;padding:4px 0 0}
#cols_comments2 ul,.l,#header a{float:left}

#paginate,.cols_page{width:680px;padding-top:20px;height:40px;position:relative}
#paginate .pagination,.cols_page .num{height:19px;position:absolute;right:30px;top:19px}
#paginate .pagination a,.cols_page a{width:19px;height:19px;margin-left:5px;line-height:19px;color:#666;text-align:center;border:1px solid #d9d9d9;float:left;background-image:url(/img/page_bg.gif);background-repeat:repeat-x;background-position:left top;text-decoration:none}
#paginate .pagination a.next_page,#paginate .pagination span.next_page,.cols_page a.up_next{width:50px}
#paginate .pagination a.prev_page,#paginate .pagination span.prev_page{width:50px;margin:0 5px 0 0}
#paginate .pagination a:hover,.cols_page a:hover{color:#fff;text-decoration:none;background:none repeat scroll 0 0 #f60}
#paginate .pagination span.current,#paginate .pagination span.current:hover,.cols_page a.on,.cols_page a.on:hover{color:#fff;background:none repeat scroll 0 0 #f60}
#paginate .pagination span{background:none repeat scroll 0 0 #f60;height:19px;line-height:19px;text-align:center;border:1px solid #d9d9d9;float:left;background-image:url(/img/page_bg.gif);background-repeat:repeat-x;background-position:left top;text-decoration:none;margin-left:5px;width:19px;padding:0 1px}

.red1,.red2,#subnav .hotsearch_key .highlight,#ver-nav .red{color:red}
#user_nav,#shop_nav{background:url(/img/bg_all.png) no-repeat 0 -445px;height:40px;padding:4px 0 0}
#user_nav ul,#shop_nav ul{width:666px;margin:0 auto}
#user_nav li,#shop_nav li{float:left;width:130px;text-align:center}
#user_nav li a,#shop_nav li a{display:block;color:#fff;width:90px;font-size:14px;font-weight:700;text-align:center;line-height:25px;text-decoration:none;margin:4px auto}
#user_nav li a:hover,#shop_nav li a:hover{background:url(/img/bg_all.png) no-repeat -45px -149px}
.searchform input[type=submit],.tgsearchform input[type=submit]{width:52px;height:26px;background:url(/img/bg_all.png) no-repeat -513px -150px;border:medium none;text-indent:-9999px;margin-left:5px;cursor:pointer}
#bindDiv ul{padding:0px; margin:0px; list-style:none; }
#bindDiv li{ margin-top:10px;}
#bindDiv .bindDiv_button{background:#f60;border-bottom:#863a0d 1px solid;border-top:#ffc4a2 1px solid;border-left:#ffc4a2 1px solid;border-right:#863a0d 1px solid;color:#fff;margin:0px;padding:0px;height:24px;background-image:transparent;font-size:12px;line-height:12px;font-family:'宋体';}