/*reset*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,label,blockquote,th,td,button,span{padding:0;margin:0;}
.shadow h1 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 10px 0 0 15px;
}

table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,th,var,em{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
input,select{vertical-align:middle}


/*#facebox   弹出窗口*/

.facebox {
	padding:5px 0;
	position:absolute;
	width:355px;
	z-index:100;
	height: 160px;
	background-color: #FFFFFF;
	border: 4px solid #666666;
	font-size:14px;
	left:500px;
}
.facebox .facebox_title span {
	float: right;
}
.facebox .facebox_title {
	text-align: left;
	margin: 0 5px 20px 5px;
	padding:5px 10px 8px 15px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	color:#000000;
}
.facebox .facebox_boby .facebox_boby_right a {
}
.facebox .facebox_boby .facebox_boby_right {
	float: left;
}
.facebox .facebox_boby .facebox_boby_img {
	float: left;
	margin: 0 10px;
	display: inline;
}
.facebox .facebox_boby .facebox_boby_right a {
color: #FF6600;
	padding: 0 5px;
}
.facebox .facebox_boby .facebox_boby_right p {
height:30px;
line-height:22px;
padding:15px 0 8px;
text-align:center;
width:220px;
}

/*clearfix*/
.clearfix:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.clearfix {
display:inline-block;
}
* html .clearfix {
height:1%;
}
.clearfix {
display:block;
}
/**************************************/

/*main*/
html,body{font:14px "宋体",Arial;color:#000000;line-height:150%;}
/*link*/
a{text-decoration:none;}
a:link{color:#000000;}
a:visited{color:#000000}
a:hover{color:#ff6600;}
a:active,a:focus{color:#ff6600;}

/* 头部 */
.header{width:959px; height:103px; margin:0 auto 10px;color:#ffffff; background:url(/img/tuangou/icon.png) left 28px no-repeat;}
.header .top a {color:#666666;}
.header .top{ height:18px; line-height:28px;  text-align:right; color:#717171; font-size:12px; position:relative; z-index:999;}
.header .top .top-a {right:80px; position:relative;}
.header  .top-links { position:absolute; z-index:999; right:0; top:0; padding-right:16px; background-color:#fff; }
.header  .top-links .off { display:none;}
.header  .top-links .on { display:block;line-height:22px}
.header  .top-links ul{ background:#fff; position:absolute; top:28px; right:0; width:30px; text-align:left; padding-left:5px; margin-right:16px; border:1px solid #ccc;}
.header .banner{ }
.logo{float:left;height:75px;padding-right:25px;width:215px;}
.logo a{ display: inline-block; height:100%; width:100%}
.header .city{ float:left; padding-top:35px; position:relative; left:16px; z-index:99999; }
.city .city_name{ font-size:20px; font-family:"黑体";}


.city_close,.city_open{ width:520px; color:#585858; position: absolute; left:-20px}
.city_close .close_title,.city_open .open_title{ line-height:18px; height:18px; color:#FFFFFF; display:inline-block; padding-right:25px; background:url(/img/tuangou/repeat.png) no-repeat right -265px; position:absolute; top:6px; left:18px; cursor:pointer}
.city_close .open_top,.city_open .open_top{ width:520px; height:35px; overflow: hidden}
.bgimg{width:520px; height:200px;background:url(/img/tuangou/icon.png) no-repeat 0 0;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tuangou/icon.png'); _background-image:none;}
.city_close .open_title{ display:none}
.city_open .close_title{display:none}
.city_close .open_top{display:none}
.city_close .open_mid{display:none}
.city_close .open_btm{display:none}
.city_close .open_title{display:none}

.city_open .open_top .bgimg{ margin:-119px 0 0 0}
.city_open .open_title{color:#585858; background-position: right -291px}
.city_open .open_btm{width:520px; height:15px;overflow:hidden}
.city_open .open_btm .bgimg{ margin:-158px 0 0 0}
.city_open .open_mid{ overflow:hidden; position:relative}
.open_mid .bgimg{width:522px; height:400px;background:url(http://tuan.163.com/tuan/images/re_citycon.png) repeat-y;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale src='http://tuan.163.com/tuan/images/re_citycon.png'); _background-image:none;}
.city_list{padding:10px 30px ; width:460px ;font-size:12px; line-height:22px; position: absolute; top:0px}
.city_list a{display:inline-block; margin-right:5px; padding:0 5px;}
.city_list a:hover{background-color:#f94e00; color:#ffffff}
.city_list .close{color:#f54e00; font-weight:boldl; float:right; cursor:pointer}
.city_list .hot{ border-bottom:1px dotted #cbcbcb; padding-bottom:10px; margin-bottom:10px}
.city_list .list_alp{height:292px; overflow:auto; overflow-x:hidden;}
.header .tool{float:right; font-size:12px;text-align:right; padding-top:15px; }
.header .tool a:link{color:#fff;}
.header .tool a:visited{color:#fff;}
.header .tool a:hover{ text-decoration:underline}
.selectarea{ width:223px; height:30px; line-height:25px; background:url(/img/tuangou/icon.png) no-repeat -550px -115px; margin-top:25px; text-align:left; float:right}
.selectarea .input_nob{ width:175px; border: 0; color:#585858; margin:9px 0 0 15px; float:left}
.selectarea .selet_btn{ display:inline-block; border:0px; width:22px; height:29px; float:left;background:url(/img/tuangou/icon.png) no-repeat -740px -115px; cursor:pointer}

.header .top .welcome { position:relative;right:60px;}
.header_jifen{ position:relative;}
.header_jifen .tips1{display:inline-block; width:174px; height:20px; line-height:35px; padding:0 5px 6px;position:absolute;top:12px; background:url(http://tuan.163.com/tuan/images/tips.png) no-repeat; color:#f7630c; left:-60px; text-align:left; font-weight:normal}
.header_jifen .tips2{display:inline-block; position:absolute; background:none; width:auto; height:18px; line-height:23px; padding:0 8px; left:20px; top:15px; font-weight:bold; background-color:#fd3c00; color:#ffffff;}

.tg_list{ padding:10px 0 10px 26px; font-size:12px; }
.tg_list .more-tuan-name{ color:#ff6600;}
.tg_list li,.tg_list dd{ width:100px; float:left; line-height:22px; height:22px;}
.tg_list li a:hover,.tg_list dd a:hover{ text-decoration:underline}

.city_tuanlist {border:1px solid #E3E3E3 ; width:728px; margin-bottom:20px;}
.city_tuan{ padding:2px; font-size:12px; border-bottom:1px  dotted #ADADAD;}
.tuan_notactive{background-color:white; padding:8px 8px 10px 24px; }
.tuan_active{background-color:#fff9ed; padding:8px 8px 10px 24px; }
.city_tuan dd { width:98px; float:left; line-heght:20px; height:20px;}
.citys{padding:2px 0 10px;  font-size:14px; font-weight:bold;}
.city_tlist{width:728px; }
.city_tlist dl{ border:none }


.clear{ clear:both}
.float_n{ float:none}
.float_l{ float:left}
.float_r{ float:right}
.mar10{ margin-right:10px;}


.main{
	width:980px;
	margin:0 auto;
	position:relative;
	clear:both;
	padding: 15px 0 0 0;
}
/*search*/

#sy-but {
background:url("/img/tuangou/sy_03.jpg") no-repeat scroll 0 0 transparent;
border:medium none;
cursor:pointer;
float:left;
height:23px;
margin-bottom:9px;
width:45px;
}
#sy-input {
background:url("/img/tuangou/dy_06.jpg") repeat-x scroll 0 0 transparent;
border:1px solid #AAAEAF;
float:left;
font-size:12px;
height:17px;
margin-bottom:7px;
padding:4px 0 0 8px;
width:130px;
}
.tg_tools .search {
float:right;
width:190px;
margin:8px 0 10px;
display: inline;
}
.tg_tools .search input.search-text {
background:url("/img/tuangou/navi_search.jpg") repeat-x scroll 0 -387px transparent;
font-size:12px;
height:27px;
line-height:25px;
padding-left:5px;
vertical-align:middle;
width:163px;
}
.tg_tools .search input.search-tip {
color:#AEAEAE;
}
.tg_tools .search input.search-button {
background:url("/img/tuangou/navi_search.jpg") repeat-x scroll 0 -308px transparent;
cursor:pointer;
height:27px;
vertical-align:middle;
width:67px;

}
.hotclassify {
background-color:#FFF8E9;
border:1px solid #EEE1AD;
font-size:12px;
margin-bottom:10px;
padding-bottom:10px;
}
.gray_border .hot {
padding-left:15px;
padding-top:14px;


}
.classify_list li, .tg_list dd {
float:left;
height:20px;
line-height:20px;
padding-left:10px;
white-space:nowrap;
}
.classify_list2 li, .tg_list dd {
float:left;
height:20px;
line-height:20px;
padding-left:20px;
white-space:nowrap;
}
.classify_list2 .active a {
background-color:#DA4901;
color:#FFFFFF;
padding:0 5px;
}
.classify_list li a:hover, .classify_list dd a:hover {
text-decoration:underline;
}

/*.left_pan{width:740px;float:left;margin-right:10px}*/
.classify_list {
display:inline-block;
width:600px;
}
.left_pan{width:740px;float:left; display:inline-block; overflow:hidden; zoom:1;}
.right_pan{float:left;
height:800px;
width:219px;}

.right_pan .boxsid-server {
margin:10px 0 0;
}

.right_pan .boxsid-server h1 {
background-image:url("/img/tuangou/group-box.png");
background-position:-240px -150px;
background-repeat:no-repeat;
height:62px;
}


.gray_border{
border-bottom-width: 3px;
border-bottom-style: solid;
border-bottom-color: #c5e200;
padding:7px 0 6px;
height:100px;
background-image:url("/img/tuangou/icon.png");
background-position:0 0;
background-repeat:no-repeat;
}
.shadow{
	background:#ffffff;
	margin-bottom:10px;

}
.clum_title{height:30px;line-height:30px;font-weight:bold;padding-left:15px;}



/* menu */
.menu{width:960px;margin:0 auto; padding-top:7px; clear:both; height:34px; padding-left:10px; }
.menu li{ float: left;width:112px; margin-right:5px; height:24px; }
.menu li a{ display:block; height:100%}
.menu li .today_tuan,.menu li .tuan_list{ display: inline-block ; width:100%; height:100%; background:url(/img/tuangou/icon.png) no-repeat ;}
.menu li .tuan_list{ background-position:-358px -194px}
.menu li .today_tuan{ background-position:-240px -193px}
.menu li.active .today_tuan{ background-position:-1px -194px}
.menu li.active .tuan_list{background-position:-121px -193px}

.share{ float:right; }
.share a{display:inline-block; width:16px; height:16px; margin-right:5px; float:left; background:url(/img/tuangou/icon.png) no-repeat; margin-top:3px}
a.s_mail{ background-position:-825px -197px}
a.s_wywb{ background-position:-849px -197px}
a.s_rrw{ background-position:-872px -197px}
a.s_kxw{ background-position:-895px -197px}
a.s_qq{ background-position:-918px -197px}
a.s_dbw{ background-position:-941px -197px}

/* title */
.all_title{width:100%; background:url(/img/tuangou/repeat.png) repeat-x; clear:both; overflow:hidden}
.title_m{float:left;font-weight:bold; padding-left:5px}
.title_l,.title_r{float:left;width:5px; height:100%; background:url(/img/tuangou/icon.png) no-repeat}
.title_r{float:right;}

.org_title{background-position: 0 -338px;height:35px;line-height:36px;}
.org_title .title_m{color:#FFFFFF; font-size:16px;}
.org_title .title_l{background-position: -792px -115px}
.org_title .title_r{background-position: -803px -115px}

.tg_tools{
	position:relative;
	font-size:12px;
	padding: 0 10px 0 0;
	height:40px;
	background:url(/img/tuangou/repeat.png) 0 -536px repeat-x ;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.tg_tools .classify{  overflow:visible; height:45px; line-height:40px; position:absolute; left:0; top:0;}
.tg_tools .classify .lis{ text-align:center; }
.tg_tools .classify { display:inline-block;}
.tg_tools  .classify .num{ color:#999; }
.tg_tools .array,.tg_tools .seniority{ float:left;margin:10px 0 10px 14px;display:inline;}
.tg_tools  .seniority{  overflow:visible; width:265px;}
.tg_tools a{ }
.tg_tools a:hover{ text-decoration:underline}
.tools_title{float:left; font-size:14px; line-height:25px}

.classify .lis{ float:left;display:inline; margin-left:10px;}


.classify span.active { margin-left:0; padding-left:2px; font-size:14px; font-weight:bold; color:#fff; height:43px; background:url(/img/tuangou/icon.png) -644px -157px no-repeat ; width:66px;} 
.classify span.active a , .classify span.active .num{ color:#fff;}
.classify span.active .num{ font-size:12px; font-weight:normal;}

.seniority,.array{ height:20px; border-left:1px solid #cbcbcb}
.array{ margin-left:10px;}
.seniority a,.array a{height:20px; padding:0 8px 0 25px; background:url(/img/tuangou/repeat.png) no-repeat 3px 0 #fcfcfc; 
					border:1px solid #cbcbcb; margin-left:-1px; float:left; display:inline; white-space:nowrap; word-break:keep-all }
.seniority a:hover,.seniority a:visited{color:#585858; text-decoration:none}
.array a{ padding:0px; width:22px}

.seniority a.snrt1{background-position:3px -100px}
.seniority a:hover.snrt1{background-position:3px -117px}
.seniority a.snrt1_active{background-position:3px -134px}

.seniority a.snrtup{background-position:3px -202px}
.seniority a:hover.snrtup{background-position:3px -219px}
.seniority a.snrtup_active{background-position:3px -236px}

.seniority a.snrtdown{background-position:3px -150px}
.seniority a:hover.snrtdown{background-position:3px -167px}
.seniority a.snrtdown_active{background-position:3px -184px}

.array a.danhang{background-position:3px 1px}
.array a:hover.danhang{background-position:3px -16px}
.array a.danhang_active{background-position:3px -33px}

.array a.wangge{background-position:3px -50px}
.array a:hover.wangge{background-position:3px -67px}
.array a.wangge_active{background-position:3px -84px}


/* 底部 */
.footer_box{height:0px;overflow:hidden;}
.footer{text-align:center;margin:15px auto 6px;width:960px;line-height:26px;color:#999;font-size:12px;height:55px;padding-top:5px}
.footer a:link,.footer a:visited {color: #999;}
.footer a:hover {color: #bc2931;}

.list_wangge{ zoom:1;}
.list_wangge li .tuan-price{ float:right; font-size:20px; color:#F54E00; }
.list_wangge li  .already-sold{ color:#adadad;} 
.list_wangge li{ background-color:#ffffff;width:215px;padding:12px 10px 0 10px; float:left; display:inline; border:1px solid #dcdcdc; margin-right:9px;_margin-right:5px;  margin-top:10px;}
.list_wangge li h2{ font-size:14px;overflow:hidden; height:55px; margin-bottom:5px;}
.list_wangge h2 span{ color:#ff6600; }
.list_wangge .img{width:216px; height:135px;border:1px solid #cbcbcb; overflow:hidden;}
.list_wangge li.showtime .time{display:block}
.list_wangge .img img{width:216px; height:135px; padding:0; margin:0; display:inline-block }
.list_wangge .detail{display:none}


.time{height:24px; margin-top:-25px!important;margin-top:-27px ;border:0px line-height:24px; position:relative; display:none}
.time_bg,.time_text{ height:24px; width:216px;}
.time_bg{ position:absolute; top:0; background-color:#333333;opacity:0.5;filter:alpha(opacity=50);}
.time_text{ line-height:24px; text-align:center; color:#FFFFFF; position:absolute; top:0; font-size:12px}


.list_danhang{ zoom:1; padding-right:10px;}
.list_danhang h2{ font-size:12px;}

.list_danhang li{ display:inline-block;  height:auto; padding:18px 0 10px 0; width:100%; border-bottom:1px dotted #cbcbcb}
.list_danhang li .intro_title{ display:none}
.list_danhang .detail{ width:570px; float:left; display:inline; padding-left:12px; color:#333;}
.list_danhang .intro{ display:none}
.list_danhang .detail h2{ overflow:hidden; height:60px; margin-bottom:5px;}
.list_danhang .already-sold{ color:#adadad; padding:0 38px;padding-right:230px}
.list_danhang  .remaining-time{ color:#666;}
.list_danhang h2 span{ color:#ff6600; }
.list_danhang .img{width:145px; height:91px;border:1px solid #cbcbcb;float:left; position:relative}
.list_danhang .img img{width:145px; height:91px; padding:0; margin:0; display:inline-block }
.list_danhang .time{ display:block; position:absolute;top:116px;*top:113px;_top:115px;left:383px}
.list_danhang .time .time_text{color:#666}
.list_danhang .time .time_bg{display:none;background-color:#fff;}
.list_danhang .detail .into_btn{ position: relative; bottom:0; right:0;}
.list_danhang .detail .into_btn_fav{ position: relative; bottom:0; right:0;}
.list_danhang .detail_text{ font-size:12px; line-height:24px;}

.time{height:24px; margin-top:-25px!important;margin-top:-27px ;border:0px line-height:24px; position:relative}
.time_bg,.time_text{ height:24px; width:216px;}
.time_bg{ position:absolute; top:0; background-color:#333333;opacity:0.5;filter:alpha(opacity=50);}
.time_text{ line-height:24px; text-align:center; color:#FFFFFF; position:absolute; top:0; font-size:12px}


.page{ font-size:12px; line-height:18px; text-align:center; padding:20px 0;  border-top:1px solid #ffffff; position:relative}
.page a.num{ border:1px solid #bcbcbc;  text-align:center; width:18px; height:18px; display:inline-block; margin-right:5px}
.page a.num:hover{ background:#f54e00; font-weight:bold; color:#FFFFFF; border-color:#f54e00}
.page input.page_btn,a.page_btn,.page a:hover.page_btn{width:56px; height:21px; display:inline-block;line-height:21px; background:url(http://tuan.163.com/tuan/images/icon.png) no-repeat -819px -116px; border:0; color:#000000; font-weight:normal}
.page input{ display:inline-block; width:29px; height:16px; border:1px solid #ccc; vertical-align:baseline; font-size:12px;}

.ad_area{ padding:10px 8px 0}
.ad_area a{ display:inline-block; overflow:hidden; margin-bottom:10px;}
.ad_area img{ border:1px solid #ddd;}

.intro{ font-size:12px; padding:10px 0 12px;}
.discount{float: left;padding-left:10px;}
.intro .tuan-money{color: #F66622;float: left;padding-RIGHT: 10px;font-size: 20px;}
.intro .orgin-price{float: left;padding-left: 10px;text-decoration: line-through;}
.into{ height:26px;margin-top:5px; text-align:center}
.into span{ font-size:12px;height:26px;padding:0 10px 0 0;position:relative;top:-6px; text-align:center}
.into_btn{ display:inline-block; width:96px; height:26px; background:url(/img/tuangou/icon.png) no-repeat -857px -156px}
.into_btn_fav{ display:inline-block; width:45px; height:23px; background:url(/img/tuangou/dy_03.jpg) }

.tuan_foot{ text-align:center; height:37px; line-height:37px; background:url(/img/tuangou/repeat.png) repeat-x 0 -382px; color:#FFFFFF; margin-top:0; font-size:12px;}
.tuan_foot a,.tuan_foot a:visited{ color:#FFFFFF}
.tuan_foot a:hover{ text-decoration:underline}
.main .go_top{width:19px;height:62px;background:url(http://tuan.163.com/tuan/images/go_top.png);margin-left:960px;_right:-19px;position:fixed;_position:absolute;_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop : document.body.scrollTop)}
.go_top a {width:19px; height:62px; display:block;}
.sys_err{font-weight:normal;margin:100px 0 200px 350px;padding:0;line-height:34px; color:#2b2b2b}
.err_img{ background:url(http://tuan.163.com/tuan/images/icon.png) no-repeat -572px -157px; width:59px; height:51px; margin-left:-70px; margin-top:-8px; display:inline-block; float:left}

.tips{position:absolute;left:0;top:0;background:#fff;border:1px solid #ccc;color:gray;padding:0 5px;font-size:12px;z-index:1000; display:none}
.dot_line{ border-bottom:1px dotted #cbcbcb;height:1px; font-size:1px; margin:0 10px; clear:both}
.tuan_city{ padding-top:10px; zoom:1;}
.tuan_city li{ width:69px; overflow:hidden;}
.tuan_city li a:hover{ background-color:#f54e00; color:#ffffff; line-height:20px; text-decoration:none; padding:2px 3px; float:none}
.more_city{ text-align:right; margin:0 20px 5px;}
.mt5{ margin-top:5px}

.tc{ text-align:center}
.tr{ text-align:right}
.c_f54e00,a.c_f54e00,a.c_f54e00:visited{color:#f54e00;}
a.c_f54e00:hover{color:#f54e00; text-decoration:underline}
.ht_20{ font-family:"黑体";font-size:20px; font-weight:normal}
.f20{ font-size:20px;}
.fl2{ font-size:12px}
.fl4{ font-size:14px}


/*“关于”页面*/
.header .sub-title,.header .about-us{ float:left;padding-top:55px; left:16px;position:relative;z-index:99999;font-family:"黑体";font-size:20px;}
.header .about-us{font-size:14px; font-family:"宋体"}
.main .about-us-info{ padding:40px 35px;}
.about-us-info h3{ font-weight:bold; color:#ec500f; }
.about-us-info p{ margin-top:35px;}
.about-us-info a{color:#ec500f; text-decoration:underline;}

/*帮助中心*/
.help-info {}
.help-info .left_help .sub_help a  { display:block; padding:10px 0 10px 20px; border-bottom:1px dotted #ccc;}
.help-info .left_help .sub_help a.end{ border:none;}
.help-info a:active,.help-info a:focus,.help-info a:hover{color:#ec500f;}
.help-info a:hover{ text-decoration:underline;}
.left_help{width:315px;float:left;font-size:12px;}
.left_help_top{height:38px; text-indent:10px; line-height:38px; background:url(http://tuan.163.com/tuan/images/help-center.png) 0 -112px repeat-x;font-size:14px;font-weight:bold; color:#ff5907; border-bottom:1px solid #e7e7e7;}
.help_list{height:auto!important;min-height:500px; height:500px;}
.help_list li, .help_list p.sub_help{ background:url(http://tuan.163.com/tuan/images/help-center.png) 0 -158px repeat-x;}
.help_list li .open,.help_list li .close{border-bottom:1px solid #dedede; background:url(http://tuan.163.com/tuan/images/help-center.png) no-repeat;padding-left:30px;width:283px;display:inline-block;height:33px; }
.help_list li .open{background-position: 10px -30px;}
.help_list li .close{background-position: 10px 10px;}
.help_list .server_call{ height:48px; line-height:48px; text-align:center; font-weight:bold;}
.help_list li .open a,.help_list li .close a{display:inline-block;height:33px;font-weight:bold;line-height:33px;}
.help_list li .sub_help{border-bottom:1px solid #dedede;padding: 0 10px;}
.right_help{width:630px;float:right;}
.right_help_top{height:40px;background:url(http://tuan.163.com/tuan/images/help-center.png)  26px -60px no-repeat; no-repeat;font-size:14px;font-weight:bold;padding:18px 0 0 37px;}
.right_help_top span.active{ font-weight:bold; color:#ee5700;}
.right_help_con{padding:10px 15px 25px 15px;height:auto!important;min-height:420px; height:420px;}
.help_title{font-size:14px;font-weight:bold;padding:10px}
.help_info_frame{background:#FFF9EC;border:1px solid #EBD9C0;padding:5px 10px;font-size:12px;color:#666;}

/* 登录 */
.login{width:370px;background:#fff;}
.login .org_title .title_m{ font-size:14px}
.load_form{ height:185px; border:1px solid #cbcbcb; border-top:0px}
.load_form li{height:34px;line-height:34px; clear:left;margin-bottom:5px}
.load_form li:after{content:".";height:0;display:block;clear:both;visibility:hidden;}
.input{width:180px;height:21px;border:1px solid #ccc;padding:3px 0 0 3px; }
.load_form li .f_left{float:left;text-align:right;padding-right:10px; width:80px}
.load_form li .f_right{float:left;}
.login .input{width:160px;border:1px solid #BECED8;}
.alertClose{ margin-right:0px; margin-top:9px;float:right;}
.info{height:20px;line-height:20px;color:#666;font-size:12px;}
.load_btn{ color:#FFFFFF; font-size:14px; font-weight:bold;  display:inline-block; border:0; width:89px; height:32px; background:url(http://tuan.163.com/tuan/images/icon.png) no-repeat -758px -156px}

/*销量排行榜 浏览记录*/
.ranks{border:1px solid #E3E3E3 ; background:#f7f7f7; margin-bottom:10px }
.sale_top {background:url(http://tuan.163.com/tuan/images/xiaoliang.png) no-repeat; height:30px; margin-bottom:5px; }
.click_top{background:url(http://tuan.163.com/tuan/images/rank.png) 0 -31px no-repeat; height:30px; margin-bottom:5px;}
.brown_top{background:url(http://tuan.163.com/tuan/images/rank.png) 0px -63px  no-repeat; height:30px; margin-bottom:5px;}
.rank{font-size:12px; padding:10px 5px;border-bottom:1px dotted #ADADAD; line-height:20px;}
.rank h2{ height:40px; overflow:hidden}
.saled { float:left; width:67px; }
.rank .price{ color:#F54E00;font-size:14px; font-weight:bold;}
