#main{margin:10px auto;width:800px;background:#fff}

#main .step-nav{background:url(/img/bg_register.gif) no-repeat 0 0;height:35px;line-height:28px;padding:0 15px}
#main .box{background:#fff;border-right:1px #D5D5D5 solid;border-left:1px #D5D5D5 solid;min-height:370px;_height:400px;padding:20px 20px 20px 20px;}
#main .bottom{background:url(/img/bg_register.gif) no-repeat 0 -35px;height:30px;font-size:0;line-height:0;}
.notice {color:#c50;font-size:14px;font-weight:bold;}
#main .box h2,#main .box h1 {border-bottom:1px #ddd solid;font-size:18px;line-height:180%;margin:0 0 20px 0;color:#e50}
#main .box table{width:100%;}
#main .box table th{text-align:right;width:20%;padding:0 10px 10px 10px;vertical-align:top;}
#main .box table td{padding:0 0 10px 0;color:#666}
#main .box table th label{font-size:14px;}
#main .box table td input[type="text"],#main .box table td input[type="password"]{font-size:14px;width:244px;border-color:#7C7C7C #CCCCCC #DDDDDD;border-style:solid;border-width:1px;padding:4px 5px;background:#f8f8f8}
#main .box table td.act{padding:15px 0;}
#main .box table td.act input{background:#ff6600;border-color:fff;border-style:solid;border-width:1px;color:#FFFFFF;height:28px;line-height:24px;
padding:1px 15px;text-align:center;margin-right:10px;font-size:14px}
.forget-mm{
font-size:12px;
_padding:0 0 0 5px;
}
#main .box table td.act a{color:#2178B4;text-decoration:underline;}
#main .box table td.act .reged a{font-size:14px;font-weight:bold;}


#main .box p{clear:both;margin:0;padding:0px 0;font-size:14px;}
#main .box p label{float:left;margin-right:10px;text-align:right;width:150px;font-size:14px;}
#main .box p input[type="text"],#main .box p input[type="password"]{font-size:14px;width:244px;border-color:#7C7C7C #CCCCCC #DDDDDD;border-style:solid;border-width:1px;padding:4px 5px;background:#f8f8f8}
#main .box p.act,#main .box p.agreement {margin-left:87px;}
#main .box p.act .reged{font-size:12px;}
#main .box p.act .reged a{font-size:14px;color:#2178B4;font-weight:bold;}
#main .box p input[type="submit"],#main .box table td.act input{background:#f60;border-color:#FFC4A2 #863A0D #863A0D #FFC4A2;border-style:solid;border-width:1px;color:#FFFFFF;height:28px;line-height:24px;
padding:1px 15px;text-align:center;margin-right:10px;font-size:14px;}
#main .box p.agreement a{color:#2178B4;}

#main .box .left{float:left;width:345px;position:absolute; left:0px;}
#logo-kong{
width:300px;
height:30px;
}
#main .box .left .ad_text{width:300px; display:block; margin:0 auto;text-align:center;color:#f50;padding:6px 0;border-top:1px #ccc solid;border-bottom:1px #ccc solid}
.box{
position:relative;
}
/*#main .box .right{float:right;width:385px;background:url(/img/box_xuxian.png) repeat-y left top; padding-left:35px; padding-bottom:50px;}*/
#main .box .right{float:right;width:385px;padding-left:35px;}
#main .box h2.loginh2{border-bottom:0;}
.login_nav{margin:-20px 0 0 0;padding:0 0 0 0;position:relative;min-height:30px;_height:29px;}
.login_nav li{display:block;width:115px; height:29px;background:url(/img/dq.png) no-repeat left top;float:left;margin-right:0px;position:relative;top:1px;}
.login_nav li.login_nav_select{border-bottom:1px solid #e25103;font-weight:bold;display:block;width:115px; height:29px;background:url(/img/hover.png) no-repeat 0 0;}
.login_nav li a{float:left;color:#b3afaf;;line-height:180%;display:block;width:115px; height:24px; padding-top:5px; text-align:center;}
.login_nav li.login_nav_select a{color:#fff;}

.errorExplanation{background:#FFFBCC;border:1px #FFEC19 solid;padding:5px 10px;margin:0 0 10px 0}
.errorExplanation h2{font-size:14px;border-bottom:0;margin:0;padding:0;}
.errorExplanation p{display:none;}
#errorExplanation ul{margin-left:24px;}
#errorExplanation ul li {font-size: 12px;list-style: circle;}

.fieldWithErrors {margin:0;padding:0}
.fieldWithErrors label{font-size:14px;color:#b00}
#main .box table td .fieldWithErrors input{background:#f96}

#footer{border-top:none;margin-top:0px;}

#main:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}




#main .box .right #right-kuang{
width:369px;
border:1px solid #e25103;
padding-top:35px;
padding-bottom:26px;
}
.box-mima{
margin:0;
padding:0;
width:80px;
text-align:right;
padding:0 5px 0 0;
height:25px;
float:left;
}
#box-yhm{
width:300px;
height:30px;
margin-bottom:5px;
}
#box-yhm1{
width:300px;
height:30px;
margin-top:8px;
}
#adm-yhm{
width:300px;
background-color:#99CC33;
}
.wenzi{
width:100px;
display:block;
float:left;
}


/*2010.03.15*/
#user_name{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#user_password{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#user_password_confirmation{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#user_email{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_name{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_phone{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_password{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_password_confirmation{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_linkman{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_tel{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_address{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_email{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:200px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_url{
border:1px solid #b5b8c8;
_height:17px;
padding-top:4px;
width:199px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#shop_desc{
border:1px solid #b5b8c8;
}
.color-2010{
color:#666666;
font-size:14px;
}

/*2010.03.24 denglukuang*/

#name{
border:1px solid #b5b8c8;
height:17px;
width:145px;
padding-top:2px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#password{
border:1px solid #b5b8c8;
height:17px;
padding-top:2px;
width:145px;
background:url(/img/user_name_bg.jpg) repeat-x;
}
#phone{
border:1px solid #b5b8c8;
width:145px;
padding-top:2px;
background:url(/img/user_name_bg.jpg) repeat-x;
height:17px;
}

.failStyle{
	color:red;
}

.successStyle{
	color:#666666;
}

.alertStyle
{
	color:blue;
}
.newpal{ color:#666; line-height:30px;margin-left:15px; margin-top:10px; }
.newpal .ml20{ margin-left:20px; }