body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
margin:0;
padding:0;
}
body {
	font:12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
	background-image: url(/img/tuangou/shop_tuangou/body-bg.jpg);
	background-repeat: repeat-x;
	color:#404040;
}
.clear {
clear:both;
}
li, ul, ol{
list-style:none outside none;
}
.msg .error, .msg .stop, .msg .alert, .msg .attention, .msg .tips, .msg .ok, .msg .notice, .msg .question, .msg .help, .msg .small-help {
background:url(/img/tuangou/shop_tuangou/msg_bg.png) no-repeat scroll 0 0 transparent;
border:1px solid #DDDDDD;
color:#404040;
float:left;
line-height:18px;
padding:2px 10px 2px 23px;
}
.msg .tips {
background-color:#FFFFE5;
background-position:3px -197px;
border-color:#FFCC7F;
margin:10px 0 0;
}
a {
color:#3366CC;
text-decoration:none;
}
a:hover {
color:#FF6600;
text-decoration:underline;
}

#header {
	width: 963px;
	margin: 0 auto;
	background-image: url(/img/tuangou/shop_tuangou/header-bg.jpg);
	height: 103px;
	background-repeat: no-repeat;
	background-position: 1px 2px;
}
#login-foot {
	background-image: url(/img/tuangou/shop_tuangou/login-foot-bg.jpg);
	height: 61px;
	width: 958px;
	margin: 0 auto;
	padding: 0 6px 0 0;
	background-position: -10px 0;
}
#login-foot a {
	float: right;
	color: #4c4c4c;
	font-size: 14px;
	padding: 17px;
}


#login-publish {
	background-repeat: no-repeat;
	background-position: -15px 0px;
	background-image: url(/img/tuangou/shop_tuangou/login-bg.jpg);
	width:1022px;
	margin: 0 auto;
}
#login-publish .login-btn{
width:800px;margin:0 auto;height:650px}
#login-publish .login-btn p{color:#086083;font-size:12px;margin:0 0 5px;}
#login-publish .login-btn .login-btn-user
{float:left;padding:170px 0 0 40px;text-align:center;}
#login-publish .login-btn .login-btn-shop
{float:right;
	padding:170px 90px 0 0;text-align:center;
}
.form li span.prop-tips:after{content:"";display:inline;}.form li span em{float:left;margin:0 0 0 -8px;font-style:normal;color:red;line-height:24px;font-size:12px;font-family:'simsun';}.form li span .text{width:193px;}.form li span .text-error{border:1px solid red;}.form li span .disabled{background:#ECE9D8;}
.form li span .text-short{width:100px;}.form li span .text-shorter{width:60px;}.form li span ul.ul-radio li{padding-top:1px;}.form li span .text-long{width:400px;}

.hidden{display:none!important;}.box h5{padding:9px 0 9px 18px;font-weight:bold;}textarea{margin:3px 5px 2px 5px;*margin:3px 5px 2px 5px;padding:3px 2px 0 3px;width:50%;height:5em;font-size:12px;border:1px solid #a7a6aa;background:white url(http://a.tbcdn.cn/app/ic/img/input-bg.png) 0 0 no-repeat;}input{color:#666;font-size:12px;background:white url(/img/tuangou/shop_tuangou/input-bg.png) 0 0 no-repeat;}input.text{margin:0 0 0 5px;padding:3px 2px 0 3px;height:20px;border:1px solid #a7a6aa;}input.pure-text{background:none;border:1px solid white;color:#333;}input.checkbox{margin:0 4px 0 5px;*margin:0 4px 0 0;height:18px;vertical-align:middle;background:none;}input.radio{margin:0 4px 0 5px;*margin:0 4px 0 0;height:24px;vertical-align:middle;background:none;}input.align-right{text-align:right;}

.form select{margin:0 4px 0 5px;padding:1px 1px 0 2px;border:1px solid #a7a6aa;font-size:12px;}
.form{zoom:1;margin-bottom:10px;}
.form:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.form ul{zoom:1;}
.form li{clear:left;margin-bottom:8px;}
.form li div.msg-left{margin-left:24px;}
.form li div.msg-left a{margin-left:8px;}

.ul-radio{float: left}
/*冲突*/

.form label{float:left;width:112px;text-align:right;color:#404040;padding-right:8px;line-height:1.2;padding-top:4px;zoom:1;}
.form label b{font-weight:normal;color:#40d9ff;}
.form li span{overflow:hidden;}
.form li span.prop-tips{display:inline;color:#808080;margin-left:12px;padding: 0px;}

/*冲突*/

/*-- --*/
.form li span li,.form li span .module-property li span li{float:left;clear:none;margin:0 20px 2px 0;white-space:nowrap;zoom:1;}.form li span .module-property li{display: inline;float:left;margin:10px 0;}.form li span .tips{margin-left:5px;color:#404040;}.form li span li label,.form li span .module-property li span li label{float:none;width:auto;padding-right:0;padding-top:0;line-height:1.8;}.form li span .module-property li span li label{white-space:nowrap;}.form li span .module-property li label{float:left;width:110px;padding-right:8px;line-height:1.2;padding-top:4px;}


.form li span .module-property li label.label-title{white-space:normal;}.form li span .module-property li span{zoom:1;width:490px;}.form li span .module-property li span .preview{width:90px;height:91px;overflow:hidden;}.form li span .module-property li span .preview span{width:86px;height:86px;padding-left:0;overflow:hidden;zoom:1;}.submit{text-align:center;padding:20px 0 60px;}.submit .ic-btn{margin:0 7px;}

.alipay-intro{margin:50px 0 0;text-align:center;line-height:20px;}.alipay-intro span{color:#f60;}



/*-- --*/
#product-edit h3,#item-publish h3{
	font-size: 25px;
	background-repeat: no-repeat;
	color: #FF6600;
	font-weight: normal;
    margin: 10px 0
}.page-feedback-msg{margin:0 10px;zoom:1;}.page-feedback-msg h3{padding-left:10px!important;background:none!important;}#item-publish .bd{padding:0;zoom:1;}
#item-publish {
	width:1000px;
	margin: 0 auto;
	position:relative;
}
#item-publish .bd-sub{float:left;width:198px;}
#item-publish .bd-main{
	padding:40px 100px;
	width:797px;
	margin: 0 auto;
	min-height:300px;
	background-image: url(/img/tuangou/shop_tuangou/bd-main-bg.jpg);
	background-repeat: repeat-y;
	
}#item-publish .bd-main p {
	font-size: 14px;
	line-height:25px;
margin:15px 0;
text-decoration:none;
}
#item-publish .bd-sub{padding:10px 0;}#item-publish h5{padding-left:10px;}
#item-publish .bd-main h5{font-size:14px;color:#404040;float:left;width:150px;font-weight:bold;
padding:9px 0 9px 18px;}
#item-publish .bd-main .hint{float:left;margin:0 0 11px 51px;width:540px;}#item-publish .bd-main .skin .hint{*margin-left:25px;}#item-publish .bd-sub h5{color:#404040;font-size:12px;}.bd-main label{width:86px;font-weight: normal;}#item-publish .bd-sub ul{padding:0 10px;}#item-publish .bd-sub li{margin-bottom:4px;}#J_module-property .cphelp_content{margin-left:123px;white-space:normal;color:#a6a6a6;}html #J_module-property .cphelp_content{_margin-left:126px;}.bd-main .form{*clear:both;}


#J_module-property .cphelp_content a{padding-left:4px;color:#36c;}.module-upload .upload .file,.module-upload .overview,.module-upload .overview li,.module-upload .preview,.module-upload .act a{background:url(http://a.tbcdn.cn/app/ic/img/module_upload.png) no-repeat;}.module-form{overflow:hidden;zoom:1;margin-left:95px;margin-bottom:10px;}

.module-form .skin{float:left;background:#f8f8f8;border:1px solid #ececec;overflow:hidden;padding:0px 0 10px 10px;}.form li span .module-form{}.form li span .module-form .skin{float:none;zoom:1;}.module-property .skin{padding-bottom:0;}.module-upload .skin{position:relative;padding-top:26px;}.module-upload .tip{position:absolute;left:10px;top:4px;}.module-upload .overview{float:left;width:128px;background-position:105px 34px;}.module-upload .overview div{width:98px;height:98px;background:#ffd9c0;border:1px solid #ffc097;}.module-upload .overview ul{padding:1px 0 0 1px;}.module-upload .overview li{float:left;margin-right:2px;background-position:-32px -20px;}.module-upload .overview li.s1{background-position:-32px 0;}.module-upload .overview li a{float:left;width:18px;height:20px;text-indent:-9999px;overflow:hidden;}.module-upload .list{float:left;position:relative;overflow:hidden;width:670px;}.module-upload .list ul{width:1000px;}.module-upload .list li{float:left;width:90px;margin-right:5px;*margin-right:4px;position:relative;}

.upload-pic .panel{zoom:1;margin-top:-1px;background:white;border:1px solid #add2ff;padding:8px;height:250px;}.upload-pic .panel iframe{background:#ccc;}.pic-manager .side,.pic-manager .side li,.pic-manager .upload a,.upload-video .upload,.upload-manager .preview,.upload-manager .act span{background:url(img/upload_sets.png) no-repeat;}

.upload-pic{margin:5px 222px 10px 100px;}
.ic-btn {
background:url(/img/tuangou/shop_tuangou/ic_btn.png) no-repeat scroll 0 0 transparent;
border:0 none;
cursor:pointer;
font-size:14px;
font-weight:700;
height:25px;
width:78px;
}
.submit .ic-btn {
margin:0 7px;
}
.ic-btn-blue {
background-position:0 0;
color:#FFFFFF;
}
.ic-btn-gray {
background-position:0 -25px;
color:#000000;
}
.ic-btn-gray:hover{background-position:-80px -25px;}
.ic-btn-blue:hover{background-position:-80px 0;}
.result {
	background:url(/img/tuangou/shop_tuangou/result_warn.png) no-repeat scroll 14px 0 transparent;
	color:#333333;
	line-height:30px;
	padding-bottom:40px;
	padding-left:90px;
	padding-top:8px;
	font-size: 14px;
}
.result-ok {
background-image:url(/img/tuangou/shop_tuangou/result_ok.png);
}
#item-publish .bd-main-foot {
	background-image: url(/img/tuangou/shop_tuangou/bd-main-foot.jpg);
	height: 184px;
	width: 1000px;
}
#item-publish .bd-main-bgleft {
	background-image: url(/img/tuangou/shop_tuangou/bd-leftbg.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 276px;
	width: 54px;
	background-position: 0px 0px;
}
#item-publish .bd-main-bgright {
	background-image: url(/img/tuangou/shop_tuangou//bd-rightbg.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 276px;
	width: 53px;
	background-position: 0px 0px;
	right: 0px;
}
#item-publish .bd-main .bd-shop-all {
	background-image: url(/img/tuangou/shop_tuangou/login-shop-bg.jpg);
	height: 425px;
	width: 756px;
}
.bd-shop-all .text-long280{width:225px; height:28px}
#item-publish .bd-main .bd-shop-all ul {
	font-size: 14px;
	width: 230px;
	float: right;
	margin: 170px 30px 0 0;
	display: inline;
}
#item-publish .bd-main .bd-shop-all li {
	padding: 3px 0;
}
#item-publish .bd-main #group-rz-cen th {
	text-align: right;
	height: 50px;
	width: 158px;
	line-height: 50px;
	padding: 0 10px 0 0;
}
#item-publish .bd-main #group-rz-cen h7 {
color:#666666;
font:14px/1.8 微软雅黑,黑体 normal;
margin:10px 60px;
text-align:center;
}
.rz-submit {
background:none repeat scroll 0 0 #06A6DA;
border-color:#09BDF9 #058DBA #058DBA #09BDF9;
border-left:2px solid #09BDF9;
border-style:solid;
border-width:2px;
color:#FFFFFF;
cursor:pointer;
font-size:14px;
font-weight:700;
height:25px;
width:66px;
}
.gray{
color:#989898;
font-size:12px;
}
.rz-cen-text {
background:url("/img/tuangou/user_name_bg.jpg") repeat-x scroll 0 0 transparent;
border:1px solid #CCCCCC;
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:700;
height:20px;
padding-left:3px;
padding-top:3px;
width:300px;
}
#item-publish .bd-main #group-rz-cen {
	font-size: 14px;
	color: #3B3B3B;
}
#item-publish .bd-main .bd-shop-all .shop-rz-btn {
	background-image: url(/img/tuangou/shop_tuangou/shop-btn.jpg);
	height: 42px;
	width: 113px;
	border: 0px;
}
#group-reg-login {
float: right;
margin:72px 10px 0 0;
text-align: right;
width: 300px;display:inline;
}
.welcome {
color: #E1E1E1;
float: right;
font-size: 12px;
}#group-reg-login a {
color: #81DD42;
float: right;
margin: 0px 0px 0px 6px;display:inline;
}
#errorExplanation {
background-color: whiteSmoke;
border: 1px solid #DBDBDB;
clear: both;
font-size: 12px;
margin: 0px auto 40px;
padding: 8px 12px 12px;
width: 700px;
}
#errorExplanation h2 {
border-bottom: 1px solid #ADDB09;
color: #E50;
font-size: 14px;
line-height: 32px;
}
#errorExplanation p {
color: #ADDB09;
font-weight: 700;
line-height: 25px;
padding: 5px 0px 0px;
}
#errorExplanation li {
color: #E50;
line-height: 15px;
list-style: square;
margin: 0px 0px 0px 2em;
padding: 0px 0px 2px;
}