@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
ul{
list-style:none;
}
img{
border:0;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
body{
font-size:12px;
background-color:#f3f3f3;
}
.STYLE1 {color: #d35100;}
/* shuomingye*/
#shuoming{
	width:1002px;
	margin:0 auto;
	
}
#baiyun{
width:41px;
height:450px;
float:left;
background:url(../images/yun.gif) left 92px no-repeat;
}
#shuoming-left{
	width:430px;
	float:left;
}
#shuoming-left img{
vertical-align:bottom;
}
#dl-logo{
width:430px;
height:195px;
margin-top:45px;
}
#shiyong{
width:430px;
height:263px;
}
#sy-yidu{
width:38px;
height:263px;
float:left;
background:url(../images/sy-yidu.jpg);
}
#zhekou{
width:392px;
height:87px;
float:right;
background:url(../images/zhekou.jpg) no-repeat;
}
#duanxin{
width:392px;
height:87px;
float:right;
background:url(../images/duanxin.jpg) no-repeat;
}
#jifen{
width:392px;
height:89px;
float:right;
background:url(../images/jifen.jpg) no-repeat;
}
#shiyong-yy{
width:430px;
height:16px;
background:url(../images/shiyong-yy.jpg) repeat-x;
}
#dl-zcdl{
width:430px;
height:83px;
font-size:14px;
}
#dl-zcdl a{
	color:#eb5401;
	text-decoration: underline;
}
#shuoming-right{
width:484px;
float:left;
margin-top:45px;
}
#shuoming-right img{
vertical-align:bottom;
}
#sale{
width:484px;
height:229px;
background:url(../images/sale.jpg) no-repeat;
}
#jiameng{
width:466px;
height:311px;
}
#jm-yidu{
width:36px;
height:311px;
float:left;
background:url(../images/jm-yidu.jpg) no-repeat;
}
#tiyan{
width:430px;
height:103px;
float:right;
background:url(../images/tiyan.jpg) no-repeat;
}
#fabu{
width:430px;
height:103px;
float:right;
background:url(../images/fabu.jpg) no-repeat;
}
#renqi{
width:430px;
height:105px;
float:right;
background:url(../images/renqi.jpg) no-repeat;
}
#jm-yy{
width:466px;
height:17px;
background:url(../images/jm-yy.jpg) repeat-x;
}
#shuoming-foot{
	width:894px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 41px;
}
#hello{
width:414px;
height:189px;
float:left;
background:url(../images/2010.jpg) 37px 48px no-repeat;
}
#gg{
width:480px;
height:187px;
float:left;
background:url(../images/gg.jpg) no-repeat;
}

