html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,

/* Eric Meyer's Reset Stylesheet: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;

}

/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


body{font-family:宋体;font-size:12px;margin:0px;padding:0px; text-align: center}
.header{width: 920px; height: 53px; margin: 10px auto; text-align: left; border-bottom: 2px solid #B50000; padding-bottom: 3px;}
.header .logo{float: left; width:100px;   display: inline; text-align: right; }
.header .Hmain{float: left; padding: 3px 0 0 10px; font-size: 20px; display: inline}
.header .Hmain span {padding: 0; font-size: 16px; }
.header .contact{float: right; margin: 40px 20px 0 0; font-weight: bolder;}
.header .contact span{color: red; margin-left: 5px;}

.menuMap {text-align: left; width: 920px;  margin: 10px auto; padding-left: 13px; font-size: 14px;}
.menuMap h2{font-weight: bolder; font-size: 16px; margin-bottom: 13px; margin-top: 13px;}
.menuMap ul{list-style-type: none;}
.menuMap ul li {display: inline;}
a {color: #000; text-decoration: none;}
a:hover {text-decoration: underline; color: #B50000}
.menuMap th {width: 289px; border: none; margin: 0; padding: 0;overflow: hidden;}
.menuMap .even {background-color:  #F6F6F6;  line-height: 30px;}

.bottom {width: 920px;margin: 10px auto;min-height: 53px;text-align: left;}
.bottom #Footer{font-size: 16px; background-image: url("/img/shop_space/foot.png");padding: 40px 30px 10px;
background-repeat: no-repeat;}