*{margin:0px;padding:0px;}
body { font-family:"微软雅黑"; font-size: 12px;background:#f4f6f9 url(../images/index/bg.jpg) left top repeat-x; }
img{border:none;}
ul,ol{list-style:none;}
a{text-decoration:none;}
.l{float:left;}
.r{float:right;}
h1{display: none}
.pointer{cursor:pointer;}
.f12{font-size:12px !important;}
.ff{font-family:"微软雅黑";text-shadow:0px 0px 2px #ccc;color:#333;}
.btn{display:block;width:210px;height:65px;background:transparent url(http://oss.aliyuncs.com/dface/images_btn.jpg) left top no-repeat;overflow:hidden;text-indent:-999em;}
.ml100{margin-left:100px;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt110{margin-top:110px;}
.mt130{margin-top:110px;}
.mb90{margin-bottom:90px;}
.m_auto{margin-left:auto !important;margin-right:auto !important;}
.header{width:960px;height:117px;margin:0px auto;background:url(../images/index/headerbg.jpg) left top no-repeat;}
.logo{float:left;margin-top:20px;margin-left:40px;}
#Menu{display:block;font-size:14px;overflow:hidden;zoom:1;margin-top:70px;float:right;}
#Menu li{float:left;padding:0px 15px;text-align:center;width:76px;}
#Menu li.home{width:38px;}
#Menu a{color:#828282; display:block;}
#Menu a.hover, #Menu a:hover{color:#00CCFF;}

.dh{width:100%;height:510px;clear:both;position:relative;}
.dh .dhimg{width:100%;height:510px;position:relative;overflow:hidden;}
.dh .dhimg a{width:100%;height:510px;position:absolute;left:0px;top:0px;display:block;zoom:1;overflow:hidden;}
.dh .dhnum{position:absolute;width:100%;top:48%;height:49px;left:0px;z-index:2;}
.dh .dhnum .def{display:none;}
.dh .dhnum .selected{display:none;}
.dh .dhnum .prevbtn, .dh .dhnum .nextbtn{width:49px;height:49px;background:url(../images/arrow.png) left top no-repeat;
display:block;overflow:hidden;float:left;text-indent:-999em;margin-left:20px;cursor:pointer;zoom:1;}
.dh .dhnum .nextbtn{background:url(../images/arrow2.png) left top no-repeat;float:right;margin-left:0px;margin-right:20px;cursor:pointer;zoom:1;}

.slide {position:relative;width:960px;height:0px;margin:0px auto;z-index:99;zoom:1;}
.slide .slideinner{}
.slide  .slideinner .pic{width: 136px;height: 155px;top: -380px;left: 562px;position: absolute;background:url(http://oss.aliyuncs.com/dface/images_pic.png) 0px 0px no-repeat;}
.slide  .slideinner .pic2{width: 145px;height: 155px;top: -380px;left: 835px;position: absolute;background:url(http://oss.aliyuncs.com/dface/images_pic2.png) 0px 0px no-repeat;}
.slide  .slideinner .dl, .slide  .slideinner .dl:hover {width: 243px;height: 58px;top: -130px;left: 510px;position: absolute;background:url(http://oss.aliyuncs.com/dface/images_iphone.png) 0px -10px no-repeat;}
.slide  .slideinner .dl:hover{background:url(http://oss.aliyuncs.com/dface/images_iphone.png) 0px -90px no-repeat;}
.slide  .slideinner .dl2 {width: 270px;height: 58px;top: -130px;left: 780px;position: absolute;background:url(http://oss.aliyuncs.com/dface/images_android.png) left -10px no-repeat;}
.slide  .slideinner .dl2:hover{background:url(http://oss.aliyuncs.com/dface/images_android.png) left -90px no-repeat;}
.slide .slideinner h2 {top: -522px;width: 458px;height: 522px;position: absolute; background:url(http://oss.aliyuncs.com/dface/images_index_hand.png) left top no-repeat;}
.slide  .slideinner h3{width: 300px;height: 60px;top: -80px;left: 580px;position: absolute;background:url(http://oss.aliyuncs.com/dface/images_index_btn2.png) center top no-repeat;}

.con{margin:1px 0 0 0;width:100%;overflow:hidden;clear:both;height:239px;background:url(../images/index/conbg.jpg) left top repeat-x;}
.con2{width:900px;margin:1px auto 0px auto;overflow:hidden;clear:both;font-size:14px;line-height:25px;color:#666;font-family:"宋体";}
.con2left{width:240px;float:left;background:url(../images/bg.jpg) right 100px no-repeat;padding-right:40px;}
.con2right{float:left;width:600px;padding-left:10px;}

.Intro{margin-top: 25px;margin-bottom: 5px;}
.Intro a {margin: 0 3px;}

.article{width:100%;overflow:hidden;}
.article h2.tit{font-size:22px;color:#333;margin:40px 0px 40px 100px;display:block;font-family:"微软雅黑";text-shadow:1px 0px 3px #c9c9c9;letter-spacing:2px;}
.article h2.tit2{font-size:22px;color:#333;margin:40px 0px 40px 0px;text-align:center;display:block;font-family:"微软雅黑";text-shadow:1px 0px 3px #c9c9c9;letter-spacing:2px;}
.articleinner{width:100%;position:relative;}
.articleinner p{margin:15px 0px;padding:0px;}

.footer{clear:both;height:122px;background:url(http://oss.aliyuncs.com/dface/images_index_footbg.jpg) left top repeat-x;color:#999;text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); }
.wrapper {width: 960px;margin: 0 auto;text-align: center;overflow: hidden;}
.About{margin-top: 39px;margin-bottom: 5px;}
.About a {color:#999;margin: 0 15px;}
.About a.hover, .About a:hover{color:#0CF;}


