@charset "utf-8";
/* CSS Document */

*{
margin:0;
padding:0;
}
ul{
list-style:none;
}
img{
border:0;
}
a{
text-decoration:none;
}
body{
font-size:12px;
color:#000;
background-color:#f3f3f3;
}
ul,li{
list-style:none;
}
#contain{
width:1000px;
margin:0 auto;
}
#szh-logo{
width:1000px;
height:120px;
background:url(/img/szh/szh-logo.jpg) no-repeat;
}
#szh-head{
width:897px;
height:35px;
padding:14px 0 0 103px;
_padding:15px 0 0 103px;
background:url(/img/szh/szh-head.jpg) no-repeat;
}
#szh-c{
width:233px;
height:359px;
float:left;
background:url(/img/szh/szh-c.jpg) no-repeat;
}
#szh-c2{
width:241px;
height:359px;
float:left;
background:url(/img/szh/szh-c2.jpg) no-repeat;
}
#szh-c3{
width:290px;
height:359px;
float:left;
background:url(/img/szh/szh-c3.jpg) no-repeat;
}
#szh-c4{
width:236px;
height:359px;
float:left;
background:url(/img/szh/szh-c4.jpg) no-repeat;
}
#szh-content1{
width:1000px;
height:262px;
float:left;
background:url(/img/szh/szh-fz.jpg) 214px top no-repeat;
}
#szh-content1 ul{
margin:127px 0 0 478px;
width:300px;
}
#szh-content1 ul li{
display:block;
width:146px;
height:17px;
float:left;
}
#szh-content2{
width:1000px;
height:278px;
float:left;
background:url(/img/szh/szh-nr.jpg) 214px top no-repeat;
}
#szh-content3{
width:786px;
height:60px;
padding:60px 0 0 214px;
float:left;
}
