#info {
	background:#f7f7f7;
	border:1px solid #ccc;padding:26px 0 27px 0;
	background-image:url('../img/title_bg.gif');}

h4 {
	font-weight:normal;float:left;}

#info li {
	list-style:none;
	float:left;}

#info li a {
	float:left; 
	display:block;
	padding:4px 10px 4px 10px;
	color:#37572E;
	text-decoration:none;
    }

#info li a:hover {
	background:#FCECE0;
	color:#000}

#info ul {
	float:left;
	margin-top:-29px;
	padding:5px 0 0 12px;
	position:absolute;}

#info .ha a {
	color:white;}

#info .ha a:hover {
	color:#FFF;
	background:none;}

#info .ha .hc:hover {
	background:url(../img/tag_bottom.gif) no-repeat center;}

.ha {
	background:url(../img/tag_left.gif) no-repeat left top;
	margin-top:-3px;
	padding-top:3px;}

.hb {
	background:url(../img/tag_right.gif) no-repeat right top;
	margin-top:-3px;
	padding-top:3px;}

.hc {
	background:url(../img/tag_bottom.gif) no-repeat center;
	height:21px;
	color:#FFF;
	font-weight:bold;}

.divContent {
	height:190px;
	width:410px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;}

.divContent div {
	padding:6px;}
