<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=yes">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>脸脸</title>
	<link href="/admin/stylesheets/share_photo.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="main2">
		<div class="con">
			<center><%=image_tag Photo.img_url(@photo.id), :class => "center_image"%></center>
			<div class="plane7">
				斯诺登曝光说，美国国安局持续入侵中国多家主要电信公司，获取百万手机短信信息。而中国移动、中国电信却至今集体失声了，中国移动、中国电信的兴趣主要是赚钱，怎么从自己客户身上赚更多的钱是这些企业的核心目标，至于用户的信息安全以及短信安全问题，对不起，这不关中国运营商的事情。
			</div>
			<div class="plane8">
				<div class="plane8left">
					<img src="/admin/image/share_weibo/pic7.jpg" alt="" align="left" width="96" height="96"/>
				</div>
				<div class="plane8left2">
					<span class="wordstyle2">赵海斌</span>
					<span class="l">昨天 13:20</span>
					<span class="r"><img src="/admin/image/share_weibo/pic8.png" class="mr5"/>浙江科技产业大厦</span>
				</div>
				
			</div>
		</div>
		<div class="footer">
			<a href="http://www.dface.cn/mini.html" target="_blank"><img src="/admin/image/share_weibo/logo.png" align="left"/></a>
			<h2>此时此刻，我们在这里</h2>
			<p>脸脸--基于现场的移动社交</p>
		</div>
		<div class="plane6">
			<a href="http://dface.cn/a/down"><img src="/admin/image/share_weibo/btn6.jpg" class="l"/></a>
			<a href="https://itunes.apple.com/cn/app/lianlian/id577710538"><img src="/admin/image/share_weibo/btn7.jpg" class="r"/></a>
		</div>	
	</div>
</body>
</html>