		<div class="con">
			<div class="title1 mb30"><h2 class="f18">内容管理</h2></div>
			<div class="submenu">
				<ul>
					<li><a href="user_photo">用户照片墙</a></li>
					<li class="hover"><a href="shop_photo">商家照片墙</a></li>
					<li><a href="../shop3_login/gchat">聊天室</a></li>
				</ul>
				<div class="r wordstyle">
					<form action="" method="post">
						显示&nbsp;
						<select name="select" class="p3">
							<option value="10">10</option>
							<option value="10">20</option>
							<option value="10">30</option>
						</select>
						&nbsp;条/记录
					</form>
				</div>
			</div>
			<div class="search">
				搜索
				<select name="select" class="p3 mlr10">
					<option value="全部">全部</option>
					<option value="用户">用户</option>
					<option value="发表时间">发表时间</option>
				</select>
				<input type="text" class="inputs5"/>
				<input type="submit" value="提 交" class="btn6 ml10"/>
			</div>
			<form method="post" action=""/>
				<table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40 f13">
					<tr>
						<th width="392">用户</th>
						<th width="980" class="textcenter" style="padding-left:0px;">内容</th>
					</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980" class="img_con"><img align="left" class="imgstyle3" src="images/pic14.jpg">分享一下新的餐厅-“脸脸茶坊”哦，今天半价，前十名参加额外抽奖活动。</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">听说凡是来杭州的人都必须到脸脸茶坊一品~</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
	  	  </table>
			<div class="pagination">
				<ul>
					<li class="disabled"><a href="#" class="pre">&lt;&lt;</a></li>
					<li class="hover"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" class="next">&gt;&gt;</a></li>
				</ul>
		   </div>
		</form>
	  </div>