<% content_for :ahead do %>
  <script src="/newbackstage/js/jquery.blocksit.min.js"></script>
<% end %>
<div id="BG"></div>
<div id="PhotoPlane">
  <span id="Close"></span>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50%" rowspan="10"><img src="images/pic15.jpg" class="imgstyle"/></td>
      <td width="19%" height="30" class="pl20">用 户：</td>
      <td width="31%" height="30">脸脸合一</td>
    </tr>
    <tr>
      <td height="30" class="pl20">发布时间：</td>
      <td height="30">2012-05-12</td>
    </tr>
    <tr>
      <td height="30" class="pl20">分享到微博：</td>
      <td height="30">是</td>
    </tr>
    <tr>
      <td height="30" class="pl20">分享到QQ：</td>
      <td height="30">是</td>
    </tr>
    <tr>
      <td height="30" class="pl20">赞：</td>
      <td height="30">赵海斌, 天真独朗</td>
    </tr>
    <tr>
      <td height="30" class="blue1 pl20">操&nbsp;作：</td>
      <td height="30">
        <a href="#" class="n2" title="已置顶"></a>
        <a class="n4" onclick="OC(this)" title="隐藏"></a>
        <a class="n6" href="#" title="删除"></a>
      </td>
    </tr>
    <tr>
      <td height="30" class="pl20">描&nbsp;述：</td>
      <td height="30">很诱人</td>
    </tr>
    <tr>
      <td height="30" class="pl20">评&nbsp;论：</td>
      <td height="30">真的吗？</td>
    </tr>
  </table>

</div>

<div class="clear1"></div>
<div class="con">
  <div class="title1 mb30"><h2 class="f18">内容管理</h2></div>
  <div class="submenu">
    <ul>
      <li class="hover"><a href="content_manage1.html">用户图片</a></li>
      <li><a href="content_manage1.html">商家图片</a></li>
      <li><a href="gchat">管理聊天室</a></li>
    </ul>
    <div class="r wordstyle">

      <form action="" method="post">
        <!--
        <select name="select" class="p3 r mr10">
          <option value="显示全部图片">显示全部图片</option>
          <option value="只显示用户图片">只显示用户图片</option>
          <option value="只显示商家图片">只显示商家图片</option>
        </select>
        -->
        <a href="content_manage3.html" class="btn8 r mr10">上传照片</a>
      </form>
    </div>
  </div>
  <div class="clear1"></div>
  <div class="box9" id="Waterfall">


    <% @photos.each do |photo| %>
      <div class="box9plane">
        <%= image_tag photo.img.try(:url, :t2)  %>
        <div class="m"><span><%= truncate photo.desc, :length => 20 %></span></div>
        <div class="bj">
          <a onclick="OpenDiv()" class="n1" title="详情"></a>
          <a href="#" class="n2_1" title="已置顶"></a>
          <a href="content_manage3.html" class="n3" title="编辑"></a>
          <a class="n4" onclick="OC(this)" title="隐藏"></a>
        </div>
      </div>
    <% end %>







    <div class="box9plane">
      <img src="/newbackstage/images/pic14.jpg"/>
      <div class="m"><span>描述文本</span></div>
      <div class="bj">
        <a onclick="OpenDiv()" class="n1" title="详情"></a>
        <a href="#" class="n2" title="置顶"></a>
        <a href="content_manage3.html" class="n3" title="编辑"></a>
        <a class="n4" onclick="OC(this)" title="隐藏"></a>
      </div>
    </div>
  </div>
  <div class="pagination">
    <ul>
      <li class="disabled"><a href="#" class="pre">&lt;&lt;</a></li>
      <li class="hover"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#" class="next">&gt;&gt;</a></li>
    </ul>
  </div>
</div>
</div>
<script defer="defer">
  var navmove="off", runing, noing="run";
  $(document).ready(function(){
    runing=$("#CB1").attr("class");
    ua=navigator.userAgent.toLowerCase();

    $('#Waterfall').BlocksIt({
      numOfCol: 5,
      offsetX: 5,
      offsetY: 5,
      blockElement: 'div'
    });

    if(runing=="checkboxs1"){
      NavDiv();
      Photo();
      $(window).load(function(){
        MessageDiv();
      });
      noing="norun"
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }

    if(/ipad/i.test(ua)){
      $("div.box9plane").click(function(){
        var obj=$(this);
        obj.find("div.m").fadeIn(300);
        obj.find("div.bj").animate({"bottom":"0px"},300);
        setTimeout(function(){
          obj.find("div.m").fadeOut(300);
          obj.find("div.bj").animate({"bottom":"-25px"},300);
        },3000);
      });
    }else{
      $("div.box9plane").hover(
      function(){
        $(this).find("div.m").fadeIn(300);
        $(this).find("div.bj").animate({"bottom":"0px"},300);
      },
      function(){
        $(this).find("div.m").fadeOut(300);
        $(this).find("div.bj").animate({"bottom":"-25px"},300);
      }
    );
    }
    $("#Close").click(function(){
      $("#PhotoPlane,#BG").css("display","none");
    });
  });
  function OpenDiv(){
    var top;
    documentHeight=$(document).height();
    windowHeight=$(window).height();
    if(documentHeight<=windowHeight){
      $("#BG").css({"height":windowHeight+"px","display":"block"});
    }else{
      $("#BG").css({"height":documentHeight+"px","display":"block"});
    }
    $("#PhotoPlane").css("display","block");
    top=$(document).scrollTop()+(windowHeight-$("#PhotoPlane").height())/2;
    $("#PhotoPlane").css({"top":top+"px","display":"none"});
    $("#PhotoPlane").fadeIn(600);
  }
  function OC(obj){
    if($(obj).attr("class")=="n4"){
      $(obj).removeClass().addClass("n5").attr("title","显示");
      $(obj).parent().addClass("bbj");
      $(obj).parent().siblings().addClass("bm");
    }else{
      $(obj).removeClass().addClass("n4").attr("title","隐藏");
      $(obj).parent().removeClass("bbj");
      $(obj).parent().siblings().removeClass("bm");
    }
  }
</script>
