		<div class="con">
			<div class="title1 mb30"><h2 class="f18">内容管理</h2></div>
			<div class="submenu">
				<ul>
					<li class="hover"><a href="../shop3_content/user_photo">用户照片墙</a></li>
					<li><a href="../shop3_content/shop_photo">商家照片墙</a></li>
					<li><a href="../shop3_login/gchat">聊天室</a></li>
				</ul>
				<div class="r wordstyle">
					<form action="" method="post">
						<select name="select" class="p3 mr10">
							<option value="显示全部图片">显示全部图片</option>
							<option value="只显示用户图片">只显示用户图片</option>
							<option value="只显示商家图片">只显示商家图片</option>
						</select>
					</form>
				</div>
			</div>
			<div class="clear1"></div>
			<div class="mt20"><a href="#" class="btn8 r mr10">上传照片</a></div>
				
				<table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40 f13">
					<tr>
						<th width="392">用户</th>
						<th width="980" class="textcenter" style="padding-left:0px;">内容</th>
					</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980" class="img_con"><img align="left" class="imgstyle3" src="images/pic14.jpg">分享一下新的餐厅-“脸脸茶坊”哦，今天半价，前十名参加额外抽奖活动。</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">听说凡是来杭州的人都必须到脸脸茶坊一品~</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
				<tr>
				  <td valign="middle"><a title="查看详情" href="user.html"><img align="left" class="imgstyle2" src="images/pic11.jpg"></a><a href="user.html">安卓的安卓的安坐</a><img align="absmiddle" class="ml10" src="images/man.png"><br/>
				  发表时间：2012-02-15</td>
				  <td width="980">品正宗西湖龙井请到脸脸茶坊</td>
				</tr>
	  	  </table>
			<div class="pagination">
				<ul>
					<li class="disabled"><a href="#" class="pre">&lt;&lt;</a></li>
					<li class="hover"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" class="next">&gt;&gt;</a></li>
				</ul>
		   </div>
	  </div>