/* CSS Document */
.au{
	width:95%;min-height:423px;overflow:hidden;float:left;padding:10px;zoom:1;
}
.au a{ text-decoration:none; }
.au h2 {
	font-size: 14px;
	line-height: 30px;
	display: block;
	color: #333;
}
.autable {
	color:#999999;
	width: 100%;
}
.autable h2 { display: inline; }
.autable a{
	color:#999999;
	margin-left:5px;
	margin-right:5px;
}
.autable a:hover{
	color:#fd8703;
}
.fanslist {
	padding: 0px;
	clear: both;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}
.fanslist dl {
	display: block;
	margin: 0px;
	width: 100%;
	background-image: url(../images/dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left: 0px;
	color: #6eafe3;
	overflow:hidden;
	zoom:1;
	line-height: 20px;
}
.fanslist a { color: #0082cb; }
.fanslist a:hover { color: #fd8703; }
.fanslist dl dt {
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: left;
	width: 567px;
}
.fanslist .dd_img {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width:54px;
}
.fanslist .dd_img img {
	padding: 1px;
	height: 50px;
	width: 50px;
	border: 1px solid #ccc;
}
.fanslist dd {
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
	width:567px;
}
.fanslist ul {
	display: block;
	overflow: hidden;
	font-weight: bold;
	color: #666;
}
.fanslist ul li {
	display: block;
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}
.fanslist .plane {
	margin: 0px;
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.au .conleftbottom {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	overflow: hidden;
	clear: both;
	zoom:1;
	margin: 0px;
}
.fanslist .word {
	color: #666;
}
.fanslist .mlr5 {
	margin: 0px 5px;
}
.au .conleftbottom span {
	margin: 0px;
	padding: 0px;
	float: right;
	color: #777;
	line-height: 20px;
	display: block;
}
.au .conleftbottom span a {
	margin-left: 5px;
	background-image: url(../images/bg3.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #c1c1c1;
	color: #333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.au .conleftbottom span a:hover {color: #fd8703;}
.au .link {
	background-image: url(../images/sign4.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	line-height: 22px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	color: #0082cb;
	float: left;
}
.au .link:hover{color:#fd8703;}

