/*Css Reset*/
* {font-family:"微软雅黑",Sans-Serif;margin: 0;padding: 0;text-decoration: none;outline: none;}
img{border:none;}
ul,ol{list-style:none;}
/*Lianlian Style*/

body {font-size: 14px;background: url(../images/background.jpg) repeat 0 0;color: #5F4536;}

.bg_none{background-image:none;background-color:#fff;}
.block{display:block;}
.clear{clear:both;width:100%;overflow:hidden;line-height:0px;height:0px;}
.clear1{clear:both;width:100%;overflow:hidden;height:0px;}
.fr{float:right;}
.fl{float:left;}
.f26{font-size:26px;}
.f20{font-size:20px !important}
.f21{font-size:21px !important}
.f22{font-size:22px !important;}
.h{color:#666}
.red{color:#f030b5}
.blue{color:#009cff}
.gray{color:#777 !important;}

.ml8{margin-left:8px !important;}
.ml15{margin-left:15px !important;}
.mt4{margin-top:4px !important;}
.mt40{margin-top:40px !important;}
.mt60{margin-top:60px !important;}
.mt80{margin-top:80px !important;}
.mr13{margin-right:13px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr40{margin-right:40px !important;}
.mb40{margin-bottom:40px !important;}
.mb60{margin-bottom:60px !important;}

.m_auto{margin:0px auto;}

.nborder{border:none !important;}
.dashed{background: url(../images/dashed.gif) left bottom repeat-x;}

.area{width:640px;min-height:920px;overflow:hidden;margin:0px auto;}
.area2{min-width:640px;}

.imgs{width:110px;height:110px;}
.imgs1{width:120px;height:120px;}

h2.tit{font-weight:normal;display:block;text-align:center;font-size:38.5px; letter-spacing:1px;text-shadow: 1px 1px 1px #ccc;}
h2.tit2{width:98%;color:#fff;margin-left:50px;padding-top:30px;line-height: 25px;height:25px;font-weight:normal;font-size:21px}

h1, #header h1 {text-shadow: #3E2C25 5px 5px 1px;text-align: center;}
#header {background: url(../images/header.jpg) repeat-x 0 0;height:90px; position:relative;}

.tbtn, .tbtn1, .tbtn2{color:#fff;font-size:27px; text-shadow: #3E2C25 2px -2px 1px;text-align: center;background: url(../images/tbtn-bg.jpg) no-repeat 0 0;width:84px;height:51px;display:block;top:10px; letter-spacing:2px;padding-top:10px;}
.tbtn1{background-image: url(../images/tbtn1.jpg);}
.tbtn2{background-image: url(../images/tbtn2.jpg);}

.pl15{position: absolute;left:15px;}
.pr15{position: absolute;right:15px;}

#main{min-width:640px;}

#header h1 {color: white;font-size: 40px;font-weight: normal; padding-top:10px; letter-spacing:4px;}

#foot {clear:both;height:93px;padding-top:3px;background: url(../images/foot.jpg) repeat-x 0 0;position: absolute;z-index: 100;bottom:0px;width:100%; text-align:center;display:block;min-width:640px;}
#ch_foot{clear:both;height:82px;background: url(../images/ch_foot.jpg) repeat-x 0 0;position: absolute;z-index: 100;bottom:0px;width:100%;display:block;min-width:640px;}

/*site/site2 begin*/
.site{background:#f3f2ee url(../images/site.jpg) repeat-x 0 bottom;height:290px;padding:10px 0;}
.site h2, .site2 h2{text-align: center;background: url(../images/sitename.jpg) no-repeat center 0;font-size: 27px;line-height: 54px;width:560px;height:54px;margin:0px auto 5px auto;}
.site h2 a, .site2 h2 a{color:#5F4536;}
.site2{background:#f3f2ee url(../images/site.jpg) repeat-x 0 105px;height:120px;padding:10px 0}
/*site/site2 over*/

.people {padding:20px 6px 0px 0px;overflow: hidden;margin-bottom:96px;}
.people li{float: left; padding-left:6px;padding-bottom:6px;}
.people li a{display:block;color:#5F4536;width:120px;height:120px;overflow:hidden;}
.people li a span{display:table-cell;width:120px;height:120px;overflow:hidden; text-align:center; vertical-align:middle;}
.people li a img{ text-align:center; vertical-align:middle; }

.people2 {padding:20px 6px 10px 0px;overflow: hidden;}
.people2 li{float: left; padding-left:8px;padding-bottom:10px;}
.people2 li a{display:block;color:#5F4536;overflow:hidden;}
.people2 li a img{ text-align:center; vertical-align:middle; max-width:150px; max-height:150px;  }

/*ta_list begin*/
.ta_list{background: url(../images/dashed.gif) left bottom repeat-x;overflow:hidden;padding:10px 0px;margin:0px 10px;position:relative;}
.ta_list a{color:#5f4536;font-size:18px;line-height:30px;}
.ta_list .ta_name{font-size:27px;overflow:hidden;padding:10px 5px 0px 0px;}
.ta_list .ta_photo{float:left;margin: 0 15px 0 0;max-width:150px; max-height:150px;}
.ta_list .ta_signs{margin:18px 0px;}
.ta_list .male{font-size:18px;color:#fff;width:47px;height:28px;margin:18px 0px;background: url(../images/male.png) left top no-repeat;overflow:hidden;padding-left:9px;}
.ta_list .female{font-size:18px;color:#fff;width:47px;height:28px;margin:18px 0px;background: url(../images/female.png) left top no-repeat;overflow:hidden;padding-left:9px;}
.ta_list .ta_con{overflow:hidden;}
.ta_list .ta_tc{position:absolute;top:20px;right:0px;color:#05900E;font-weight: normal;font-size:18px;}
/*ta_list over*/

/*nely begin*/
.ne_list{height:128px;background:url(../images/ne.jpg) repeat-x 0 0;overflow:hidden;}
.ne_list .ne_photo{float:left;margin: 0px 20px 0px 40px; overflow:hidden; }
.ne_list .ne_photo span{text-align:center; vertical-align:middle; display:table-cell;height:128px;}
.ne_list .ne_photo img{ text-align:center; vertical-align:middle;max-width:128px;max-height:128px; }
.ne_list a{font-size:27px;height:128px;background: url(../images/nepiont.jpg) no-repeat right center;display:block;margin-right:20px; vertical-align:middle;}
.ne_name{padding-top:18px; overflow:hidden;margin-bottom:5px;color: #5F4536;}
/*nely over*/

.Pe_top{background:#ceb692;border-bottom:1px #b49b7d solid;overflow: hidden;}

.personal{font-size:27px;line-height:40px;}
.personal .c{padding:10px 20px;}
.pms{clear: both;background:#ceb692;color:#fff;padding: 3px 3px 3px 20px;margin:3px 0;overflow: hidden;border-bottom:1px #b2997b solid}

.ch{overflow:hidden;clear:both;margin:0px auto;padding:0px 20px 30px 20px;}
.ch_t {width:120px;height:35px;background:#86756d;color:#fff;line-height:35px;text-align:center;margin:20px auto;font-size:20px; border-radius:5px;}
.ch .ch_img{width:75px;height:75px;float:left;margin-right:15px;overflow:hidden;}
.ch .ch_img2{width:75px;height:75px;float:right;margin-left:15px;overflow:hidden;}
.ch .ch_img img, .ch .ch_img2 img{max-width:75px;max-height:75px;}
.ch .ch_con{margin-left:90px;}
.ch .ch_con2{margin-right:90px;}
.ch_fl {float:left;color:#333;background: #fcfcfc;padding: 15px 25px;border-radius:5px; box-shadow:5px 2px 5px #AAAAAA;position:relative;font-size:25px;}
.ch_fl span{background:url(../images/ch_fl.png) left top no-repeat; position:absolute; width:12px; height:11px;top:8px;left:-9px;}
.ch_fr {float:right;color:#333;background: #FEFEA1;padding: 15px 25px;border-radius:5px; box-shadow:5px 2px 5px #AAAAAA;position:relative;font-size:25px;}
.ch_fr span{background:url(../images/ch_fr.png) left top no-repeat; position:absolute; width:12px; height:11px;top:8px;right:-9px;}

.setphoto{background: url(../images/dashed.gif) left bottom repeat-x;overflow:hidden;width:100%;}
.set{width:610px;margin:180px auto 0px auto;overflow:hidden;border:1px solid #C7C7C7;background-color:#fff; border-radius:20px;}
.set a{background: url(../images/arrow.gif) 570px center no-repeat;display:block;padding:25px 40px 25px 20px;color:#000;font-size:34px; border-bottom:1px solid #ABABAB;margin:0px 4px;}
.set1{width:550px;margin:40px auto 30px auto;overflow:hidden;}

.photo{background:#715547;overflow: hidden;width:100%;margin-top:10px;height:100%;}
.photo ul{padding:20px 6px;overflow: hidden;}
.photo li{float: left; padding:10px 7px;}
.photo li a{display:block;color:#fff;width:110px;height:110px;overflow:hidden;}
.photo li a span{display:table-cell;width:110px;height:110px;overflow:hidden; text-align:center; vertical-align:middle;}
.photo li a img{ text-align:center; vertical-align:middle; }

.searcht{background-color:#ceb692;width:100%;overflow:hidden;}

.search{width:100%;position:relative; padding-top:12px;}
#add{ float:left; cursor:pointer;}
#shake{ float:left; cursor:pointer;}
#pic, #photo, #word{position:absolute;width:0px;height:0px;left:35px;top:39px;}

#droplist{position:absolute;width:240px;right:0px;top:55px;background-color:;font-size:21px;line-height:35px;display:none;}
#droplist ul{background:url(../images/droplist3.png) left top repeat-y;}
#droplist li{}
#droplist .top{background:url(../images/droplist1.png) left top;width:100%;height:5px;}
#droplist .bottom{background:url(../images/droplist2.png) left bottom;width:100%;height:5px;}
#droplist a{color:#EAE8E7;padding-left:15px;}
#droplist a:hover{color:#C08C11;}

/** form begin **/
.text1{width:382px;height:41px;line-height:41px;padding:0px 8px;background:url(../images/text1.png) left top no-repeat;font-size:22px;border:none;}
.text2{width:320px;height:44px;line-height:44px;padding:0px;background:url(../images/search.jpg) left top no-repeat;display:block;overflow:hidden;zoom:1;}
.text3{margin-left:30px;width: 270px;border:none; color:#666;font-size:16px;margin-top:12px;}
.text4{width:361px;border-top:2px solid #E0E0E0; border-left:2px solid #bbbbbb; border-bottom:2px solid #E0E0E0; border-right:2px solid #bbbbbb;height:54px;float:left;padding:0px 7px;line-height:54px; font-size:25px;border-radius:5px;}

.btn1{width:124px;height:60px;background:url(../images/btn1.png) left top no-repeat;border:none;cursor:pointer;}
.btn2{width:124px;height:60px;background:url(../images/btn2.png) left top no-repeat;border:none;cursor:pointer;}
.btn3{width:35px;height:36px;background:url(http://oss.aliyuncs.com/dface/images_btn3.png) left top no-repeat;border:none;cursor:pointer;}
.btn4{float:left; width:89px;height:52px; background:url(../images/btn1.gif) left top no-repeat;cursor:pointer;border:none; }
/** form over **/

.Shake{width:100%; text-align:center;overflow:hidden;margin-top:10px;}