.links
  = link_to 'Contact', contact_path
  = link_to 'FAQ', faq_path
  //= link_to 'For experts', for_experts_path
  //= link_to 'For members', for_members_path
  //= link_to 'Privacy', privacy_path
  //= link_to 'Terms and conditions', terms_path
