#logo_container
  #logo
    = link_to image_tag("logo.png"), root_path, {:title => "Home", :rel => "home"}

#nav_container.clearfix
  %ul#nav_bar.clearfix.visible-desktop

    %li.category
      %a{href: "#all"}all
      %ul.subcategory
        %li

    %li.category
      %a{href: "#macro"}macro
      %ul.subcategory
        %li

    %li.category
      %a{href: "#business"}business
      %ul.subcategory
        %li

    %li.category
      %a{href: "#entrepreneurship"}entrepreneurship
      %ul.subcategory
        %li

    %li.category
      %a{href: "#tech"}tech
      %ul.subcategory
        %li

    %li.category
      %a{href: "#culture"}culture
      %ul.subcategory
        %li

    %li.category
      %a{href: "#format"}format
      %ul.subcategory
        %li

  %select#collapsed_navbar.span12.hidden-desktop
    %option all
    %option macro
    %option business
    %option entrepreneurship
    %option tech
    %option culture
    %option format
