#header
  .section.clearfix
    %p#mail_message
    %a{href: "/", title: "Home", rel: "home", id: "logo"}
      =image_tag "logo.png", alt: "Home"

  #navigation
    .section
      %h2 Main menu
      %ul#main-menu.links.inline.clearfix
        %li.menu-414.first
          %a
          =link_to 'About us', welcome_about_us_path
        %li.menu-499
          %a
          =link_to 'Sessions', sessions_path 
        %li.menu-493.last
          %a 
          =link_to 'Experts', experts_path

