#logo_container
  #logo
    = link_to image_tag("logo.png"), root_path, {:title => "Home", :rel => "home"}

%nav
  %ul.visible-desktop

    %li.category
      %a{href: "#all"}all

    %li.category
      %a{href: "#macro"}macro
      %ul.subcategory
        %li economy
        %li macro trends
        %li going global

    %li.category
      %a{href: "#business"}business
      %ul.subcategory
        %li strategy
        %li market research
        %li company setup
        %li recruiment

    %li.category
      %a{href: "#entrepreneurship"}entrepreneurship
      %ul.subcategory
        %li lean startup
        %li funding
        %li agile development

    %li.category
      %a{href: "#tech"}tech
      %ul.subcategory
        %li mobile
        %li social media
        %li apps/software

    %li.category
      %a{href: "#culture"}culture
      %ul.subcategory
        %li language
        %li spirituality
        %li travel

    %li.category
      %a{href: "#format"}format
      %ul.subcategory
        %li video
        %li live
        %li article

  %select#collapsed_navbar.span12.hidden-desktop
    %option all
    %option macro
    %option business
    %option entrepreneurship
    %option tech
    %option culture
    %option format
