#sign-in-modal.modal.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'modalLabel'}, aria:{hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Sign in
      .modal-body.social-login
        .alert.alert-success
          %button.close{data:{dismiss: 'alert'}, type: 'button'} ×
          = alert_message
          -# Please sign in to use this feature or sign up if you are new to Prodygia; once you are signed in, you will be able to see your favorite content in your member dashboard.
        = render "devise/shared/social_login"
        .devise-form
          = render "devise/sessions/sign_in_form"
          
          .shared-links
            = render "devise/shared/links"
