%video{width: '320', height: '180', class: 'sublime', data: {autoresize: 'fill'}, poster: poster_url, preload: 'none'}
  %source{src: item_resource.video.SD.url}
  %source{src: item_resource.video.HD.url, data: {quality: 'hd'}}
