%video{width: '320', height: '180', class: 'sublime', data: {autoresize: 'fill'}, poster: poster_url, preload: 'none'}
  %source{src: item_resource.sd_url}
  %source{src: item_resource.hd_url, data: {quality: 'hd'}}
