%video{width: '320', height: '180', class: 'sublime', data: {autoresize: 'fill'}, poster: video.cover.url, preload: 'none'}
  %source{src: video.SD.url}
  %source{src: video.HD.url, data: {quality: 'hd'}}
