#tip-modal.modal.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'modalLabel'}, aria:{hidden: 'true'}}
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .modal-dialog
      .modal-content
        .rounded-box
          .modal-body
            %button.btn.btn-prodygia.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h1#myModalLabel.modal-title Thanks for visiting!
            %p  
              Join the Prodygia community for free by
              = link_to 'signing up.', new_user_registration_path
              Subscribe to the newsletter to receive regular updates from our experts on China-related topics. You can unsubscribe at any time.
            = form_for :guest, url: guest_subscription_path do |f|
              .form-group.form-inline
                = f.email_field :email, placeholder: "Your Email Address" ,class: 'form-control'
                = f.submit "Subscribe", class: 'btn btn-prodygia'
