#tip-modal.modal.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'modalLabel'}, aria:{hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h1#myModalLabel.modal-title Thank you for visiting us!
      .modal-body
        %p
          Consider joining our
          = link_to ' Prodygia community', new_user_registration_path
          ; it will be easier to stay in touch and let you know the latest news. You will be in full control on how much you will or will not hear from us

      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
        //= link_to 'Next', new_article_path, class: 'btn btn-primary', type: 'button', data:{dismiss: 'modal'}, remote: true
