%h1 About us

Vision

China's opening to the world is one of the biggest stories of the early 21st century.

This makes it imperative for the West to learn more about how the "Real China" functions: in business, culture, language and many other areas. Similarly, Chinese need easier access and more options to learn about how things work internationally and global best practices. However, distances, costs, time constraints, and lack of access are all barriers many of us have experienced when trying to learn and achieve better understanding.

At Prodygia, we realized that there is room for a more sustainable mechanism to connect China with the rest of the world, and we decided to do something about it.

Our vision is to build an online platform where the West ‘meets’ China via live virtual interactions, and vice versa for China to gain exposure to Western expertise; to provide first-hand insights from qualified experts located all across the globe: from Beijing to Shanghai, New York to Johannesburg.

We believe that to learn better and faster one needs to interact directly with the experts in the field: the ability to ask questions, clarify complex points, and seek solutions to problems. This is why we are creating a dynamic platform where you can experience live sessions with experts to discuss whatever topic best fits your business or personal goals.