.info-page-container
  .info-page-info
    .info-page-title
      %h1 About Us
    .info-page-content
      %h2 Vision
      %p China's opening to the world is one of the biggest stories of the early 21st century.
      %p This makes it imperative for the West to learn more about how the "new China" operates in terms of business, innovation, culture and many other areas. Lack of access, distances, costs, and time constraints are all barriers many of us have experienced when trying to learn and achieve a better understanding. Sometimes it’s even difficult to know where to start!
      %p At Prodygia, we figured there must be a better way to connect China with the rest of the world, and we decided to do something about it.
      %p Our mission is to build an online, multimedia platform where the West ‘meets’ China via quality content and live interactions with select experts.
      %p Log into China: get to the topics that are relevant to you and learn from real experts.

      %h2 Today
      %p Our journey has just begun and this site is the first step toward making the vision come true.
      %p We’re currently working with select experts to bring their content on the site. Plus expect more features to be integrated as we move along
      %p Connecting with you, the early users, and capturing your feedback are key to the success of the platform. If you would like to join us in this journey, we would very much like to hear from you. Take a few seconds to sign up at the top right of the screen and keep you posted on latest developments.

      %h2 The Team
      %p Prodygia was started by two friends who met in Shanghai a decade ago. As foreigners  with no local contacts or language skills, they quickly realized how much they didn’t know – and also what a wonderful opportunity lay ahead of them to learn and grow. It meant starting from scratch, though, and the learning curves were steep. Quite a humbling experience!
      %p The team, now complete with technical expertise, represents 50 years of strategic and operational experience gained from a variety of roles at The Boston Consulting Group (BCG); the World Economic Forum; Standard Chartered Bank; a boutique one-stop service company for China market entry and growth; a boutique web development company for building agile, scalable, high-performance online platforms.
      %p They are alumni of Stanford University, Kellogg Business School, INSEAD, Tsinghua, and the UCLA Anderson School of Management.
  .info-page-image
    = image_tag("about_us.jpg")
