.main
  .section
    %h1 About Us
    .questions
      %h2 Vision
      %p China's opening to the world is one of the biggest stories of the early 21st century.
      %p This makes it imperative for the West to learn more about how the "Real China" functions: in business, culture, language and many other areas. Similarly, Chinese need easier access and more options to learn about how things work internationally and global best practices. However, distances, costs, time constraints, and lack of access are all barriers many of us have experienced when trying to learn and achieve better understanding.
      %p At Prodygia, we realized that there is room for a more sustainable mechanism to connect China with the rest of the world, and we decided to do something about it.
      %p Our vision is to build an online platform where the West ‘meets’ China via live virtual interactions, and vice versa for China to gain exposure to Western expertise; to provide first-hand insights from qualified experts located all across the globe: from Beijing to Shanghai, New York to Johannesburg.
      %p We believe that to learn better and faster one needs to interact directly with the experts in the field: the ability to ask questions, clarify complex points, and seek solutions to problems. This is why we are creating a dynamic platform where you can experience live sessions with experts to discuss whatever topic best fits your business or personal goals.

      %h2 Today
      %p Our journey has just begun and this site is the first step toward making the vision of Prodygia come true.
      %p We’re currently recruiting experts and building our user community. More features will be integrated in the coming months.
      %p Connecting with you, the early users, testing the service and receiving your feedback are of course key to the success of the platform. If you would like to join join us in this venture, we would very much like to hear from you and update you on latest developments. Take a few seconds to sign up at the top right of the screen, and let’s keep in touch!

      %h2 The Team
      %p Prodygia was started by two friends who met in Shanghai a decade ago. Coming to China with backgrounds from Europe and the US, they realized how little they knew about this country and how eager they were to learn. That meant starting from scratch. Landing at Shanghai Pudong Airport with one suitcase each and no local contacts or language skills was a humbling experience.
      %p Over time they saw just how much Chinese want to learn about the Western world, too. Hence, the seeds for the concept were planted and after years of on-the-ground experience and network building, it is now coming to life.   
      %p The team, now complete with technical expertise, represents 50 years of strategic and operational experience gained from a variety of roles at The Boston Consulting Group (BCG); the World Economic Forum; Standard Chartered Bank; a boutique one-stop service company for China market entry and growth; a boutique web development company for building agile, scalable, high-performance online platforms.
      %p They are alumni of Stanford University, Kellogg Business School, INSEAD and Tsinghua University.
  .image
    = image_tag("contact_us.jpg")
