.main
  .section
    %h1 FAQ
    .questions
      %h2 Is the site still in “demo” mode?
      %p Yes! The current site is just to give you a feel for what we are building.
      %P Behind the scene we are working very hard to develop key functionality, build our community of select experts and relevant content.
      %p Come back in a few weeks, there is much more to come!
  .image
    = image_tag("faq.jpg")
