.main
  .section
    %h1.title#page-title FAQ
    .questions
      %h2 How can I enroll in a session?

      %p After browsing sessions (the ones on China are featured under 'China' and those about global practices under 'International'), choose the one that best fits your learning goals.

      %P Click on it and take a look at the session overview. Then press the ‘I’m Interested’ button to let us know that you’d like to sign up for it, so that we can work with the Expert to schedule a session for you.

      %p On the homepage you’ll also see a section marked ‘Scheduled Sessions’. These are sessions with already confirmed dates, which you can simply register for by clicking on the ‘Enroll Now’ button. You will then receive all the information you need to attend the upcoming session.

       

      %h2 How is Prodygia innovative?

      %p Two-way focus: “Westerners” seeking access to China-related expertise and Chinese seeking access to international Experts on a variety of topics and best practices

      %p Direct access to a pool of select Experts

      %p Live interactions, where you can engage with Experts and ask questions within a small group of participants; allows for active and personalized learning

      %p Experts get paid for their time and expertise

      %p A truly global platform, with Experts and Members from all around the world

         

      %h2 Who can join Prodygia?

      %p Anyone can join as a Member simply by entering their email address at the top right corner of every page. As part of the Prodygia community, you will receive updates and information about topics of interest.

  .image
    = image_tag("faq.jpg")
