- content_for(:title){"Expert Dashboard"}

- if @user.is_a? Expert
  = render "experts/guideline_page_modal"
= render partial: "dashboard/dash", locals: { main_menu: "dashboard/refer_user" }

:coffee
  pjax_dashboard()
  validate_refer_message()
