<p class='arr'>
  <span class='stex'>景点2</span>
  <span class="sodd">时间:</span>
  <span class="sven"><input id="name" class="inputs" type="text"  name="arr[time][]"/></span>
  <span class="sodd" >地点id:</span>
  <span class="sven"><input id="name" class="inputs" type="text" name="arr[id][]" onchange="keptPartner($(this))" /></span>
  <a href='javascript:void(0)' class='atex' onclick="partnerDig($(this))">添加合作商家</a>
  <a href='javascript:void(0)' onclick='del_arr($(this))'> 删除</a>
</p>