				<div id="zjl" class="boxcontent boxwhite">
					<div class="box">
						<div class="title-red">
							<span>
								恭喜你中奖了
							</span>
						</div>
						<div class="Detail">
							<p>
								你中了：
								<span class="red">
									企博网靠枕一个
								</span>
							</p>
							<p class="red"></p>
							<p>
								<input name="" class="px" id="tel" value="" type="text" placeholder="用户请输入您的手机号">
							</p>
							<p>
								<input class="pxbtn" name="提 交" id="save-btn" type="button" value="用户提交">
							</p>

						</div>
					</div>
				</div>