<% content_for :ahead  do%>
  <script src="/newbackstage/js/coupon.js" type="text/javascript"></script>
<% end %>


<div class="clear1"></div>
<div class="con2">
  <div class="title1 mb30"><h2 class="f18">商家设置</h2></div>
  <div class="submenu">
    <ul>
      <li><a href="/shop3_infos">基本设置</a></li>
      <li><a href="/shop3_pass">修改密码</a></li>
      <li><a href="/shop3_staffs">员工管理</a></li>
      <li><a href="/shop3_bindwbs">绑定微博</a></li>
      <li><a href="/shop3_bans">屏蔽用户</a></li>
      <li><a href="/shop3_marks">用户评分</a></li>
      <li  class="hover"><a href="/shop3_notice">公告管理</a></li>
    </ul>
  </div>
  <form method="post" onsubmit="return false;"/>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1 mt40 pt10">
    <tr>
      <td valign="top" align="right" class="pr20">&nbsp;</td>
      <td colspan="3">
        <%= text_area_tag :text,@shop_notice.try(:title)||"用于发布公告" , :class =>  "textarea3 w700", :id => "noticeTitle" %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left">
        <%= submit_tag "提交", :class => "btn2 ml48", :onclick => "ajaxCreateNotice('#{@shop_notice.try(:id)||''}')", :style=>"display:none" %>
      </td>
      <td>&nbsp;</td>
      <td align="left">&nbsp;</td>
    </tr>
  </table>

</div>

<script defer="defer">
  var navmove="off", runing;
$(document).ready(function(){
  runing=$("#CB1").attr("class");
  if(runing=="checkboxs1"){
    NavDiv();
    $(window).load(function(){
      MessageDiv();
    });
  }else if(runing=="checkboxs2"){
    AllNoDH();
  }

$(".tab2 tr:odd").addClass("trbg");
});

$("textarea").click(function(){
$(this).addClass("onfocs")
$('.btn2').show();
if($(this).val()=='用于发布公告')
  $(this).val('')
    
})


function ajaxCreateNotice(notice_id){
var title = $("#noticeTitle").val()
$.get('/shop_shop_notices/ajax_release', {id: notice_id, title: title}, function(data){
  $('#ShowTitle').show();
  $('#ShowTitle').text(data['title'])
  $('.btn2').hide()
});
}


</script>
