<div id="imgText">
  <div class="coupon">
    <input type="hidden" name="coupon[t]" value="1"/>
    <input size="12" name="coupon[img2]" type="file" class="none"  id="Files"/>
    <input type="button" class="btns" id="Btns" />
    <div class="rdiv" >
      <%= f.text_field :name, :value => @coupon.name || '点此输入名称', :class => 'txt' %>
      <%= f.text_area :desc, :value => @coupon.desc || '点此输入描述', :class => 'atxt' %>
    </div>
  </div>
  <%= render :partial => 'form', :locals => {:f => f, :s => false}  %>
</div>
