<div id="imgText">
  <div class="coupon relative">
    <input type="hidden" name="coupon[t]" value="1"/>
    <input  name="coupon[img2]" type="file" class="btn_file1"  />
    <input  name="coupon[img2]" type="file" class="btn_file2" />
    <input  name="coupon[img2]" type="file" class="btn_file3" />
    <div  class="btns" id="Btns" >
    </div>
    <div class="rdiv" >
      <%= f.text_field :name, :value => @coupon.name || '点此输入名称', :class => 'txt' %>
      <%= f.text_area :desc, :value => @coupon.desc || '点此输入描述', :class => 'atxt' %>
    </div>
  </div>
  <%= render :partial => 'form', :locals => {:f => f, :s => false}  %>
</div>

<% content_for :ahead do %>
  <script type="text/javascript" src="/javascripts/imgUploadPreview.js"></script>
  <script>
    $(document).ready(function(){
      imgUploadPreview("input[name='coupon[img2]']", 'Btns')
    })
  </script>
<% end %>