/* CSS Document */
body{background-color:#f4f4f4;}
#Con{width:100%;margin:15px 0px 0px 0px;padding:0px;background-image:url(/img/shop_space/kadi/bg.jpg);background-position:left top;background-repeat: repeat-x;clear:both;}
.contop{width:100%;margin:0px;padding:0px;overflow:hidden;zoom:1;}
.conmiddle{width:100%;height:141px;margin:0px;padding:0px;background-image:url(/img/shop_space/kadi/bg2.jpg);background-position:center top;background-repeat: repeat-x;}
.cminner{width:966px;height:141px;margin:0px auto;padding:0px;overflow:hidden;}
.conmiddle2{width:1010px;margin:0px auto;padding:0px 0px 10px 0px;overflow:hidden;background-image:url(/img/shop_space/kadi/line1.jpg);
background-position:left bottom;background-repeat: repeat-x;color:#666;}

.link1{float:left;width:322px;height:141px;overflow:hidden;display:block;margin:0px;padding:0px;}

.box1{width:300px;margin:0px 35px 0px 0px;padding:0px;background-image:url(/img/shop_space/kadi/bg3.jpg);background-position:40px top;background-repeat: repeat-x;padding-top:29px;line-height:25px;float:left;_display:inline;}
.box1 a{color:#666;}
.box1 a:hover{color:#F720AD;}
.box1 p{text-indent:2em;margin:0px;padding:0px;}
.box1 li{display:block;overflow:hidden;height:25px;}
.box1 .list1, .box1 .list2{display:block;overflow:hidden;}
.box1 .list1 li a{float:left;width:220px;}
.box1 .list1 li span{float:right;width:80px;text-align:right;}
.box1 .list2 .s1, .box1 .list2 .s2, .box1 .list2 .s3{background-image:url(/img/shop_space/kadi/sign1.jpg);background-position:left center;background-repeat: no-repeat;padding-left:25px;}
.box1 .list2 .s2{background-image:url(/img/shop_space/kadi/sign2.jpg);}
.box1 .list2 .s3{background-image:url(/img/shop_space/kadi/sign3.jpg);}
.box1 .btn1, .box1 .btn2, .box1 .btn3{display:block;float:right;overflow:hidden;text-indent:-999999em;background-image:url(/img/shop_space/kadi/more1.jpg);background-position:left top;background-repeat: no-repeat;width:88px;height:28px;}
.box1 .btn2{background-image:url(/img/shop_space/kadi/more2.jpg);width:91px;height:27px;}
.box1 .btn3{background-image:url(/img/shop_space/kadi/more3.jpg);width:88px;height:27px;}

.box2{width:975px;background-image:url(/img/shop_space/kadi/bg4.jpg);background-position:left top;background-repeat: no-repeat;
overflow:hidden;margin:0px auto;padding:0px 0px 0px 30px;clear:both;}
.box2 ul{display:block;overflow:hidden;margin-top:20px;}
.box2 li{display:block;overflow:hidden;float:left;width:210px;height:135px;background-color:#F7F7F7;border:1px solid #d7d7d7;text-align:center;margin-right:30px;margin-bottom:30px;_display:inline;}
.box2 li a{}
.box2 li img{width:193px;height:120px;margin-top:8px;}

.dh{width:1006px;height:409px;margin:0px auto; padding:0px;background-image:url(/img/shop_space/kadi/dhbg.jpg);background-position:left 15px;background-repeat: no-repeat;position:relative;}
.dh .dhinner{position:absolute;width:900px;height:290px;top:30px;left:50px;overflow:hidden;}
.dh .dhinner ul{display:block;position:relative;overflow:hidden;}
.dh .dhinner ul li{float:left;}
.dh .dhinner img{width:900px;height:285px;}
.dh .dhnum{position:absolute;overflow:hidden;left:430px;bottom:41px;}
.dh .dhnum a.def{width:28px;height:52px;display:block;float:left;margin-right:8px;text-indent:-99999em;background-image:url(/img/shop_space/kadi/def.gif);background-position:center bottom;background-repeat: no-repeat;}
.dh .dhnum .selected, .dh .dhnum a:hover{background-image:url(/img/shop_space/kadi/select.gif)!important;}