/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px; background-image:url(/img/shop_space/kadi/headerbg.jpg);background-position:center top;background-repeat:no-repeat;}
a{ text-decoration:none;}
img{border:none;}
ul,li,center,h1,h2,h3{margin:0px;padding:0px;}
ul{list-style:none;}

.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1;}
.r{float:right;}

.mt15{margin-top:15px !important;}
.mt30{margin-top:30px !important;}
.mr20{margin-right:20px;}
.mr50{margin-right:50px !important;}

.title{overflow:hidden;clear:both;padding-top:14px;margin:0px;}
.title h2{color:#AB0676;font-size:18px;font-family:"微软雅黑";margin-left:10px;}
.title .titleright{float:right;color:#666;}

.title2{overflow:hidden;clear:both;padding-top:14px;margin:0px;}
.title2 h2{color:#F107A8;font-size:18px;font-family:"微软雅黑";margin-left:10px;float:left;}
.title2 .title2right{float:right;color:#666;}
.title2 .title2right a{color:#666;margin:0px 5px;}
.title2 .title2right a:hover{color:#F107A8;}

.title3{overflow:hidden;clear:both;margin:0px;padding:0px;}
.title3 h2{color:#F107A8;font-size:12px;font-family:"微软雅黑";}

#MB{margin:0px;padding:0x;overflow:hidden;width:100%;}
#Header{width:1060px;padding:0px;margin:0px auto;overflow:hidden;}
#SubNav{line-height:25px;color:#cecece;display:block;overflow:hidden;float:right;margin:5px 90px 0px 0px;}
#SubNav li{float:left;display:block;margin:0px;overflow: hidden;}
#SubNav a{color:#cecece;line-height:25px;}
#SubNav a:hover{color:#F720AD;}
#Logo{float:left;overflow:hidden;zoom:1;}

.menu{width:1060px;overflow:hidden;clear:both;margin:10px auto 0px auto;padding:0px;height:30px;}
.menu ul{font-size:14px;overflow:hidden;display:block;}
.menu li{float:left;line-height:30px;width:100px;margin-right:45px;text-align:center;_display:inline;}
.menu a{color:#fff;}
.menu a:hover, .menu a.hover{color:#F720AD;font-weight:bold;}

.pages {clear: both;padding: 0px;margin: 20px 0px 0px 0px;overflow: hidden;font-size:14px;line-height: 12px;text-align:right;}
.pages .pagination{overflow:hidden;margin:0px;padding:0px;zoom:1;}
.pages .pagination .prev_page, .pagination a.prev_page{display:none;}
.pages .pagination .current, .pagination a{padding:12px;margin:0px;color:#333;margin-right:10px;line-height:24px;}
.pages .pagination .current, .pagination a:hover{color:#fff;padding:12px;background-color:#F40093;}
.pages .pagination .next_page, .pagination a.next_page{display:none;}

#Footer{width:100%;background-color:#0F030F;padding:45px 0px 35px 0px;margin:0px;overflow:hidden;color:#EAEAEA; background-image:url(/img/shop_space/kadi/footerbg.jpg); background-position:center top; background-repeat:repeat-x;text-align:center;}
#Footer a{color:#EAEAEA;}
#Footer a:hover{color:#F720AD;}
