common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:
  min_messages: WARNING



development:
  <<: *common
  database: Prodygia_dev
  
test:
  <<: *common
  database: Prodygia_test

production:
  <<: *common
  database: Prodygia_product
