/* CSS Document */
*{padding:0px;margin:0px;outline:none;}
body {font-size: 12px;font-family:Arial;position:relative;background:#F2F2F2 url(/newbackstage/images/bg9.jpg) left top repeat-x;}
a{text-decoration:none;}
img{border:none;}
ul,ol{list-style:none;}
.l{float:left;}
.r{float:right !important;}

.w55{width:55px !important;}
.w100{width:100px !important;}
.f18{font-size:18px !important;}
.pt5{padding-top:5px !important;}
.pt15{padding-top:15px !important;}
.pt45{padding-top:45px !important;}
.pr20{padding-right:20px;}
.p3{padding:3px;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.mr20{margin-right:20px !important;}
.relative{position:relative !important;}
.radius5{border-radius:5px !important;}
.noneborder{border:none !important;}
.pointer{cursor:pointer;}
.btn11{width:95px;height:25px;line-height:25px;border:1px #0099CC solid;text-align:center;display:block;color:#fff !important;cursor:pointer;background-color:#00AAEE;}
.btn20{border-radius:3px;color:#fff;cursor:pointer;background-color:#00AAEE;padding:8px 10px;display:block;width:110px;
font-family:微软雅黑;font-size:18px;border:none;}
.btn20:hover{background-color:#0099EE;}
.btn21{padding:10px 18px;font-family:微软雅黑;font-size:14px;font-weight:bold;color:#6B6B6B;border:1px solid #E4E4E4;
background-color:#fff;border-radius:5px;}
.btn22{font-family:微软雅黑;font-size:16px;padding:8px 0px;color:#333333;border:1px solid #D7D7D7;background-color:#efefef;
border-radius:5px;display:block;text-align:center;}
.btn22:hover{background-color:#ddd;border:1px solid #c0c0c0;}

.clear1{width:100%;height:0px;clear:both;overflow:hidden;zoom:1;display:block;}

.inputs6{border:1px solid #d7d7d7;border-radius:15px;width:300px;height:35px;line-height:35px;padding:0px 10px;
font-size:14px;color:#868686;position:absolute;left:0px;top:0px;z-index:100;}
.textarea4{width:300px;height:140px;border:1px solid #d7d7d7;border-radius:15px;padding:10px;font-size:14px;word-wrap:break-word;
color:#868686;line-height:22px;position:absolute;left:0px;top:0px;z-index:100;}

/*
.inputs{border:1px solid #d7d7d7;border-radius:15px;width:250px;height:30px;line-height:30px;padding:0px 10px;font-size:12px;color:#868686;}
.inputs2{border:1px solid #d7d7d7;border-radius:5px;width:280px;height:30px;line-height:30px;padding:0px 10px;font-size:13px;color:#868686;margin-bottom:20px;}
.inputs3{border:1px solid #d7d7d7;border-radius:5px;width:80px;height:20px;line-height:20px;padding:0px 10px;font-size:12px;color:#868686;}
.inputs4{border:1px solid #d7d7d7;border-radius:5px;width:280px;height:30px;line-height:30px;padding:0px 10px;font-size:13px;color:#868686;}
.inputs5{border:1px solid #d7d7d7;border-radius:5px;width:200px;height:25px;line-height:25px;padding:0px 10px;font-size:13px;color:#868686;}

.textarea1{width:280px;height:60px;border:1px solid #d7d7d7;border-radius:15px;padding:10px;font-size:12px;color:#868686;line-height:22px;word-wrap:break-word;}
.textarea2{width:360px;height:110px;border:1px solid #d7d7d7;border-radius:15px;padding:10px;font-size:12px;color:#868686;line-height:22px;word-wrap:break-word;}
.textarea3{width:280px;height:100px;border:1px solid #d7d7d7;border-radius:5px;padding:10px;font-size:13px;color:#868686;line-height:22px;word-wrap:break-word;}
*/
.onfocs{border:1px solid #47A0FA !important;color:#369BFF;box-shadow:0px 0px 12px #369BFF;}
.onfocs2{border:1px solid #FD6D6D !important;color:#FD6D6D;box-shadow:0px 0px 12px #FD6D6D;background-color:#eee;}

.title1{width:100%;overflow:hidden;clear:both;}
.title1 h2{font-size:14px;color:#333333;font-family:"微软雅黑";}
.title1 a{color:#00A0E3;}
.title1 a:hover{color:#005580;}
.title1 .tag{width:62px;display:block;height:24px;line-height:24px;font-family:微软雅黑;font-size:13px;background:url(../images/bg8.jpg) left top no-repeat;padding-left:13px;color:#990000;}
.title1 .web{font-family:微软雅黑;font-size:13px;color:#333333;display:block;clear:both;}

.main{width:100%;zoom:1;overflow:visible;}

.header{background:url(/newbackstage/images/bg9.jpg) left top repeat-x;width:100%;overflow:hidden;font-family:"微软雅黑";color:#FFFFFF;}
.header .view{font-size:14px;float:right;line-height:49px;display:block;width:60px;text-align:right;padding-right:10px;cursor:pointer;
background-color:#363636;border-left:2px solid #000;color:#fff;}
.header h1{font-size:20px;letter-spacing:2px;float:left;line-height:50px;}
.header h1 a{color:#fff;}
.header h1 a:hover{text-decoration:underline;}

.con{width:900px;clear:both;margin:50px auto 40px auto;zoom:1;overflow:hidden;}

.submenu{background:url("../images/line3.png") left bottom repeat-x;font-family:"微软雅黑";font-size:14px;line-height:30px;
padding-top:15px;overflow:hidden;border-radius:0px 0px 10px 0px;}
.submenu ul{overflow:hidden;display:block;zoom:1;float:left;}
.submenu li{float:left;color:#fff;background-color:#E6E6E6;border-right:1px solid #f2f2f2;border-left:1px solid #f2f2f2;
border-radius:5px 5px 0px 0px;margin-right:9px;min-width:80px;text-align:center;}
.submenu li a{color:#6B6B6B;display:block;padding:5px 15px;}
.submenu li.hover{background:#F2F2F2;border:1px solid #ccc;border-bottom:0px;font-weight:bold;}
.submenu li.hover a{color:#6B6B6B;}


#Nav{width:160px;height:100%;position:absolute;left:0px;top:0px;font-size:14px;z-index:99;}
#Nav #Navcon{width:100%;height:100%;overflow:hidden;background:url(../images/nav.png) left top repeat-y;}
#Nav a{display:block;padding-left:12px;color:#333333;line-height:50px;}
#Nav .navline{border-top:1px solid #F2F2F2;width:141px;display:block;overflow:hidden;height:0px;}
#Nav .sign{width:100%;height:50px;background:url(../images/clear.gif) left top no-repeat;cursor:pointer;display:block;overflow:hidden;zoom:1;}

.checkboxs1, .checkboxs2{width:105px;position:absolute;left:10px;top:520px;display:block;padding:5px 0px 5px 20px;cursor:pointer;background:transparent url(../images/sign17.png) left 5px no-repeat;}
.checkboxs2{background:transparent url(../images/sign18.png) left 5px no-repeat;}
.checkboxs11, .checkboxs21{width:105px;padding:5px 0px 5px 20px;cursor:pointer;background:transparent url(../images/sign17.png) left 5px no-repeat;}
.checkboxs21{background:transparent url(../images/sign18.png) left 5px no-repeat;}

#DelDiv{width:180px;height:100px;border:1px solid #ccc;position:absolute;left:50%;top:0px;z-index:121;font-size:14px;
background-color:#f2f2f2;padding:8px;margin-left:-90px;box-shadow:0 0 5px #FFFFFF;display:none;line-height:25px;}
#BG{width:100%;background:url("../images/bg4.png");position:absolute;left:0px;top:0px;z-index:120;height:0px;}
#Btn{width:105px;height:25px;line-height:25px !important; position:absolute; left:10px; top:600px;font-size:12px;text-align:center;padding:5px 0px!important;margin:0px;border:1px solid #D7D7D7;border-radius:5px;cursor:pointer;z-index:50;display:block;overflow:hidden; 
background: -moz-linear-gradient(top, #fefefe 0%, #F2F2F2 100%); /*兼容火狐浏览器*/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#F2F2F2)); /*兼容谷歌浏览器*/
background: -o-linear-gradient(top, #fefefe 0%,#F2F2F2 100%); /*兼容Opera浏览器*/
background: -ms-linear-gradient(top, #fefefe 0%,#F2F2F2 100%); /*兼容IE10浏览器*/
background: linear-gradient(top, #fefefe 0%,#F2F2F2 100%); /*兼容W3C标准的浏览器*/
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fefefe',endColorStr='#F2F2F2',gradientType='0');/*兼容IE浏览器*/
/*
指定角度的线性渐变，IE不支持
background: -moz-linear-gradient(45deg, #f00, #222);	兼容火狐浏览器
background: -webkit-gradient(linear,0 100%,100% 0%,from(#f00),to(#222));	兼容谷歌浏览器
background: -webkit-linear-gradient(45deg, #f00, #222);		兼容谷歌浏览器
background: -o-linear-gradient(45deg, #f00, #222);	兼容Opera浏览器
background: linear-gradient(45deg, #f00, #222);	兼容火狐浏览器，不兼容Opera浏览器
*/
}
#Btn.dis{
background: -moz-linear-gradient(top, #dedede 0%, #dedede 100%); /*兼容火狐浏览器*/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedede), to(#dedede)); /*兼容谷歌浏览器*/
background: -o-linear-gradient(top, #dedede 0%,#dedede 100%); /*兼容Opera浏览器*/
background: -ms-linear-gradient(top, #dedede 0%,#dedede 100%); /*兼容IE10浏览器*/
background: linear-gradient(top, #dedede 0%,#dedede 100%); /*兼容W3C标准的浏览器*/
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#dedede',endColorStr='#dedede',gradientType='0');/*兼容IE浏览器*/
}

.box14{width:100%;overflow:hidden;font-size:14px;}
.box14 .box14left{width:480px;float:left;}
.box14 .box14right{width:380px;height:744px;float:right;background:url("../images/bg10.png") left top no-repeat;}
.box14 .box14right .cpbox{margin-left: 32px;margin-top: 133px;width: 318px;height:480px;overflow:hidden;}
.box14 .box14right .cpbox iframe{width: 334px;height:480px;height:495px\9;overflow-x:hidden;}
@media screen and (-webkit-min-device-pixel-ratio:0){ .box14 .box14right .cpbox iframe {width:324px;} }
.box14 .box14right .cpbox iframe::-webkit-scrollbar{width: 3px;height: 3px;}
.box14 .box14right .cpbox iframe::-webkit-scrollbar-track-piece{background-color: #ffffff;-webkit-border-radius: 3px;}
.box14 .box14right .cpbox iframe::-webkit-scrollbar-thumb:vertical{height: 5px;background-color: #666;-webkit-border-radius: 3px;}
.box14 .box14right .cpbox iframe::-webkit-scrollbar-thumb:horizontal{width: 5px;background-color: #666;-webkit-border-radius: 3px;}
.box14 .box14_plane1{width:100%;padding-top:28px;padding-bottom:40px;border-bottom:1px solid #D7D7D7;overflow:hidden;font-family:微软雅黑;font-size:14px;
line-height:25px;color:#333333;}
.box14 .box14_plane2{float:left;margin-left:20px;width:320px;}
.box14 .box14_plane2 h3{font-size:18px;font-family:微软雅黑;}
.box14 .box14_plane3{position:relative;width:100%;overflow:hidden;display:none;}
.box14 .box14_plane3 .smallarrow{position:absolute;width:25px;height:17px;background:url("../images/sign45.jpg") left top no-repeat;left:25px;top:4px;}
.box14 .box14_plane4{margin-top:18px;border:1px solid #E4E4E4;padding:15px;background-color:#fff;border-radius:5px;color:#666666;
min-height:80px;font-size:12px;word-break:break-all;word-wrap:break-word;}

.tab1{width:100%;overflow:hidden;line-height:25px;font-size:14px;}
.tab1 td{padding-bottom:20px;}
.tab1 tr.change td{padding:5px 0px;}
.tab1 tr.change2 td{padding:0px 10px;}
.tab1 span.mes{display:block;font-size:12px;margin-top:2px;color:#999;}
.tab1 .uploadbox2 {width:200px;height:110px;cursor:pointer;}
.tab1 .uploadbox2 img{width:200px;height:110px;box-shadow:0px 0px 5px #aaa;}

.tab2{width:100%;overflow:hidden;line-height:25px;margin-top:20px;color:#333333;}
.tab2 caption{font-size:15px;font-weight:blod;color:#390;padding-bottom:10px;}
.tab2 th{background:#e6e6e6;line-height:39px;border-bottom:1px solid #ddd;padding-left:15px;text-align:left;}
.tab2 td{line-height:20px;border-bottom:1px solid #ddd;padding:8px 10px 8px 15px;}
.tab2 tr a.edit{width:14px;height:14px;float:left;padding:10px;margin:0px;background: url(../images/sign47.png) center center no-repeat;display:inline-block;cursor:pointer;}
.tab2 tr a.edit:hover{background-image: url(../images/sign49.png);}
.tab2 tr a.del{width:14px;height:14px;float:left;padding:10px;margin:0px;background: url(../images/sign48.png) center center no-repeat;display:inline-block;cursor:pointer;}
.tab2 tr a.del:hover{background-image: url(../images/sign50.png);}
.tab2 tr th.cz{padding-left:0px !important;text-align:center;}

#Moblie{width:900px;border-radius:10px;background-color:#fff;position:absolute;left:50%;margin-left:-450px;z-index:121;box-shadow:0px 0px 10px #fff;display:none;}
#Moblie ul{float:left;overflow:hidden;font-size:16px;text-align: center;padding:40px 0px;}
#Moblie ul li{width:100px;display:block;}
#Moblie #Iphone{width:100px;height:35px;padding-top:65px;color:#666;cursor:pointer;display:block;
background:url(../images/preview-icons.png) no-repeat 35px -105px;}
#Moblie #Android{width:100px;height:35px;padding-top:65px;color:#666;cursor:pointer;display:block;
background: url(../images/preview-icons.png) no-repeat 35px 20px;}
#Moblie #WP{width:100px;height:50px;padding-top:65px;color:#666;cursor:pointer;display:block;
background: url(../images/preview-icons.png) no-repeat 35px -220px;}
#Moblie #Blackberry{width:100px;height:35px;padding-top:65px;color:#666;cursor:pointer;display:block;
background: url(../images/preview-icons.png) no-repeat 35px -350px;}
#Moblie #Iphone.hover, #Moblie #Iphone:hover{background-position:-106px -105px;background-color:#00AAEE;color:#fff;border-radius:0px 8px 8px 0px;}
#Moblie #Android:hover,#Moblie #Android.hover{background-position:-106px 20px;background-color:#00AAEE;color:#fff;border-radius:0px 8px 8px 0px;}
#Moblie #WP:hover,#Moblie #WP.hover{background-position:-106px -220px;background-color:#00AAEE;color:#fff;border-radius:0px 8px 8px 0px;}
#Moblie #Blackberry:hover,#Moblie #Blackberry.hover{background-position:-106px -350px;background-color:#00AAEE;color:#fff;border-radius:0px 8px 8px 0px;}
#Moblie #CloseMoblie{width:21px;height:21px;background: url(../images/sign51.jpg) center center no-repeat;position:absolute;right:20px;top:20px;cursor:pointer;}
#Moblie #CloseMoblie:hover{background-image: url(../images/sign52.jpg);}
#Moblie .write{width:140px;height:65px;background: url(../images/pic31.png);position:absolute;right: 95px;top: 50px;}
#Moblie .turn1{width:100px;height:35px;padding-top:65px;color:#666;cursor:pointer;display:block;font-size:16px;text-align:center;border-left:1px solid #c1c1c1;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;
background: url(../images/preview-icons.png) no-repeat -280px -220px;position:absolute;right:0px;top:150px;font-family:微软雅黑;}
#Moblie a.turn1:hover{color:#fff;background-position:-448px -220px;background-color:#00AAEE;border-radius:8px 0px 0px 8px;}
#Moblie .turn2{width:100px;height:35px;padding-top:65px;color:#666;cursor:pointer;display:block;font-size:16px;text-align:center;border-left:1px solid #c1c1c1;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;
background: url(../images/preview-icons.png) no-repeat -280px 20px;position:absolute;right:0px;top:150px;font-family:微软雅黑;}
#Moblie .turn3{width:100px;height:35px;padding-top:65px;color:#666;display:block;font-size:16px;text-align:center;border-left:1px solid #c1c1c1;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;
background: url(../images/preview-icons.png) no-repeat -280px -220px;position:absolute;right:0px;top:150px;font-family:微软雅黑;opacity:0.5;filter:alpha(Opacity=50);}
#Moblie a.turn2:hover{color:#fff;background-position:-448px 20px;background-color:#00AAEE;border-radius:8px 0px 0px 8px;}
#Moblie .mobliecon{margin:30px 0px;float:left;width:700px;}
#Moblie .iphoneframe{width:298px;height:566px;background: url(../images/iphone4-1.jpg);margin:0px auto;}
#Moblie .iphoneframe span{display: inline-block;height: 355px;margin-left: 24px;margin-top: 105px;width: 251px;overflow:hidden;}
#Moblie .iphoneframe iframe {height:370px;width:266px;}
#Moblie .iphoneframe.turn{width:566px;height:298px;background: url(../images/iphone4-2.jpg);margin:100px auto 0px auto;}
#Moblie .iphoneframe.turn span{width:355px;height:251px;margin-left:105px;margin-top:24px;overflow:hidden;display:inline-block;}
#Moblie .iphoneframe.turn iframe {width:370px;height:266px;}
#Moblie .androidframe{width:298px;height:565px;background: url(../images/nexus-1.jpg);margin:0px auto;}
#Moblie .androidframe span{display:inline-block;height:384px;margin-left:24px;margin-top:67px;overflow:hidden;width:250px;}
#Moblie .androidframe iframe {height:402px;width:265px;}
#Moblie .androidframe.turn{width:594px;height:298px;background: url(../images/nexus-2.jpg);margin:100px auto 0px auto;}
#Moblie .androidframe.turn span{display:inline-block;height:250px;margin-left:67px;margin-top:25px;overflow:hidden;width:410px;}
#Moblie .androidframe.turn iframe {height:265px;width:428px;}
#Moblie .wpframe{width:298px;height:563px;background: url(../images/winphone7-1.jpg);margin:0px auto;}
#Moblie .wpframe span{display:inline-block;height:395px;margin-left:25px;margin-top:47px;overflow:hidden;width:249px;}
#Moblie .wpframe iframe {height:410px;width:264px;}
#Moblie .wpframe.turn{width:574px;height:298px;background: url(../images/winphone7-2.jpg);margin:100px auto 0px auto;}
#Moblie .wpframe.turn span{display: inline-block;height: 247px;margin-left: 48px;margin-top: 24px;overflow: hidden;width: 407px;}
#Moblie .wpframe.turn iframe {height:263px;width:422px;}
#Moblie .blackberryframe{width:298px;height:517px;background: url(../images/blackberry-1.jpg);margin:0px auto;}
#Moblie .blackberryframe span{display: inline-block;height: 187px;margin-left: 20px;margin-top: 92px;overflow: hidden;width: 259px;}
#Moblie .blackberryframe iframe {height:193px;width:275px;}

/**页码 begin**/
.pagination{display:block;margin-top:50px;clear:both;line-height:20px;height:20px;position:relative;font-size:13px;}
.pagination .page{float:right;}
.pagination .pre, .pagination .next{margin:0 5px; background-color:#fafafa;border:1px solid #D9D9D9;border-radius:2px;cursor: pointer;
display:block;float:left;vertical-align: middle;height: 20px;line-height: 20px;padding: 0 9px 0 10px;color:#565656;}
.pagination #NowPage{line-height: 24px;color: #0A8CD2;float:left;padding:0 15px 0 10px;margin-right:10px;display:block;
background: url(../images/sign39.gif) no-repeat right center;cursor: pointer;}
.pagination #PageNum{overflow-y: scroll;position:absolute;border: 1px solid #cdcdcd;background: #fff;bottom: 30px;right:65px;
width:80px;height:117px;text-align:center;line-height:20px;display:none;}
.pagination #PageNum a{color:#595959;display:block;margin:3px 1px 2px 1px;}
.pagination #PageNum a:hover{background:#E7E7E7;}
.pagination #PageNum a.ths{color:#C1C0C0;}
.pagination #PageNum a.ths:hover{background-color:transparent;}
.pagination a.dis{color:#999;}
/**页码 over**/

/**程序调试用 begin**/
.coupon_uploadpreview{background:url(/newbackstage/images/pic6.jpg) left top no-repeat;}
.img_upload{opacity: 0;margin-top: -40px;position: absolute;}
.btn_file1{border: medium none;cursor: pointer;display: block;float: left;height: 215px;left: -235px;position: absolute;text-align: center;top: 0;width: 250px;z-index: 20;filter:alpha(Opacity=0);Opacity:0;}
.btn_file2{border: medium none;cursor: pointer;display: block;float: left;height: 215px;left: -160px;position: absolute;text-align: center;top: 0;width: 250px;z-index: 20;filter:alpha(Opacity=0);Opacity:0;}
.btn_file3{border: medium none;cursor: pointer;display: block;float: left;height: 215px;left: -85px;position: absolute;text-align: center;top: 0;width: 250px;z-index: 20;filter:alpha(Opacity=0);Opacity:0;}
.btn1_hide{filter:alpha(Opacity=0);Opacity:0;}
/**程序调试用 over**/