		<div class="con">
			<div class="box14">
				<div class="box14left">
					<div class="title1"><h2 class="f18 l">设置</h2></div>
					<div class="submenu">
						<ul>
							<li class="hover"><a href="<%= dashboard_mobile_settings_path %>">基本信息</a></li>
							<li><a href="<%= dashboard_mobile_orders_path %>">菜单和功能</a></li>
							<li><a href="<%= dashboard_mobile_banners_path %>">Banner</a></li>
							<li><a href="mcp5.html">设计风格</a></li>
						</ul>
					</div>
					<div class="clear1"></div>
					<form id="cform" method="post" action="">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1 pt45">
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">网站名称</td>
							<td>
								<input class="inputs6 radius5 relative" size="30" type="text" value="">
								<span class="mes">4-20个字</span>
							</td>
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">选择域名</td>
							<td>
								<input class="inputs6 radius5 relative" size="30" type="text" value="">
								<span class="mes">4-20个字符，只限字母、数字或减号-</span>
							</td>
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">描述</td>
							<td>
								<textarea class="textarea4 radius5 relative" cols="40" rows="20" style="word-wrap:normal"></textarea>
								<span class="mes">最多140字</span>
							</td>
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">电脑版网址</td>
							<td>
								<input class="inputs6 radius5 relative" size="30" type="text" value="">
								<span class="mes">电脑访问手机网站时时自动跳转到电脑版</span>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<input type="submit" name="Submit" value="保 存" class="btn20 w100">
							</td>
						</tr>
					</table>
					</form>
				</div>
				<div class="box14right">
					<div class="cpbox">
						<iframe frameborder="0" src="/cellphone/index.html"></iframe>
					<div>
				</div>
			</div>
		</div>