<%= form_for(@shop, :url => "/admin_shops/set_password", :html => {:method => 'post'} ) do |f| %>
  <%= hidden_field_tag :id, @shop.id %>
  <p>
    密码:<br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "确定" %>
  </p>
<% end %>