/* CSS Document */
#Con .conleft{float:left;width:242px;padding:0px;margin:0px;overflow:hidden;zoom:1;}
#Con .conright{float:right;width:675px;padding:0px;margin:0px;overflow:hidden;zoom:1;}
#Footer .footerinner{width:937px;margin:0px auto;border-top:1px solid #E0E0E0;padding-top:10px;}

.plane1{background-image: url(/img/shop_space/hzjlxh/regbg.jpg);background-repeat: no-repeat;background-position: 0px 0px;padding-right:20px;height:28px;line-height:28px;text-align:right;color:#787878;}
.plane1 a{color:#787878;}
.plane1 a:hover{color:#000;}

.box5{margin:0px;padding:0px;overflow:hidden;clear:both;border:1px solid #ccc;}
.box5 table{color:#7f7f7f;width:210px;margin-left:20px;line-height:25px;}
.box5 table td{padding-top:10px;}
.box5 .text1, .box5 .text2{border:1px solid #C7C7C7;background-image: url(/img/shop_space/hzjlxh/sign5.gif);background-repeat: no-repeat;background-position: 3px 3px;width:110px;padding-left:20px;line-height:15px;height:15px;color:#7f7f7f;outline:none;}
.box5 .text2{background-image: url(/img/shop_space/hzjlxh/sign6.gif);}
.box5 .radio1{border:none;float:left; background-color:transparent; display:inline;}
.box5 .btn{background-image: url(/img/shop_space/hzjlxh/button.gif);background-repeat: no-repeat;background-position: 0px 0px;width:64px;height:23px;border:none;cursor:pointer;background-color:transparent;text-indent:-99999em;_display:inline;}
.box5 .box5left{float:left;margin-left:10px;width:86px;}
.box5 .box5left img{border:1px solid #BDBDBD;padding:1px;}
.box5 .box5right{float:left;margin-left:10px;color:#666;line-height:18px;width:120px;}
.box5 .box5right a{color:#D90000; display:block;}
.box5 .box5right a:hover{color:#f00;}
.box5 ul{display:block;overflow:hidden;zoom:1;line-height:22px;margin-left:10px;}
.box5 li{background-image: url(/img/shop_space/hzjlxh/sign4.gif);background-repeat: no-repeat;background-position: left 10px;padding-left:15px;overflow:hidden;clear:both;}
.box5 li a{color:#333;width:210px;overflow:hidden;height:22px;display:block;}
.box5 li a:hover{color:#f80;}

.art{width:760px;margin:0px auto;padding:0px;overflow:hidden;zoom:1;clear:both;font-size:14px;}
.art h1.tit{color:#000;font-size:22px;text-align:center;padding:15px 0px;}
.art .artinner{margin:0px;padding:0px;overflow:hidden;zoom:1;clear:both;line-height:22px;min-height:400px;_height:400px;}
.art .art_imgbox{ width:605px; overflow:hidden; zoom:1; text-align:center;margin:0px auto;}
.art .art_imgbox img{max-width:605px!important;}
.art .art_imgbox h1{color:#333;font-size:14px;text-align:center;margin-top:15px;}
.art .artinner2{width:700px;text-indent:2em;margin:10px auto 0px auto;}

/**文章列表页 列表css**/
.conrightlist { font-size:14px;line-height: 20px;display:block;overflow:hidden;margin:15px 5px 0px 5px; }
.conrightlist li { padding-left: 10px; padding-bottom:18px;padding-top:18px; display:block; overflow:hidden; clear:both;zoom:1;background-image: url(/img/shop_space/hzjlxh/dotted.jpg); background-repeat: repeat-x; background-position: left bottom;color:#666;}
.conrightlist li.t { line-height: 25px; color: #343434;}
.conrightlist .spanbox{ float:left; width:525px; display:block; overflow:hidden; }
.conrightlist .spanbox2 { text-align:center; float:left; width: 130px; display:block; overflow:hidden; }
.conrightlist .spanbox3 { text-align:center; float:left; width: 130px; display:block; overflow:hidden; }
.conrightlist a { font-weight:bold; color: #343434; }
.conrightlist a:hover { color: #FF8800; }
.conrightlist em{font-style: normal;color: #9b9b9b;}
/**文章列表页 列表css over**/

/** 图片产品列表 **/
.list{display:block;overflow:hidden;margin-top:20px;}
.list li{height:146px;width:140px;display:block;float:left;overflow:hidden;text-align:center;padding-top:8px;padding-left:7px;padding-right:7px;margin:0px 13px 8px 13px;}
.list .list_box{height:110px;width:100%;overflow:hidden;border:1px solid #ccc;padding:1px;}
.list .list_box img{width:140px;height:110px;}
.list a{font-size:14px;color:#f80;text-shadow:2px 2px 2px;}
.list a:hover{color:#333}
.list .link_box{height:14px;width:100%;overflow:hidden; margin-top:10px;}
/** 图片产品列表over **/

/** 图片展示页图片滚动动画 **/
.photoAlbum{width:890px;height:104px;overflow:hidden;zoom:1;margin:20px auto 20px auto;padding:0}
.photoAlbum .pcont{width:828px;float:left;overflow:hidden;margin:0;padding:0}
.photoAlbum .ScrCont{width:10000%;zoom:1}
.photoAlbum .LeftBotton{float:left;display:block;zoom:1;margin:35px 15px 0 0;padding:0;width:17px;height:30px;background-image: url(/img/shop_space/hzjlxh/arrow7.gif);background-repeat: no-repeat;background-position: left top;}
.photoAlbum .LeftBotton:hover{ background-image: url(/img/shop_space/hzjlxh/arrow9.gif); }
.photoAlbum .RightBotton{float:right;display:block;zoom:1;margin:35px 0 0 5px;padding:0;width:17px;height:30px; 
background-image: url(/img/shop_space/hzjlxh/arrow8.gif);background-repeat: no-repeat;background-position: left top; }
.photoAlbum .RightBotton:hover{ background-image: url(/img/shop_space/hzjlxh/arrow10.gif); }
.photoAlbum a.pl{float:left;border:1px solid #cdcdcd;margin-right:7px;margin-left:7px;overflow:hidden;display:block;zoom:1;text-align:center;padding:0}
.photoAlbum .pl img{width:120px;height:100px;padding:1px}
.photoAlbum a.pl:hover, .photoAlbum a.pl.hover{border:1px solid #f80;}
.photoAlbum .pl span{display:block;margin:0;padding:0}
#List1_1, #List2_1 { float: left; }
/** 图片展示页图片滚动动画over **/

/** 评论css **/
.reviews_right { padding: 0px; margin: 20px auto 0px auto; display: block; zoom:1; overflow:hidden; }

.d_out , .d_over , .d_outa{ overflow:hidden;padding: 16px 10px 10px 10px; border-bottom: 1px dashed #CCC; clear:both; }

.reviews_right #comment { }
#comment h4.comments_list { font-size: 14px; color:#505050; }

#t_pl_picyure{ width:56px; float:left; line-height:20px; }
#t_pl_picyure img{ width:50px; height:50px; padding:2px; border: 1px solid #c5c5c5; }
#t_pl_picyure h2{ font-size:12px; font-weight:normal; text-align:center; color:#fe972f; word-wrap:break-word; }
#t_pl_picyure a{ color:#fe972f; }

#pl-content{ width:840px; float:left; padding-left: 10px; line-height: 22px; color: #333333; }
#pl-content span { float: right; color: #8b8888; }

#group_fbpl{ width:605px; margin: 25px auto 0px auto; background-color:#f3f3f3; border:1px solid #b5b8c8; overflow:hidden; zoom:1; position:relative; }

#group-user-name{ background:url(/img/shop_space/group-user-name.jpg) left top repeat-x; color:#666; padding:7px 15px; border-bottom:1px solid #fff; overflow: hidden; zoom: 1; }
#group-user-name span{ float:left; width:200px; color:#929292; display:block; }
#group-user-name a{ float:right; color:#666; text-decoration:none; margin:0 10px 0 0; display:block; }
#group-user-name a:hover { color:#f90; }

.comment_post { margin: 0px; padding: 10px; }
.comment_post input.sub { width: 50px; height: 24px; border: 1px solid #c4c4c4; }
.comment_post a { color: #000; }
.comment_post a:hover { color: #f90; }

.floatleft { width: 100%; margin-bottom: 10px; }

#pl_group{ padding:0px; height:24px; color:#333; font-weight:bold; }

#comment_nic_name{ font-size:14px; color:#000; background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; height:20px; }
#captcha{ font-size:14px; color:#000; background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; }
#body_id{ width:367px; height:140px; font-size:14px;color:#000;background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;}

#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; border:1px solid #b5b8c8; margin-top:33px; *top:60px; }
#pl_biaoqing h3{ font-size:13px; padding: 10px 0px; margin: 0px; }
#pl_biaoqing img{ margin:2px; }
#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; border:1px solid #b5b8c8; margin-top:33px; *top:60px; }
/** 评论css over **/