/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px;}
img{border:none;}
h1,h2,h3,ul,li,form{padding:0px;margin:0px;}
ul{list-style:none;}
a{text-decoration:none;}
.clear{margin:0px;padding:0px;width:100%;height:0px;line-height:0px;overflow:hidden;}
.nonebg{background-image:none !important;}
.imgs{padding:1px;border:1px solid #cecece;width:238px;height:110px;}
.red{color:#D81920 !important;}
.songti{font-family:"宋体" !important;}

.ptb8{padding:8px 0px !important;}
.pb10{padding-bottom:10px !important;}
.mt7{margin-top:7px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.ml10{margin-left:10px !important;}
.mr10{margin-right:10px !important;}
.mb10{margin-bottom:10px !important;}

.title1{font-family:"微软雅黑";font-size:14px;background-image: url(/img/shop_space/hzjlxh/titlebg.jpg);background-repeat: no-repeat;background-position: left 5px;padding-left:25px;overflow:hidden;zoom:1;height:30px;}
.title1 h2{font-size:14px;float:left;}
.title1 span{color:#b90000; margin-left:10px;}
.title1 a{font-size:12px;float:right;color:#000;}
.title1 a:hover{color:#666;}

.title2{overflow:hidden;font-family:"微软雅黑";font-size:14px;padding-left:10px;line-height:20px;}
.title2 h2{font-size:14px;float:left;}
.title2 span{color:#b90000; margin-left:10px;}
.title2 a{font-size:12px;float:right;color:#000;}
.title2 a:hover{color:#666;}

.title3{overflow:hidden;font-family:"微软雅黑";font-size:14px;padding-left:10px;border-bottom:1px solid #e0e0e0;padding-bottom:5px;height:20px;}
.title3 h2{font-size:14px;float:left;}
.title3 span{color:#b90000; margin-left:10px;}
.title3 a{font-size:12px;float:right;color:#000;}
.title3 a:hover{color:#666;}

.title4{overflow:hidden;font-family:"微软雅黑";font-size:14px;background-image: url(/img/shop_space/hzjlxh/sign1.gif);background-repeat: no-repeat;background-position: 15px 3px;padding-left:25px;}
.title4 h2{font-size:14px;color:#C04258;}

.title5{overflow:hidden;font-family:"微软雅黑";margin:0px 1px;border-bottom:1px solid #ccc;line-height:30px;height:30px;}
.title5 h2{font-size:14px;padding-left:15px;float:left;}
.title5 a{float:right;color:#000;font-size:12px;margin-right:10px;}
.title5 a:hover{color:#f80;}

#MB {margin: 0px;padding: 0px;width: 100%;overflow: hidden; position:relative;}
#Header{width:100%;text-align:center;clear:both;zoom:1;background-image: url(/img/shop_space/hzjlxh/menubg.jpg);background-repeat: repeat-x;background-position: left bottom;
height:232px;background-color:#f6ebcf;margin:0px;padding:0px;}
#Header object{_margin-top:0px;}
#Header img{width:1185px;height:217px;}
#SubNav{line-height:25px;color:#705A4C;display:block;overflow:hidden;float:right;margin-top:10px;_margin-left:675px; display:none;}
#SubNav li{float:left;display:block;margin-right: 2px;margin-left: 2px;overflow: hidden;}
#SubNav a{color:#705A4C;}
#SubNav a:hover{color:#4A463D;}

.menu{font-size:14px;color:#fff;width: 100%;overflow:hidden;clear:both;height:50px;line-height:50px;position:absolute;left: 0px; top: 182px; z-index: 10;}
.menu ul{display:block;overflow:hidden;zoom:1;width:900px;margin:0px auto;}
.menu li.w110{width:110px;height:50px;}
.menu li{float:left;margin:0px 20px;display:inline;}
.menu a{color:#fff;}
.menu a:hover{color:#F6EBa0;}

#Con{width:937px;margin:0px auto;padding:25px 0px 0px 0px;overflow:hidden;zoom:1;}

.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden; color:#6F5E54;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .prev_page, .pagination .prev_page{float:left;margin-right:10px;cursor:pointer;margin-top:5px;}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;line-height:20px;margin-right:10px;color:#000;}
.pagination .current, .pagination a:hover{color:#6F5E54;font-weight:bold;float:left;}

#Footer{margin: 20px 0px;padding: 0px;width: 100%;overflow: hidden;clear:both; text-align:center;line-height:30px;}
#Footer .footerinner{width:937px;margin:0px auto;}
#Footer a{color:#000;}
#Footer a:hover{color:#f80;}
#Footer img{ margin:15px 5px 0px 5px; border:1px solid #ddd;}
