- content_for(:title){ "Sign In" }

.devise-style.sign-in
  .social-login
    %h2 Sign in
    = render "devise/shared/social_login"
  .devise-form
    = render "sign_in_form"
    .shared-links
      = render "devise/shared/links"
