/* CSS Document */
.contop{background-image:url(http://img2.1dooo.com/img/shop_space/azx/bannerbg.jpg);background-repeat:no-repeat;background-position:left top;margin:0px;padding:10px 10px 7px 10px;overflow:hidden;zoom:1;}
.contop .imgs{width:235px;height:311px;overflow:hidden;float:left;display:block;margin:0px;paddding:0px;}

.conbottom{width:100%;overflow:hidden;margin:10px 0px 0px 0px;padding:0px;clear:both;zoom:1;}
.cbleft{float:left;overflow:hidden;width:240px;padding:0px;margin:0px;zoom:1;}
.cbright{width:703px;float:right;margin:0px;padding:0px;overflow:hidden;zoom:1;}

.plane1{background-image:url(http://img1.1dooo.com/img/shop_space/azx/pic13.jpg);display:block;width:200px;height:37px;line-height:37px;margin:10px 0px 0px 0px;padding:0px 0px 0px 40px;cursor:pointer;}
.plane2{background-image:url(http://img2.1dooo.com/img/shop_space/azx/pic14.jpg);display:block;width:200px;height:37px;line-height:37px;margin:10px 0px 0px 0px;padding:0px 0px 0px 40px;cursor:pointer;}

.box1{padding:0px;margin:0px;clear:both;zoom:1;}
.box1 ul{overflow:hidden;clear:both;display:block;line-height:22px;margin-top:10px;color:#000;}
.box1 li{background-image:url(http://img2.1dooo.com/img/shop_space/azx/sign1.gif);background-repeat:no-repeat;background-position:4px 8px;display:block;padding-left:15px;overflow:hidden;zoom:1;width:225px;height:22px;}
.box1 li a{color:#000;}
.box1 a:hover{color:#f00;}
.box1 .plane1{background-image:url(http://img1.1dooo.com/img/shop_space/azx/pic13.jpg);background-repeat:no-repeat;background-position:left top;display:block;width:200px;height:37px;line-height:37px;margin:10px 0px 0px 0px;padding:0px 0px 0px 40px;overflow:hidden;clear:both;}
.box1 .plane2{background-image:url(http://img2.1dooo.com/img/shop_space/azx/pic14.jpg);background-repeat:no-repeat;background-position:left top;display:block;width:200px;height:37px;line-height:37px;margin:10px 0px 0px 0px;padding:0px 0px 0px 40px;overflow:hidden;clear:both;}
.box1 .name{float:left;cursor:pointer;color:#000;}
.box1 .name:hover{color:#f00;}
.box1 .button{background-image:url(http://img3.1dooo.com/img/shop_space/azx/button.png);background-repeat:no-repeat;background-position:left top;width:79px;height:30px;line-height:30px;display:block;margin:2px 0px 0px 0px;padding:0px;color:#000;float:right;overflow:hidden;text-align:center;}

.box2{margin:0px;padding:0px;overflow:hidden;zoom:1;width:100%;}
.box2 ul{width:472px;;overflow:hidden;zoom:1;float:left;}
.box2 li{float:left;width:230px;height:101px;display:block;overflow:hidden;zoom:1;margin-left:6px;margin-bottom:10px;_display:inline;}
.box2 li img{width:230px;height:101px;}
.box2 ul li a{}

.box3{margin:0px;padding:18px 0px 0px 0px;overflow:hidden;zoom:1;width:100%;background-image:url(http://img3.1dooo.com/img/shop_space/azx/pic12.jpg);background-repeat:no-repeat;background-position:right 0px;}
.box3inner{margin:0px;padding:0px;overflow:hidden;zoom:1;}
.box3inner .pic1{float:left;width:221px;height:148px;margin-right:10px;margin-bottom:10px;_display:inline;}
.box3inner .pic1 img{width:221px;height:148px;}
.box3inner .pictitle{float:left;width:450px;height:23px;margin-right:10px;margin-bottom:10px;margin-top:10px;_display:inline;}
.box3inner .pics{float:left;width:107px;height:107px;margin-right:10px;margin-bottom:10px;_display:inline;}
.box3inner .pics img{width:105px;height:105px;overflow:hidden;}
.box3inner .pics a{border:1px solid #C9C9C9;display:block;overflow:hidden;zoom:1;}
.box3inner .pics a:hover{border:1px solid #f00;}

.ad{width:240px;height:160px;margin:10px 0px 0px 0px;padding:0px;clear:both;}

.avatar {width: 220px;height: 220px;margin: 0px;padding:10px 10px 0px 10px;background-color:#eee;}
.avatar ul {display: block;overflow:hidden;line-height: 20px;margin: 5px 0 0 0;padding: 0;width: 220px;}
.avatar li {float: left;height: 86px;overflow: hidden;padding: 4px 8px 5px;text-align: center;width: 55px;display:block;}
.avatar li a {color: #00579E;display: block;}
.avatar li a:hover{color:#f00;}
.avatar img {height: 50px;width: 50px;}

.photoAlbum {width: 231px;height: 211px;padding:0px;margin:0px;background-image:url(http://img2.1dooo.com/img/shop_space/azx/photoAlbumbg.jpg);background-position:left top;background-repeat:no-repeat;overflow:hidden;position:relative;float:left;}
.photoAlbum .LeftBotton {width:9px;height:55px;padding:0px;margin:0px;background-image:url(http://img2.1dooo.com/img/shop_space/azx/arrow1.gif);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;position:absolute;top:80px;left:15px;display:block;}
.photoAlbum .RightBotton {width:9px;height:55px;padding:0px;margin:0px;background-image:url(http://img3.1dooo.com/img/shop_space/azx/arrow2.gif);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;position:absolute;top:80px;right:15px;display:block;}
.ScrCont{ width:10000000px; }
.pcont{width:217px;height:197px;padding:0px;margin:8px 0px 0px 8px;overflow:hidden;}
.pcont a{overflow:hidden;zoom:1;width:217px;height:197px;float:left;display:block;margin:0px;padding:0px;}
.pcont img{width:217px;height:197px;}
#List1_1, #List2_1{float:left;overflow:hidden;}

/*主动画*/
.dh{ padding:0px; margin:0px;width:700px; height:311px; position:relative; overflow:hidden;float:right; }
.dh img{ width:700px; height:311px; position:absolute; top:0px; left:0px; }
.prevbtn{background-image:url(http://img1.1dooo.com/img/shop_space/azx/arrow3.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0;display:none;}
.nextbtn{background-image:url(http://img2.1dooo.com/img/shop_space/azx/arrow4.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0;padding:0;display:none;}
.dhnum{position:absolute;width:115px;bottom:5px;height:17px;right:0px;z-index:2;}
.def{height:17px;width:18px;float:left;margin:0 7px 0 0;padding:0px;color:#fff;font-weight:bold;line-height:17px;text-align:center;_display:inline;}
.selected{background-image:url(http://img3.1dooo.com/img/shop_space/azx/sign2.gif); background-position:left top; background-repeat:no-repeat;}
/*主动画over*/

