/* CSS Document */
#Header{margin-bottom:8px;}
#Con{padding:35px 20px 0px 20px;background-color:#e8e8e8;min-height:500px !important;}
#Con .conleft{width:200px;padding-left:10px;padding-right:30px;float:left;overflow:hidden;margin-top:20px;background-image:url(http://img3.1dooo.com/img/shop_space/azx/bg2.png);background-position:right top;background-repeat:no-repeat;}
#Con .conright{width:665px;float:left;overflow:hidden;margin-top:20px;padding-left:10px;}

.box1{width:100%;margin:0px;padding:0px;overflow:hidden;zoom:1;color:#666;line-height:18px;}
.box1img{width:59px;height:59px;float:left;}
.box1right{float:left;width:132px;margin-left:8px;font-family:"微软雅黑";}
.box1 a{color:#666;}
.box1 a:hover{color:red;}

#PicPlane {width:647px;height:84px;overflow:hidden;zoom:1;margin:0px auto 20px auto;padding:0}
#PicPlane .la {background-image: url(http://img3.1dooo.com/img/shop_space/azx/arrow.png);background-repeat: no-repeat;background-position: left top;margin: 15px 0px 0px 0px;
padding: 0px;float: left;height: 38px;width: 15px;text-indent:-999em;display:block;cursor:pointer;}
#PicPlane .ra{background-image: url(http://img3.1dooo.com/img/shop_space/azx/arrow.png);background-repeat: no-repeat;background-position: -20px top;margin: 15px 0px 0px 0px;
padding: 0px;float: left;height: 38px;width: 15px;text-indent:-999em;display:block;cursor:pointer;}
#PicPlane .nla{background-position: -40px top;}
#PicPlane .nra{background-position: right top;}
#PicPlane #PicPlaneInner{margin:0px;padding:0px;overflow:hidden;float:left;width:616px;height:84px;position:relative;overflow:hidden;top:0px;left:0px;zoom:1;}
#PicPlane #PicPlaneInner ul{float:left;overflow:hidden;display:block;position:absolute;top:0px;left:0px;zoom:1;}
#PicPlane #PicPlaneInner li{float:left;display:block;_display:inline;margin:0px;padding:0px;overflow:hidden;zoom:1;width:88px;height:84px;}
#PicPlane #PicPlaneInner li span.ps{width:70px;height:70px;margin:0px auto;display:block;overflow:hidden;}
#PicPlane #PicPlaneInner li.hover span.ps{display:block;width:70px;height:70px;margin:0px auto;padding:1px;border:1px solid #666;overflow:hidden;}
#PicPlane #PicPlaneInner li.hover img{}
#PicPlane #PicPlaneInner li a img{cursor:pointer;*display:inline;}
#PicPlane #PicPlaneInner li a {width:70px;height:70px;display:block;overflow:hidden;}

.picbody { padding: 0px; margin-top: 0px; margin-right: 13px; margin-bottom: 0px; margin-left: 13px; line-height: 22px;color: #767676;min-height:220px !important;
overflow:hidden;position:relative; background-image:url(http://img2.1dooo.com/img/shop_space/azx/loading.gif); background-repeat:no-repeat; background-position:center center; }
.picbody .picbody_box{ width:605px; margin:0px auto; overflow:hidden; zoom:1;text-align:center; }
.picbody .picbody_box img{max-width:605px;max-height:605px; _width:450px;_height:290px;overflow:hidden;zoom:1;z-index:1;}
.picbody h2 { font-size: 16px; color:#444;font-size: 14px; line-height: 24px; text-align: center;margin-top:10px; }
.picbody p { font-size:14px; line-height:25px; }
.picbody .pbleft{width:50%;height:100%;top:0px;left:0px;position:absolute;cursor:url(http://img3.1dooo.com/img/shop_space/azx/pre.cur),auto; z-index:10;overflow:hidden;zoom:1;background-color: #fff;filter: Alpha(Opacity=0);opacity:0;_height:290px;}
.picbody .pbright{width:50%;height:100%;top:0px;right:0px;;position:absolute;cursor:url(http://img3.1dooo.com/img/shop_space/azx/next.cur),auto; z-index:10;overflow:hidden;zoom:1;background-color: #fff;filter: Alpha(Opacity=0);opacity:0;_height:290px;}

.art {clear: both;font-size: 13px;margin: 0px;overflow: hidden;padding: 0px;color:#666;}
.art h2.tit {color: #333;font-size: 16px;letter-spacing: 2px;text-align: center;line-height:25px;}
.art .artinner {clear: both;line-height: 25px;margin: 0px;overflow: hidden;padding: 0px;}
.art .art_imgbox {margin: 0 auto;overflow: hidden;text-align: center;width: 605px;}
.art .art_imgbox img {max-width: 605px;}

/** 文章列表css **/
.conrightlist {width:615px;color:#6D6D6D;padding:0px;margin:0px auto;line-height:32px;display:block;overflow:hidden;}
.conrightlist li {width:605px;padding:0px 0px 0px 10px;margin:0px;border-bottom:1px dashed #aaa;overflow:hidden;display:block;}
.conrightlist li.t {line-height:26px;color:#333;font-weight:bold;text-align:center;border-bottom:1px solid #aaa;font-size:14px;}
.conrightlist .spanbox{float:left; width:400px;_width:397px;display:block;overflow:hidden;}
.conrightlist .spanbox2 {text-align:center;float:left;width: 110px;display:block;overflow:hidden;}
.conrightlist .spanbox3 {text-align:center; float:left;width:95px;display:block;overflow:hidden;}
.conrightlist a {color:#333;}
.conrightlist a:hover {color: #f00;font-weight:bold;}
/** 文章列表css over  **/

/** 图片产品列表 **/
.list{display:block;overflow:hidden;width:100%;}
.list li{height:130px;width:140px;display:block;float:left;overflow:hidden;padding-top:8px;text-align:center;padding:0px;margin:0 12px 8px 12px;zoom:1;_display:inline;}
.list img{width:135px;height:100px;padding:1px;border:1px solid #ccc;}
.list a{font-size:14px;color:#555;}
.list a:hover{color:#f00; font-weight:bold;}
.list .link_box{height:17px;width:100%;overflow:hidden;margin-top:4px;line-height:17px;}
/**图片产品列表over**/

/** 优惠券列表页 **/
.gbb {width: 100%;padding: 0px;margin:0px;clear: both;}
.gbb ul {display: block;margin: 0px 7px;padding: 0px;clear: both;overflow: hidden;list-style:none;}
.gbb ul li{width:310px;height:280px;display: inline;margin: 0px 7px 7px 5px;padding: 0px;overflow:hidden;float:left;background-image:url(/img/shop_space/gbb_bg.gif);
background-repeat: no-repeat;background-position: left top;zoom:1;}
.gbb .gbb_img {float: left;height: 130px;width: 135px;margin-top: 20px;margin-left: 20px;}
.gbb .gbb_img img {padding: 1px;border: 1px solid #acacac;}
.gbb .gbb_img2 {background-image: url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat: no-repeat;background-position: left top;float: right;margin-top: 30px;
margin-right: 32px;font-family: "宋体";font-size: 14px;text-align: center;height: 50px;width: 75px;font-weight: bold;color: #FFFFFF;padding-top: 25px;}
.gbb .gbb_plane {padding-top: 10px;clear: both;font-size: 12px;margin-top: 0px;margin-right: 10px;margin-bottom: 0px;margin-left: 20px;line-height: 22px;
height:80px;}
.gbb .gbb_plane h1 a{font-size: 14px;color: #ff6c00;text-decoration:none;}
.gbb .gbb_plane h1 a:hover{text-decoration:underline;}
.gbb .gbb_plane span {color: #666;}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0;font-size:12px; font-weight:normal;}
.gbb .gbb_download em{font-style:normal;color:#f60;}
.gbb .gbb_sub{width:87px;height:25px;float:right;margin-right:10px;margin-top:0;padding:0;border:none;background-color:transparent;text-indent:-9999em;
background-image:url(http://img1.1dooo.com/img/shop_space/gbb_buy6.gif);background-repeat:no-repeat;background-position:left top;cursor:pointer;}
.gbb .gbb_r{float:right;margin-right:10px;}
.gbb .gbb_r2{float:right;}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0;font-size:12px; font-weight:normal;}
/** 优惠券列表页 css over **/

/** 优惠券券详情页 css **/
.ec{ clear:both;margin:10px 20px 0;padding:0; }
.ec .imgs{ height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;margin-right:10px;padding:2px; }
.ec h1{ font-size:16px;color:#ff6c00;display:block;margin-bottom:30px; }
.ec h1 a{ color:#ff6c00;text-decoration:none; }
.ec h1 a:hover { color:#f90; }
.ec h2{ font-size:12px;color:#666;font-weight:400;margin:10px 10px 0; }
.ec .ec_div{ background-color:#dfdfdf;overflow:hidden;zoom:1;padding:15px 20px; }
.ec .ec_div p{ float:left;margin:0;padding:0; }
.ec table { line-height:25px; }
.ec .ec_input{ float:right;height:25px;width:87px;border:none;display:block;overflow:hidden;zoom:1;background-image:url(http://img1.1dooo.com/img/shop_space/gbb_download6.gif);background-repeat:no-repeat;background-position:left top;background-color:transparent;cursor:pointer;margin:0;padding:0; }
.ec .ec_price{ background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:center center;font-size:14px;font-weight:700;color:#FFF;vertical-align:middle;line-height:20px;margin:0;padding:24px 50px; }
.ec .ec_con{ line-height:25px;margin-top:15px;margin-right:10px;margin-left:10px; }
.ec .ec_linkimg{float:right;}
.ec .ec_r{float:right;}
.ec .ec_color{color:#666;}
.ec .ec_color2{}
.ec .ec_color3{}
.ec_line{border-top:1px solid #aaa; margin-top:10px; width:100%; overflow:hidden;height:0px;line-height:0px;}
/** 优惠券详情页 css over **/

/** 优惠券下载选择手机号码css **/
.download_box{ clear:both;line-height:30px !important; margin-top:10px; margin-left:20px;}
.download_box h1{ color:#f60; font-size:14px; }
.download_box h2{ font-size:12px; color:#f60; font-weight:normal; display:inline !important; }
.download_box .sub{height:25px;width:87px;border:none;background-image:url(http://img1.1dooo.com/img/shop_space/sub6.gif);background-repeat:no-repeat;background-position:left top; color:#fff;cursor:pointer;cursor:hand;}
.download_box .sub:hover{color:#fff;}
.download_box .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;padding:2px;}
.download_box .imgs img{ height:205px;width:215px;margin:0px;padding:0px; display:block;}
/** 优惠券下载选择手机号码css over **/

/** 优惠券发送页css **/
.mes{ margin: 20px 20px 25px 20px;clear: both; overflow: hidden; }
.mes .mes_top { margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px; padding-left: 50px; }
.mes .mes_top h1 { font-size: 24px; color: #f60; background-image: url(http://img1.1dooo.com/img/shop_space/sign10.gif); background-repeat: no-repeat; background-position: left 5px; padding-left: 40px; line-height: 40px; }
.mes .mes_top .mes_con { line-height: 20px; padding-left: 42px; }
.mes_con a { font-weight: bold; color: #444; text-decoration: none; }
.mes_con a:hover { color: #f00; text-decoration: underline; }
.mes .mes_return { text-align: right; line-height: 32px; padding-right:10px; }
.mes_return a { color: #000; text-decoration: none; background-image: url(http://img2.1dooo.com/img/shop_space/sign11.gif); background-repeat: no-repeat; background-position: 500px center; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; display: block; }
.mes_return a:hover { color: #f00; text-decoration: underline; }
.mes .mes_img { margin: 0px; padding: 0px; }
/** 优惠券发送页css over **/

/** 团购券的团购列表css **/
.gb{border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#c5c4c4;margin-top:10px;overflow:hidden;zoom:1;padding:0 0 8px;margin-left:18px;zoom:1;color:#444;}
.gb_word{font-size:24px;font-weight:700;zoom:1;clear:both;overflow:hidden;margin:0;padding:0 0 10px}
.gb_word a,.gb_word h1{font-size:24px;text-decoration:none;color:#444;font-family:"微软雅黑";font-weight:normal;}
.gb_word a:hover{color:#f10;}
.gb_word h1{line-height:30px;}
.gb_word h2{font-size:24px;display:inline;color:#444;font-weight:normal;text-shadow: 4px 2px 5px #aaa;}
.gb_left{float:left;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_left img{width:380px;height:202px;}
.gb_right{text-align:center;float:right;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_buy{background-image:url(http://img3.1dooo.com/img/shop_space/pic02.gif);background-repeat:no-repeat;background-position:left top;height:84px;width:234px;text-align:left;clear:both;overflow:hidden;margin:0;padding:0}
.gb_buy b{font-weight:400;display:block;float:left;font-size:35px;color:#FFF;margin:25px 0 0 25px;padding:0}
.gb_buy form img{height:51px;width:104px;float:right;margin-right:10px;margin-top:17px;border:none;padding:0}
input.sub{border:1px solid #c4c4c4;background:#e9e9e9;background-image:url(http://img2.1dooo.com/img/shop_space/topdownbg.jpg);background-repeat:repeat-x;background-position:left top;width:50px;height:24px}
.gb_right ul{display:block;width:250px;overflow:hidden;margin:10px 0;padding:0}
.gb_right ul li{display:block;float:left;width:83px;margin:0;padding:0}
.gb_word_style1{color:#ca0000}
.gb_word_style2{font-weight:700;text-decoration:line-through}
.gb_word_style4{font-weight:700;color:#ca0000}
.gb_right span{font-weight:700;text-align:left;display:block;font-size:14px;clear:both;width:222px;margin:0 0 0 28px;padding:0}
.gb_time{background-image:url(http://img1.1dooo.com/img/shop_space/pic03.gif);height:41px;width:195px;background-repeat:no-repeat;background-position:left top;display:block;margin:10px auto 0;padding:0}
.gb_time ul{display:block;clear:both;width:100%;overflow:hidden;margin:0;padding:0}
.gb_time ul li{display:block;font-weight:700;margin:15px 0 0;padding:0}
.gb_time .gb_timeleft{margin-left:9px;width:33px}
.gb_time .gb_timemiddle{width:38px;margin-left:34px}
.gb_time .gb_timeright{width:35px;margin-left:23px}
/** 团购券的团购列表css over **/

/** 评论css **/
.reviews_right { padding: 0px; margin: 0px 0px 10px 0px; display: block; zoom:1; overflow:hidden;clear:both;}
#reviews_right {}

.d_out, .d_outa, .d_over{ width: 615px; overflow:hidden;padding: 16px 10px 10px 10px; border-bottom: 1px dashed #CCC; clear:both; }

.reviews_right #comment {width: 635px;overflow:hidden;margin:0px auto;padding:0px;}
#comments h4.comments_list { font-size: 14px; color:#505050; }

#t_pl_picyure{ width:56px; float:left; line-height:20px; }
#t_pl_picyure img{ width:50px; height:50px; padding:2px; border: 1px solid #c5c5c5; }
#t_pl_picyure h2{ font-size:12px; font-weight:normal; text-align:center; color:#EF5A00; word-wrap:break-word; }
#t_pl_picyure a{ color:#1B4668; }

#pl-content{ width:544px; float:left; padding-left: 10px; line-height: 22px; color:#333;}
#pl-content span { float: right; color: #8b8888; }

#group_fbpl{ width:605px; margin: 15px auto 0px auto; background-color:#f3f3f3; border:1px solid #b5b8c8; overflow:hidden; zoom:1; position:relative; }

#group-user-name{ background:url(http://img3.1dooo.com/img/shop_space/group-user-name.jpg) left top repeat-x; color:#666; padding:7px 15px; border-bottom:1px solid #fff; overflow: hidden; zoom: 1; }
#group-user-name span{ float:left; width:200px; color:#929292; display:block; }
#group-user-name a{ float:right; color:#666; text-decoration:none; margin:0 10px 0 0; display:block; }
#group-user-name a:hover { color:#ca180a; }

.comment_post { margin: 0px; padding: 10px; }
.comment_post input.sub { width: 50px; height: 24px; border: 1px solid #c4c4c4; }
.comment_post a { color: #000; }
.comment_post a:hover { color: #ca180a; }

.floatleft { width: 100%; margin-bottom: 10px; }

#pl_group{ padding:0px; height:24px; color:#333; font-weight:bold; }

#comment_nic_name{ font-size:14px; color:#000; background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; height:20px; }
#captcha{ font-size:14px; color:#000; background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; }
#body_id{ width:367px; height:140px; font-size:14px;color:#000;background:#fff url(http://img2.1dooo.com/img/shop_space/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;}

#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; border:1px solid #b5b8c8; margin-top:33px; *top:60px; }
#pl_biaoqing h3{ font-size:13px; padding: 10px 0px; margin: 0px; }
#pl_biaoqing img{ margin:2px; }
/** 评论css over **/

