%h2 The invitation link has been generated
%label Invitation link
- if @invitation_token
  %input#invitation_link{:value => "localhost:3000/users/invitation/accept?invitation_token=#{@invitation_token}"}
- else
  No Invitation_token
