/* CSS Document*/
.dh{ width:735px; height:347px; margin:0px; padding:0px; position:relative; overflow:hidden;float:left;}
.dh img{ width:735px; height:347px; position:absolute; top:0px; left:0px; }
.dh .prevbtn, .dh .nextbtn{display:none;}
.dh .dhnum{position:absolute;width:125px;bottom:30px;height:18px;right:20px;z-index:2;}
.def{background-image:url(http://img1.1dooo.com/img/shop_space/mghx/sign6.png);background-repeat:no-repeat;background-position:left top;height:21px;width:24px;text-indent:-999999px;float:left;margin:0px 5px 0px 0px;padding:0;}
.selected{background-image:url(http://img3.1dooo.com/img/shop_space/mghx/sign5.png)!important}

.contop{width:100%;margin:0px;padding:0px;overflow:hidden;}
.contopright{width:230px;float:right;overflow:hidden;}
.link1{display:block;margin:0px;padding:0px;float:left;width:200px;height:97px;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/pic8.jpg);background-repeat:no-repeat;background-position:left top;}
.link2{display:block;margin:0px;padding:0px;float:left;width:182px;height:97px;background-image:url(http://img1.1dooo.com/img/shop_space/mghx/pic9.jpg);background-repeat:no-repeat;background-position:left top;}
.link3{display:block;margin:0px;padding:0px;float:left;width:181px;height:97px;background-image:url(http://img1.1dooo.com/img/shop_space/mghx/pic10.jpg);background-repeat:no-repeat;background-position:left top;}
.link4{display:block;margin:0px;padding:0px;float:left;width:185px;height:97px;background-image:url(http://img2.1dooo.com/img/shop_space/mghx/pic11.jpg);background-repeat:no-repeat;background-position:left top;}
.link5{display:block;margin:0px;padding:0px;float:left;width:231px;height:97px;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/pic12.jpg);background-repeat:no-repeat;background-position:left top;}

.lists{display:block;overflow:hidden;clear:both;width:100%;line-height:20px;margin-top:10px;margin-bottom:10px;}
.lists li{background-image:url(http://img3.1dooo.com/img/shop_space/mghx/point.gif);background-repeat:no-repeat;background-position:10px 9px;padding-left:25px;padding-right:10px;height:20px;overflow:hidden;}
.lists a{color:#666;}
.lists a:hover{color:#e00;}

.box1{clear:both;margin:0px;padding:0px;overflow:hidden;zoom:1;}
.box1 .box1inner{padding:10px;}
.box1 .box1inner a{color:#868686;margin-right:10px;}
.box1 .box1inner a:hover{color:#e00;}

.product1{padding:20px 0px 0px 0px!important;display:block;overflow:hidden;zoom:1;clear:both;border:1px solid #CECECE;}
.product1 li{float:left;width: 180px;height:215px;line-height:14px;margin-left: 14px;text-align: center;padding-bottom:25px;overflow:hidden;*display:inline;}
.product1 a{cursor:pointer;}
.product1 a .pimg{width:160px;height:160px;border:1px solid #DFDFDF;margin:0px;padding:0px;display:block;}
.product1 a .mes{color:#333;display:block;height: 16px;overflow:hidden;font-size:14px;margin: 5px 0px;}
.product1 a .mes2{color:#999;display:block;height:15px;overflow:hidden;margin: 0 0 2px 0;}
.product1 a .mes3{color:#e00;height:15px;display:block;margin:0px;padding:0px;overflow:hidden;}
.product1 a:hover .pimg{border:1px solid #e00;}
.product1 a:hover .mes{color:#e00;}
.product1 a:hover .mes2{color:#e00;}
*html .product1 a:hover{color:#e00; }
*html .product1 a:hover img{border:1px solid #e00;}

.product2{padding:20px 0px 5px 0px!important;display:block;overflow:hidden;zoom:1;clear:both;border:1px solid #CECECE;font-size:14px;border-top:none;}
.product2 li{float:left;width:182px;height:150px;line-height:14px;margin-left:11px;padding-bottom:15px;overflow:hidden;*display:inline;}
.product2 a{cursor:pointer;}
.product2 a .pimg{width:180px;height:130px;border:1px solid #DFDFDF;margin:0px;padding:0px;display:block;}
.product2 a .mes{color:#333;display:block;height:15px;overflow:hidden;text-align:center;margin-top:5px;}
.product2 a:hover .pimg{border:1px solid #e00;}
.product2 a:hover .mes{color:#e00;}
*html .product2 a:hover{color:#e00; }
*html .product2 a:hover img{border:1px solid #e00;}

