/* CSS Document */
body {font-family: "宋体";font-size: 12px;margin: 0px;padding: 0px; }
a{ text-decoration:none;}
img{border:none;}
ul,li,h1,h2{margin:0px;padding:0px;}
ul{list-style:none;}

.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.clear1{ clear:both; overflow:hidden; width:100%; height:0px; zoom:1; }
.r{float:right;}
.ad1{width:230px;height:135px;}
.ad2{width:220px;height:65px;}

.red{color:#e00;}

.border1{border:1px solid #cecece;}
.border2{border:1px solid #cecece;border-top:none;}

.plr10{padding-left:10px !important;padding-right:10px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}

.title{height:32px;background-image:url(http://img2.1dooo.com/img/shop_space/mghx/bg1.jpg);background-position:left top;background-repeat:repeat-x;overflow:hidden;line-height:32px;padding-left:10px;}
.title a{margin:5px 5px 0px 0px;padding:0px;display:block;float:left;line-height:27px;color:#900;width:72px;height:27px;text-align:center;}
.title a.hover{font-weight:bold;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/bg2.jpg);background-position:left top; background-repeat:no-repeat;}

.title1{background-image:url(http://img2.1dooo.com/img/shop_space/mghx/bg4.jpg);background-position:left top;background-repeat:no-repeat;color:#3C3C3C;overflow:hidden;margin:0px;padding:0px;height:70px;width:100%;border-bottom:2px solid #E8B15C;font-family:"微软雅黑";}
.title1 h2{float:left;font-weight:normal;font-size:15px;display:none;}
.title1 a{float:right;color:#414141;margin-right: 10px;margin-top: 40px;}
.title1 a:hover{color:#e00;}

.title2{width:100%;height:69px;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/bg5.jpg);background-position:left top; background-repeat:no-repeat;overflow:hidden;}
.title2 h2{display:none;}
.title2 .title2_sub{float:right;margin-top:40px;}
.title2 a{margin:0px 5px 0px 0px;padding:0px 10px;display:block;float:left;line-height:30px;color:#fff;}
.title2 a.hover{background-color:#fff;color:#B00204;}

.title3{margin:0px;padding:0px;background:url(http://img2.1dooo.com/img/shop_space/mghx/bg11.jpg);background-position:top left;background-repeat:repeat-x;overflow:hidden;height:32px;padding-left:15px;}
.title3 h2{color:#fff;font-size:14px;float:left;background:url(http://img1.1dooo.com/img/shop_space/mghx/bg6.jpg);background-position:top left;background-repeat:no-repeat;width:82px;height:28px;margin-top:5px;display:block;text-align:center;line-height:28px;}

.title4{margin:0px;padding:0px;border-top:1px solid #F5F5F5;border-left:1px solid #F5F5F5; border-bottom:1px solid #D0D0D0; border-right:1px solid #D0D0D0;background:url(http://img3.1dooo.com/img/shop_space/mghx/bg8.gif);background-position:10px center;background-repeat:no-repeat;overflow:hidden;height:35px;padding-left:30px;padding-right:10px;}
.title4 h2{color:#B91619;font-size:12px;float:left;line-height:18px;margin-top: 8px;}
.title4 span{float:right;margin-top:10px;}
.title4 a{color:#000;}
.title4 a:hover{color:#e00;}
.title4 span b{font-weight:normal;}

.title5{background-image:url(http://img3.1dooo.com/img/shop_space/ychh/bg8.gif);background-position:left center; background-repeat:no-repeat;line-height:34px;
color:#3C3C3C;overflow:hidden;padding-left:10px;zoom:1;border-bottom:1px solid #D0D0D0;}
.title5 h2{margin:0px;padding:0px;font-size:13px;}

#MB{width:100%;margin:0px;padding:0x;overflow:hidden;}
#Header{width:100%;margin:0px;padding:0x;overflow:hidden;background-color:#FDFDF5;background-image:url(http://img2.1dooo.com/img/shop_space/mghx/bg.jpg);background-position:left top; background-repeat:repeat-x;}
#Header .headerinner{width:980px;padding:0px;margin:0px auto;overflow:hidden;line-height:30px;zoom:1;}
#Header .welcome{float:left;}
#SubNav{color:#666;display:block;overflow:hidden;float:right;}
#SubNav li{float:left;display:block;}
#SubNav a{color:#666;}
#SubNav a:hover{color:#c60d09;}
#Logo{float:left;margin-top:10px;margin-bottom:10px;}
.contact{float:right;margin-top:20px;margin-bottom:10px;}

.menu{width:100%;overflow:hidden;clear:both;background-image:url(http://img2.1dooo.com/img/shop_space/mghx/menubg1.jpg);background-position:left bottom; background-repeat:repeat-x;height:43px;}
.menu ul{font-size:14px;width:980px;overflow:hidden;display:block;margin:0px auto;}
.menu li{float:left;width:106px;line-height:43px;height:43px;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/bg5.gif);background-position:right top; background-repeat:no-repeat;padding:0px 16px;}
.menu a{width:106px;text-align:center;color:#fff;margin:0px;padding:0px;display:block;}
.menu a:hover , .menu .hover{font-weight:bold;color:#A20000;background-image:url(http://img3.1dooo.com/img/shop_space/mghx/menubg2.jpg);background-position:center top; background-repeat:no-repeat;}

#Con{width:980px;margin:15px auto 0px auto;padding:0px;overflow:hidden;}

#Footer{width:100%;background:#9A0C02;padding:15px 0px;overflow:hidden;margin:20px 0px 0px 0px;zoom:1;}
#Footer .footerinner{margin:0px auto 0px auto;width:980px;color:#fff;text-align:center;line-height:20px;}
#Footer a{color:#fff;}
#Footer a:hover{color:#333;}

.pages {clear: both;padding: 0px;margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;overflow: hidden;}
.pages .pagination{overflow:hidden;float:right;}
.pages .pagination .prev_page, .pagination a.prev_page{background-image: url(http://img1.1dooo.com/img/shop_space/mghx/arrow3.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;
width: 10px;float:left;text-indent:-9999em;margin-right:10px;border:none;margin-top:5px;cursor:pointer;	}
.pages .pagination .current, .pagination a{float:left;display:block;padding:0px;margin:0px;width:20px;text-align:center;height:20px;line-height:20px;margin-right:10px;color:#ABB1BD;}
.pages .pagination .current, .pagination a:hover{color:#44180F;border:1px solid #CC0001;font-weight:bold;float:left;width:18px;}
.pages .pagination .next_page, .pagination a.next_page{background-image: url(http://img2.1dooo.com/img/shop_space/mghx/arrow4.jpg);background-repeat: no-repeat;background-position: left top;height: 9px;width: 10px;float:left;text-indent:-9999em;border:none;margin-top:5px;cursor:pointer;}

