
<% form_for(@role) do |f| %>
  <%= f.error_messages %>
    <p>
    角色名称<br />
    <%= f.text_field :name %>
  </p>
  <p>
    职责说明<br />
    <%= f.text_field :duty %>
  </p>
  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>