
<%= form_for(@mcity) do |f| %>
    <p>
    城市名称<br />
    <%= f.text_field :name %>
  </p>
  <p>
    英文名称<br />
    <%= f.text_field :eng_name %>
  </p>
  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>