/* CSS Document */
.conleft{width:570px;float:left;}
.conright{width:382px;float:right;text-align:right;}
.conbottom{width:100%;overflow:hidden;clear:both;position:relative;height:92px;}

.dh{ padding:0px; margin:35px 0px 0px 0px;width:570px; height:310px; position:relative; overflow:hidden; }
.dh img{ width:570px; height:310px; position:absolute; top:0px; left:0px; }
.prevbtn{background-image:url(http://img1.1dooo.com/img/shop_space/yst/arrow3.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0}
.nextbtn{background-image:url(http://img2.1dooo.com/img/shop_space/yst/arrow4.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0;padding:0}
.dhnum{position:absolute;width:180px;bottom:5px;height:21px;right:-20px;z-index:2;}
.def{background-image:url(http://img3.1dooo.com/img/shop_space/yst/sign2.gif);background-repeat:no-repeat;background-position:left top;height:13px;width:13px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0}
.selected{background-image:url(http://img3.1dooo.com/img/shop_space/yst/sign.gif)!important}

.plane{display:block;overflow:hidden;position:absolute; width:1000px;}
.plane li{float:left;margin-right:14px;}

.plane2{width:100%;overflow:hidden;clear:both;margin-top:10px;}
.news{width:270px;float:left;}
.news ul{ clear:both; display:block;line-height:20px;margin-top:5px;}
.news li{background-image:url(http://img1.1dooo.com/img/shop_space/yst/sign3.jpg);background-repeat:no-repeat;background-position:4px 8px;display:block;clear:both;padding-left:15px;overflow:hidden;}
.news li a{float:left; width:200px; overflow:hidden; height:20px; color:#666;}
.news li span{float:right;color:#999;}
.news a:hover{color:#70a216 !important;}

.case{width:270px;float:right;}

.photoAlbum{width:270px;height:80px;overflow:hidden;zoom:1;margin:10px 0px 0px 0px;padding:0px;position:relative;}
.photoAlbum .pcont{width:100%;float:left;overflow:hidden;margin:0;padding:0}
.photoAlbum .ScrCont{width:10000%;zoom:1}

.photoAlbum .LeftBotton{width:15px;height:80px;position:absolute;left:0px;top:0px;z-index:100;}
.photoAlbum .LeftBotton a{display:block;width:15px;height:80px;background-image:url(http://img1.1dooo.com/img/shop_space/yst/clear.gif);}
.photoAlbum .LeftBotton a:hover{background-image: url(http://img3.1dooo.com/img/shop_space/yst/arrow.jpg);background-repeat: no-repeat;background-position: left center;}

.photoAlbum .RightBotton{width:15px;height:80px;position:absolute;right:0px;top:0px;z-index:100;}
.photoAlbum .RightBotton a{display:block;margin:0px;padding:0;width:15px;height:80px;background-image:url(http://img1.1dooo.com/img/shop_space/yst/clear.gif);}
.photoAlbum .RightBotton a:hover{background-image: url(http://img3.1dooo.com/img/shop_space/yst/arrow2.jpg);background-repeat: no-repeat;background-position: left center;}

.photoAlbum a.pl{float:left;overflow:hidden;display:block;}
.photoAlbum .pl img{width:130px;height:80px;margin-right:5px;}
.photoAlbum .pl span{display:block;margin:0;padding:0}
#List1_1, #List2_1 { float: left; }

