
.cover
  = link_to image_tag(object.cover.url), polymorphic_path(object)
.content
  = link_to object.title, polymorphic_path(object)
  = " updated by "
  = link_to subject.name, polymorphic_path([:profile, subject])


