		<div class="con">
			<div class="box1">
				<div class="menus">
					<span class="box1dot1"></span>
					<span class="box1dot2"></span>
					<span class="box1dot3"></span>
					<span class="box1dot4"></span>
					<span class="box1dot5"></span>
					<span class="box1dot6"></span>
					<span class="box1line1"></span>
					<span class="box1line2"></span>
					<span class="box1line3"></span>
					<span class="box1line4"></span>
					<span class="box1line5"></span>
					<span class="box1line6"></span>
					<a href="/shop3_photos" class="menu1">照片墙管理</a>
					<a href="/shop3_faqs" class="menu2">问答系统</a>
					<a href="/shop3_coupons" class="menu3">优惠券管理</a>
					<a href="/shop3_manage" class="menu4">商家设置</a>
					<a href="/shop3_login/gchat" class="menu5">聊天内容</a>
					<a href="/shop3_data" class="menu6">数据统计</a>
				</div>
				<div class="phone">
					<div class="title3"><h2><%= session_shop.name %></h2></div>
					<div class="imgbox">
						<img src="/newbackstage/images/pic7.png"/><img src="/newbackstage/images/pic8.png"/><img src="/newbackstage/images/pic7.png"/><img src="/newbackstage/images/pic8.png"/><img src="/newbackstage/images/pic9.png"/>
					</div>
					<div class="qa">
						<div id="QAC">
							<div class="mes">Hi~ 欢迎来到<%= session_shop.name %></div>
							<div class="shopanswer">
								<img src="/newbackstage/images/sign8.png" class="head"/>
								<div class="cons">
									<img src="/newbackstage/images/sign9.png" class="small_arrow"/>
									试试回复：<br/>01 => 脸脸茶坊介绍<br/>02 => 茶与春季养生<br/>03 => 茶坊WIFI密码<br/>04 => 今日特价茶饮<br/>05 => 特色小吃推荐
								</div>
							</div>
							<div class="mes">分享图片到新浪微博，文字中带有“好吃”的字样，即可得到“绿茶湖滨店”10元代金券</div>
							<div class="mes">Hi~ 欢迎来到绿茶餐厅湖滨店</div>
							<div class="shopanswer">
								<img src="/newbackstage/images/sign8.png" class="head"/>
								<div class="cons">
									<img src="/newbackstage/images/sign9.png" class="small_arrow"/>
									试试回复：<br/>01 => 脸脸茶坊介绍<br/>02 => 茶与春季养生<br/>03 => 茶坊WIFI密码<br/>04 => 今日特价茶饮<br/>05 => 特色小吃推荐
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="box2">
				<div class="title1"><h2>最新数据</h2></div>
				<div class="box2inner" id="Dn2">
					<div class="box2plane" style="top:0px;left:0px;" id="Dn2_b0">
						<a href="/newbackstage/data_statistics1.html#md0">
						<span class="uparrow">234</span>
						<span class="ws">今日签到</span>
						<ul class="list">
							<li><span class="l">赵海斌</span><span class="r gay1">10:20</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">9:23</span></li>
							<li><span class="l">jojo</span><span class="r gay1">6:30</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">5:56</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">5:23</span></li>
						</ul>
						</a>
					</div>
					
					<div class="box2plane" style="top:0px;left:209px;" id="Dn2_b1">
						<a href="/newbackstage/data_statistics1.html#md2">
						<span class="downarrow">112</span>
						<span class="ws">今日分享</span>
						<ul class="list">
							<li><span class="l">赵海斌</span><span class="r gay1">10:20</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">9:23</span></li>
							<li><span class="l">jojo</span><span class="r gay1">6:30</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">5:56</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">5:23</span></li>
						</ul>
						</a>
					</div>
					
					<div class="box2plane" style="top:0px;left:418px;" id="Dn2_b2">
						<a href="/newbackstage/data_statistics1.html#md1">
						<span class="uparrow">234</span>
						<span class="ws">今日优惠券下载量</span>
						<ul class="list">
							<li><span class="l">赵海斌</span><span class="r gay1">10:20</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">9:23</span></li>
							<li><span class="l">jojo</span><span class="r gay1">6:30</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">5:56</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">5:23</span></li>
						</ul>
						</a>
					</div>
					
					<div class="box2plane" style="top:0px;left:628px;" id="Dn2_b3">
						<a href="/newbackstage/data_statistics1.html#md1">
						<span class="downarrow">234</span>
						<span class="ws">今日优惠券使用量</span>
						<ul class="list">
							<li><span class="l">赵海斌</span><span class="r gay1">10:20</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">9:23</span></li>
							<li><span class="l">jojo</span><span class="r gay1">6:30</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">5:56</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">5:23</span></li>
						</ul>
						</a>
					</div>
				</div>
			</div>
			
			<div class="box2">
				<div class="title1"><h2>最近24小时数据统计</h2></div>
				<div class="box2inner2">
					<ul class="list">
						<li class="hover" onClick="Tag(this)">签到统计</li>
						<li onClick="Tag(this)">优惠券下载 / 使用统计</li>
						<li onClick="Tag(this)">分享统计</li>
					</ul>
					<div class="data" id="gvChartDiv1">
						<table id='MyTable1' style="display:none;">
							<caption></caption>
							<thead>
								 <tr>
									<th></th>
									<th>0时</th>
									<th>1时</th>
									<th>2时</th>
									<th>3时</th>
									<th>4时</th>
									<th>5时</th>
									<th>6时</th>
									<th>7时</th>
									<th>8时</th>
									<th>9时</th>
									<th>10时</th>
									<th>11时</th>
									<th>12时</th>
									<th>13时</th>
									<th>14时</th>
									<th>15时</th>
									<th>16时</th>
									<th>17时</th>
									<th>18时</th>
									<th>19时</th>
									<th>20时</th>
									<th>21时</th>
									<th>22时</th>
									<th>23时</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>人数/每时</th>
									<td>900</td>
									<td>600</td>
									<td>327</td>
									<td>359</td>
									<td>376</td>
									<td>398</td>
									<td>60</td>
									<td>50</td>
									<td>404</td>
									<td>700</td>
									<td>200</td>
									<td>500</td>
									<td>600</td>
									<td>327</td>
									<td>359</td>
									<td>376</td>
									<td>398</td>
									<td>60</td>
									<td>50</td>
									<td>404</td>
									<td>700</td>
									<td>200</td>
									<td>500</td>
									<td>700</td>
								</tr>
							</tbody>
						</table>						
					</div>
				</div>
			</div>
		</div>