/* CSS Document */
#Con .contop {width:810px;padding:0px;margin:0px auto;clear:both;height:310px;padding-bottom:2px;border-bottom:1px solid #BACF61;}

#Con .conmiddle{width:810px;height:177px;margin:12px auto 0px auto;padding:0px;overflow:hidden;background:url(/img/shop_space/yjhs/boxbg1.jpg) 0px 0px no-repeat;color:#999;}
#Con .conmiddle h2{font-size:16px;font-family:"微软雅黑";font-weight:normal;}
#Con .conmiddle a{color:#999;cursor:pointer;}
.plane{width:160px;padding:40px 20px 0px 20px;margin:0px;float:left;line-height:20px;}
.plane p{margin:8px 0px 5px 0px;padding:0px;}
#Con .conbottom{width:810px;margin:0px auto;padding:0px;overflow:hidden;color:#999;}
#Con .cbleft{width:450px;margin:0px;padding:0px;overflow:hidden;float:left;}
#Con .cbright{width:315px;margin:0px;padding:0px;overflow:hidden;float:right;}

.box1{overflow:hidden;margin-bottom:15px;color:#999;zoom:1;}
.box1 img.imgs{float:left;width:140px;height:90px;}
.box1 .con{width:300px;float:right;line-height:20px;}
.box1 .con h3{font-size:12px;margin-bottom:5px;}
.box1 .con h3 a{color:#999;}
.box1 .con h3 a:hover{color:#666;}
.box1 .con a{color:#ACCE22;}
.box1 .con a:hover{color:#666;}
.box1 .con2{margin-top:15px;line-height:20px;}

.dh{width:810px;height:310px;margin:0px;padding:0px;background:url(/img/shop_space/yjhs/loading.gif) no-repeat 50% 50%;overflow:hidden;position:relative;}
.dh img{width:810px;height:310px;position:absolute;top:0px;left:0px;display:none;}
.dh a{display:block;}
.dh a.nivo-imageLink{width:100%;height:100%;padding:0px;margin:0px;position:absolute;top:0px;left:0px;border:0;z-index:20;display:none;}
.nivo-slice{height:100%;display:block;position:absolute;z-index:10;}
.nivo-box{position:absolute;display:block;z-index:5;}

/**标题栏区域样式**/
.nivo-caption{background:#000;position:absolute;left: 0px;bottom: 0px;color:#fff;filter: Alpha(Opacity=80);opacity:0.8;z-index:30;padding:0px;margin:0px;width:100%;display:block !important;}
.nivo-caption p{font-size: 14px;padding:10px;margin:0px;}

/**导航箭头样式**/
.nivo-directionNav{display:block !important;}
.nivo-directionNav a{position:absolute;top:40%;z-index:30;cursor:pointer;display:block;width:26px;height:55px;background:url(/img/shop_space/yjhs/sign1.png) 0px 0px no-repeat;text-indent:-9999px;}
a.nivo-prevNav{left:15px;background-position:0px 0px !important;}/**左箭头**/
a:hover.nivo-prevNav{background-position:-53px 0px !important;}
a.nivo-nextNav{right:15px;background-position:-80px 0px !important;}/**右箭头**/
a:hover.nivo-nextNav{background-position:-27px 0px !important;}

/**导航栏样式**/
.nivo-controlNav{position:absolute;left:440px;top:330px;z-index:30;}
.nivo-controlNav a{width:22px;height:22px;float:left;background:url(/img/shop_space/space/sign4.png) no-repeat;text-indent:-9999px;margin-right:3px;display:block;cursor:pointer;}
.nivo-controlNav a.active{background-position:0 -22px !important;}
