<h1>聊天室内容审核</h1>
<table border="1">
  <tr>
    <th>商家</th>
    <th>用户</th>
    <th>时间</th>
    <th>内容</th>	

  </tr>

  <% @gchat_review.each do |gchat_review| %>
    <tr>
      <td><%= gchat_review.sid %></td>
      <td><%= gchat_review.uid %></td>
      <td><%= gchat_review.cat.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= gchat_review.txt %></td>
    </tr>
  <% end %>
</table>