<div class="con relative">
	<div class="title1 w720 m_auto"><h2 class="f18">商家主页头图管理</h2></div>
	<div class="box5 w720">
		<span class="gay6 l mt10">客户端商家主页头图，最多5张，最佳尺寸640 * 640</span>
		<a class="btn3 r" onclick="View()">预览</a>
		<a class="btn3 r mr20" href="#">排序</a>
		<span class="clear1"></span>
	</div>

	<div class="box5 box5change">
		<div class="box5img" rel=0>
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img" rel=1>
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img" rel=2>
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img" rel=3>
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img" rel=4>
			<img src="/newbackstage/images/pic6_1.jpg" class="pointer">
		</div>
	</div>
	<div id="ViewPic">
		<div id="DHImg" class="dhimg">
			<a><img src="/newbackstage/images/pic40.jpg"/></a>
			<a><img src="/newbackstage/images/pic41.jpg" /></a>
		</div>
		<div id="DHNum" class="dhnum"> 
			<a id="Prev" class="prevbtn" href="javascript:void(0)">左</a>
			<a class="def selected" href="javascript:void(0)" title="1"></a>
			<a class="def" href="javascript:void(0)" title="2"></a>
			<a id="Next" class="nextbtn" href="javascript:void(0)">右</a>
		</div>
	</div>
</div>
<script defer="defer">
  $(document).ready(function(){
    runing=$("#CB1").attr("class");
    if(runing=="checkboxs1"){
      NavDiv();
      $(window).load(function(){
        MessageDiv();
      });
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }
  });
</script>