<div class="con">
	<div class="title1 w720 m_auto"><h2 class="f18">商家主页头图管理</h2></div>
	<div class="box5 w720">
		<span class="gay6 l mt10">客户端商家主页头图，最多5张，最佳尺寸640 * 640</span>
		<a class="btn3 r" href="#">预览</a>
		<a class="btn3 r mr20" href="#">排序</a>
		<span class="clear1"></span>
	</div>
	<div class="box5 w720">
		<div class="box5img">
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img">
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img">
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img">
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
		<div class="box5img">
			<img src="/newbackstage/images/pic39.jpg">
			<span class="edit">修改图片</span>
			<span class="del">删除图片</span>
		</div>
	</div>
</div>

<script defer="defer">
  $(document).ready(function(){
    runing=$("#CB1").attr("class");
    if(runing=="checkboxs1"){
      NavDiv();
      $(window).load(function(){
        MessageDiv();
      });
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }
  });
</script>