<h1>举报用户</h1>

<table border="1">
  <tr>
    <th>名称</th>
    <th>被举报的人数</th>
    <th>详情</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.reports_s.count %></td>
      <td><%= user.reported_users.map{|ru| ru.try(:name)}.join(',') %></td>
    </tr>

  <% end %>
</table>
<br />

