@font-face{
	font-family: 'LatoBold';
	src: url(font-path('Lato-Bold.ttf')) format('turetype');

	font-family: 'LatoLight';
	src: url(font-path('Lato-Light.ttf')) format('turetype');

	font-family: 'LatoRegular';
	src: url(font-path('Lato-Regular.ttf')) format('turetype');

}
