.dash-wrapper{
  width: 90%;
  margin-left: auto;
  margin-right:  auto;
  margin-top: 43px;
  margin-bottom: 50px;

  span label{
    // label next to category checkboxes
    width: auto;
  }

  #datetimepicker{
    margin-left: 1.7%;
    input{
      margin-left: 0%;
    }
  }

  .checkbox{
    padding-right: 0.8em;
    float: right;
  }

  input[type="checkbox"]{
    margin-right: 0.1em;
  }

  .cke_chrome {
    width: 76% !important;
    overflow: hidden;
    display: inline-block;
  }

  .main-menu{
    margin-bottom: 50px;
    h2{
      margin: 0;
    }
  }

  .time-selector{
    width: 30%;
    display: inline;
  }
  .time{
    display: inline;
    width: 30%;
  }
}

#cover-image{
  width: 300px;
  margin-left: 14%;
}

.ckeditor{
  margin-left: 14%;
}

.white-background{
  background: white;
}

.edit-profile-title, .edit-intro-video{
  h4{
    margin: 0;
  }
  h3 {
    text-align: center;
  }
  padding-left: 1em;
}

.edit-profile-title{
  padding-top: 1em;
}

.article-content{
  .float-image{
    padding-left: 15px;
  }

  p{
    text-align: justify;
  }
}
img {
  max-width: 100%;
}
