.devise-style {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
  label{
    display: inline-block;
  }
}

.social-login{
  font-size: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

.devise-form{
    width: 295px;
    margin: 0 auto;
    margin-top: 2em;
    input[type='submit']{
      display: block;
      margin: 0 auto;
    }


    .terms-of-service{
      width: 310px;
      height: 3em;
      overflow: auto;
      padding: 1em 0.5em;
      margin: 0 auto;
      background-color: white;
      border: 1px solid #cccccc;
      p,ol{
        font-size: 0.7em;
        word-wrap: break-word;
      }
      p{
        text-indent: 1em;
      }
    }

    .check-box-wrapper{
      width: 200px;
    }
}

