.devise-style {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
  label{
    display: inline-block;
  }
}

.social-login{
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  img{
    width: 170px;
    height: 31px;
    margin-bottom: 3%;
  }
}

.devise-form{
    width: 295px;
    margin: 0 auto;
    margin-top: 2em;

    /* override bootstrap horizontal form */
    .form-horizontal .controls{
      margin-left: 74px;
    }
    .form-horizontal, .control-label{
      width: 67px;
    }
}

.form-horizontal{
  .password-setting-label{
    width: 653px;
  }

  .password-setting-control{
    margin-left: 678px;
  }
}

