.devise-style {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
  label{
    display: inline;
  }
}

.social-login{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  img{
          width: 45%;
  }
}

.devise-form{
    width: 220px;
    margin: 0 auto;

    .user_first_name, .user_last_name{
      display: inline-block;
      width: 50%;
      float: left;
    }  

    #user_first_name{
      width: 80%;
    }

    #user_last_name{
      width: 86%;
    }
    .user_email{
      clear: both;
    }
}
