#review-order{
	text-align: left;
	width: 50%;
	margin: 0 auto;

	.title {
		font-size: 30px;
		font-family: LatoBold;
		margin-bottom: 3%;

	}

	.content {
		// text-align: center;
		border: 4px solid #ffffff;

		.session-title {
			img {
				width: 50px;
				height: 50px;
				border-radius: 52px;
				margin: 10px;
				margin-top: 0px;
			}
			.primary-title {
				font-family: LatoBold;
				font-size: 25px;
				margin: 10px 0;
			}
			.second-title {
				font-family: Latoitalic;
			}
		} // session-title

		.body {
			margin: 10px;

			.order-info {
				margin-left: 20px;

			}
			.info-icon-bg {
				background-image: image_url("location_icon.png");
				background-repeat: no-repeat;
				margin-bottom:15px;
			}

			.beginning-date {
				background-position: 0 -40px;
			}

			.type {
				background-position: 0 -60px;
			}

			.price {
				background-position: 0 -80px;
			}

		}
	}
}
