#account{
  margin-top: 3em;
}


#account{
  #account-header{
    margin-top: 3em;
    margin-bottom: 0.5%;
    .header{
      font-family: LatoBold;
      font-size: 25px;
      text-align: left;
      margin-bottom: 0.5%;
    }
    .link{
      text-decoration: underline;
    }
  }

  #account-detail{
    border: 4px solid #ffffff;
    #hint{
      font-family: Latoitalic;
      color: #575757;
    }
  }
}


#paypal-register-button{
  width: 112px;
  height: 24px;
  border: white;
  background: image_url('paypal_button.png') no-repeat;
  background-color:white;
  margin-top: 1em;
}
