
@import "globals/variables";

.sub-wrapper{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: $shadow_param;

  margin: 0 auto;
}


.first-sub{
  margin-bottom: 30px;
}

.second-sub{
  margin-bottom: 10px;
}

.brief{
  width: 86%;
  background-color: white;
  padding: 15px;

  // brief
  .brief-item{
    display: inline-block;
    padding-right: 2em;
    .name{
      font-family: "Latobold";
      font-size: 14pt;
      color: #454545;
    }
    .title_company{
      font-family: "Latoreg";
      font-size: 11pt;
      color: #454545;
    }
    .job{
      font-family: "Latoreg";
      font-size: 9pt;
      color: #777;
    }
    .company, .personal, .twitter{
      font-family: "Latoreg";
      font-size: 9pt;
      color: #777777;
    }
    .company-value, .personal-value, .twitter-value{
      font-family: "Latoreg";
      font-size: 10pt;
      color: #454545;
    }
  }
  .brief-item-last{
    padding-right: 10px;
  }

  //avatar
  .avatar{
    float: left;
    vertical-align: baseline;
    text-align: center;
    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  //resume
  .resume{
    float: left;
    .title{
      font-size: 16px;
    }

    .light-font{
      padding-right: 24px;
    }
  }

  //contact
  .contact{
    float: right;
    position: relative;
    .contact-button{
      .favorite{
        margin-bottom: 5px;
        img{
          width: 20px;
          height: 20px;
        }
      }
      .left-side{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 90px;
        .fa-star:before, .fa-comments:before{
          margin-right: 0.5em;
        }
      }

      .right-side{
        background-image: none;
        background-color: white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 25px;
      }

      button{
        float: left;
        font-size: 13px;
        padding: 2px 8px;
        margin-bottom: 1em;
      }

      .dropdown-toggle{
        padding: 2px 4px;
      }
    }
    #follower-count{
      color: white;
      background: #8A2649;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: -6px;
      left: 12px;
      text-align: center;
      font-size: 12px;
      span{
        vertical-align: middle;
      }
    }
  }
}



.general-wrapper .detail{  /*todo .detail should be wrapped into its parent, in that way, it won't affect onther .details */
  width: 86%;
  .nav-tabs{
    a{
      margin-right: 0px;
    }
  }
  .nav{
    margin-bottom: 0;
    .tab{
      text-align: center;
      a{
        font-family: "Latobold";
        font-size: 12pt;
        color: #989898;
      }
    }
    .active{
      border-bottom: 2px solid #8a2649;
      a{
        color: #454545;
      }
    }
  }

  .tab-pane{
    background-color: white;
    padding: 10px 30px;
    .intro-video{
      padding-left: 20px;
      width: 320px;
      height: 180px;
    }

    p{
      margin-top: 10px;
      text-align: justify;
    }
  }
}



.sessions{
  box-shadow: none;

  #content .item{
    width: 280px;
  }
}

.consultation{
  margin-top: 5px;
  a {
    line-height: 1em;
  }
}
