@import "globals/variables";

.side-menu{
  -webkit-box-shadow: $shadow_param;
  box-shadow: $shadow_param;
  background: #ffffff;
  a{
    color: #888;
  }
  a:hover{
    text-decoration: none;
    color: #575757;
  }
  .expert-info{
    .expert-avatar{
      padding: 15px;
      float: left;
      img{
        width: 100px;
        height: 100px;
        border-radius: 52px;
      }
    }
    .expert-text-info{
      padding-top: 35px;
      padding-bottom: 15px;
      text-align: center;
      line-height: 1em;
      @media(max-width: 940px){
        text-align: center;
      }
      p{
        font-size: 14px;
        color: #777;
        font-family: Latoreg;
        margin: 0;
        line-height: 1;
        padding-bottom: 1px;
      }
      .expert-name{
        p{
          font-family: Oswaldreg;
          font-size: 19px;
					color: #333333;
          padding-bottom:5px;
        }
      }
      
      .edit-profile{
        p{
          font-size: 12px;
          line-height: 1.2em;
          a{
            font-size: 13px;
            color: #AAA;
          }
        }
      }
    }
  }

  .block-title{
    text-align: center;
    background-color: #dddddd;
    height: 2px;
    color: #dddddd;
    font-size: 18px;
    span{
      background-color: white;
      position: relative;
      top: -0.5em;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .toolkit{
    padding-left: 15px;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .item{
    margin-bottom: 10px;
    font-weight: bold;
    .item-icon{
      vertical-align: middle;
      display: inline-block;
      width: 25px;
      vertical-align: top;
    }
    .item-icon-selected{
      vertical-align: middle;
      display: inline-block;
      display: none;
      width: 25px;
      vertical-align: top;
    }

    .item-text{
      padding-left: 10px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      @media (min-width: 979px){
        max-width: 80%;
          a{
            font-size: 16px;
          }
        }
      @media (max-width: 979px) and (min-width: 480px){
        max-width: 70%;
          a{
            font-size: 13px;
          }
      }
    }
  }
}
.clear-fix{
  clear: both;
}
