html,body{
  height: 100%;
}


#wrap{
  width: 100%;
  min-height:100%;
  display: table;
}

#main{
  height: auto;
  margin: 0 auto -2em;
  width: 100%;
}

.block{
  display: table-row;
}

#footer{
  background: #ffffff ;
  height: 2em;
  width: 100%;
  -webkit-box-shadow: 0 -6px 12px rgba(170, 180, 190, 1);
  box-shadow: 0 -6px 12px rgba(170, 180, 190, 1);

  .links{
    margin: 0 auto;
    a{
      text-align: center;
      display: inline-block;
      margin-right: 20px;
      font-size: 14px;
      text-decoration: none;
      color: #575757;
     }
  }
}
