#footer{
  text-align: center;
  background: #ffffff ;
  width: 100%;
  -webkit-box-shadow: 0 -6px 12px rgba(170, 180, 190, 1);
  box-shadow: 0 -6px 12px rgba(170, 180, 190, 1);
  position: absolute;
  bottom: 0;
  z-index: 1000;
  font-size: 12px;
  $blue: #3bbfce;
  .links{
    margin: 13px auto 10px;

    a{
      text-align: center;
      display: inline-block;
			margin-top: 3px;
      margin-right: 20px;
      font-size: 22px;
      text-decoration: none;
      color: #575757;
     }

    .visible-desktop {

      .pull-left {
        margin-left: 40px;
        a {
          font-size: 17px;
          margin-right: 10px;
        }
        
      }

      .pull-right {
        margin-right: 40px;
      }
      img {
        width: 30px;
        height: 30px;
      }

      a{
        margin-top: 3px;
        margin: auto 1px;
        font-size: 12px;
      }
    }
  }

  #footer-select{
    width: 50%;
    margin: 0 auto;
  }
}
