#header {
  width: 100%;
  background: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 6px 12px rgba(170, 180, 190, 1);
  box-shadow: 0 6px 12px rgba(170, 180, 190, 1);

  #logo_container{
    #logo {
      max-width: 25%;
    }
  }

  #nav_container {
    margin-top: 1%;
    width: 100%;

    #nav_bar{
      padding: 0;
      margin: 0 auto;
      margin-bottom: 5px;

      .category{
        margin: auto;
        padding-right: 10px;
        display: inline-block;

        a{
          text-align: center; 
        }
        a:hover{
          cursor: pointer;
          text-decoration: underline; //#880848;
        }

        .subcategory{
          list-style-type: none;           
        }
      } /* end of category*/
    } /*end of nav_bar*/

  } /*end of nav_container in desktop*/

}  /*end of header*/
