#header {
  width: 100%;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(170, 180, 190, 1);
  box-shadow: 0 6px 12px rgba(170, 180, 190, 1);

  #logo_container{
    #logo {
      max-width: 25%;
    }
  }

  #nav_container {
    width: 100%;

    #nav_bar{
      padding: 0;
      margin: 0 auto;
      margin-bottom: 5px;

      .category{
        margin: auto;
        padding-right: 10px;
        display: inline-block;

        a{
          text-align: center; 
        }
        a:hover{
          cursor: pointer;
          text-decoration: underline; //#880848;
        }

        .subcategory{
          list-style-type: none;           
        }
      } /* end of category*/
    } /*end of nav_bar*/

    #pull{
      display: none; 
    }
  } /*end of nav_container in desktop*/


  @media screen and (max-width: 600px){
    #nav_container{
        margin-top: 3%;
        height: auto;
      #nav_bar{
        width: 100%;
        display: none; 
      }

      .category{
        display: inline;
        width: 100%;
        float: left;
        position: relative;
        text-align: left;
        text-indent: 5%;
        border-bottom: 1px solid #CCCCCC;
      }

      #pull{
        display: block;
        width: 100%;
        position: relative; 
        background-color: #fff;
      }
    }/*end of nav_container in 600px */
  }/*end of @media*/
}  /*end of header*/
