#header {
  min-width: 200px;
  width: 100%;
  -webkit-box-shadow: 0 6px 12px rgba(170, 180, 190, 1);
  box-shadow: 0 6px 12px rgba(170, 180, 190, 1);
  height: 118px;
  background: #fff;
  display: inline-block;
  margin-bottom: 50px;

  #logo {
    float: left;
    text-transform: lowercase;
    width: 328px;
    height: 68px;
    margin-top: 20px;
  }

  #user_status {
    float: right;
    height: 38px;
    margin-top: 40px;
    vertical-align: bottom;

      a{
        margin:0 5px auto;
        // font-size: 15px;
       	text-decoration: none;
       }
   }


   .clearfix:before,
   .clearfix:after {
     content: " ";
     display: table; 
   }

   .clearfix:after{
     clear: both; 
   }

   .clearfix{
     *zoom: 1; 
   }




   #nav_container {
     margin-top: 95px;
     height: 18px;
     width: 100%;
     position: relative;

     #nav_bar{
       padding: 0;
       margin: 0 auto;
       height: 18px;

       .category{
	 margin: auto;
	 padding-right: 10px;
         display: inline-block;
	 
	 a{
	   text-align: center; 
	 }
         a:hover{
           cursor: pointer;
           text-decoration: underline; //#880848;
	 }


	 .subcategory{
           list-style-type: none;
	  }
         .subcategory:hover{
          }

	} /* end of category*/
     } /*end of nav_bar*/
   
     #pull{
       display: none; 
     }
  } /*end of nav_container in desktop*/


  @media screen and (max-width: 600px){
    #nav_container{
      border-bottom: 0; 
    } 

    #nav_bar{
      display: none;      
    }

    #pull{
      display: block;
      width: 100%;
      position: relative; 
      background: #880848;
    }
  }/*end of nav_container in 600px */
}  /*end of header*/
