$shadow_param: 0 6px 12px rgba(170, 180, 190, 1);
.main_menu{
  -webkit-box-shadow: $shadow_param;
  box-shadow: $shadow_param;
  ul{
    margin-bottom: 0em;
  }

  .cards-header{
    width: 100%;

    .card{
      width: 33.33333333%;
      display: inline-block;
      border-bottom: 3px solid white;
      a{
        margin-right: 0;
      }
      a:hover{
        color: #575757;
      }
    }

    .card:hover{
      border-bottom: 3px solid #8a2649;
    }
  }


  .cards-body{
    .session-items{
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #ddd;
      .item{
        padding-top: 1em;
        .item-title{
          font-family: Latobold;
          font-size: 19px;
          color: #575757;
          padding-left: 1em;
        }
        .item-body{
          .cover, .statistic, .something{
            display: inline-block;
            vertical-align: middle;
            padding-left: 1em;
          }

          .social-share-icons{
            width: 130px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
