@import "globals/variables";

.side-menu{
  -webkit-box-shadow: $shadow_param;
  box-shadow: $shadow_param;
  background: #ffffff;
  .member-info{
    .member-avatar{
      padding: 15px;
      float: left;
      img{
        width: 100px;
        height: 100px;
        border-radius: 52px;
      }
    }
    .member-text-info{
      text-align: center;
      padding-top: 35px;
      padding-bottom: 15px;
      line-height: 1em;
      @media(max-width: 940px){
        text-align: center;
      }
      p{
        margin: 0;
        font-family: Latoreg;
      }
      .member-name{
        p{
          font-family: Oswaldreg;
          font-size: 16px;
          color: #333333;
        }
      }
      .edit-profile{
        p{
          line-height: 1.2em;
          a{
            font-size: 13px;
            color: #AAA;
          }
        }
      }
    }
  }
}
.clear-fix{
  clear: both;
}
