.main-menu{
  .recommendation{
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: rgb(136, 8, 72);
    font-size: 2em;
  }
  // expert page
  .expert-action-box{
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 210px;
    .expert-info{
      display: inline-block;
			text-align: center;
      width: 22%;
      max-width: 205px;
      max-height: 204px;
      .expert-avatar{
        padding: 8.68% 18.78% 1.64% 18.78%;
        img{
					width: 80px;
					height: 80px;
          border-radius: 50%;
        }
      }
      .expert-text-info{
        font-size: 14px;
        color: #777;
        font-family: Latoreg;
        margin: 0;
        line-height: 1;
        padding-bottom: 1px;

        width: 100%;
        text-align: center;
        // padding-bottom: 20px;
        .expert-name{
          font-family: 'Oswaldreg';
          font-size: 19px;
					color: #333333;
        }
      }
    }

    .expert-actions{
      float: right;
      display: inline-block;
      width: 77%;
      .expert-action-info{
        margin-right: 10px;
        .block-title{
          text-align: center;
          background-color: #dad5d5;
          height: 2px;
          color: #b1b1b1;
          font-size: 18px;
          margin-bottom: 10px;
          span{
            background-color: white;
            position: relative;
            top: -0.5em;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
        .recent-activity{
          width: 100%;
          height: 50px;
          .course-icon{
            float: left;
            img{
              width: 40px;
              height: 40px;
            }
          }
          .course-info{
            margin-left: 20px;
            float: left;
            .action{
              font-family: "Oswaldreg";
              font-size: 16px;
              float: left;
              padding-right: 5px;
            }
            .title{
              font-family: "Oswaldreg";
              font-size: 17px;
              float: right;
              color: #454545;
            }
          }
          .published-time{
            float: right;
          }
        }
      }
    }
    .follow-star{
      float: right;
      width: 20px;
      margin: 5px;
      cursor: pointer;
    }
  }

  .see-more{
    font-family: "Latoitalic";
    float: right;
    display: inline-block;
    width: 100%;
    text-align: center;
    a{
      color: #999898;
    }
  }
  
  // content
  .favorite-session-box{
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 240px;
		.favorite-session-cover{
			width: 28%;
			height: 75%;
			padding: 2% 2%;
			float: left;
      text-align: center;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
    .favorite-session-left{
      width: 28%;
      height: 75%;
      padding: 2% 2%;
      float: left;
      text-align: center;
      .cover{
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      .enroll-button{
        background-color: #8a2649;
        font-family: Latobold;
        width: 10em;
        text-align: center;
        margin: 0 auto;
        margin-top: 1em;
        padding: 0.3em 0.3em;
        color: white;
        a{  color: white;  }
      }
      .subscribed-button{
        background-color: #5A268A;
        font-family: Latobold;
        width: 10em;
        text-align: center;
        margin: 0 auto;
        margin-top: 1em;
        padding: 0.3em 0.3em;
        color: white;
        a{  color: white;  }
      }
      .video-img{
        position: relative;
        .play-video-icon{
          position: absolute;
          width: 20%;
          top: 40%;
          left: 40%;
          z-index: 10;
          cursor: pointer;
        }
      }
    }

    .favorite-session-info{
      width: 60%;
      height: 80%;
      float: left;
      padding-top: 1%;
      .favorite-session-main{
        height: 110%;
        .favorite-session-title{
          font-family: "Oswaldreg";
          font-weight: 400;
          font-size: 23px;
        }
        .favorite-session-expert-name, .favorite-session-categories{
          font-family: "Latoreg";
          color: #777;
          font-size: 13px;
        }

        .favorite-session-description{
          padding-top: 2%;
          p{
            margin: 0;
            font-family: "Latoreg";
            line-height: 1em;
          }
        }
      }
    }
    .favorite-social-share{
      float: right;
      width: 30px;
      padding-top: 5px;
      padding-right: 5px;
      img{
        margin-bottom: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }
}
