.simple_form{
  padding-top: 1em;
  padding-left: 1em;

  .input{
    padding: 0.5em 0;
  }

  label{
    display: inline-block;
  }

  input[type="checkbox"]{
    float: none;
  }

  .modal{
    width: 1100px;
    margin-left: -555px;
  }
  .modal-body{
    background-image: url(/assets/bg.jpg);
    max-height: 600px;
  }

  .modal.fade.in{
    top: 3%;
  }
}
