.content-modal-header-box{
  background: #ffffff;
  margin: 0 auto;
  @media (min-width: 767px){
    width: 65%;
    min-width: 317px; 
  }
  @media (max-width: 766px){
    width: 90%;
  }

  .content-modal-left-side{
    .content-modal-portrait{
      float: left;
      img{
        width: 76.4px;
        height: 76.4px;
        margin-top: 15.3px;
        margin-left: 15.3px;
        margin-bottom: 15.3px;
        }
    }

    .content-modal-expert-name{
      float: left;
      margin-left: 7.64px;
      margin-top: 76.4px;
      span{
        font-size: 12.2px;
        }
     }
  }
  .content-modal-right-side{
    @media (min-width: 767px){
      float: right;
    }
    @media (max-width: 766px){
      float: left;
    }
    .content-modal-social-buttons{
      margin: 15.3px;
      img{
        width: 22.9px;
        height: 22.9px;
      }
    }

    .content-modal-category-name {
      margin-top: 30.5px;
      margin-right: 15.3px;
      text-align: right;
    }
  }
}

.content-modal-article-box{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38.2px;
  margin-top: 7.6px;
  background: #ffffff;
  text-align: left;
  @media (min-width: 767px){
    width: 65%;
    min-width: 317px; 
  }
  @media (max-width: 766px){
    width: 90%;
  }

  .content-modal-title{
    padding-top: 11.4px;
    padding-left: 30.5px;
    padding-right: 30.5px;

    p{
      margin-bottom: 3.8px;
      // padding-bottom: 0px;
      font-family: Latoitalic;
      color: #777;
    }
  }

  .content-modal-image{
    padding-left: 30.5px;
    padding-right: 30.5px;
  }

  .content-modal-main-content{
    padding-left: 30.5px;
    padding-right: 30.5px;
    padding-bottom: 7.6px;
    p{
      text-indent: 0em;
      font-size: 12.2px;
      margin-top: 0px;
      padding-top: 3.8px;
      line-height: 1.4em;
    }
  }
}

