.provider{
  width: 30px;
  height: 30px;
  background-size: 100%;
}
.twitter_share{
  background-image: image-url('twitter_50_50.png');
}


.facebook_share{
  background-image: image-url('facebook_50_50.png');
}


.facebook_like_share{
  background-image: image-url('facebook_like_50_50.png');
}


.linkedin_share{
  background-image: image-url('linkedin_50_50.png');
}


.google_plus_share{
  background-image: image-url('google_plus_50_50.png');
}


.email_share{
  background-image: image-url('email_50_50.png');
}
