.general-wrapper{
  width: 79%;
  min-width: 300px;
  margin: 0 auto;
}

// add "center-container" to an element, then you can use "vertical-align: middle" to any of its inline child element
// "vertical-align" only works with table element or inline text/image element by default
.center-container:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}

// add "inline" class to a div, then it will be displayed as "inline-block"
// bootstrap deals with other elements with "inline", like ul.inline, .checkbox.inline
.inline{
  display: inline-block;
}

.hidden{
  display: none;
}

// simple way for file input not displaying "no file chosen"
input[type="file"]{
  width: 92px;
}

.margin-bottom{
  margin-bottom: 50px;
}

.shadow {
  box-shadow: 0 3px 8px #aab4be;
}

.hollow-star{
  cursor: pointer;
}
.solid-star{
  cursor: pointer;
}



/* displaying producers */
.producers{
  font-family: Latoitalic;
}

.shared-links{
  width: 280px;
}
