.simple_form{
  label{
    width: 7em;
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

  .customize-label{
    display: inline-flex;
  }

  .wider-input{
    width: 602px
  }

  .checkbox-align{
    padding-left: 112px;
  }

  .checkbox-label{
    width: 20em;
    text-align: left;
    margin: 2px 0 0 0;
  }
  
  .checkbox-input{
    margin: 0
  }

  .dashboard-buttons{
    margin-left: 10%;
    margin-bottom: 2em;
  }
}
