.static-pages-container{
  max-width:1110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  .static-pages-content{
    border: 3px solid #fff;
    padding: 15px 15px 5px;
    background: #e7e7e7;
    text-align: left;
  }

//  .static-pages-image{
//   width: 220px;
//    float: right;
//    margin-top: 60px;
//  }
}
