body {
  margin: 0;
  padding: 0;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 0.75em;//  12px;
  color: #444444;
  text-align: center;
  line-height: 1.125em;
  background: rgb(240,242,244);
}

#container {
  width: 93.561404%; //   64.561404%;
  margin: 0 auto;

  .item {
    box-shadow: 0 0.0625em 0.3125em -0.0625em rgba(170, 180, 190, 1); 
    width: 20.0em;//  21.052632%;
    text-align: center;
    margin-bottom: 2.3em;//  2.45614%;
    display: block;

    img {
      width: 100%;
    }
    
    p{
      font-size: 0.75em;
     }
  }
}
