// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controls {
display: inline-block;
}
.controls li {
margin-left: 20px;
display: inline;
cursor: pointer;
}
.controls li.active {
font-weight: 700;
}
#Grid {
width: 960px;
font-size: 0.1px;
margin: 0 auto;

  .column{
    vertical-align: top;
    width: 310px;
    display: inline-block;
  }

  .box {
    border-radius: 5px;
    box-shadow:2px 2px 3px #aaaaaa;
    margin-right: 10px;
    width: 300px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}

