@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;outline:none;}
body{background-color:#F7F0ED;position:relative;font:12px/1.5em Arial,Tahoma,Helvetica,snas-serif;}
ul,ol{list-style:none;}
img{border:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#f40;text-decoration:underline;}

.main{width:100%;height:100%;overflow:hidden;}


.con{width:100%;height:100%;position:relative;}

.con2{display:block;overflow:hidden;font-family:"微软雅黑";color:#666666;}
.con2 h2{display:block;font-size:34px;line-height:40px;color:#666666;font-weight:normal;text-shadow:1px 1px 1px #ccc;padding:15px 0px 15px 15px;}
.con2 h3{display:block;font-size:32px;line-height:40px;color:#666666;font-weight:normal;text-shadow:1px 1px 1px #ccc;padding:0px 0 0px 15px;}
.con2 p{font-size:26px;padding:0px 15px 15px 15px;line-height:40px;}



.con .logo{width:208px;height:270px;margin:15px auto 50px auto;background: url(../images/logo.png) center top no-repeat;overflow:hidden;position:relative;}
.con .logo .version{text-align:center;position:absolute;left:0px;bottom:0px;width:100%;font-family:"微软雅黑";font-size:20px;line-height:20px;color:#333;letter-spacing:1px;}
.con .captiontop, .con .captionmiddle, .con .captionbottom{width: 360px;padding:0px 0px 0px 40px;color:#5A6369;overflow: hidden;border-radius: 20px 20px 0px 0px;border: 1px solid #E5E0DE;font-family:"微软雅黑";font-size:15px;overflow:hidden;letter-spacing:1px;height:60px;line-height:20px;background:#fff url(../images/arrow1.png) 340px center no-repeat;margin:0px auto;}
.con .captionmiddle{border-radius:0px;}
.con .captionbottom{border-radius: 0px 0px 20px 20px;}
.con .captiontop a, .con .captionmiddle a, .con .captionmiddle2 a, .con .captionbottom a{padding:15px 0px;display:block;}


