/* CSS Document */
body{font-family: "宋体";font-size: 12px;margin:0px;padding:0px;outline:none;background:url(/img/shop_space/bcc/bg1.jpg) left top repeat;}
ul,li,h1,h2{margin:0px;padding:0px;}
ul{list-style:none}
img{border:none}
a{text-decoration:none}

.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1}
.clear1{clear:both;overflow:hidden;width:100%;height:0;zoom:1;}

.mt0{margin-top:0px !important;}
.mt7{margin-top:7px !important;}
.mt20{margin-top:20px !important;}
.mt55{margin-top:55px !important;}

.line1{border-top:1px solid #D3D4D6;width:100%;overflow:hidden;clear:both;zoom:1;height:0px;line-height:0px;}

.title1{margin:0px;padding:0px 0px 0px 10px;color:#151515; overflow:hidden;zoom:1;line-height:20px;}
.title1 h2{float:left;font-size:15px;font-family: "微软雅黑"; text-shadow:1px 1px 2px #888;}
.title1 a{float:right;font-size:12px;color:#333;margin-top:5px;}
.title1 a:hover{color:#0082cb;}

.title2{margin:0px;padding:0px 0px 0px 35px;font-size:12px; color:#333; overflow:hidden;zoom:1;line-height:30px;background:url(/img/shop_space/bcc/sign3.jpg) 10px 6px no-repeat;border-bottom:1px solid #E5E5E5;}
.title2 h2{float:left;font-size:12px;font-weight:normal;}

.title3{margin:0px;padding:0px;color:#666;overflow:hidden;zoom:1;line-height:20px;}
.title3 a{font-size:12px;color:#666;margin-top:5px;}
.title3 a:hover{color:#0082cb;font-weight:bold;}

.title4{overflow:hidden;font-family:"微软雅黑";font-size:14px;background-image: url(/img/shop_space/bcc/sign5.gif);background-repeat: no-repeat;background-position: 15px 3px;padding-left:25px;}
.title4 h2{font-size:13px;color:#666666;}

#MB{width:970px;margin:0px auto;padding:0px;position:relative;}

#Header{width:100%;margin:0px;padding:25px 0px 0px 0px;overflow:hidden;zoom:1;}
#Logo{float:left;margin:0px;padding:0px;}
#SubNav{}
#SubNav li{}
#SubNav a{}
#SubNav a:hover{}

.menu{font-family:"微软雅黑";font-size:13px;margin:0px;padding:0px;position:absolute;
right:0px;top:50px;}
.menu ul{display:block;zoom:1;float:right;_display:inline;}
.menu li{float:left;margin-right:30px;_display:inline;}
.menu li a:hover, .menu li a.hover{border-bottom:2px solid #D3D4D6;display:block;}
.menu li a{color:#333;padding:0px 5px 2px 5px;}

#Con{width:100%;margin:0px;padding:10px 0px 0px 0px;overflow:hidden;clear:both;zoom:1;}

/** 页码样式css **/
.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden; color:#6D6D6D;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .disabled{display:none !important;}
.pagination .prev_page{float:left;margin-right:10px;padding:0px;cursor:pointer;background-image:url(/img/shop_space/bcc/arrow1.gif);background-position:left top;background-repeat:no-repeat;width:14px;height:9px;text-indent:-9999em;display:block;}
.pagination .prev_page:hover{background-image:url(/img/shop_space/bcc/arrow3.gif);}
.pagination .next_page{float:left;margin:0px;padding:0px;cursor:pointer;background-image:url(/img/shop_space/bcc/arrow2.gif);background-position:left top;background-repeat:no-repeat;width:14px;height:9px;text-indent:-9999em;display:block;}
.pagination .next_page:hover{background-image:url(/img/shop_space/bcc/arrow4.gif);}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;line-height:9px;margin-right:10px;color:#6D6D6D;font-weight:bold;}
.pagination .current, .pagination a:hover{color:#0082cb;}
/** 页码样式css over **/

#Footer{clear:both;margin:0px 0px 40px 0px;padding-top:20px;text-align:center;color:#333;line-height:20px;width:100%;}
#Footer a{color:#333}
#Footer a:hover{color:#0082cb;}