body{font:12px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;line-height:1.6;}
select,input,textarea,button{font-size:12px}
body,form,h1,h2,h3,h4{margin:0;padding:0}
select,input{vertical-align:middle;}
img{border:0;}
ul,li{list-style:none;margin:0;padding:0;}

a:link,a:visited{color:#5B1201;text-decoration:none}
a:hover{color:#88250e;text-decoration:none}

.l{float:left}
.r{float:right}

body{background: url(../images/bg.jpg) repeat-x #f0edda;}

#wrap{margin:0 auto;font-size:12px;width:950px;color:#666666;background:transparent;}

/****#top*********/
#top{margin:0 auto;width:950px;font-size:12px;position: relative;}
.SubNav{width:260px;background:transparent;top:60px;right:10px;position:absolute;z-index:1;height:26px;}
.SubNav a{padding:0 4px}
/*****header*********/
#header{width:950px;height:105px;clear:both;margin:0 auto;position:relative;}
.logo{margin:0 auto;padding:25px 0 0 ;width:331px;}

/****menu********/
#menu{margin:0 auto;width:950px;position:relative;}
#menu .menu_body{width:950px;height:114px;background: url(../images/bg_menu.jpg) repeat-x;overflow:hidden;}
#menu .menu_left{width:85px;background:transparent;top:0px;left:-85px;position:absolute;z-index:1;height:114px;background: url(../images/bg_menu_l.jpg)}
#menu .menu_right{width:85px;background:transparent;top:0px;right:-85px;position:absolute;z-index:1;height:114px;background: url(../images/bg_menu_r.jpg)}
#menu .menu_body ul {padding:30px 0 0 80px;}
#menu .menu_body ul li{float:left;}
#menu .menu_body ul li a{background:transparent;float:left;color:#edead7;display:block;padding:0 35px;font-size:14px;text-decoration:none;}
#menu .menu_body ul li a:hover,#menu .menu_body .hover a{color:#fbc203;text-decoration:none;background:transparent;}

/****banner*********/
#banner{margin:0 auto;width:950px;position: relative;height:222px}
#banner img{position:absolute;z-index:1;}

/****main*********/
#main{margin:0px auto;padding:10px 0px;width:950px;text-align:left;}
div#mainleft {float:left;width:220px;overflow:hidden;background:transparent;padding:0;}
div#maincenter {float:left;width:730px;overflow:hidden;background:transparent;}
div#mainright {float:left;width:220px;overflow:hidden;background:transparent;padding:0;display:none;}

/*****BOX********/
.box{border: 1px solid #CCC;margin: 0 5px 10px 5px;background: #fbfaf6;color:#4a4019}
.box_title{background:url(../images/bg_boxtitle.jpg) repeat-x;padding:2px 15px 0px 15px;height:34px;}
.box_title h3{font-weight:bold;line-height:34px;font-size: 15px;color:#5b1201;}
.box_title  .r a{font-weight:normal;color:#999;line-height:34px;}

.box_content{overflow:hidden; zoom:1;padding:8px;}
.box_bottom{}

.box_content ul{list-style:none;margin:0;padding:0;}
.box_content ul li{}

/*****ABOUT********/
.about{padding:2px 7px}
.about ul{margin:6px 0 0}
.about ul li {background: transparent;}

/*****friends*********/
.friends{float:left;text-align:center;margin: 4px 8px;width:48px;display:inline;}
.friend_img{margin:2px auto;width:48px;height:48px;overflow:hidden;}
.friend_name{display:block;height:18px;overflow:hidden;}
.friend_img img{width:48px;height:48px}
/*****news*********/
.news_content ul{padding:0 10px 0 5px}
.news_content ul li{background:url(../images/sign3.jpg) no-repeat 4px 11px;padding:0 0 0 15px}
.news_content ul li a{line-height:25px}
.news_content span{color:#918a71;line-height:25px}
/*****photo*********/
.photo{float:left;text-align:center;margin: 8px 11px;width:95px;display:inline;}
.photo_img{margin:2px auto;width:95px;height:88px;overflow:hidden;}
.photo_name{display:block;height:18px;overflow:hidden;}
.photo_img img{width:95px;height:88px}
/*****dis*********/
.red{color:red}
.dis_photo{width:190px;height:110px;margin:5px 0}
.dis{padding:0 8px;width: 190px;float: left;margin: 0 10px;}

/****foot*********/
#foot{margin:0 auto;width:950px;height:50px}
.footer_body{width:490px;margin:0 auto}


/*主动画*/
.dh{width:950px;height:217px;overflow:hidden;zoom:1;margin:20px auto 0px auto;padding:0px;position:relative;background-image: url(../images/bg2.jpg);background-repeat: no-repeat;background-position: center top;}
.dh img{ width:920px; height:185px; position:absolute; top:13px; left:15px; }
.prevbtn{background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:left top;height:30px;width:31px;text-indent:-999999px;;margin:0px;padding:0px; position:absolute; z-index:10; top:90px; left:0px;cursor:pointer;}
.nextbtn{background-image:url(../images/arrow2.gif);background-repeat:no-repeat;background-position:left top;height:30px;width:31px;text-indent:-999999px;margin:0px; padding:0px; position:absolute; z-index:10; top:90px; right:0px;cursor:pointer;}
.dhnum{position:absolute;width:125px;bottom:30px;height:21px;right:20px;z-index:2;}
.def{background-image:url(../images/abg2.png);background-repeat:no-repeat;background-position:left top;width:16px;height:16px;line-height:16px;float:left;margin:0 7px 0 0;padding:0;font-weight:bold;text-align:center;color:#583821 !important;font-size:14px;}
.selected{background-image:url(../images/abg1.png)!important;color:#fff !important;}
/*主动画over*/


