BODY {FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif}
img{ border:none;}
.w960{width:432px;height:auto;display:block;overflow:hidden;margin:0 auto;}
#BannerArea{HEIGHT: 246px;position:relative;}
#pic img{width:432px;HEIGHT: 246px;}
#pic{WIDTH: 100%;height:245px;OVERFLOW: hidden}
#img_text{bottom:0;position:absolute;width:100%}
ul#play {
	FLOAT: right;
	display:inline;
	list-style-type: none;
	width: 150px;
}
ul#play LI {
	color:#FFFFFF;FONT-WEIGHT:bold;FLOAT: left;MARGIN-LEFT: 5px; display:inline;WIDTH:25px;CURSOR:pointer;LINE-HEIGHT:26px;HEIGHT:26px;TEXT-ALIGN:center;}
.img_switch_vdoing {DISPLAY: inline; WIDTH: 432px; HEIGHT: 35px}
#swf-top-yj{HEIGHT:7px; width:100%;display:block;position:absolute;top:0px; left:0px;
