/* CSS Document */

#ConLeftTab {
	color:#999999;
	width: 100%;
}

#ConLeftTab a{
	color:#999999;
	margin-left:5px;
	margin-right:5px;
}
#ConLeftTab a:hover{
	color:#fd8703;
}
#ConLeftTab a.link2 { color:#fd8703; }
.formtext {
	line-height: 25px;
	background-color: #FFFFFF;
	width: 112px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d3d6cb;
	border-right-color: #f2f2f2;
	border-bottom-color: #f2f2f2;
	border-left-color: #d3d6cb;
	color: #999;
	height: 25px;
}
.formsub {
	line-height: 23px;
	color: #333;
	background-image: url(/img/shop_space/button.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 23px;
	width: 44px;
	border:none;
	background-color: transparent;
}
.pal {
	margin: 0px;
	clear: both;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 15px;
	overflow: hidden;
	background-image: url(/img/shop_space/dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.pal h2 {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	background-image: url(/img/shop_space/sign.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	height: 23px;
	line-height: 23px;
}
.pal a {
	color: #0082cb;
	margin-right: 5px;
	margin-left: 5px;
}
.pal a:hover {
	color: #fd8703;
}
.pal .palcon {
	line-height: 20px;
	
	color:#333;
	font-size:14px;
	margin:0px 0px 0px 30px;
}
.pal .palcon img {
	
}
.pal .palcon p {
	display: inline;
}
.palcoupon ul {
	background-image: url(/img/shop_space/bg1_top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 474px;
	padding-top: 25px;
}
.palcoupon {
	background-image: url(/img/shop_space/bg1_bottom.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px;
	width: 474px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.palcoupon li {
	background-image: url(/img/shop_space/bg1_center.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	width: 444px;
	padding-right: 10px;
	padding-left: 20px;
	line-height: 20px;
	color: #666;
}
.palcoupon dl {
	display: block;
	overflow: hidden;
	zoom:1;
	border: 1px solid #d5d5d5;
	width: 300px;
}
.palcoupon dt {
	float: right;
	width: 182px;
}
.palcoupon .dd_img {
	width: 102px;
	float: left;
	overflow: hidden;
	display: block;
	padding: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d5d5d5;
	margin-right:10px;
	height:97px;
	zoom:1;
	
}
.palcoupon .dd_img img {
	height: 97px;
	width: 102px;
}
.palcoupon .dd_link {
	float: right;
	padding-right: 10px;
	padding-top: 2px;
}
.palcoupon .dd_link a {
	background-image: url(/img/shop_space/bg_couponbox.gif);
	background-repeat: no-repeat;
	background-position: -48px top;
	height: 20px;
	width: 73px;
	display: block;
	text-indent: -999999px;
}
.palcoupon dd {
	float: left;
}
.palcoupon .li_div {
	display: block;
	padding: 0px;
	clear: both;
	overflow: hidden;
	width: 100%;
	text-align: right;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #666;
}
.palcoupon .li_div a {
	margin-right: 0px;
	margin-left: 0px;
}

