/******************************** Basic Structure ********************************/
body,p,td,pre,dl,dt,dd,div,label{font:12px/1.5 Tahoma,Helvetica,Arial,宋体,sans-serif;margin:0;padding:0}
body{padding:0px;margin:0px;}
ul,li{list-style-position:outside;list-style-type:none}
img{border:none;}
h3{font-size:12px}
h3.comments_list{width:100%;clear:both}
h4.comments_list{font-size:14px;color:#505050;width:100%;clear:both;margin:20px 0}
.top{vertical-align:top}
.right{text-align:right}
.center{text-align:center}
.w150{width:150px}
a{color:#ff9700;text-decoration: none}
.orange{color:#F60}
.orange2{ color:#ff9700;}
.orange_bold{color:#F63;font-weight:700}
.gray{color:#666}
.bold{font-weight:bold;}
.clear{clear:both;width:100%;line-height:0px;overflow:hidden;zoom:1;}
.f12{ font-size:12px;}
.mlr5{ margin-left: 5px; margin-right: 5px; }
#Header .menu{background-image:url(http://img2.1dooo.com/img/shop_space/main.png);background-repeat:no-repeat;overflow:hidden;zoom:1;clear:both;
background-position:center 0;height:39px;}
#Header .menu .hot{width:25px;top:2px; left:595px; position:absolute;clear:both; float:none;zoom:1;display:inline !important;}
#Header .menu .new{width:25px;display:inline !important; top:2px; left:490px; position:absolute;clear:both; float:none;zoom:1;}
#Con .pagination{text-align:right;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;padding:20px;color: #333;}
#Header .menu ul{width:930px;margin:0 auto;padding:2px 0 0 80px;overflow:hidden;zoom:1;position:relative;}
#Header .menu ul li{float:left;width:110px;height:30px}
#Header .menu ul li a{font-family:微软雅黑;font-size:14px;line-height:30px;text-decoration:none;color:#666;text-align:center;height:30px}
#Header h1{float:left;padding:25px}
#SubNav{text-align:right;color:#6f6f6f;position:relative;right:0;width:930px;height:120px;margin:0 auto}
#SubNav li { float: left; }
#SubNav a{color:#6f6f6f;font-size:12px;line-height:30px;text-decoration:none;padding:0 3px}
#Header{text-align:center;min-width:1007px;background-repeat:no-repeat;background-position:center 0;height:157px;margin:0 auto}
#MB{width:985px;position:relative;margin:0 auto;padding:10px 0 0}
#MB #Con{width:890px;float:left}
#MB .quick_menu{float:right;position:absolute;right:18px;top:0;background-image:url(http://img3.1dooo.com/img/shop_space/ad2.jpg);background-repeat:no-repeat;background-position:0 0;height:321px;width:75px;margin:0;padding:6px 0 0}
.quick_menu p a{font-size:12px;line-height:18px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFF}
.quick_menu ul{height:190px;float:left;display:inline;margin:16px 0 0 10px}
.quick_menu ul li{float:left;padding:1px 0}
.quick_menu img{border:1px solid #D2D2D2}

.carte_body{overflow:hidden;padding:0px;margin:0x;clear:both;}


.carte{background-image:url(http://img3.1dooo.com/img/shop_space/carte.jpg);background-repeat:no-repeat;height:331px;width:215px;float:left;background-position:right}
.carte_title{width:100%;float:left;height:30px;cursor:pointer}
.carte_sactive{margin:0px;padding:0px;height: 295px;overflow:hidden;float:left;}

.carte_title .hover{background-image:url(http://img3.1dooo.com/img/shop_space/cartetitle2.jpg);height:26px;width:97px;font-size:14px;line-height:26px;text-decoration:none;text-align:center}
.carte_title ul li{background-image:url(http://img2.1dooo.com/img/shop_space/cartetitle1.jpg);height:26px;width:97px;font-size:14px;line-height:26px;text-decoration:none;text-align:center;float:left;display:inline;margin:0 0 0 1px}
.carte_title ul{float:right;padding:0 0 0 16px;margin:0px;display:block;overflow:hidden;zoom:1;}
.carte .carte_img { margin: 0px 0 0 32px; width:169px; padding:0; height:70px; color:#5c5c5c; }
.carte_img img{ border:none; }
.carte_img a{ text-decoration:none; }
.carte_img .headimg { height: 64px; width: 64px;padding: 1px;border: 1px solid #dadada;margin-right:5px;margin-bottom:5px;display:block; }
.carte .carte_script{font-size:12px;line-height:22px;font-weight:400;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000;padding: 0px 10px 0px 33px}

.carte .carte_script a{color:#047cc1}
.carte_sactive ul{clear:both;display:block;overflow:hidden;margin:0px 0px 0px 35px;zoom:1;}
.carte_sactive ul li a{color:#f60}
.carte_sactive li{border-bottom:1px dashed #666;line-height:20px;background-image:url(http://img3.1dooo.com/img/shop_space/sactive.jpg);background-repeat:no-repeat;background-position:3px 8px;width:140px;padding:5px 0 2px 22px;margin:0px;display:block;}
.carte_sactivewh li{height:120px;width:182px}
.carte_sactive_list{float:left;width:200px;text-align:right;padding:5px 0 0}
#ConLeft{width:215px;float:left;}
.ad {clear: both;}
.ad img{padding:0px; margin:0px;zoom:1;display:inline; _width:197px;}
.dh {width: 430px;overflow: hidden; float:left; margin:0px 10px;position:relative;}
.dh .container, .container *{margin:0; padding:0;}
.dh .container{ width:430px; height:331px;margin:0px;padding:0px;overflow:hidden;zoom:1; }
.dh .palslider{ position:relative;width:426px; height:243px;padding:1px;border: 1px solid #ccc;overflow:hidden;z-index:5; }
.dh .slider{position:absolute;z-index:1;}
.dh .slider li{ list-style:none;display:inline;}
.dh .slider img{ width:430px; height:242px; display:block;padding-top:1px;}
.dh .slider2{width:2150px;}
.dh .slider2 li{float:left;}

/**.dh .num{ position:absolute; top:0px; padding:0px; margin:0px; width:105%;}
.dh .num li{ float: left;text-align: center;cursor: pointer;margin: 0px 10px 0px 0px;padding:6px 0px 0px 0px;width: 100px;
display:block;overflow: hidden;zoom:1; }
.dh .num li .m{ margin-right:0px;float:right; }
.dh .num li img{ width: 96px;height: 59px;padding:1px;border: 1px solid #aaa;filter:alpha(opacity=50);opacity:0.5; }
.dh .num li.on {
	background-image: url(../images/pointer.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
.dh .num li.on img{ padding:1px 1px 1px 1px; filter:alpha(opacity=100);opacity:1;opacity:100;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;
border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #FF7300;
border-right-color: #FF7300;border-bottom-color: #FF7300;border-left-color: #FF7300; }**/

.dh .num{ position:absolute; top:222px; left:341px; padding:0px; margin:0px; width:105%;z-index:10;}
.dh .num li{ float: left;text-align: center;cursor: pointer;margin: 0px 10px 0px 0px;padding:6px 0px 0px 0px;width: 10px;
display:block;overflow: hidden;zoom:1;height:10px;background-image: url(http://img3.1dooo.com/img/shop_space/sign6.png);
background-repeat: no-repeat;background-position: center top; }
.dh .num li a{display:block;margin:0px;padding:0px;overflow:hidden;}
.dh .num li.on {background-image: url(http://img3.1dooo.com/img/shop_space/sign5.png);background-repeat: no-repeat;background-position: center top;}

.dh .adimg{ display:block;margin:0px;padding:0px;overflow:hidden;width:100%;margin-top:5px; }
.dh .adimg li{float:left;margin:0px;padding:0px;overflow:hidden;zoom:1;}

.store_new_title span{float:right;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px}
.store_new_title h2{font-size: inherit;font-weight: normal}
.store_new_title a{text-decoration:none;color:#9f9f9f;font-size:10px}
.store_new_title{width:180px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#9f9f9f;font-size:14px;line-height:25px;text-decoration:none;color:#2d2d2c;margin:0 auto;padding:5px 0 0}
.store_new1 li{line-height:22px;background-image:url(http://img3.1dooo.com/img/shop_space/piont.png);background-position:3px 5px;background-repeat:no-repeat;overflow:hidden;width:180px;height:22px;padding:0 0 0 13px;}
.store_new1 .smile{background-image:url(http://img3.1dooo.com/img/shop_space/smile.png);background-position:0 center;background-repeat:no-repeat;overflow:hidden;height:22px;width:155px;padding:0 0 0 15px}
.store_new1 ul li a{float:left;font-weight:400;color:#525c65;text-decoration:none;width:108px;}
.store_new1 ul li span{float:right;}
.store_new .store_new1 ul{margin:0 0 5px;padding:5px 0 0 0px}
.store_new .appraisal{background-image:url(http://img1.1dooo.com/img/shop_space/appraisal.jpg);background-repeat:no-repeat;height:77px;width:170px;margin:0 0 10px;padding: 24px 10px 0px 26px;overflow: hidden;}
.appraisal .appraisal_top{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;color:red;text-decoration:none;text-align:right;padding:3px 10px 0 0}
.store_new .appraisal p{padding:25px 20px 0 25px}
.store_new .appraisal span{padding:0 3px 0 0;line-height: 20px;}
.store_new .store_new1{background-image:url(http://img3.1dooo.com/img/shop_space/new.jpg);background-repeat:no-repeat;height:218px;width:206px}
.store_new .appraisal a{line-height:22px;padding:0 5px 0 4px}
#MB #Con #photo{width:640px;border:5px solid #e2e2e2;text-align:center;line-height:22px;float:left;margin:20px 0 0 10px;padding:0}
#photo a{font-size:14px;color:#747474;text-decoration:none;display:block;overflow:hidden;zoom:1;}
#photo .img1{float:left;overflow:hidden;zoom:1;display:inline;margin:135px 0 0 9px}
#photo .img2{float:right;overflow:hidden;zoom:1;display:inline;margin:135px 9px 0 0}
#photo span{display:block; font-size:12px; margin:0px; padding: 0px; text-align:center;}
.Cont1{width:600px;float:left;overflow:hidden;zoom:1;display:inline;margin:10px 20px;}
.ScrCont1{width:1000000px}
.Cont1 ul li{float:left;display:inline;margin:5px 10px 5px 10px;padding:0;width:100px;height:135px;overflow:hidden;zoom:1;}
#pic3,#pic4{float:left;display:block;width:600px;height:284px;list-style:none;margin:0;padding:0}
#pic3 a .imgs,#pic4 a .imgs {border:1px solid #aaaaaa;}
.aboutus_photo{width:664px;float:left;position:relative;height:140px}
.aboutus_photo ul{position:absolute;width:600px;top:10px;margin:0 0 0 30px;padding:0 0 0 15px}
.aboutus_photo .photo_leftbar{position:absolute;left:15px;top:45px;height:44px;width:11px}
.aboutus_photo .photo_rightbar{position:absolute;top:45px;height:44px;width:11px;left:635px}
.aboutus_photo li{float:left;text-align:center;padding:15px 10px}
.aboutus_photo a{font-size:14px;line-height:22px;color:#747474;text-decoration:none}
.aboutus_photo .photo_img{border:1px solid #dadada}
.news_list{float:left;width:661px;min-height:286px;overflow:hidden}
.news_list ul{padding:20px 0 0}
.news_list li{background-image:url(http://img3.1dooo.com/img/shop_space/list.jpg);background-repeat:no-repeat;height:35px;width:661px;font-size:12px;line-height:35px;color:#676565;overflow:hidden;padding:3px 0}
.news_list a{font-size:14px;line-height:35px;color:#676565;text-decoration:none;width:390px;height:35px;font-family:微软雅黑;padding:0 0 0 65px}
.news_list span{float:right;width:170px;padding:0 10px}
.aboutus_news {width:95%;min-height:423px;overflow:hidden;float:left;padding:10px;zoom:1;}
.aboutus_news .pic{display:block;text-align:center;margin:0 5px 0 10px;padding:0}
.aboutus_news .pic img{border:1px solid #c8c8c8;padding:2px}
.aboutus_news .pic h1{font-size:14px;font-family:微软雅黑;color:#666;float: left;display:block;}
.aboutus_news .pic span{color: #999;display: block;float: right;font-size: 12px;padding: 10px 0px 0px;text-align: right;}
.aboutus_news h1{text-align:center;font-size:16px;font-weight:700;line-height:25px;font-family:微软雅黑;padding:10px}
.aboutus_news p{line-height:24px;font-weight:400;color:#6f6f6f;text-decoration:none;text-align:justify;padding:0 20px}
.news_photo_foot{background-image:url(http://img1.1dooo.com/img/shop_space/title3.png);background-repeat:repeat-x;height:38px;float:left;width:640px;background-position:center;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:silver;border-bottom-color:#c6c6c6;margin:10px 0 0;padding:0 20px 0 0}
.title_foot{background-image:url(http://img3.1dooo.com/img/shop_space/title2.png);background-repeat:repeat-x;height:36px;float:left;width:640px;margin:10px 0 0;padding:0 20px 0 0}
.title_foot a{font-size:14px;color:#000;line-height:36px;float:right;padding:0 15px 0 5px}
.main_title{background-image:url(http://img3.1dooo.com/img/shop_space/title.jpg);height:34px;width:641px;padding:15px 10px 5px 10px;margin:0px;overflow:hidden;zoom:1;}
#aboutus{float:left;width:665px;padding:0px 0px 0px 10px;}
.main_title img{vertical-align:middle}
.main_title h1{float:left;font-size:15px;line-height:24px;font-weight:700;text-decoration:none;color:#1d1d1d;height:24px;font-family:微软雅黑;padding:0 0 0 8px}
.main_title h1 a{font-size:15px;line-height:24px;font-weight:700;text-decoration:none;color:#1d1d1d;font-family:微软雅黑;}
.main_title span{font-size:12px;text-decoration:none;float:right;line-height:24px;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:700;color:#767676;height:24px;padding:0 40px 0 0}
.news_photo{float:left;margin:10px 0 0}
.news_photo img{width:661px;height:209px}
#coupon{width:865px;height:230px;background-image:url(http://img1.1dooo.com/img/shop_space/ad3.jpg);background-repeat:no-repeat;margin:10px 10px 10px 15px}
#coupon .coupon_title{width:100%;height:72px}
#coupon .img1{float:left;margin:40px 0 0 38px;_margin-left:39px;padding:0;display: inline;}
#coupon .img2{float:right;margin:40px 37px 0 0;_margin-right:34px;padding:0;display: inline;}
.Cont{width:705px;float:left;position:relative;overflow:hidden;margin:0;padding:0}
.ScrCont{width:10000000px}
.Cont .box{width:298px;float:left;position:relative;background-color:#fff;list-style:none;display:inline;border:1px #D5D5D5 solid;margin:0 30px 0 25px;padding:0}
#pic1,#pic2{float:left;display:block;list-style:none;margin:0;padding:0}
#coupon .box .new{background-image:url(http://img1.1dooo.com/img/shop_space/bg_couponbox.gif);background-repeat:no-repeat;background-position:-5px -5px;width:35px;height:35px;position:absolute;top:0;left:263px;margin:0;padding:0}
#coupon .box .coupon_photo{float:left;border-right:1px #D5D5D5 solid;text-align:center;overflow:hidden}
#coupon .box .coupon_photo img{width:102px;height:97px;padding:2px}
#coupon .box dl{float:left;color:#666;width:185px;margin:5px 0 0 5px}
#coupon .box dl dt a{width:180px;color:#f60;font-weight:700;white-space:nowrap;display:block}
#coupon .box dl dd input.download{}
.box .ddplane{text-align:right;padding:5px 5px 0 0}
.box .ddplane a{ color:#F60;width:75px;height:16px;border:0;background-image:url(http://img1.1dooo.com/img/shop_space/bg_couponbox.gif);background-repeat:no-repeat;background-position:-48px 0;cursor:pointer;float:right;display:block;}
#reviews{width:870px;margin:10px 0 0 8px;clear:both;}
#reviews .reviews_left{height:600px;width:240px;float:left}
#reviews .reviews_left .ad{margin:5px 0 0}
#reviews .reviews_left .ad a{float:right;padding:5px 0 0}
#reviews .reviews_left .ad img{height:82px;width:230px}
.avatar{border:7px solid #E8E8E8;width:216px;height:320px;margin:10px 0 0 10px}
.avatar .avatar_title{height:30px;width:100%;float:left;background-image:url(http://img3.1dooo.com/img/shop_space/avatar_title.jpg);background-repeat:no-repeat;background-color:#e9e9e9}
.avatar ul{float:left;width:206px;display:inline;margin:5px 0 0 8px;padding:0px;line-height:20px;}
.avatar li{text-align:center;float:left;overflow:hidden;width:55px;padding:4px 5px 5px;height:86px;}
.avatar a{font-size:12px;font-weight:400;color:#FE972F;text-decoration:none;display:block;}
.avatar img{height:50px;width:50px;border-style:none}
#reviews .reviews_right{float:right;width:610px;display:inline;zoom:1;overflow:hidden;margin:10px 0 0;padding:0}
#t_pl_picyure{width:56px;float:left}
#t_pl_picyure img{width:50px;height:50px;border:1px solid #C5C5C5;padding:2px}
#t_pl_picyure h2{display:block;width:54px;font-size:12px;font-weight:400;text-align:center;word-wrap:break-word}
#pl-content{width:534px;float:left}
#pl-content p{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;line-height:22px;color:#333;text-decoration:none;padding:0 0 6px 12px}
#pl-content span{float:right;color:#8b8888}
#pl-content a{background-image:url(http://img3.1dooo.com/img/shop_space/btn.png);background-repeat:no-repeat;height:22px;width:37px;font-size:12px;line-height:22px;padding:2px 7px 0}
#group_fbpl{position:relative;width:605px;background-color:#f3f3f3;border:1px solid #b5b8c8;float:left;overflow:hidden;zoom:1;margin:15px auto 0;padding:0}
#group-user-name{width:575px;color:#666;height:19px;background:url(http://img3.1dooo.com/img/tuangou/group-user-name.jpg) left top repeat-x;border-bottom:1px solid #fff;padding:7px 15px 0}
#group-user-name span{color:#929292;display:block;width:200px;float:left;line-height:14px}
#group-user-name a{display:block;color:#666;text-decoration:none;float:right;overflow:hidden;zoom:1;line-height:14px;margin:0 10px 0 0}
#group-user-name a:hover{text-decoration:underline;color:#333}
#pl_group{height:24px;color:#333;font-weight:700;padding:0}
#comment_nic_name{font-size:14px;color:#000;background:#fff url(http://img2.1dooo.com/img/tuangou/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;height:20px}
#captcha{font-size:14px;color:#000;background:#fff url(http://img2.1dooo.com/img/tuangou/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8}
#body_id{clear:both;width:367px;height:140px;font-size:14px;color:#000;background:#fff url(http://img2.1dooo.com/img/tuangou/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;margin:10px 0 0 10px;padding:0}
#pl_biaoqing{position:absolute;left:396px;top:37px;width:200px;padding-left:2px;height:140px;border:1px solid #b5b8c8;margin-top:35px}
#pl_biaoqing img,#pl_biaoqing1 img{margin:2px}

#Footer {clear:both;overflow:hidden;background-image: url(http://img3.1dooo.com/img/shop_space/foot.png);background-repeat: no-repeat;
width: 875px;margin: 15px auto 10px auto;color:#666;padding: 40px 0px 0px 0px}
#Footer .foot_nav {float:left;padding:0px;margin:0px;}
#Footer .foot_nav a {color:#666;text-decoration: none}
#Footer .footerright { float: right; padding: 0px; margin: 0px; text-align: right;line-height:22px; }

#foot{background-image:url(http://img3.1dooo.com/img/shop_space/foot.png);background-repeat:repeat-x;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;height:100px;width:868px;margin:0 auto}
.photoblock-img{height:106px;width:140px;background-image:url(http://img2.1dooo.com/img/shop_space/mwsf-bg.jpg);background-repeat:no-repeat;background-position:0 0;margin:1px 0 5px;padding:4px 5px;display:inline;}
.photoblock-title{float:left;width:600px;padding:0 0 0 50px}
.photoblock-title a{color:#047cc1;text-decoration:underline}
.photoblock-title ul{float:left;padding:20px 0 0}
.photoblock-title ul li{border:1px solid #CCC;text-align:center;float:left;display:inline;margin:0 15px 0 0;padding:2px 15px}
.photoblock-many{float:left;padding:15px 20px 20px 0px;_padding:15px 10px 20px 20px;margin:0px;display:inline;}
.gb{border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#c5c4c4;margin-top:10px;overflow:hidden;width:100%;zoom:1;padding:0 0 8px}
.gb_word{font-size:24px;font-weight:700;zoom:1;clear:both;overflow:hidden;margin:0;padding:0 0 10px}
.gb_word a,.gb_word h1{font-size:24px;font-weight:700;text-decoration:none;color:#000}
.gb_word h1{line-height:30px;}
.gb_word h2{font-size:24px;display:inline;color:#c25f70}
.gb_left{float:left;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_right{text-align:center;float:right;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_buy{background-image:url(http://img3.1dooo.com/img/shop_space/pic02.gif);background-repeat:no-repeat;background-position:left top;height:84px;width:234px;text-align:left;clear:both;overflow:hidden;margin:0;padding:0}
.gb_buy b{font-weight:400;display:block;float:left;font-size:35px;color:#FFF;margin:15px 0 0 25px;padding:0;display:inline;}
.gb_buy form img{height:51px;width:104px;float:right;margin-right:10px;margin-top:17px;border:none;padding:0}
input.sub{border:1px solid #c4c4c4;background:#e9e9e9;background-image:url(http://img2.1dooo.com/img/shop_space/topdownbg.jpg);background-repeat:repeat-x;background-position:left top;width:50px;height:24px}
.gb_right ul{display:block;width:250px;overflow:hidden;margin:10px 0;padding:0}
.gb_right ul li{display:block;float:left;width:83px;margin:0;padding:0}
.gb_word_style1{color:#ca0000}
.gb_word_style2{font-weight:700;text-decoration:line-through}
.gb_word_style4{font-weight:700;color:#ca0000}
.gb_right span{font-weight:700;text-align:left;display:block;font-size:14px;clear:both;width:222px;margin:0 0 0 28px;padding:0}
.gb_time{background-image:url(http://img1.1dooo.com/img/shop_space/pic03.gif);height:41px;width:195px;background-repeat:no-repeat;background-position:left top;display:block;margin:10px auto 0;padding:0}
.gb_time ul{display:block;clear:both;width:100%;overflow:hidden;margin:0;padding:0}
.gb_time ul li{display:block;font-weight:700;margin:10px 0 0;padding:0}
.gb_time .gb_timeleft{margin-left:9px;width:33px}
.gb_time .gb_timemiddle{width:38px;margin-left:34px}
.gb_time .gb_timeright{width:35px;margin-left:23px}
.gbb{width:100%;clear:both;margin:10px 0 0;padding:0}
.gbb ul{display:block;clear:both;overflow:hidden;list-style:none;margin:0 7px;padding:0}
.gbb ul li{width:310px;height:280px;display:inline;overflow:hidden;float:left;background-image:url(http://img2.1dooo.com/img/shop_space/gbb_bg.gif);background-repeat:no-repeat;background-position:left top;zoom:1;margin:7px;padding:0}
.gbb .gbb_img{float:left;height:130px;width:135px;margin:20px 0px 0px 20px; _margin:10px 0px 0px 10px; zoom:1;}
.gbb .gbb_img img{border:1px solid #acacac;padding:1px;display:inline;}
.gbb .gbb_img2{background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:left top;float:right;margin-top:30px;margin-right:32px;font-family:宋体;font-size:14px;text-align:center;height:50px;width:75px;font-weight:700;color:#FFF;padding-top:25px}
.gbb .gbb_plane{padding-top:5px;clear:both;font-size:12px;line-height:22px;height:85px;margin:0 10px 0 20px}
.gbb .gbb_plane h1 a{font-size:14px;color:#FF9700;text-decoration:none;}
.gbb .gbb_plane h1 a:hover{color:#FF5B5B;}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0}
.gbb .gbb_download em{font-style:normal;color:#f50}
.gbb .gbb_sub2{height:25px;width:87px;float:right;margin-right:10px;margin-top:0;padding:0;background-color: transparent;background-image: url(http://img2.1dooo.com/img/shop_space/gbb_buy.gif);
background-repeat: no-repeat;background-position: left top;text-indent:-9999em;border:none;cursor:pointer;}
.gbb .gbb_r{float:right;margin-right:10px;}
.comment_post{padding:10px}
.comment_post a{color:#000}
.topdown{background-image:url(http://img3.1dooo.com/img/shop_space/topdown.jpg);background-repeat:repeat-x;background-position:0 0;border:1px solid #dadada;display:block;float:left;zoom:1;line-height:22px;margin:0 0 0 10px;padding:0 10px 0 5px}
.topdown a{text-decoration:none}
.topdown a.ml{margin-left:8px}
.photoAlbum{width:645px;height:58px;overflow:hidden;zoom:1;margin:10px auto 0;padding:0}
.photoAlbum .pcont{width:607px;float:left;overflow:hidden;margin:0;padding:0}
.photoAlbum .ScrCont{width:10000%;zoom:1}
.photoAlbum .LeftBotton{float:left;display:block;zoom:1;margin:10px 5px 0 0;padding:0}
.photoAlbum .RightBotton{float:right;display:block;zoom:1;margin:10px 0 0 5px;padding:0}
.photoAlbum a.pl{float:left;border:1px solid #2e3c4f;margin-right:5px;overflow:hidden;display:block;zoom:1;text-align:center;padding:0}
.photoAlbum .pl img{width:52px;height:52px;padding:1px}
.photoAlbum a.pl:hover{border:2px solid #2e3c4f}
.photoAlbum .pl span{display:block;margin:0;padding:0}
.picpage{text-align:right;color:#999;margin:0 30px}

.ec{clear:both;margin:10px 20px 0;padding:0}
.ec .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;margin-right:10px;padding:2px}
.ec h1{font-size:16px;color:#ff6c00;display:block;margin-bottom:30px}
.ec h1 a{color:#ff6c00;text-decoration:none}
.ec h2{font-size:12px;color:#666;font-weight:400;margin:30px 10px 0}
.ec .ec_div{background-color:#f3f3f3;overflow:hidden;zoom:1;padding:15px 20px}
.ec .ec_div p{float:left;margin:0;padding:0}
.ec table {line-height:25px;}
.ec .ec_price{background-image:url(http://img2.1dooo.com/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:center center;font-size:14px;font-weight:700;color:#FFF;vertical-align:middle;line-height:20px;margin:0;padding:24px 50px}
.ec .ec_con{line-height:25px;margin-top:15px;margin-right:10px;margin-left:10px}
.ec .ec_r{float:right;}
.ec .ec_color{color:#666}
.ec .ec_color2{color:#F60}
.ec .ec_color3{color:#F63;font-weight:700;}
.ec_line{background-image:url(http://img3.1dooo.com/img/shop_space/line2.jpg);background-repeat:repeat-x;background-position:left top;height:12px;width:100%;margin:25px 0 0;padding:0}

.mes{clear:both;overflow:hidden;margin:30px 20px 0 5px;padding:0}
.mes .mes_top{margin:0;padding:0 0 5px 50px}
.mes .mes_top h1{font-size:24px;color:#FB7D0D;background-image:url(http://img2.1dooo.com/img/shop_space/sign10.gif);background-repeat:no-repeat;background-position:left top;padding-left:40px}
.mes .mes_top .mes_con{line-height:20px;padding-left:42px}
.mes_con a{font-weight:700;color:#444;text-decoration:none}
.mes .mes_return{text-align:right;line-height:32px}
.mes_return a{color:#000;text-decoration:none;background-image:url(http://img2.1dooo.com/img/shop_space/sign11.gif);background-repeat:no-repeat;background-position:530px center;display:block;margin:0;padding:0 0 0 20px}
h1,h2,h3,h4,h5,form,ol,ul,li,.box form,.mes .mes_img{margin:0;padding:0}
.quick_menu p{text-align:center}
.carte_sactive_list .hover{color:#F60}
.gbb .gbb_plane span{color:#666}
.store_new,#reviews .reviews_right #comments,.photoAlbum #List1_1,.photoAlbum #List2_1{float:left}

.carte_title .hover a,.gb_word_style3{font-weight:700}
#photo img,#coupon img,.gb_left img,.photoAlbum img{border:none}
.d_out,.d_outa,.d_over{font-size:12px;overflow:hidden;width:590px;border-top-width:1px;border-top-style:dashed;border-top-color:#CCC;padding:16px 10px 10px}
.photoblock-title .hover,.mes_con a:hover,.mes_return a:hover{color:red;text-decoration:underline}
input.sub:hover,.comment_post a:hover{color:#FE972F}
#help-left{margin: 0px auto;width: 610px; clear:both; }
#phone_div{display:none;}
.download_box{ clear:both;line-height:30px !important; margin-top:10px; margin-left:20px;}
.download_box h1{ color:#FF6C00; font-size:14px; }
.download_box h2{ font-size:12px; color:#FF6C00; font-weight:normal; display:inline !important; }
.download_box .sub{height:25px;width:87px;border:none;background-image:url(http://img3.1dooo.com/img/shop_space/sub.gif);background-repeat:no-repeat;background-position:left top; color:#fff;cursor:pointer;cursor:hand;}
.download_box .sub:hover{color:#fff;}
.download_box .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;padding:2px;}
.download_box .imgs img{ height:205px;width:215px;margin:0px;padding:0px; display:block;  background:#00f;}
.impress1{color: #fb1603;font-size: 14px;font-weight: 700;}
.impress2{color: #9dcc2c;font-weight: 700;}
.impress3{color: #eeb60a;font-weight: 700;}
.impress4{color: #4897a6}
.impress5{color: #0cb0fb;font-size: 13px;font-weight: 700;}
.impress6{color: #EF5428;font-weight: 700;}
.impress7{color: #ff008a;}
.impress8{color: #ff9f27;font-weight: 700;}
.impress9{color: #0cb0fb;}
.impress10{color: #ff008a;}

