/************ .logon登录 .reg 注册*************/
#msgDiv{
	color:#0082cb;
	text-align:center;
	height:50px;
	display:none;
	line-height:50px;
	font-size:18px;
	font-family:"黑体";
	position:absolute;
	padding:0px;
	margin:0px;
	width:100%;
}
#logonAndreg{ margin:0px; padding:0px; position:relative; }
#logonAndregbg{
	background-color: #000;
	width: 100%;
	height:100%;
	_height: 2000px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index:1;
	display:none;

	-moz-opacity:0.8;
	opacity:0.8;
	filter: alpha(opacity=80);
}

#logon{
	width:390px;
	height:238px;
	background-image: url(/img/shop_space/logonbg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	top: 220px;
	padding: 10px;
	visibility: visible;
	left:50%;
	margin-left:-195px;
	display: none;
	z-index:200;
}
#logon .logonbg {
	background-color: #FFFFFF;
	padding: 10px;
	height: 218px;
	width: 370px;
	overflow:hidden;
	zoom:1;
}
#logon .logonbg img{cursor:pointer;}
.tit {
	font-size: 14px;
	color: #222;
	font-weight: bold;
}
.logoninput {
	height: 25px;
	width: 190px;
	border: 1px solid #ccc;
}
.logoninput:hover{
	background-color:#faffbd;
}
a.logon_a {
	color: #ff8301;
	text-decoration: none;
}
a.logon_a2 {
	font-size:12px;
	color: #999;
	text-decoration: none;
}

.tabline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	line-height: 1px;
	height: 1px;
}
.logonsub {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 87px;
	background-image: url(/img/shop_space/logonsub.jpg);
	border:none;
	cursor:pointer;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left top;
}
.regsub {
	width:100px; height:30px;
	background-image: url(/img/shop_space/regsub.jpg);
	cursor:pointer;
	background-repeat: no-repeat;
	border:none;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	background-color:transparent;
}
.logontable {
	font-size: 14px !important;
	color: #545353;
	border:none;
}
.logontable .right{ text-align:right; }
#Reg{
	width:489px;
	height:552px;
	_height:545px;
	background-image: url(/img/shop_space/regbg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:200;
	left: 0px;
	padding: 10px;
	top: 50px;
	visibility: visible;
	left:50%;
	margin-left:-244px;
	display: none;
}
#Reg .regbg {
	background-color: #FFFFFF;
	padding: 10px;
	height: 360px;
	width: 449px;
}
.tabcolor{ color:#f00 !important; margin-right:5px;}
.tabcolor2{ color:#999 !important;}
