/*end*/
body{background:#f3f3f3}
body,p,td,pre,dl,dt,dd,label{font:12px/1.5 Tahoma,Helvetica,Arial,"宋体",sans-serif;margin:0;padding:0;}

ul{list-style-position:outside;list-style-type:none;}
h1,h2,h3,h4,h5,form,ol,ul{margin:0;padding:0;}

a{color: #444;text-decoration:none}
a:hover{color:#f40;text-decoration:underline}

.f14{font-size:14px}
.f12{font-size:12px}
.f11{font-size:11px}
.st{font-weight:bold;}
.uline{text-decoration:underline;}
.gray{color:#888}
.blue{color:#2178B4;}
.red{color:#e40;}

.l{float:left}
.r{float:right}

.topbar_box,#header,#nav,#subnav,#main,#footer{width:960px;margin:0 auto;clear:both;}

#topbar{background:url(/img/bg_all.png) repeat-x left top;height:30px;line-height:30px;}
#topbar .welcome{float:left;padding-left:10px;}
.loginstate{float:right;padding:0 10px 0 0;}
.loginstate li{float:left;padding:0 8px;line-height:30px;}

#header{padding:0;
background-color:#f3f3f3;
text-align:right;}
#header img{
vertical-align:bottom;
}
#header a{
float:left;
}
#nav{background:url(/img/bg_all.png) no-repeat 0 -51px;height:40px;padding:4px 0 0 0}
#nav ul{width:666px;margin:0 auto}
#nav li{float:left;width:130px;text-align:center}
#nav li a{display:block;margin:4px auto;color:#fff;width:90px;font-size:14px;font-weight:bold;text-align:center;line-height:25px;text-decoration:none}
#nav li a:hover{background:url(/img/bg_all.png) no-repeat -45px -149px;}
#nav li.ha a,#nav li.ha a:hover{margin:0 auto;width:118px;line-height:40px;background:url(/img/bg_all.png) no-repeat -576px -150px;color:#e50}

#tag200{
position:relative;
}
#tag200 img{
position:absolute;
top:-12px;
left:90px;
}


#subnav{background:url(/img/bg_all.png) no-repeat 0 -96px;height:35px;}
.hotsearch{float:left;margin:3px 0 0 20px;display:inline;background:url(/img/bg_all.png) no-repeat -141px -149px;width:75px;height:22px;color:#fff;text-align:center;line-height:22px}
.hotsearch_key{float:left;padding:7px 0 0 10px;width:450px;height:20px;overflow:hidden}
.hotsearch_key a{float:left;padding:0 0 0 10px;white-space:nowrap;color:#36c}
.searchform{float:right;width:260px;padding:2px 20px 0 0;}
.searchform input#s {float:left;display:block;width:155px;height:19px;background:url(/img/bg_all.png) no-repeat -228px -149px;border:medium none transparent;padding-top:6px;padding-left:25px;}
.searchform input[type="submit"] { width:52px;height:26px;background:url(/img/bg_all.png) no-repeat -513px -150px;border:medium none;text-indent:-9999px;margin-left:5px;cursor:pointer;}
.tgsearchform{float:right;width:260px;padding:25px 0px 0 0;}
.tgsearchform input#s {float:left;display:block;width:155px;height:21px;background:url(/img/bg_all.png) no-repeat -228px -149px;border:medium none transparent;padding-top:6px;padding-left:25px;}
.tgsearchform input[type="submit"] { width:52px;height:26px;background:url(/img/bg_all.png) no-repeat -513px -150px;border:medium none;text-indent:-9999px;margin-left:5px;cursor:pointer;}
.submit{
cursor:pointer;
}
#shop_yzm{
width:380px;
_width:230px;
 }
.nav_serchbt{
background:none;
border:none;
width:52px;
height:26px;
cursor:pointer;
background:url(/img/bg_all.png) -512px -150px no-repeat;
}
#footer{clear:both;border-top:1px #ddd solid;text-align:center;padding:10px 0;line-height:180%;margin-top:30px;}
.footer_nav{color:#aaa;padding:5px 0;}
.footer_nav a{padding:0 5px}

#topbar:after;#header:after,#nav:after,#subnav:after,#main:after,#footer:after{content:"";display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}
#subnav .hotsearch_key .highlight {color:red}
/*sec_kill*/

#wait_seconds_div{
width:922px;
margin:0 auto;
font-size:14px;
color:#ff6600;
background:url(/img/kill_hot.gif) no-repeat 15px top;
padding:0 0 0 38px;
}


#zjaic img{
width:46px;
height:50px;
}

/*end*/


.step-nav,h1.shop_title{width:960px;margin:0 auto;}

.step-nav{width:930px;margin-top:15px;background:url(/img/bg_shop.png) 0 0 no-repeat;height:35px;line-height:26px;padding:0 15px}

h1.shop_title{width:930px;background:url(/img/bg_shop.png) 0 -35px no-repeat;font-family:'微软雅黑',simhei;font-size:20px;height:60px;line-height:50px;padding:0 15px;color:#D0121B;white-space:nowrap;overflow:hidden;text-align:center;}
h1.shop_title2{
	width:930px;
	background:url(/img/bg_shop.png) 0 -35px no-repeat;
	font-family:'微软雅黑',simhei;
	font-size:20px;
	height:60px;
	line-height:50px;
	padding:0 0 0 50px;
	color:#D0121B;
	white-space:nowrap;
	overflow:hidden;
	text-align: center;
}
h1.shop_title span{font-weight:normal;color:#333}

#main{margin-top:10px;background:url(/img/bg_shop_main.png) 0 0 repeat-y;position:relative;}
.main_bottom{clear:both;background:url(/img/bg_shop.png) 0 -98px no-repeat;height:12px;font-size:0;line-height:0;}



#content{float:right;width:656px;}
#side{float:left;width:304px;}

#side h4{background:url(/img/bg_shop.png) 0 -110px no-repeat;font-size:14px;padding:5px 15px 0 15px;line-height:30px;margin:0;}
#side h4 .r{font-size:12px;font-weight:normal}
#side .bottom{clear:both;background:url(/img/bg_shop.png) 0 -98px no-repeat;height:12px;font-size:0;line-height:0;}

#side .box{margin:5px 10px;overflow:hidden;}
#side .box a{text-decoration:underline;}
#side .box .shop_name{text-align:center;}
#side .box .shop_name a{color:#D0121B;font-size:14px;font-weight:bold}
#side .box .shop_nav{margin:5px 3px;padding:5px 0 0 20px;background:#f5f5f5;border:1px #eee solid;text-align:center;height:30px;}
#side .box .shop_nav a{float:left;width:90px;background:#eee;margin:0 10px;padding:2px 0;border-color:#fff #ccc #ccc #fff;border-style:solid;border-width:1px;text-decoration:none}
#side .box ul.basic{clear:both;margin:0 0 0 5px;}
#side .box .about{padding:5px 10px;}
#side .box .map_view{text-align:right;padding:0 5px 0 0;}
#side .box ul.discounts_more li{background: url("/img/bg_shop.png") -658px -156px no-repeat;padding:2px 10px 2px 15px}
#content .top{background:url(/img/bg_shop.png) -304px -110px no-repeat;height:12px;font-size:0;line-height:0;}

h4.comments_list,.comment_post label{background:#f5f5f5;font-size:14px;margin:10px;padding:2px 15px;color:#e50}
h4.comments_list{
width:583px;
	height:34px;
	background:url(/img/sjs-bt-bg.jpg) no-repeat;
	margin: 18px 0 10px 14px;
	font-size:14px;
	color:#999;
	padding:13px 0 0 35px;
	}
	h4.comments_list span{
	color:#fe7f00;
	}
h4.comments_list a.r{font-size:12px;font-weight:normal;text-decoration:underline;}
.comment{margin:0 20px;padding:1px 5px;}
.comment strong{color:#999;display:block}


.comment_post label{display:block;font-weight:bold;margin:10px -10px;}
.comment_post textarea{display:block;width:500px;height:80px;margin:10px 0}
.validate_notice{color:#e50;background:#FDFFC1}

.discount_content{margin:10px 20px;line-height:1.8}

table.discount_toolbar{margin:0 auto;width:634px;height:70px;overflow:hidden;}
table.discount_toolbar .down{width:280px;color:#f50;font-size:14px;font-weight:bold;text-align:center}
table.discount_toolbar input.download{background:url(/img/bg_shop.png) no-repeat -5px -160px;width:280px;height:70px;display:block;border:medium none;text-indent:-9999px;cursor:pointer}
table.discount_toolbar input.print{background:url(/img/bg_shop.png) no-repeat -5px -320px;width:280px;height:70px;display:block;border:medium none;text-indent:-9999px;cursor:pointer}
table.discount_toolbar td input[type="hidden"]{display:none}
table.discount_toolbar .tofriend{text-indent:-9999px;}
table.discount_toolbar .tofriend a{background:url(/img/bg_shop.png) no-repeat -282px -160px;width:180px;height:70px;display:block;cursor:pointer}
table.discount_toolbar .favorites input{background:url(/img/bg_shop.png) no-repeat -465px -160px;width:174px;height:70px;display:block;border:medium none;text-indent:-9999px;cursor:pointer}

#orderbar{clear:both;margin:0 auto;width:95%;background:url("/img/bg_discountslist.gif") 0px -70px no-repeat;height:40px;}
#orderbar .data{float:left;padding:0 5px;line-height:40px;}
#orderbar .data span{color:#e50;font-size:14px}
#order{float:right;padding:0;}
#order a,#order span{float:left;padding:10px 0 0 0;width:48px;text-align:center}
#order span{width:60px;text-align:left}
#order a.select{color:#e50;background:url("/img/bg_discountslist.gif") -872px -34px no-repeat;}

table.discount_dt{clear:both;margin:0 auto;width:95%;border-bottom:1px #eee solid;color:#888;height:30px;}
table.discount_dt a{color:#888;} 
.discount_dd{margin:0 auto;width:95%;border-bottom:1px #ccc dotted;}
.discount_dd table{}
table.discount_dt th{background:url("/img/bg_discountslist.gif") -3px -203px no-repeat;}
/*.discount_dd td{background:url("/img/bg_discountslist.gif") -3px -235px no-repeat;} 
table.discount_dt th.dl_photo{background:transparent}*/

.dl_photo{width:18%;background:transparent}
.dl_photo div{width:102px;height:97px;overflow:hidden;background:#f5f5f5;text-align:center}
.dl_photo div img{height:97px;border:none}
.dl_name{color:#888;width:41%;}
td.dl_name{background:transparent}
.dl_name h2{margin:0;padding:0}
.dl_name h2 a{font-size:14px;color:#e50;padding-right:5px;}
.dl_name h2 span{font-size:12px;font-weight:normal;}

.dl_dsct{width:14%;text-align:center}
td.dl_dsct div{margin:auto;color:#fff;width:80px;height:47px;font-size:14px;font-weight:bold;background: url("/img/bg_discountslist.gif") 0px -126px no-repeat;padding:30px 0 0 0;}

.dl_download{width:14%;text-align:center;color:#888;}
.dl_download input{background: url("/img/bg_discountslist.gif") -151px -128px no-repeat;display:block;width:73px;height:16px;border:medium none;text-indent:-6999px;cursor:pointer;margin:0 auto;padding:0}
.dl_download input.print{background: url("/img/bg_discountslist.gif") -150px -155px no-repeat;width:75px;height:19px;}
.dl_download input[type="hidden"]{display:none}
.dl_date{width:15%;text-align:center;font-size:11px;line-height:1.2}
.dl_date span{color:#888;}
.dl_desc{}



/*shangjiashow*/
#sjs-bt{
	width:583px;
	height:34px;
	background:url(/img/sjs-bt-bg.jpg) no-repeat;
	margin: 18px 0 10px 14px;
	font-size:14px;
	color:#999;
	padding:13px 0 0 35px;
	font-weight:bold;
}
#shop_showDiv{
width:634px;
margin-left:12px;
}
#shop_showDiv img{
margin:4px 5px 4px 3px;
border:1px solid #ccc;
}
#shop_showDiv a img{
padding:1px;
opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);
}
#shop_showDiv a:hover img{
opacity:1; -moz-opacity:1; filter:alpha(opacity=100);
}
#pl_content{
}
#help-left h3{
font-size:12px;
width:90%;
margin:0 auto;
}
.d_outa{
width:100%;
padding:2% 2% 1% 2%;
border:1px dashed #fff;
background-color:#fdfdfd;
margin:0 auto 10px auto;
overflow:hidden;
border-bottom:1px solid #C5C5C5;
}
.d_over{
	font-size:12px;
	overflow:hidden;
	width: 590px;
	float: left;
	padding-top: 16px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0;
}
.d_out{
font-size:12px;
margin:0 auto 10px auto;
overflow:hidden;
}
#t_pl_picyure{
width:56px;
float:left;
}
#t_pl_picyure img{
padding:2px;
width:50px;
height:50px;
border:1px solid #C5C5C5;
}
#t_pl_picyure h2{
font-size:12px;
color:#0088BB;
font-weight:normal;
text-align:center;
padding:3px 0 0 0;
}
#pl-content{
width:506px;
float:left;
}
.d_outa p, .d_over p, .d_out p{
display:block;
padding:2px 0 0 12px;
line-height:16px;
/*shangjiashow  min-height:56px; */
overflow:visible;
}
#pl-content span{
display:block;
color:#898989;
padding-left:12px;
}
#group_fbpl{
position:relative;
width:592px;
margin:0 auto;
margin-top:20px;
margin-bottom:20px;
background-color:#f3f3f3;
border:1px solid #b5b8c8;
}
#group-user-name{
width:572px;
color:#666;
padding:7px 10px 0 10px;
height:19px;
background:url(/img/tuangou/group-user-name.jpg) left top repeat-x;
border-bottom:1px solid #fff;
}
#group-user-name span{
color:#929292;
display:block;
width:200px;
float:left;
line-height:14px;
}
#group-user-name a{
display:block;
color:#666;
text-decoration:none;
margin:0 10px 0 0;
float:right;
}
#group-user-name a:hover{
text-decoration:underline;
color:#333;
}
#pl_group{
padding:0 0 0 12px;
height:24px;
color:#333;
font-weight:bold;
}
#comment_body{
clear:both;
/*width:350px;*/
width:370px;
height:140px;
padding:10px 0;
font-size:14px;
color:#000;
background:#fff url(/img/tuangou/comment_body_bg.jpg) left top repeat-x;
border:1px solid #b5b8c8;
}
#group-user-c{
width:578px;
padding:10px 6px 10px 6px;
}
#group-bot{
width:592px;
height:16px;
background:url(/img/tuangou/group-user-name-bt.png) left top  no-repeat;
}
#comment_submit{
background:none;
border:none;
width:65px;
height:20px;
cursor:pointer;
color:#fff;
background:url(/img/tuangou/group_fb.png) left top  no-repeat;
}
/***********main_shop*****************/
#main_shop {
	width:950px;
	background-color:#FFFFFF;
	padding:10px 0 10px 10px;
	float: left;
	border: 1px solid #f78440;
}
.shop_body {width:960px;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}



#main .middle_icon{position:absolute;background:url(/img/bg_shop.png) -658px -222px no-repeat;width:26px;height:123px;top:50px;left:290px;}
#main_shop .photo-wrap { float:left; width:460px; 
}
#main_shop .main_shop_right {
	width:471px;
	border-bottom:1px #8b8989 dashed;
	float:right;
	height: 260px;
}
#main_shop .main_shop_right .comment-tag {
	float: left;
	padding: 6px 30px 0 55px;
	background-image: url(/img/shop_space/detailv.png);
	background-repeat: no-repeat;
	width: 375px;
	min-height:80px;
	overflow:hidden;
}
#main_shop .main_shop_right .comment-tag a {
	line-height: 26px;
	font-weight: bold;
	margin: 0 10px 0 0;
}

#main_shop .main_shop_right .rate-btn-wrap {
	float: left;
	height: 170px;
	width: 167px;
	
}
#main_shop .main_shop_right .rate-btn-wrap a {
	height: 170px;
	width: 167px;
}

#main_shop .main_shop_right .info {
	float: left;
	padding: 16px 0 0 10px;
}
#main_shop .main_shop_right .info p {
	width: 270px;
	clear: left;
	line-height: 24px;
	overflow: hidden;
	font-size: 14px;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#main_shop .main_shop_right .info .left {
	width: 35px;
}
#main_shop .main_shop_right .info .right {
width:200px;
}
#main_shop .main_shop_right .info .right .num {
}
#main_shop .main_shop_right .info .right .num {
	color: #FF4400;
}

.d_out{
	font-size:12px;
	overflow:hidden;
	width: 590px;
	float: left;
	padding-top: 16px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0;
}


#main_shop  .reviews_right {
	float: left;
	padding: 0;
	margin: 10px 0 0 20px;
	width: 610px;
	display: inline;
}


#main_shop .reviews_right #comments {
	float: left;
}
#t_pl_picyure{
width:56px;
float:left;
}
#t_pl_picyure img{
padding:2px;
width:50px;
height:50px;
border:1px solid #C5C5C5;
}
#t_pl_picyure h2{
display:block;
width:54px;
font-size:12px;
font-weight:normal;
text-align:center;
color:#fe972f;
word-wrap:break-word;
}
#pl-content{
width:534px;
float:left;
}
#pl-content p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #8b8888;
	text-decoration: none;
	padding: 0 0 6px 12px;
	margin: 0;
}
#pl-content span {
	float: right;
}
#pl-content a {
	background-image: url(../images/btn.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 37px;
	padding: 2px 7px 0 7px;
	font-size: 12px;
	line-height: 22px;
}

#group_fbpl{
	position:relative;
	width:615px;
	margin-top:15px;
	margin-bottom:0px;
	background-color:#f3f3f3;
	border:1px solid #b5b8c8;
	float: left;
	margin-right: auto;
	margin-left: auto;
}
#group-user-name{
width:585px;
color:#666;
padding:7px 15px 0 15px;
height:19px;
background:url(/img/tuangou/group-user-name.jpg) left top repeat-x;
border-bottom:1px solid #fff;
}
#group-user-name span{
color:#929292;
display:block;
width:200px;
float:left;
line-height:14px;
}
#group-user-name a{
display:block;
color:#666;
text-decoration:none;
margin:0 10px 0 0;
float:right;
}
#group-user-name a:hover{
text-decoration:underline;
color:#333;
}
#pl_group{
padding:0 0 0 12px;
height:24px;
color:#333;
font-weight:bold;
}
#comment_body{
clear:both;
/*width:350px;*/
width:367px;
height:140px;
padding:10px 0;
font-size:14px;
color:#000;
background:#fff url(/img/tuangou/comment_body_bg.jpg) left top repeat-x;
border:1px solid #b5b8c8;
margin:10px 0 0 15px;
}
#pl_biaoqing{
position:absolute;
left:400px;
top:47px;
width:196px;
padding-left:2px;
height:160px;
border:1px solid #b5b8c8;
}
#pl_biaoqing h3{
clear:both;
padding:7px 0 0 0;
font-size:12px;
text-align:left;
line-height:20px;
}
#pl_biaoqing img{
vertical-align:bottom;
padding:2px;
margin:0 2px 2px 0;
border:1px solid #ccc;
float:left;
}
#pl_biaoqing a{
display:inline;
width:24px;
height:24px;
float:left;
background-color:#eaeaea;
border:1px solid #c4c4c4;
margin:4px 0 0 6px;
}

/*group-index-cp*/

#group-index-cp{
	width:200px;
	margin:16px auto 16px auto;
	padding-bottom:12px;
	border-bottom:1px dashed #ccc;

}
#group-content-right .group-content-right-title {
	background-image: url(/img/shop_space/content_title.png);
	background-repeat: no-repeat;
	background-position: center 0px;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	text-align: center;
	height: 62px;
}

#group-cp-date{
width:230px;
text-align:left;
font-size:14px;
height:25px;
font-family:"微软雅黑";
font-weight:bold;
}
#group-cp-title{
font-size:14px;
width:200px;
line-height:20px;
color:#4c9403;
text-align:justify;text-justify:inter-ideograph;

}
#group-cp-title a{
font-size:14px;
color:#4c9403;
font-weight:bold;
}
#group-cp-title a:hover{
text-decoration:underline;
}
#group_cp_picturea img{width:200px;height:130px;border:0 none;}
#group-content-right{
	width:283px;
	overflow:visible;
	float:right;
	padding:0 0 50px 0;
	position:relative;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #c7c6cb;
}
#comment-tag span.comment-level-1 {font-size:16px;font-weight:bold;margin-right:9px}
 #comment-tag span.comment-level-2{font-size:14px;font-weight:bold;margin-right:9px}#comment-tag span.comment-level-3{font-size:14px;font-weight:bold}.comment-color-1{color:#fc4a19}.comment-color-2{color:#2da9cf}.comment-color-3{color:#8cb71e}.comment-color-4{color:#f80}.comment-color-5{color:#ed678b}.comment-color-6{color:#b6996a}