/* CSS Document */
.contop {background-image: url(/img/shop_space/dtsj/dhbg.jpg);background-repeat: no-repeat;background-position: 4px top;margin: 6px 0px 0px 0px;padding: 0px;
height: 476px;width: 918px;padding-left:27px;padding-top:12px;}
.conbottom{width:100%;overflow:hidden;clear:both;margin-top:5px;}
.cbleft{float:left;width:310px;}
.cbright{float:left;margin-left:37px;_display:inline;width:573px;}

.box{overflow:hidden;zoom:1;display:block;color:#666;width:275px;margin:10px auto 0px auto;}
.box li{float:left;display:block;}
.box a{color:#666;margin-left:5px;}
.box li.qq{height:20px;padding-left:0px;padding-right:15px;}
.box li.email{background-image: url(/img/shop_space/dtsj/sign2.jpg);background-repeat: no-repeat;background-position: 4px center;height:16px;padding-left:30px;}

.box2{width:268px;float:left;overflow:hidden;line-height:25px;}
.box2 ul{overflow:hidden;zoom:1;display:block;color:#666;margin-top:10px;}
.box2 li{background-image: url(/img/shop_space/dtsj/sign3.jpg);background-repeat: no-repeat;background-position: left 10px;padding-left:13px;overflow:hidden;height:25px;}
.box2 a{color:#666;}
.box2 a:hover{color:#000;}

/**首页动画 css **/
#DH { margin: 0px; padding: 0px; height: 447px; width: 893px; overflow: hidden; }
.nivoSlider { position: relative; height:447px; width:893px;padding:0px;margin:0px;overflow:hidden;margin-top:20px; }
.nivoSlider img{ width: 893px; height: 447px; position: absolute; top: 0px; left: 0px; display:block; }
.nivoSlider a.nivo-imageLink{ z-index: 60; position: absolute; padding: 0px; margin: 0px; width: 100%; display: none; height: 100%; top: 0px; left: 0px; }
.nivo-slice{ z-index: 50; position: absolute; display: block; height: 100%; }
.nivo-caption{ z-index: 89; position: absolute; width: 100%; bottom: 0px; background: #000; COLOR: #fff; left: 0px; opacity: 0.8; display:none; }
.nivo-caption p{ padding-bottom: 20px; margin: 0px; padding-left: 20px; padding-right: 20px; font-size: 22px; padding-top: 20px; }
.nivo-directionNav a{ z-index: 99; position: absolute; top: 35%; cursor: pointer; }
.nivo-prevNav{ width: 47px; display: block; height: 47px; left: 15px; background-color:#FF9900; display:none;}
.nivo-nextNav{ width: 47px; display: block; height: 47px; right: 15px; background-color:#FFcc00; display:none;}

/**导航**/
.nivo-controlNav{ text-align: center; margin-left: 25px; overflow: hidden; padding-top: 25px; display:none; }
.nivo-controlNav a{ width:20px; height: 20px; z-index: 99; position: relative; text-indent: -9999px; display: block; float: left;background:#009900; cursor:pointer; }
.nivo-controlNav a.active{ background:#f00; }/**焦点显示样式**/
/**首页动画 css over**/

.photoAlbum{width:573px;height:70px;overflow:hidden;zoom:1;margin:10px 0px 0px 0px;padding:0px}
.photoAlbum .pcont{width:550px;overflow:hidden;margin:0;padding:0;zoom:1;float:left;}
.photoAlbum .ScrCont{width:1000%;float: left;}
.photoAlbum .LeftBotton{float:left;display:block;zoom:1;margin:30px 3px 0 0;padding:0;width:10px;height:15px;background-image: url(/img/shop_space/dtsj/arrow1.gif);background-repeat: no-repeat;background-position: left top;}
.photoAlbum .RightBotton{float:right;display:block;zoom:1;margin:30px 0 0 0px;padding:0;width:10px;height:15px; 
background-image: url(/img/shop_space/dtsj/arrow2.gif);background-repeat: no-repeat;background-position: right top; }
.photoAlbum a.pl{float:left;overflow:hidden;display:block;}
.photoAlbum .pl img{width:106px;height:68px;margin-right:2px;border:1px solid #f4f4f4;}
.photoAlbum .pl span{display:block;margin:0;padding:0}
#List1_1, #List2_1 { float: left; }
