/* CSS Document */
.contop{margin:0px auto;padding:7px 8px;overflow:hidden;background-color:#0059B3;zoom:1;}
.ctleft{width:200px;overflow:hidden;float:left;}
.conbottom{width:100%;overflow:hidden;margin:20px 0px 0px 0px;padding:0px;clear:both;}
.cbleft{float:left;padding:0px;margin:0px;width:310px;overflow:hidden;}

.cbright{width:570px;float:right;margin:0px;padding:0px;overflow:hidden;zoom:1;}
.cbright ul{width:100%;overflow:hidden;zoom:1;margin-top:10px;clear:both;}
.cbright li{float:left;width:122px;padding:3px 10px;overflow:hidden;zoom:1;height:120px;display:block;}
.cbright ul li a{}

.box1{padding:0px;margin:0px;clear:both;zoom:1;}
.box1 ul{overflow:hidden;clear:both;display:block;line-height:22px;margin-top:7px;color:#666;}
.box1 li{background-image:url(http://img1.1dooo.com/img/shop_space/zdqx/sign3.jpg);background-repeat:no-repeat;background-position:4px 8px;display:block;clear:both;padding-left:15px;overflow:hidden;zoom:1;}
.box1 li a{float:left;width:300px;overflow:hidden;height:25px;color:#666}
.box1 li span{float:right;}
.box1 a:hover{color:#0059B3;}

.photoAlbum {width: 288px;height: 71px;padding:6px 6px 0px 6px;margin:3px 0px 0px 0px;background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/adbg.jpg);background-position:left top;background-repeat:no-repeat;}
.photoAlbum .LeftBotton {width:22px;height:29px;float: left;padding: 0px;margin: 110px 0px 0px 0px;background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/arrow.png);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;display:none;}
.photoAlbum .RightBotton {width:22px;height:29px;float: right;padding: 0px;margin: 110px 0px 0px 0px;background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/arrow2.png);background-position:left top;background-repeat:no-repeat;text-indent:-9999em;display:none;}
.ScrCont{ width:10000000px; }
.pcont{width:288px;float:left;padding:0px;margin:0px;overflow:hidden;}
.pcont img{width:86px;height:62px;display:inline;overflow:hidden;margin-right:6px;border:1px solid #ADADAD;}
#List1_1, #List2_1{float:left;overflow:hidden;height:64px;}


/*主动画*/
.dh{ padding:0px; margin:0px;width:650px; height:290px; position:relative; overflow:hidden;float:right; }
.dh img{ width:650px; height:290px; position:absolute; top:0px; left:0px; }
.prevbtn{background-image:url(http://img1.1dooo.com/img/shop_space/zdqx/arrow3.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0 7px 0 0;padding:0;display:none;}
.nextbtn{background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/arrow4.gif);background-repeat:no-repeat;background-position:left top;height:9px;width:7px;text-indent:-999999px;float:left;margin:0;padding:0;display:none;}
.dhnum{position:absolute;width:130px;bottom:5px;height:30px;right:0px;z-index:2;}
.def{background-color:#fff;height:14px;width:20px;
float:left;margin:0 7px 0 0;padding:0;text-align:center;line-height:14px;color:#999;}
.selected{background-color:#0755A8 !important;color:#fff;}
/*主动画over*/

