/* CSS Document */
body{font-family: "宋体";font-size: 12px;margin:0;padding:0;}
ul,li,h1,h2{margin:0px;padding:0px;}
ul{list-style:none}
img{border:none}
a{text-decoration:none}
.clear{clear:both;overflow:hidden;width:100%;height:0;line-height:0;zoom:1}
.clear1{clear:both;overflow:hidden;width:100%;height:0;zoom:1;}

.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mlr5{margin-left:5px !important;margin-right:5px !important;}

.title{background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/title1.jpg);background-repeat:no-repeat;background-position:0 5px;margin:0px;padding:0px 0px 10px 30px; font-family: "微软雅黑"; font-size:16px; color:#333; overflow:hidden;zoom:1;}
.title h2{float:left;font-size:16px;}
.title a{color:#333;}
.title span{float:left; padding-left:10px;display:block;color:#0059B3;}
.title .titleright{float:right;color:#999;font-size:12px;font-family:"宋体";line-height:22px;}

.title2{background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/title2.gif);background-repeat:no-repeat;background-position:0px 0px;margin:0px;line-height:20px;
padding:0px 0px 15px 25px; color:#646464; overflow:hidden;font-size:14px;font-family: Arial, Helvetica, sans-serif;zoom:1; letter-spacing:1px;}
.title2 span{}
.title2 a{color:#646464;}
.title2 a:hover{color:#0059B3;}

.title3{background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/titlebg2.gif);background-repeat:no-repeat;background-position:0px -2px;margin:0px;line-height:18px;
padding:0px 0px 15px 25px; color:#646464; overflow:hidden;font-size:14px;font-family: Arial, Helvetica, sans-serif;zoom:1; letter-spacing:1px;}
.title3 span{}
.title3 h2{color:#646464;font-size:12px;font-weight:normal;}

.title4{margin:0px;padding:0px;width:100%;overflow:hidden;}
.title4 a{background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/bg2.jpg);background-repeat:repeat-x;background-position:0px 0px;padding:0px 15px 4px 15px;margin:0px 4px 0px 0px;height:23px;line-height:23px;color:#666;display:block;float:left;_display:inline;}
.title4 a.hover{background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/bg1.jpg);background-repeat:no-repeat;background-position:center top;color:#fff;}

#MB{margin:0px;padding:0px;overflow:hidden;width:100%;background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/menubg.jpg);background-position:left 55px;background-repeat:repeat-x;}
#Header{overflow:hidden;margin:0px auto;padding:0px;width:840px;height:93px;}
#SubNav{float:right;color:#ccc;font-size:12px;margin-top:30px;}
#SubNav li{float:left}
#SubNav a{color:#666;font-family:Tahoma;}
#SubNav a:hover{color:#0059B3;}
#Logo{float:left;margin:0px;padding:0px;overflow:hidden;zoom:1;}

.menu{display:block;height:31px;line-height:31px;width:100%;margin:0px auto;padding:0px;font-family:"微软雅黑";font-size:14px;overflow:hidden;}
.menu ul{width:880px;overflow:hidden;display:block;margin:0px auto;padding:0px;background-image:url(http://img1.1dooo.com/img/shop_space/zdqx/menubg3.jpg);background-position:left top;background-repeat:no-repeat;}
.menu li{float:left;width:146px;text-align:center;background-image:url(http://img1.1dooo.com/img/shop_space/zdqx/menubg3.jpg);background-position:right top;background-repeat:no-repeat;}
.menu li a:hover,.menu .hover{background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/menubg2.jpg);background-position:left top;background-repeat:repeat-x;}
.menu a{color:#FFF;height:31px;line-height:31px;display:block;}

.pages {clear: both; padding: 0px; margin: 20px 0px 0px 0px; overflow: hidden; color:#6D6D6D;}
.pages .pagination{overflow:hidden;float:right;}
.pagination .prev_page{float:left;margin-right:10px;cursor:pointer;background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/arrow1.jpg);background-position:left top;background-repeat:no-repeat;width:15px;height:13px;text-indent:-9999em;display:block;margin-top:2px;}
.pagination .next_page{float:left;margin-left:10px;cursor:pointer;background-image:url(http://img3.1dooo.com/img/shop_space/zdqx/arrow2.jpg);background-position:left top;background-repeat:no-repeat;width:15px;height:13px;text-indent:-9999em;display:block;margin-top:2px;}
.pagination .current, .pagination a{float:left;display:block;padding:0px 5px;margin:0px;text-align:center;line-height:20px;margin-right:10px;color:#6D6D6D;font-weight:bold;}
.pagination .current, .pagination a:hover{color:#0059B3;}

#Con{overflow:hidden;margin:17px 0px 0px 0px;padding:0px;width:100%;background-image:url(http://img2.1dooo.com/img/shop_space/zdqx/footerbg.jpg);background-position:left bottom;
background-repeat:repeat-x;padding-bottom:50px;}
#Con .coninner{overflow:hidden;margin:0px auto;padding:0px;width:880px;min-height:500px;zoom:1;}
#Con .coninner2{overflow:hidden;margin:0px auto;padding:0px;width:910px;}
#Con .coninner3{overflow:hidden;margin:0px auto;padding:0px;width:930px;}

#Footer{width:880px;clear:both;margin:0px auto 20px auto;padding:0;text-align:center;color:#8E8E8E;line-height:20px;}
#Footer a{color:#8E8E8E}
#Footer a:hover{color:#0059B3;}

