<div id="allImg">
  <div class="coupon relative">
    <input type="hidden" name="coupon[t]" value="2"/>
    <input type="hidden" value="t" name="flag" />
    <div class="adiv">
	  <input type="button" value="" class="btns3" id="Btn1"/>
          <input  name="coupon[img2]" type="file" class="btn_file1"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file2"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file3"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file4"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file5"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file6"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file7"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file8"  class="files"/>
          <input  name="coupon[img2]" type="file" class="btn_file9"  class="files"/>
    </div>
  </div>
  <input type="submit" class="btn1 m_auto" value="下一步"/>
</div>