

        <div class="box6">
          <div class="box6message" id="Box6Message">报错提示</div>
          <div class="boxinner">
          <input type="hidden" name="coupon[t]" value="1"/>
            <!-- <input type="button" class="btn4 coupon_uploadpreview" id="Btn2"/> -->
            
            <input name="coupon[img2]" type="file" class="btn_file1 uploadpre"  />
            <input  name="coupon[img2]" type="file" class="btn_file2 uploadpre" />
            <input  name="coupon[img2]" type="file" class="btn_file3 uploadpre" />
            <div class="btn4 coupon_uploadpreview" id="Btns" ></div>
            <!-- <a class="btn4 coupon_uploadpreview"></a> -->
            <div class="box6right1">
              <%= f.text_field :name, :placeholder => @coupon.name || '优惠券主题 不得超过13个文字', :class => 'inputs2', :maxlength=>"14" %>
              <%= f.text_area :desc, :placeholder => @coupon.desc || '优惠额度，使用规则、期限等，不超过90字', :class => 'textarea3'%>
            </div>
          </div>
        </div>

        <div class="clear1"></div>

        <%= render :partial => 'form', :locals => {:f => f, :s => false}  %>

        
        <script type="text/javascript" src="/javascripts/imgUploadPreview.js"></script>
        <script>
          $(document).ready(function(){
            imgUploadPreview(".uploadpre", 'Btns')
          });
          $("#Btn2").click(function(){
            $("#coupon_img").click();
            // imgUploadPreview("input[name='coupon[img]']", 'Btns')
          });
function initPlaceHolders(){
  if('placeholder' in document.createElement('input')){ //如果浏览器原生支持placeholder
    return ;
  }
  function target (e){
    var e=e||window.event;
    return e.target||e.srcElement;
  };
  function _getEmptyHintEl(el){
    var hintEl=el.hintEl;
    return hintEl && g(hintEl);
  };
  function blurFn(e){
    var el=target(e);
    if(!el || el.tagName !='INPUT' && el.tagName !='TEXTAREA') return;//IE下，onfocusin会在div等元素触发 
    var emptyHintEl=el.__emptyHintEl;
    if(emptyHintEl){
      //clearTimeout(el.__placeholderTimer||0);
      //el.__placeholderTimer=setTimeout(function(){//在360浏览器下，autocomplete会先blur再change
        if(el.value) emptyHintEl.style.display='none';
        else emptyHintEl.style.display='';
      //},600);
    }
  };
  function focusFn(e){
    var el=target(e);
    if(!el || el.tagName !='INPUT' && el.tagName !='TEXTAREA') return;//IE下，onfocusin会在div等元素触发 
    var emptyHintEl=el.__emptyHintEl;
    if(emptyHintEl){
      //clearTimeout(el.__placeholderTimer||0);
      emptyHintEl.style.display='none';
    }
  };
  if(document.addEventListener){//ie
    document.addEventListener('focus',focusFn, true);
    document.addEventListener('blur', blurFn, true);
  }
  else{
    document.attachEvent('onfocusin',focusFn);
    document.attachEvent('onfocusout',blurFn);
  }

  var elss=[document.getElementsByTagName('input'),document.getElementsByTagName('textarea')];
  for(var n=0;n<2;n++){
    var els=elss[n];
    for(var i =0;i<els.length;i++){
      var el=els[i];
      var placeholder=el.getAttribute('placeholder'),
        emptyHintEl=el.__emptyHintEl;
      if(placeholder && !emptyHintEl){
        emptyHintEl=document.createElement('span');
        emptyHintEl.innerHTML=placeholder;
        emptyHintEl.className='placeholder';
        emptyHintEl.onclick=function (el){return function(){try{el.focus();}catch(ex){}}}(el);
        if(el.value) emptyHintEl.style.display='none';
        el.parentNode.insertBefore(emptyHintEl,el);
        el.__emptyHintEl=emptyHintEl;
      }
    }
  }
}

initPlaceHolders();
        </script>
        