

        <div class="box6">
          <div class="box6message" id="Box6Message">报错提示</div>
          <div class="boxinner">
          <input type="hidden" name="coupon[t]" value="1"/>
            <!-- <input type="button" class="btn4 coupon_uploadpreview" id="Btn2"/> -->
            
            <input name="coupon[img2]" type="file" class="btn_file1 uploadpre"  />
            <input  name="coupon[img2]" type="file" class="btn_file2 uploadpre" />
            <input  name="coupon[img2]" type="file" class="btn_file3 uploadpre" />
            <div class="btn4 coupon_uploadpreview" id="Btns" ></div>
            <!-- <a class="btn4 coupon_uploadpreview"></a> -->
            <div class="box6right1">
              <%= f.text_field :name, :placeholder => @coupon.name || '优惠券主题 不得超过13个文字', :class => 'inputs2', :maxlength=>"14" %>
              <%= f.text_area :desc, :placeholder => @coupon.desc || '优惠额度，使用规则、期限等，不超过90字', :class => 'textarea3'%>
            </div>
          </div>
        </div>

        <div class="clear1"></div>

        <%= render :partial => 'form', :locals => {:f => f, :s => false}  %>

        
        <script type="text/javascript" src="/javascripts/imgUploadPreview.js"></script>
        <script type="text/javascript" src="/newbackstage/js/jquery.placeholder.js"></script>
        <script>
          $(document).ready(function(){
            imgUploadPreview2(".uploadpre", 'Btns')
            $('input, text').placeholder();
            $('input, textarea').placeholder();
          });
          // $("#Btns").click(function(){
          //   $(".uploadpre").click();
            // imgUploadPreview("input[name='coupon[img]']", 'Btns')
          // });

        </script>
        