/* CSS Document */
body { background-color: #0A0603;background-image: url(http://img3.1dooo.com/img/shop_space/qdh/bg2.jpg); }
h3 {margin: 0;padding: 0;}

#Con{margin-top:50px; height:890px; position:relative;}

#Con .art {
	padding: 0px;
	width: 860px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 14px;
	color: #645026;
	line-height: 19px;
	clear:both;
}
#Con .art p {
	margin: 0px;
	display:block;
	padding:10px 0px;
	overflow:hidden;
}
.art .artleft {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 427px;
	overflow: hidden;
}
.art .artright {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 425px;
	overflow: hidden;
}

.art .menus {float: left;width: 375px;display: block;overflow: hidden;color:#000;font-size:13px;}
.art .menus li{display:block;margin-bottom:10px;cursor:pointer;padding-left:35px;background-repeat: no-repeat;background-position: left center;}
.art .menus li.hover{background-image: url(http://img2.1dooo.com/img/shop_space/qdh/sign1.png);}
.mbg,.mbg2,.mbg3,.mbg4,.mbg5, .mbg6{background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic16.jpg);background-repeat: no-repeat;
background-position: left top;display: block;height: 29px;width: 178px;line-height:30px;padding-left:10px;}
.mbg2{background-image: url(http://img2.1dooo.com/img/shop_space/qdh/pic17.jpg);width:197px;}
.mbg3{background-image: url(http://img3.1dooo.com/img/shop_space/qdh/pic18.jpg);width:233px;}
.mbg4{background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic19.jpg);width:150px;}
.mbg5{background-image: url(http://img2.1dooo.com/img/shop_space/qdh/pic20.jpg);width:213px;}
.mbg6{background-image: url(http://img2.1dooo.com/img/shop_space/qdh/pic21.jpg);background-position:left -3px;width:255px;}
.essay{float:left;color:#40300E;line-height:26px;width:430px;}
li span h2{font-size: 13px;font-weight: normal;padding: 0;}
li a h2{font-size: 14px;font-weight: normal ;margin: 0}
tr h3{margin: 0; padding: 0;font-size: 12px;}

.product {
	margin: 26px 0px 0px 0px;
	padding: 0px;
	clear: none;
	width: 100%;
	overflow: hidden;
}
.product .ad {
	margin: 0px 0px 0px 25px;
	padding: 0px;
	float: left;
	height: 240px;
	width: 265px;
	display:inline;
}
.product ul {
	display: inline;
	overflow: hidden;
	color:#7A6848;
	margin-left:40px;
	margin-top:20px;
	float:left;
}
.product li {
	display: inline;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
.product .pl {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 118px;
	overflow: hidden;
}
.product .pr {
	display: inline;
	float: left;
	margin-left: 5px;
	width: 135px;
	font-weight:bold;
	font-size:13px;
	line-height:22px;
}
.product .pb {
	margin: 5px 0px 0px 0px;
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.product .pb .link {
	background-image: url(http://img3.1dooo.com/img/shop_space/qdh/button.jpg);
	text-indent: -999999px;
	display: inline;
	height: 39px;
	width: 91px;
	float: left;
	margin-left:25px;
}
.product .pb span{
	float:left;
	line-height:30px;
	margin-left:10px;
	display:inline;
}
.tab {
	text-align: center;
	width: 750px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 12px;
	line-height:25px;
	border-collapse: collapse;
}
.tab caption {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.tab td{border:1px solid #c4a564;}

.tab2 {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 12px;
	line-height:25px;
	border-collapse: collapse;
}
.tab2 th{ color:#000; }
.tab2 .artword{padding-left:5px !important;display:block;}
.tab2 td{border:1px solid #c4a564;}

.art .sort {display: block;color:#000;overflow: hidden;width: 713px;margin: 0px auto;padding-left:67px;}
.art .sort li {display: block;float: left;cursor:pointer;}
.art .sort li.sortbg1 {background-image: url(http://img3.1dooo.com/img/shop_space/qdh/pic22.jpg);background-repeat: no-repeat;background-position: left top;width: 70px;height: 22px;padding-left: 61px;
padding-top: 12px;}
.art .sort li.sortbg2 {background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic23.jpg);background-repeat: no-repeat;background-position: left 7px;height: 22px;width: 86px;margin-left: 25px;
text-align: center;padding-top: 12px;}
.art .sort li.sortbg3 {background-image: url(http://img2.1dooo.com/img/shop_space/qdh/pic24.jpg);background-repeat: no-repeat;background-position: left 7px;height: 22px;width: 157px;margin-left: 25px;
text-align: center;padding-top: 12px;}
.art .artword2 .words{width:778px;margin:0px auto;padding:0px;line-height:20px;}
.art .artword2 .words p{text-indent:2em;display: block;margin: 0px;padding: 0px;}

.page {margin: 0px;padding: 0px;overflow: hidden;position:absolute;right:50px;bottom:100px;	}
.page a{background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic26.jpg);background-repeat: no-repeat;background-position: left top;display: block;padding: 0px;float: left;height: 25px;width: 23px;
margin-top: 0px;margin-right: 10px;margin-bottom: 0px;margin-left: 0px;text-align:center;line-height:25px;color:#645026;font-weight:bold;cursor:pointer;}
.page a:hover, .page a.hover{color:#000;}

.year{padding:0px;margin:0px;overflow:hidden;width:860px;height:300px;position:absolute;}
.year ul{overflow:hidden;display:block;position:absolute;z-index:2;top:240px;line-height:40px; font-weight:bold;padding-left:40px;*padding-left:35px;
border-top:1px solid #D6C79C; border-bottom:1px solid #D6C79C;width:820px;zoom:1; }
.year li{display:block;height:40px;width:45px;overflow:hidden;margin:3px 52px;float:left;font-style: italic;color: #7C7C7C; cursor:pointer;zoom:1;}
.year li.hover, .year li:hover{color:#fff;}
.year .bg{height:40px;width:60px;background-image:url(http://img1.1dooo.com/img/shop_space/qdh/bgs3.jpg);overflow:hidden;zoom:1;}
.year .picplane{width:860px;height:232px;overflow:hidden;position:relative;margin-bottom:12px;}
.year .pic{position:absolute;top:0px;display:block;background-image:url(http://img3.1dooo.com/img/shop_space/qdh/bgs5.png);width:2000px;height:232px;overflow:hidden;}
.year .bgsleft{width:125px;height:240px;position:absolute;background-image:url(http://img3.1dooo.com/img/shop_space/qdh/bgs2.png);z-index:5;top:0px;left:0px; background-position:-25px 0px;background-repeat:no-repeat;}
.year .bgsright{width:125px;height:240px;position:absolute;background-image:url(http://img3.1dooo.com/img/shop_space/qdh/bgs2.png);background-position:right top;z-index:5;top:0px;right:0px;background-position:-700px 0px;background-repeat:no-repeat;}

