/* CSS Document */
body {background-color: #795200;background-image: url(http://img3.1dooo.com/img/shop_space/qdh/bg5.jpg);height:auto;margin:0px;padding:0px;}

#Con{margin-top:50px; height:590px; position:relative;}

.form_tab {font-size: 14px;color: #645026;letter-spacing: 2px;}
.form_tab caption{font-size:13px; text-align:left;}
.form_tab input{ background-color:transparent;border:none;outline:none;}
.form_tab .inputs{background-image: url(http://img2.1dooo.com/img/shop_space/qdh/bg4.jpg);background-repeat: no-repeat;background-position: left top;background-color:transparent;
margin: 0px;height: 15px;width: 147px;padding:8px 8px;overflow:hidden;color: #4E3E1D;zoom:1;}

.b{font-weight:bold;white-space:nowrap;width:160px;}

.tab {text-align: center;padding: 0px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;font-size: 12px;line-height:25px;
border-collapse: collapse;}
.tab caption{ display:block; }
.tab td{border:1px solid #c4a564;}

.tab2 {text-align: center;padding: 0px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;font-size: 12px;line-height:25px;
border-collapse: collapse; color:#645026;}
.tab2 td{border:1px solid #c4a564;}

.plane{height:277px; overflow:hidden;zoom:1;}
.plane2,.plane3{ width:570px;margin:10px auto 0px auto;padding:10px;font-weight:bold;color:#645026;border:1px solid #c4a564;overflow:hidden;line-height:25px;}
.plane3{ width:500px;}

.ulstyle{width:650px;overflow:hidden;margin:0px auto;line-height:35px;font-size:18px;
font-family: "Verdana";font-weight:bold;color:#444}
.ulstyle a{color:#754C23;}
.ulstyle a:hover{text-decoration:underline;}
.ulstyle li{margin-bottom:10px;}

#Mes{
	background-color: #000;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display:none;
	-moz-opacity:0.8;
	opacity:0.8;
	filter: alpha(opacity=80);
	z-index:200;}

#service_info{
	width:587px;
	background-image:url("http://img2.1dooo.com/img/shop_space/qdh/b7.png");
	background-repeat: repeat;
	background-position: left top;
	position: absolute;
	top: 220px;
	padding: 6px;
	visibility: visible;
	left:49.8%;
	margin-left:-298px;
	z-index:300;
}

.mesinner {font-size:18px;padding-top:100px;font-family: "Verdana";font-weight:bold;color:#444;background-color: #FFFFFF;padding: 10px;line-height:25px;}
.mesinner a{color:#754C23;}
.mesinner a:hover{text-decoration:underline;}
.mesinner p{font-weight:normal;font-size:14px;}

#register_info{
	width:398px;
	background-image:url("http://img2.1dooo.com/img/shop_space/qdh/b7.png");
	background-repeat: repeat;
	background-position: left top;
	position: absolute;
	top: 190px;
	padding: 6px;
	visibility: visible;
	left:49.8%;
	margin-left:-195px;
	z-index:300;
}

#recharge_info{
	width:398px;
	background-image:url("http://img2.1dooo.com/img/shop_space/qdh/b7.png");
	background-repeat: repeat;
	background-position: left top;
	position: absolute;
	top: 220px;
	padding: 6px;
	visibility: visible;
	left:49.8%;
	margin-left:-195px;
	z-index:300;
}

