/* CSS Document */
body {font-family: "����";font-size: 12px;background-color: #0A0603;background-image: url(http://img2.1dooo.com/img/shop_space/qdh/bg.jpg);background-repeat: no-repeat;
      background-position: center top;margin:0px;padding:0px;}
img{border:none;}
h1,ul,li,p,center,form{padding:0px;margin:0px;}
center{display:block;}
ul{list-style:none;}
a{text-decoration:none;}

.clear{margin:0px;padding:0px;width:100%;height:0px;line-height:0px;overflow:hidden;}
.l{float:left}
.r{float:right;}
.c{margin:0px auto !important;}
.c2{ text-align:center !important;}
.c3{text-align:center !important;display:block;}
.td45 td{height:50px;}
.left{float:left;}
.h1css{margin:10px auto; font-size:14px; color:#645026;text-align:center;}
.tabcash { margin:0px;}
.wordstyle{color:#777;font-size:12px;display:block;padding:0px;margin:0px;}
.wordstyle2{font-size:18px;padding-top:100px;font-family: "Verdana";font-weight:bold;color:#444;}
.wordstyle2 a{color:#754C23;}
.wordstyle2 a:hover{text-decoration:underline;}
.lh35{line-height:35px !important;}
.padding20{padding:20px !important;}
.red{color:#f00;}
.orange{color:#f70;}
.gray{color:#40300E;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}
.ml20{margin-left:20px !important;}
.ml40{margin-left:40px !important;}
.ml80{margin-left:80px !important;}
.ie6ml20{_margin-left:20px !important;}
.ie6ml35{_margin-left:35px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml100{margin-left:100px !important;}
.ml165{margin-left:165px !important;}
.ml305{margin-left:305px !important;}
.ml350{margin-left:350px;}
.ml650{margin-left:650px;}
.mr20{margin-right:20px !important;;}
.mr80{margin-right:80px;}
.mr800{margin-left:800px;}
.mb10{margin-bottom:10px !important;}
.m0{margin:0px !important;}

.pt310{padding-top:310px !important;}
.pl50{padding-left:50px;}
.pl112{padding-left:112px;}
.pl138{padding-left:138px;}
.pl145{padding-left:145px;}
.pb10{padding-bottom:10px;}

.w120{width:120px;}
.w160{width:160px;}
.w400{width:400px;}

.r_mr20{float:right; margin-right:20px; display:inline;}
.l_ml20{float:left; margin-left:20px; display:inline;}

.lh24{line-height:24px;}
.lh25{line-height:25px;}

.pass_button {
    background-image: url(http://img3.1dooo.com/img/shop_space/qdh/button2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0px;
    padding: 0px;
    height: 28px;
    width: 90px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #645026;
}

.absolutesite{ position:absolute; right:50px; bottom:50px;}
.button {
    background-image: url(http://img3.1dooo.com/img/shop_space/qdh/button2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0px;
    padding: 0px;
    height: 28px;
    width: 90px;
    display: block;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #645026;
}
.button:hover{color:#000;}


.btn{float:right;}
.btn a {
    background-image: url(http://img3.1dooo.com/img/shop_space/qdh/button2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0px;
    padding: 0px;
    height: 28px;
    width: 90px;
    display: block;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #645026;
}
.title{
    background-image: url(http://img3.1dooo.com/img/shop_space/qdh/title.png);
    padding: 0px;
    clear: both;
    width: 809px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: left top;
    color:#5B4A1F;
    font-size:14px;
    font-weight:bold;
    letter-spacing:2px;
    text-align:center;
    height:61px;
    padding-top:14px;
    font-family: "Verdana";
}
.title  h1{font-size: 14px;}
#MB{
    padding:0px;
    margin:0px auto;
    width:970px;
    overflow:hidden;
}
#Header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    color:#957755;
}
#Header .headerleft{
    margin-top:20px;
    margin-left:40px;
    float:left;
    font-size:14px;
    display:inline;
}
#Header .headerright{
    float:right;
    background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    height: 33px;
    padding-left: 48px;
    margin-top:18px;
    margin-right:40px;
    padding-top:0px;
    padding-bottom:16px;
}
#SubNav{
    margin-bottom:4px;
}
#SubNav a{
    color:#957755;
}
#SubNav a:hover{color:#000;}
.menu {
    margin: 25px 0px 0px 0px;
    padding: 0px;
    clear: none;
    width: 100%;
    font-size:14px;
    font-weight:bold;
    overflow: hidden;
}
.menu ul{
    overflow:hidden;
    display:block;
    height:16px;
}
.menu li{ margin-left:40px; display:inline;}
.menu a { color: #5B4A1F; }
#Con{ width:100%; overflow:hidden; padding:0px; margin:0px; height:940px; }

#Footer {
    margin: 0px;
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color:#C5B48C;
}
#Footer .logo{
    background-image: url(http://img1.1dooo.com/img/shop_space/qdh/pic9.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    padding:0px;
    height: 76px;
    width: 180px;
    text-indent: -999999px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear:both;
}
#Footer a{color:#c5b48c;}
#Footer a:hover{color:#F2EAD6;}

/**ҳ��**/
.pagination {color: ##645026;clear: both;font-size:13px;width:100%;overflow:hidden;}
.pagination span{padding-right:8px; display:block; float:left;}
.pagination .current , .pagination a:hover{color:#000;font-weight:bold;}
.pagination a{color: #645026;padding-right:8px;display:block;float:left;}
#uphone{padding-right: 100px;}
#uphone .first{padding: 0 24px 2px 0;}
#uphone .blank{padding: 63px;}
#uphone ul{margin-left: 260px; margin-top: 40px; }
#uphone .butt{background-image: url('http://img3.1dooo.com/img/shop_space/qdh/button2.jpg');
             width: 88px; height: 26px; text-align: center; padding-top: 4px;}
#uphone .add{margin: 0 0 0 44px;}

