/************ .logon登录 .reg 注册*************/
#msgDiv{ padding-top:10px;text-align:center;font-size:14px; background:#fff; display:none; }
#logonAndreg{ overflow:hidden; margin:0px; padding:0px; position:relative;clear:both;}
#logonAndRegbg{
	background-color: #000;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display:none;
	-moz-opacity:0.8;
	opacity:0.8;
	filter: alpha(opacity=80);
	z-index:200;
}

#Reg{
	width:482px;
	position: absolute;
	top: 100px;
	visibility: visible;
	left:50%;
	margin-left:-241px;
	display: none;
    z-index:300;
	overflow:hidden;
	zoom:1;
}
#Reg .regbg2{
	background:transparent;
	background-image:url("http://img2.1dooo.com/img/shop_space/qdh/b7.png");
	background-repeat: repeat;
	background-position: left top;
    padding: 6px;
	z-index:300;
}
#Reg .regbg {
	background-color: #FFFFFF;
	padding: 0px 10px 10px 10px;
	width: 450px;
}
#logon{
	width:398px;
	background:transparent;
	background-image:url("http://img2.1dooo.com/img/shop_space/qdh/b7.png");
	background-repeat: repeat;
	background-position: left top;
	position: absolute;
	top: 200px;
	padding: 6px;
	visibility: visible;
	left:49.8%;
	margin-left:-195px;
	display: none;
	z-index:300;
	overflow:hidden;
	zoom:1;
}
#logon .logonbg {
	background-color: #FFFFFF;
	padding: 0px 10px 10px 10px;
	width: 378px;
	z-index:300;
}
.tit {
	font-size: 14px;
	color: #222;
	font-weight: bold;
}
.logoninput {
	height: 25px;
	width: 190px;
	border: 1px solid #ccc;
	line-height:25px;
	outline:none;
}
.logoninput:hover{
	background-color:#faffbd;
}
a.logon_a {
	color: #5B4A1F;
	text-decoration: none;
}
a.logon_a2 {
	font-size:12px;
	color: #999;
	text-decoration: none;
}

.tabline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	line-height: 1px;
	height: 1px;
}
.logonsub, .regsub {
	background-image: url(http://img3.1dooo.com/img/shop_space/qdh/button2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 28px;
	width: 90px;
	display: block;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	color: #645026;
	border:0px;
}
.logontable {
	font-size: 14px !important;
	color: #545353;
	border:none;
}
.logontable .right{ text-align:right; }
.logontable .left{ text-align:left; }

.tabcolor{ color:#f00 !important; margin-right:5px;}
.tabcolor2{ color:#999 !important;}

#loginMsgDiv{ padding-top:10px;text-align:center;font-size:14px; background:#fff; display:none; }

