.white-background.shadow
  .text-left.padding-10
    %p 
      Thanks for checking this functionality.
      It’ll be released soon and enable you to see your activity on the platform.
      Stay tuned!

