
.main_menu
  .cards
    %ul.nav.nav-tabs
      %li.card.active
        %a{href: "#"}Sessions
      %li.card
        %a{href: "#"}Content
      %li.card
        %a{href: "#"}Community


  .items
    .item
      .item-title
        = "Re-balancing body-mind energy"
      .item-body
        .cover
          = image_tag("default.png")
          .social-share-icons
            = render "shared/social_share", session_url: "some url", session_title: "session title"
        .statistic
          50 people viewed this session <br>
          4 members signed up <br>
          5 comments(1 new) <br>
          <br>
          $ 62.75 your earnings so far 
        .something
          // TODO: placeholder

