.white-background.shadow
  .article-content.clearfix
    %h3.text-center Welcome to your Expert Dashboard! 

    .float-image
      = image_tag("expert_icon.jpg")
    %p Here you can view and manage your content, edit your profile, and track visits plus social shares. Over time, we'll add more functionality and you'll discover new tools at your fingertips.

    %p Go on, experiment with the site and have fun!
