.white-background.shadow
  .article-content
    %h3.text-center Welcome to your Expert Dashboard! 

    .float-image
      = image_tag("expert_icon.jpg")

    %p As soon as you become active on the platform (for example by updating your profile, posting new content and sharing it with friends, family, clients via social media) you will see all the activity posted here.

    %p Go on, experiment with the site and have fun!
    .clear-fix
