.side-menu
  = render 'side_menu'
- content_for(:title){"Expert Dashboard"}

= render "guideline_page_modal"
.dash-wrapper.margin-bottom
  .container
    .row
      .col-md-9.col-sm-12.main-menu
        = render 'experts/welcome_page'
