
- content_for(:title){"Expert Dashboard"}

= render "guideline_page_modal"
.dash-wrapper.margin-bottom
  .container
    .row
      .col-lg-3.col-md-3.side-menu
        = render 'dashboard/side_menu'
      .col-lg-9.col-md-9.main-menu
        = render 'experts/welcome_page'
