- content_for(:title){"Expert Dashboard"}

.dash-wrapper.margin-bottom
  .container
    .row
      .col-md-3.side-menu
        = render 'side_menu'
      .col-md-9.main-menu
        = render 'experts/welcome_page'
      = render "guideline_page_modal"
