:plain
  $(document).ready(function(){
    $(".main-menu").html("#{j(render partial: @from)}");
    CKEDITOR.replaceAll();

    $('#session-cover-input').change(function(){
      filename = $(this).val();
    });

    $('#session-video-input').change(function(){
      filename = $(this).val();
    });

    var currentdate = new Date();
    $('#datepicker').datetimepicker({
      maskInput: true,
      startDate: currentdate,
      pickTime: false
    });

    $('#starttimepicker').datetimepicker({
      maskInput: true,
      pickDate: false,
      pickSeconds: false,
      pick12HourFormat: true
    });

    $('#endtimepicker').datetimepicker({
      maskInput: true,
      pickDate: false,
      pickSeconds: false,
      pick12HourFormat: true
    });

    $("#session-preview").click(function(){
       var title = $("#session-title-input").val();
       $("#session-title").html("<h1>"+title+"</h1>");
       var date = $("#datepicker").find("input").val();
       var time = $("#starttimepicker").find("input").val();
       var timezone = $("#session-timezone-input").val();
       $("#session-datetime").html(date+"  "+time+"  "+timezone);
       var location = $("#session-location-input").val();
       $("#session-location").html(location);
       var price = $("#session-price-input").val();
       $("#session-price").html("$"+price+" USD");
       $("#article-session-categories").html("");
       $("#live-session-categories").html("");
       $("input:checked").each(function(){
         $("#article-session-categories").html($("#article-session-categories").html() + $(this).next("label").text() + "  ");
         $("#live-session-categories").html($("#live-session-categories").html() + "<p>" + $(this).next("label").text() + "</p>");
       })
       if(CKEDITOR.instances["live_session_description"] != undefined){
         var live_description = CKEDITOR.instances["live_session_description"].getData();
         $("#live-session-description").html(live_description);
       }
       if(CKEDITOR.instances["article_session_description"] != undefined){
         var article_description = CKEDITOR.instances['article_session_description'].getData();
         $("#article-session-description").html(article_description);
       }
    });

    $("#session-cover-input").change(function(){
      readURL(this);
    });

    $("#session-video-input").change(function(){
      $(".video-page-video-frame").css("display", "block");
    });

    $(".modal-submit").click(function(){
      $("#modal").modal("hide");
    });

    function readURL(input) {
      if (input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#session-cover").attr("src", e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  });
  

