:plain
  $(document).ready(function(){
    $(".main-menu").html("#{j(render partial: @from)}");
    CKEDITOR.replaceAll();

    $('#datepicker').datetimepicker({
      pickTime: false
    });

    $('#starttimepicker').datetimepicker({
      pickDate: false,
      pick12HourFormat: true
    });

    $('#endtimepicker').datetimepicker({
      pickDate: false,
      pick12HourFormat: true
    });

    $("#content-preview").click(function(){
       var title = $("#content-title").val();
       $("#article-title").html("<h1>"+title+"</h1>");
       var description = CKEDITOR.instances['content-description'].getData();
       $(".text-page-main-content").html(description);
    });
  });

