-if @recommendation
  .recommendation.white-background.shadow
    Recommended
- @favorite_contents.each do |session|
  .favorite-session-box.shadow.white-background
    .favorite-session-cover
      = image_tag(session.cover.url)
    = render "session_info", content: session


    
    
