- @favorite_content.each do |session|
  .favorite-session-box.shadow.white-background
    .favorite-session-cover
      = image_tag(session.cover.url)
    = render "session_info", session: session


    
    
