- @followed_experts.each do |e|
  .expert-action-box.shadow
    .expert-info
      .expert-avatar
        =image_tag(e.avatar.url)
      .expert-text-info
        .expert-name
          = e.name
        .expert-title
          #{e.profile.title}, #{e.profile.company}
    .expert-actions
      .follow-star
        = render "shared/favorite_expert_star", expert: e 
      .clear-fix
      .expert-action-info
        .block-title
          %span RECENT ACTIVITY
        .recent-activity
          .cource-icon
            =image_tag("missing.png")
          .cource-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago
            
        .recent-activity
          .cource-icon
            =image_tag("missing.png")
          .cource-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago

                                    
        .recent-activity
          .cource-icon
            =image_tag("missing.png")
          .cource-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago
      
      .see-more
        =link_to "see more", remote: true

