- @favorite_session.each do |session|
  .favorite-session-box.shadow.white-background
    .favorite-session-cover
      .video-img{data: {source: session.video.url}}
        = image_tag session.cover.url, class: 'video-play'
        = image_tag "video_play_icon.png", class: 'play-video-icon'
    = render "session_info", session: session
