-if @recommendation
  .recommendation.white-background.shadow
    Recommended Video Courses
-elsif
  .recommendation.white-background.shadow
    Favorite Video Courses
- @subscribed_courses.each do |course|
  = render "course_info", course: course
