.recommendation.white-background.shadow
  -if @recommendation
    Recommended Video Courses
  -else
    Favorite Video Courses
- @subscribed_courses.each do |course|
  = render "members/course_info", course: course
