.white-background.shadow
  .article-content
    %h3.text-center Welcome to your Member Dashboard! 

    .float-image
      = image_tag("member_like.jpg")
    %p As soon as you become active on the platform (for example by browsing content and following experts you like) you will see all the activity posted here.

    %p Go on, experiment with the site and have fun!
    .clear-fix
