- content_for(:title){"Member Dashboard"}

.dash-wrapper.margin-bottom
  .container-fluid
    .row-fluid
      .span3.side-menu
        = render 'side_menu'
      .span9.main-menu
        = render 'members/welcome_page'
