/* CSS Document */
#Tic {
	margin: 0px;
	padding-top: 20px;
	padding-right: 28px;
	padding-bottom: 0px;
	padding-left: 28px;
	clear: both;
	overflow: hidden;
}
#TicLeft {
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
	zoom: 1;
	width: 665px;
}
#TicRight {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 235px;
	overflow:hidden;
	zoom:1;
}
#WeiBo {padding-bottom: 26px;
	background-image: url(/img/shop_space/meiyong/bg6.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#WeiBoInner .wbimg { border: 1px solid #fefefe; float: left; }
#WeiBoInner ul { float: left; margin-left: 10px; line-height: 25px; }
#WeiBoInner a{ color: #999; }
#WeiBoInner a:hover { color:#FF3300; }
#WeiBoInner .conname { font-weight: bold; color: #a433a1; }
#WeiBoInner .conname:hover { color: #FF9900; }
#WeiBoInner .weibodown {
	line-height: 20px;
	clear: both;
	background:#f8f4fa;
	margin: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#WeiBoInner .renren { background-image: url(/img/shop_space/meiyong/sign3.jpg); background-repeat: no-repeat; background-position: left center; padding-left:20px; margin-left: 10px; padding-top:5px; padding-bottom:5px; }
#WeiBoInner .qq { background-image: url(/img/shop_space/meiyong/sign4.jpg); background-repeat: no-repeat; background-position: left center; padding-left:20px; margin-left: 10px; padding-top:5px; padding-bottom:5px; }
#WeiBoInner .imgs { border: 1px solid #fff; float: left; width: 72px; height: 72px; }
#WeiBoInner .weibocon { padding: 0px; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 15px; zoom:1; width: 95px; }
#WeiBoInner .weibocon h2 ,#WeiBo .weibocon h2 a{ color: #a433a1; font-size: 12px; }
#WeiBoInner { padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; overflow: hidden; line-height: 20px;
 overflow: hidden; zoom:1; background-color: #f0e9f5; }

#Fav { margin:0px 0px 5px 0px; }

#Con1{
	overflow:hidden;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	zoom:1;
	margin: 10px 0px 0px 0px;
}
#New {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 295px;
	overflow: hidden;
}
#New ul {
	display: block;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
	line-height: 20px;
	color: #848484;
	height: 55px;
}
#New li a {
	float:left;
	color: #848484;
}
#New li span {
	float:right;
}
#New li {
	background-image: url(/img/shop_space/meiyong/point2.jpg); 
	background-repeat: no-repeat; 
	background-position: 2px 8px;
	display: block;
	clear: both;
	padding-left: 8px;
	overflow: hidden;
	height: 20px;
}
#New .adimg2{ width:290px; height:60px; }
/*书签动画*/
#PicBox{
	float: left;
	width: 340px;
	margin: 0px 32px;
	padding: 0px;
	overflow:hidden;
	zoom:1;
}
#Pic {
	padding: 0px;
	width: 338px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dbdbdb;
	border-left-color: #dbdbdb;	
	margin-top: 5px;
	overflow:hidden;
	zoom:1;
}
#Pic .pics {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 128px;
	width: 247px;
	overflow: hidden;
	zoom:1;
	position: relative;
}
#Pic .pics img{
	height: 128px;
	width: 247px;
	overflow:hidden;
	zoom:1;
}
#Pic .n {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 128px;
	width: 30px;
	_width: 29px;
	cursor: pointer;
	overflow: hidden;
	zoom:1;
}
/*书签动画over*/
#Add {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 240px;
	text-align: center;
}
#Add .addimg {
	margin-top: 5px;
	margin-bottom: 5px;
}
#Add .aimg, #Add .aimg2, #Add .aimg3, #Add .aimg4 {
	text-indent: -999999px;
	margin: 0px 5px 5px 0px;
	padding: 0px;
	height: 27px;
	width: 115px;
	background-image: url(/img/shop_space/meiyong/botton2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	display: block;
}
#Add .aimg2 {
	margin-right:0px;
	background-position: -120px top;
}
#Add .aimg3 {
	background-position: left -35px;
}
#Add .aimg4 {
	margin-right:0px;
	background-position: -120px -35px;
}
/*优惠券动画*/
#coupon { width: 660px; height:112px; padding: 1px; margin:0px; border: 1px solid #d8a0e2; overoflow:hidden; zoom:1; position: relative; }
#coupon img{ border:none;}
#coupon .leftarrow {magin: 0px;padding: 45px 10px 45px 0px; position:absolute; left:3px;display:block; }
#coupon .rightarrow {margin: 0px;padding: 50px 0px 40px 10px; position:absolute; right:3px;display:block; top: 0px; }

.ScrCont{ width:10000000px; }

.Cont{ width:660px;padding:0px;overflow:hidden;margin: 0px; }
.Cont ul{ padding:0px; margin:0px; display:block; list-style:none; float: left; }
.Cont ul li{float:left;display:block;overflow:hidden;}
/*优惠券动画over*/

/*主动画*/
#AD { background-image: url(/img/shop_space/meiyong/bg4.png);background-repeat: no-repeat;background-position: left bottom;width: 662px; height: 300px; overflow:hidden; margin:0 auto;padding: 0px 0px 29px 0px; }
#AD img{ width:660px; height:300px; }
#AD .adinner{ width:660px; position: relative; height: 300px; overflow:hidden; margin:0px; padding:0px; zoom:1; border: 1px solid #fff; }
#AD .frames {width: 2060px; position: relative; height: 300px}
#AD .frame-1 {left: 0px; overflow: hidden; width: 660px; position: absolute; height: 300px; top:0px;}
#AD .frame-2 {left: 660px; overflow: hidden; width: 660px; position: absolute; height: 300px; top:0px;}
#AD .frame-3 {left: 1320px; overflow: hidden; width: 660px; position: absolute; height: 300px; top:0px;}
#AD .frame-4 {left: 1980px; overflow: hidden; width: 660px; position: absolute; height: 300px; top:0px;}
#AD .frame-5 {left: 1980px; overflow: hidden; width: 660px; position: absolute; height: 300px; top:0px;}
#AD .controls { width: 105px; BOTTOM: 15px; right:5px; margin:0px; position: absolute; }
#AD .selected { float: left;margin-left: 4px;width: 10px;height: 9px;background-image: url(/img/shop_space/meiyong/sign6.jpg);background-repeat: no-repeat;background-position: left top;text-indent:-9999999px; }
#AD .off { float: left;margin-left: 4px;width: 10px;height: 9px;background-image: url(/img/shop_space/meiyong/sign5.jpg);background-repeat: no-repeat;background-position: left top;text-indent:-9999999px;}
#AD .arrow1 { float: left;width: 5px;height: 9px;background-image: url(/img/shop_space/meiyong/arrow3.png);background-repeat: no-repeat;background-position: left top;margin-right: 5px;cursor: pointer; }
#AD .arrow2 { float: left;width: 5px;height: 9px;background-image: url(/img/shop_space/meiyong/arrow4.png);background-repeat: no-repeat;background-position: left top;margin-left: 8px;cursor: pointer; }
/*主动画over*/

/*垂直滚动动画*/
#GoTop,#GoBottom { display:block; background-image: url(/img/shop_space/meiyong/arrow11.gif); background-repeat: no-repeat; background-position: left top; padding: 0px; height: 10px; clear: both; margin-top: 10px; margin-right: auto; margin-bottom: 0px; margin-left: auto;
 text-indent:-999999em;width:215px; }
#GoTop:hover { background-image: url(/img/shop_space/meiyong/arrow13.gif); }
#GoBottom { margin:0px; background-image: url(/img/shop_space/meiyong/arrow12.gif); }
#GoBottom:hover { background-image: url(/img/shop_space/meiyong/arrow14.gif); }
#ShowArea { width:215px; height:140px; margin:0px 10px 0px 0px !important;overflow:hidden; display:block; list-style:none; }
#ShowArea li { cursor:pointer; display:block; margin:0px; padding-top: 8px; padding-right: 0px; padding-bottom: 8px; 
 padding-left: 0px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #999; color: #666; }
#ShowArea li .mes { line-height: 20px; }
#ShowArea .mes a { color: #ff9900; margin-right: 2px; margin-left: 2px; }
/*垂直滚动动画over*
