/* CSS Document */
body { font-family: "宋体"; font-size: 12px; margin: 0px; padding: 0px; background-color: #f7f1f8; }
img { border:none; }
ul,li,h1,h2{ padding:0px; margin:0px; }
ul { list-style:none; }
a { text-decoration: none; }

.fl {float:left;}
.fr {float:right;}
.clear{ clear:both; overflow:hidden; width:100%; height:0px; line-height:0px; zoom:1; }
.noneborer{ border: none !important; }
.pl10{ padding-left: 10px; }
.pl20{ padding-left: 20px; }
.mt10 { margin-top: 10px; }
.mt12 { margin-top: 12px !important; }
.mt25 { margin-top: 25px !important; }
.mr26{ margin-right:26px; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; } 
.mlr8 { margin-left: 8px; margin-right: 8px; }
.mtb15 { margin-top: 15px !important; margin-bottom: 15px !important; }

.r{ text-align: right; }
.c{ text-align: center; }

.rose{ color: #a433a1; }
.orange { color:#f50; }
.white { color:#fff; }
.gray { color: #b3b192; }
.gray2 { color: #888; }
.pink { color: #909; }

.w95{ width:95px; }
.w110{ width:110px; }

.pinkline{background-image:url(/img/shop_space/meiyong/line2.jpg);background-repeat:repeat-x;background-position:left top;height:12px;width:100%;margin:25px 0 0;padding:0}

.pink_blod{ color: ##990099; font-weight: bold; }

.title{ color: #8e0092; line-height: 26px; padding:0px; margin:0px; overflow:hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dcdcdc; text-align:left; zoom:1; }
.title h1 { float:left; font-weight: normal; font-size: 14px; display: block; }
.title h2{float:left; font-weight: normal; font-size: 14px; display: block;}

.title2{ color: #8e0092; font-size: 14px; line-height: 34px; margin:0px; overflow:hidden; text-align:left;  background-image: url(/img/shop_space/meiyong/sign9.jpg); background-repeat: no-repeat; background-position: 15px center;  padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 38px; border-top-width: 1px; border-top-style: solid; border-top-color: #e2e2e2; border-bottom-width: 1px; border-bottom-style: solid;
 border-bottom-color: #e2e2e2; zoom:1; }
.title2 h1 { font-size: 14px; font-weight: normal; float: left; }
.title2 .title2right { color: #8c8c8d; float: right; }
.title2 .title2right a { color: #9951a6; }
.title2 .title2right a:hover { color: #f90; }

.more , .more2{ float: right; margin: 0px; display: block; background-image: url(/img/shop_space/meiyong/sign.gif); background-repeat: no-repeat; background-position: left 12px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 8px; }
.more2{ margin-top: 10px; }
.more a , .more2 a{ color: #8a8a8a; }

#MB, #MB2 { padding: 0px; width: 980px; margin: 0px auto; background-image: url(/img/shop_space/meiyong/bg5.jpg); background-repeat: no-repeat; background-position: left top;
 background-color: #fff; }
#MB2{ background-image:url(/img/shop_space/meiyong/bg11.jpg); background-position:top left; background-repeat:no-repeat; }

#SubNav { color: #000000; line-height: 23px; text-align: right; padding-top: 15px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-size: 12px; overflow: hidden; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 720px; }
#SubNav li { float: left; }
#SubNav a { color: #555; }

.menu { background-image: url(/img/shop_space/meiyong/nav.jpg); background-repeat: no-repeat; background-position: left top; padding: 0px; height: 79px; margin-top: 5px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.menu ul { font-size: 14px; height:15px; color: #eddbf1; overflow: hidden; display: block; margin-left: 305px; padding-top: 30px; }
.menu a { color: #eddbf1; display: block; }
.menu  a:hover { color: #FFCC33; }
.menu li { float: left; display: block; width: 112px; }

#Con { margin: 0px; padding: 0px; clear: both; width: 100%; overflow: hidden; }
#ConRight { margin: 25px 0px 0px 0px; padding: 0px; float: left; width: 720px; overflow:hidden; }
#ConLeft { background-image: url(/img/shop_space/meiyong/bg7.png); padding: 0px; float: left; width: 246px; background-repeat: no-repeat; background-position: left top; margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; zoom:1;}
#ConLeftInner { background-image: url(/img/shop_space/meiyong/bg8.png); background-repeat: repeat-y; background-position: left top; width: 201px; padding-top: 0px; padding-right: 23px; padding-bottom: 0px; padding-left: 22px; margin-top: 15px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; overflow:hidden; zoom:1; }
#ConLeftBottombg { background-image: url(/img/shop_space/meiyong/bg9.png); background-repeat: no-repeat; background-position: left top; height: 85px; }

#Footer { width: 100%; color: #838383; background-image: url(/img/shop_space/meiyong/bg2.jpg); background-repeat: repeat-x; background-position: left top; padding: 0px; margin-top: 15px;
margin-right: 0px; margin-bottom: 0px; margin-left: 0px; overflow: hidden; zoom:1;clear:both; }
#Footer .foot_nav { float: left;width:420px; background-image: url(/img/shop_space/meiyong/logo.jpg);
background-repeat: no-repeat; background-position: left top; padding: 25px 0px 0px 125px; height:50px; margin: 0px; display:block;
line-height: 40px; overflow:hidden; zoom:1;}
#Footer .foot_nav a { color: #838383; }
#Footer .footerright {  float: right; padding: 0px; *margin-top: 20px; margin-right: 20px; *margin-right:10px;
margin-bottom: 0px; margin-left: 0px; text-align: right; overflow: hidden; zoom:1; line-height: 20px; }
#Footer .footerright a { color :#8e0092; }
#Footer .footerright a:hover { color: #f90; }