/* CSS Document */

/*左侧主体css*/

.button { line-height: 29px; color: #990099; display: block; background-image: url(/img/shop_space/meiyong/button6.jpg);background-repeat: no-repeat; background-position: left top; padding-left: 10px; margin-bottom: 10px; overflow:hidden; zoom:1; }
.button:hover { color:#FF9900; }

.weibo { background-color: #f0e9f5; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; overflow: hidden; line-height: 20px; overflow: hidden; zoom:1; }
.weibo .wbimg { border: 1px solid #fefefe; float: left; }
.weibo ul { float: left; margin-left: 10px; line-height: 25px; }
.weibo a{ color: #999; }
.weibo a:hover { color:#FF3300; }
.weibo .conname { font-weight: bold; color: #a433a1; }
.weibo .conname:hover { color: #FF9900; }
.weibo .weibodown { padding: 5px; line-height: 20px; clear: both; margin: 10px 0px 0px 0px; background:#f8f4fa; }
.weibo .renren { background-image: url(/img/shop_space/meiyong/sign3.jpg); background-repeat: no-repeat; background-position: left center; padding-left:20px; margin-left: 10px; padding-top:5px; padding-bottom:5px; }
.weibo .qq { background-image: url(/img/shop_space/meiyong/sign4.jpg); background-repeat: no-repeat; background-position: left center; padding-left:20px; margin-left: 10px; padding-top:5px; padding-bottom:5px; }
.weibo .imgs { border: 1px solid #fff; float: left; width: 72px; height: 72px; }
.weibo .weibocon { padding: 0px; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; zoom:1; width: 95px; }
.weibo .weibocon h2 a{ color: #a433a1; font-size: 12px; }

.new { line-height: 22px; padding: 0px; overflow: hidden; margin-left: 12px; margin-right: 12px; margin-top: 10px; margin-bottom: 0px; }
.new ul { margin-top: 10px; display: block; }
.new li { overflow:hidden; height:22px; background-image: url(/img/shop_space/meiyong/point2.jpg); background-repeat: no-repeat; background-position: 2px 10px; padding-left: 8px; }
.new a { color: #848484; }
.new a:hover { color:#FF9900; }

.contact { border-top-width: 1px; border-top-style: solid; border-top-color: #dcdcdc; margin-right: 12px;
 margin-left: 12px; margin-top: 15px; margin-bottom: 0px; padding: 0px; }

 .adimg{ width:201px; }
 /*左侧主体css结束*/

