/* CSS Document */

/*右侧主体css*/
#coupon { width: 660px; height:112px; padding: 1px; margin:0px auto; border: 1px solid #d8a0e2; overflow:hidden; zoom:1; position: relative; }
#coupon img{ border:none;}
#coupon .leftarrow {margin: 0px;padding: 45px 10px 45px 0px; position:absolute; left:3px; display:none;}
#coupon .rightarrow {margin: 0px;padding: 50px 0px 40px 10px; position:absolute; right:3px; top: 0px; display:none; }

.ScrCont{ width:10000000px; }

.Cont{ width:660px;padding:0px;overflow:hidden;margin: 0px; }
.Cont ul{ padding:0px; margin:0px; display:block; list-style:none; float: left; }
.Cont ul li{float:left;display:block;overflow:hidden;}

.conrightlist { padding: 0px; width: 660px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; background-image: url(/img/shop_space/meiyong/bg9.jpg); background-position: left top; background-repeat: repeat-x; line-height: 32px; display:block; overflow:hidden; }
.conrightlist li { width: 650px; padding-left: 10px; float:left; background-image: url(/img/shop_space/meiyong/line.jpg); background-repeat: repeat-x; background-position: left bottom;}
.conrightlist li.t { background-image:none; color: #333333;}
.conrightlist .spanbox { float:left; width:445px; display:block; overflow:hidden; text-align:center; }
.conrightlist .spanbox2 { text-align:center; float:left; width: 110px; display:block; overflow:hidden; }
.conrightlist .spanbox3 { text-align:center; float:left; width: 95px; display:block; overflow:hidden; }
.conrightlist .spanbox4 { float:left; width:445px; display:block; overflow:hidden; }
.conrightlist .linebg { background-image: url(/img/shop_space/meiyong/sign10.jpg); background-repeat: no-repeat;
 background-position: right center; }
.conrightlist a { color: #666; }
.conrightlist a:hover { color: #FF9900; }

/** 页码css **/
.pages{clear:both;width:100%;margin:0px;padding:0px;overflow:hidden;}
.pages .pagination { text-align: center; margin-top: 25px; }
.pages .pagination a { margin-right: 5px; margin-left: 5px; color: #666; }
.pages .pagination a:hover, .pages .pagination a.hover{ font-weight: bold; color: #9d00b4; }
/** 页码css over **/

/** art box **/
.art { padding: 0px; margin-top: 10px; margin-right: 13px; margin-bottom: 0px; margin-left: 13px; line-height: 22px; color: #767676; }
.art h1 , .art h2  { font-size: 14px; line-height: 30px; color: #630368; }
.art h2 { font-size: 16px; text-align: center; }
.art p { text-indent: 2em; }
.art .art_img { overflow: hidden; margin-top: 10px; margin-right: auto; margin-bottom: 20px; margin-left: auto; }
.art .art_img li { float: left; overflow:hidden; display: block; }
.art .art_img2 { border: 1px solid #b8b2bb; }/* image */
.art .art_imgbox { overflow:hidden; width: 570px; margin: 0px auto; zoom:1; text-align:center; }
.artinner{ width:570px; margin:0px auto; }
/** art box over **/

/** conbox box **/
.conbox { margin:0px; padding: 0px; overflow:hidden; zoom: 1; clear:both; }
.conbox ul { display: block; overflow: hidden; margin-top: 25px; }
.conbox li { margin-left: 40px; float: left; overflow:hidden; display:block; zoom:1; line-height: 25px; }
.conbox li img { border: 1px solid #dadada; margin-bottom: 10px; width: 118px; height: 118px; }
.conbox li a { color: #5e2289; font-weight: bold; display: block; text-align: center; }
.conbox li a:hover { color: #FF9900; }
/** conbox box over **/

.photoAlbum{width:660px;height:58px;overflow:hidden;zoom:1;margin:10px auto 0;padding:0}
.photoAlbum .pcont{width:607px;float:left;overflow:hidden;margin:0;padding:0}
.photoAlbum .ScrCont{width:10000%;zoom:1}
.photoAlbum .LeftBotton{float:left;display:block;zoom:1;margin:10px 10px 0 0;padding:0;width:17px;height:30px;background-image: url(/img/shop_space/meiyong/arrow7.gif);background-repeat: no-repeat;background-position: left top;}
.photoAlbum .LeftBotton:hover{ background-image: url(/img/shop_space/meiyong/arrow9.gif); }
.photoAlbum .RightBotton{float:right;display:block;zoom:1;margin:10px 0 0 5px;padding:0;width:17px;height:30px; 
background-image: url(/img/shop_space/meiyong/arrow8.gif);background-repeat: no-repeat;background-position: left top; }
.photoAlbum .RightBotton:hover{ background-image: url(/img/shop_space/meiyong/arrow10.gif); }
.photoAlbum a.pl{float:left;border:1px solid #cdcdcd;margin-right:5px;overflow:hidden;display:block;zoom:1;text-align:center;padding:0}
.photoAlbum .pl img{width:52px;height:52px;padding:1px}
.photoAlbum a.pl:hover , .photoAlbum a.pl.hover{border:1px solid #9951a6;}
.photoAlbum .pl span{display:block;margin:0;padding:0}
#List1_1, #List2_1 { float: left; }


/** 评论css **/
.reviews_right { width: 660px; padding: 0px; margin: 0px auto; display: block; zoom:1; overflow:hidden; }

.d_out , .d_over , .d_outa{ width: 640px; overflow:hidden;padding: 16px 10px 10px 10px; border-top: 1px dashed #CCC; clear:both; }

.reviews_right #comment { }
#comment h4.comments_list { font-size: 14px; color:#505050; }
 { width: 640px; overflow:hidden;padding: 16px 10px 10px 10px; border-top: 1px dashed #CCC; }

#t_pl_picyure{ width:56px; float:left; line-height:20px; }
#t_pl_picyure img{ width:50px; height:50px; padding:2px; border: 1px solid #c5c5c5; }
#t_pl_picyure h2{ font-size:12px; font-weight:normal; text-align:center; color:#fe972f; word-wrap:break-word; }
#t_pl_picyure a{ color:#fe972f; }

#pl-content{ width:544px; float:left; padding-left: 10px; line-height: 22px; color: #333333; }
#pl-content span { float: right; color: #8b8888; }

#group_fbpl{ width:605px; margin: 15px auto 0px auto; background-color:#f3f3f3; border:1px solid #b5b8c8; overflow:hidden; zoom:1; position:relative; }

#group-user-name{ background:url(/img/shop_space/group-user-name.jpg) left top repeat-x; color:#666; padding:7px 15px; border-bottom:1px solid #fff; overflow: hidden; zoom: 1; }
#group-user-name span{ float:left; width:200px; color:#929292; display:block; }
#group-user-name a{ float:right; color:#666; text-decoration:none; margin:0 10px 0 0; display:block; }
#group-user-name a:hover { color:#f90; }

.comment_post { margin: 0px; padding: 10px; }
.comment_post input.sub { width: 50px; height: 24px; border: 1px solid #c4c4c4; }
.comment_post a { color: #000; }
.comment_post a:hover { color: #f90; }

.floatleft { width: 100%; margin-bottom: 10px; }

#pl_group{ padding:0px; height:24px; color:#333; font-weight:bold; }

#comment_nic_name{ font-size:14px; color:#000; background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; height:20px; }
#captcha{ font-size:14px; color:#000; background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x; border:1px solid #b5b8c8; }
#body_id{ width:367px; height:140px; font-size:14px;color:#000;background:#fff url(/img/shop_space/comment_body_bg.jpg) left top repeat-x;border:1px solid #b5b8c8;}

#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; border:1px solid #b5b8c8; margin-top:33px; *top:60px; }
#pl_biaoqing h3{ font-size:13px; padding: 10px 0px; margin: 0px; }
#pl_biaoqing img{ margin:2px; }
#pl_biaoqing{ position:absolute; top:38px; right: 10px; width:200px; height:140px; padding-left:2px; border:1px solid #b5b8c8; margin-top:33px; *top:60px; }
/** 评论css over **/

/**  优惠券列表页css **/
.gbb{width:100%;clear:both;margin:20px 0 0;padding:0}
.gbb ul{display:block;clear:both;overflow:hidden;list-style:none;margin:0px;padding:0px;}
.gbb ul li{width:310px;height:280px;display:inline;overflow:hidden;float:left;background-image:url(/img/shop_space/gbb_bg.gif);background-repeat:no-repeat;background-position:left top;zoom:1;margin:0px 14px 20px 22px;padding:0}
.gbb .gbb_img{float:left;height:130px;width:135px;margin-top:20px;margin-left:20px;border:1px solid #acacac;overflow:hidden;zoom:1;_margin-left:10px;}
.gbb .gbb_img img{padding:1px;display:block;zoom:1;}
.gbb .gbb_img2{background-image:url(/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:left top;float:right;margin-top:30px;margin-right:32px;*margin-right:16px;font-size:14px;text-align:center;height:50px;width:75px;font-weight:700;color:#FFF;padding-top:25px}
.gbb .gbb_plane{padding-top:10px;clear:both;font-size:12px;line-height:22px;height:80px;margin:0 10px 0 20px}
.gbb .gbb_plane h1 a{font-size:14px;color:#c0c;text-decoration:none}
.gbb .gbb_plane h1 a:hover{color:#f50;}
.gbb .gbb_plane span{}
.gbb .gbb_download{margin:7px 10px 0 20px;padding:0}
.gbb .gbb_download em{font-style:normal;color:#f50}
.gbb .gbb_download p{display:block;float:left;margin:0;padding:0}
.gbb .gbb_sub{height:25px;width:87px;float:right;margin-right:10px;margin-top:0;padding:0;border:none;background-color:transparent;text-indent:-9999em;
background-image:url(/img/shop_space/gbb_buy5.gif);background-repeat:no-repeat;background-position:left top;cursor:pointer;}
.gbb .gbb_r{float:right;margin-right:10px;margin-top:0;padding:0;}
.gbb .gbb_r2{float:right;}
/**  优惠券列表页css over**/

/** 优惠券详细页的优惠券详情展示css **/
.ec{ clear:both;margin:10px 20px 0;padding:0; }
.ec .imgs{ height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;margin-right:10px;padding:2px; }
.ec h1{ font-size:16px;color:#c0c;display:block;margin-bottom:30px; }
.ec h1 a{ color:#c0c;text-decoration:none; }
.ec h1 a:hover {color:#f50;}
.ec h2{ font-size:12px;color:#666;font-weight:400;margin:30px 10px 0; }
.ec .ec_div{background-color:#f3f3f3;overflow:hidden;zoom:1;padding:15px 20px;}
.ec .ec_div p{float:left;margin:0;padding:0;}
.ec table {line-height:25px; }
.ec .ec_price{background-image:url(/img/shop_space/gbb_m.gif);background-repeat:no-repeat;background-position:center center;font-size:14px;font-weight:700;color:#FFF;vertical-align:middle;line-height:20px;margin:0;padding:24px 50px;}
.ec .ec_con{line-height:25px;margin-top:15px;margin-right:10px;margin-left:10px;}
.ec .ec_r{float:right;}
.ec .ec_color{color:#666;}
.ec .ec_color2{color:#F50;}
.ec .ec_color3{}
.ec_line{background-image:url(/img/shop_space/meiyong/line2.jpg);background-repeat:repeat-x;background-position:left top;height:12px;width:100%;margin:25px 0 0;padding:0}
/** 优惠券详细页的优惠券详情展示css over **/

/** 团购券的团购列表css **/
.gb{border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#c5c4c4;margin-top:10px;overflow:hidden;width:100%;zoom:1;padding:0 0 8px}
.gb_word{font-size:24px;font-weight:700;zoom:1;clear:both;overflow:hidden;margin:0;padding:0 0 10px}
.gb_word a,.gb_word h1{font-size:24px;font-weight:700;text-decoration:none;color:#000}
.gb_word h1{line-height:30px;}
.gb_word h2{font-size:24px;display:inline;color:#c25f70}
.gb_left{float:left;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_right{text-align:center;float:right;overflow:hidden;zoom:1;margin:0;padding:0}
.gb_buy{background-image:url(/img/shop_space/pic02.gif);background-repeat:no-repeat;background-position:left top;height:84px;width:234px;text-align:left;clear:both;overflow:hidden;margin:0;padding:0}
.gb_buy b{font-weight:400;display:block;float:left;font-size:35px;color:#FFF;margin:15px 0 0 25px;padding:0}
.gb_buy form img{height:51px;width:104px;float:right;margin-right:10px;margin-top:17px;border:none;padding:0}
input.sub{border:1px solid #c4c4c4;background:#e9e9e9;background-image:url(/img/shop_space/topdownbg.jpg);background-repeat:repeat-x;background-position:left top;width:50px;height:24px}
.gb_right ul{display:block;width:250px;overflow:hidden;margin:10px 0;padding:0}
.gb_right ul li{display:block;float:left;width:83px;margin:0;padding:0}
.gb_word_style1{color:#ca0000}
.gb_word_style2{font-weight:700;text-decoration:line-through}
.gb_word_style4{font-weight:700;color:#ca0000}
.gb_right span{font-weight:700;text-align:left;display:block;font-size:14px;clear:both;width:222px;margin:0 0 0 28px;padding:0}
.gb_time{background-image:url(/img/shop_space/pic03.gif);height:41px;width:195px;background-repeat:no-repeat;background-position:left top;display:block;margin:10px auto 0;padding:0}
.gb_time ul{display:block;clear:both;width:100%;overflow:hidden;margin:0;padding:0}
.gb_time ul li{display:block;font-weight:700;margin:10px 0 0;padding:0}
.gb_time .gb_timeleft{margin-left:9px;width:33px}
.gb_time .gb_timemiddle{width:38px;margin-left:34px}
.gb_time .gb_timeright{width:35px;margin-left:23px}
/** 团购券的团购列表css over **/

/** 优惠券发送页css **/ 
.mes{ padding: 0px; margin: 30px auto 0px auto;width:645px; clear: both; overflow: hidden; }
.mes .mes_top { margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 5px; padding-left: 20px; }
.mes .mes_top h1 { font-size: 24px; color: #c0c; background-image: url(/img/shop_space/sign10.gif); background-repeat: no-repeat; background-position: left 5px; padding-left: 40px; line-height: 40px; }
.mes .mes_top .mes_con { line-height: 20px; padding-left: 42px; }
.mes_con a { font-weight: bold; color: #444; text-decoration: none; }
.mes_con a:hover { color: #F90; text-decoration: underline; }
.mes .mes_return { text-align: right; line-height: 32px; margin-top:10px; }
.mes_return a { color: #000; text-decoration: none; background-image: url(/img/shop_space/sign11.gif); background-repeat: no-repeat; background-position: 525px center; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: block; }
.mes_return a:hover { color: #F90; text-decoration: underline; }
.mes .mes_img { margin: 0px; padding: 0px; }
/** 优惠券发送页css over **/

/** 优惠券下载选择手机号码css **/
.download_box{ clear:both;line-height:30px !important; margin-top:10px; margin-left:20px;}
.download_box h1{ color:#c0c; font-size:14px; }
.download_box h2{ font-size:12px; color:#c0c; font-weight:normal; display:inline !important; }
.download_box .sub{height:25px;width:87px;border:none;background-image:url(/img/shop_space/sub5.gif);background-repeat:no-repeat;background-position:left top; color:#fff;cursor:pointer;cursor:hand;}
.download_box .sub:hover{color:#fff;}
.download_box .imgs{height:205px;width:215px;border:1px solid #acacac;overflow:hidden;zoom:1;padding:2px;}
.download_box .imgs img{ height:205px;width:215px;margin:0px;padding:0px; display:block;  background:#00f;}
/** 优惠券下载选择手机号码css over **/