.devise-style
  .social-login
    %h2 Sign up
    = render "devise/shared/social_login"
  .devise-form
    =simple_form_for :user, url: registration_path(resource_name) do |f|
      = devise_error_messages!
      = render 'sessions/form_fields', f: f
      =f.button :submit, value: 'Sign up'
    = render "devise/shared/links"
    -# = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    -#   %div
    -#     = f.label :email
    -#     = f.email_field :email, :autofocus => true
    -#   %div
    -#     = f.label :password
    -#     = f.password_field :password
    -#   %div
    -#     = f.label :password_confirmation
    -#     = f.password_field :password_confirmation
    -#   %div= f.submit "Sign up"
